/* Structure page carriere candidature
================================================== */
.candidature #page-content {
    padding: 0;
}
.carriere-candidature{
    background: #FFFFFF;
    width: 100%;
    margin-top: 100px;
    float: left;
    height: 397px;
    padding: 10px 5px;
}
.carriere-candidature .scroll-pane{
    width: 100% !important;
    height: 100%;
}
.candidateCarreerContainer .logo-event img {
    width: 140px;
    height: 45px;
}
.carriere-candidature li{
    width: 32%;
    height: 180px;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    float: left;
    padding-top: 20px;
    text-align: center;
}
.carriere-candidature li .logo-event{
    margin-bottom: 13px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 64px;
    width: 25rem;
}
.carriere-candidature li .logo-event img{
    margin: 0 auto;
}
.carriere-candidature li span{
    display: block;
    max-width: 190px;
    margin: 0 auto;
}
.carriere-candidature li .date-event{
    margin-top: 10px;
}
.carriere-candidature li:nth-child(3n-6) { border-right: none; }

.carriere-candidature .empty{
    text-align: center;
    margin-top: 40px;
}

@media only screen and (max-width: 1024px) {

}


