#authentification {
    overflow: hidden;
}

label.error {
    bottom: -25px;
    color: #ce242f;
    display: inline-block;
    left: 0;
    margin-left: 0;
    position: absolute;
    text-transform: none;
    font-size: 12px;
}

label em {
    color: #ce242f;
    font-size: 12px;
}

#idEventCalendar,
.uploadDiv {
    display: none;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.inheritFloat {
    float: inherit !important;
}

.vcenter {
    min-height: 110px;
    /* Fallback for browsers do NOT support vh unit */
    /*min-height: 37vh; These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 0 0 30px;
}

.progress {
    height: 25px;
}

.progress .loadingText {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.header-title {
    color: #CFD8DC;
    font-size: 20px;
    padding-top: 10px;
    position: absolute;
    left: 45px;
}


/*******************************
    Alerts & Notificiations
*******************************/

.alertEvent {
    left: 31%;
    top: 50px;
    margin: 0 0 0 !important;
    overflow: hidden;
    position: fixed;
    z-index: 9999;
}


/*******************************
        page prerequis
*******************************/

#prerequisG h2 {}

#prerequisG .intro {}

#prerequisG p {}

#prerequisG h3 {
    color: rgb(207, 115, 50);
    font-weight: bold;
    font-size: 16px;
}

#prerequisG li {
    color: rgb(88, 88, 91);
    font-size: 13px;
    vertical-align: baseline;
    white-space: pre-wrap;
}

#prerequisG li.nav-separator {
    font-weight: bold;
    background: none;
    padding: 0;
}


/*******************************
        page calendar
*******************************/

.editEvent i {
    font-size: 15px;
    margin: 0px 3px;
    line-height: 21px;
}

.fc-event-inner .close {
    margin: 2px 0;
}


/*******************************
        page prerequis
*******************************/

#contentAlert h3 {
    margin: 0 0 10px;
    color: #607d8b;
    font-size: 18px;
    overflow: hidden;
}

.listing {
    overflow: hidden;
    width: 100%;
}

.separator {
    width: 100%;
    height: 3px;
    overflow: hidden;
    margin: 0 auto 10px;
    background: #78909c;
}

#contentAlert .listing .labelF {
    font-weight: bold;
    color: #37474f;
    float: left;
    font-size: 12px;
    margin: 0 5px 0 0;
    line-height: 23px;
}

#contentAlert .listing form span {
    color: #37474f;
    float: left;
    font-size: 15px;
    margin: 0 5px 0 0;
}

#contentAlert .actionBtn {
    overflow: hidden !important;
    text-align: center !important;
    margin: 0 0 10px !important;
    float: none !important;
}

.actionBtn a {
    margin: 0 4px;
}

.contentForm {
    overflow: hidden;
    width: 100%;
    margin-bottom: 15px;
}


/*******************************
        page conseil
*******************************/

.tableG {
    overflow: hidden;
}

.tableG td:last-child {
    min-width: 90px;
}

.panel-ctrls .DTTT a {
    display: none !important;
}

.panel-ctrls .btn-group a.DTTT_button_print {
    display: block !important;
}

.actionBtn {
    font-size: 22px;
    margin: 0 15px 0 0;
}

.editLink {
    color: #4eacf4;
}

.editLink:hover {
    color: #4eacf4;
    opacity: 0.7;
}

.deleteLink {
    color: #c63337;
}

.deleteLink:hover {
    color: #c63337;
    opacity: 0.7;
}

.viewLink {
    color: #21ae00;
}

.viewLink:hover {
    color: #21ae00;
    opacity: 0.7;
}

#listAdvicesTable {
    border-bottom: 1px solid #eeeeee;
}

#addAdvice .choice label {
    margin: 0 10px;
}

#uploadOptionDiv {
    padding: 0 20px;
    text-align: center;
    display: none;
}

#uploadOptionDiv label.error {
    width: 100%;
}

#progressAdvice {
    display: none;
}

.documentSizeHintLabel {
    display: block;
}

#loadAdvice {
    position: relative;
}

.loadError span {
    color: #ce242f;
}

#contentViewAdvice object,
#contentViewAdvice,
.contentView {
    height: 300px;
}


/*******************************
        page account
*******************************/

#account .icheckbox_minimal-blue {
    float: none;
}

#account label.changePassword {
    padding: 0 0 0 33px;
    position: relative;
    left: -37px;
    z-index: 999;
}


/*******************************
  page Profile de l'entreprise
*******************************/

#profileEntreprise .thumbnail {
    border: none;
    height: 150px;
    width: 150px;
    margin: 0 30px 0 0;
    line-height: 132px;
}

#profileEntreprise .thumbnail img {
    width: 100%;
    vertical-align: middle;
}

#profileEntreprise .vcenter .btn {
    margin: 0 10px;
}

#profileEntreprise .infoContact,
#profileEntreprise .infoEnterpriseP {
    width: 100%;
    overflow: hidden;
}

#profileEntreprise .icheck {
    padding-bottom: 20px;
}

.infoContact .contactOptions,
.infoEnterpriseP .enterprisePOptions {
    padding: 0 10px;
    position: absolute;
    text-align: right;
    top: 0;
    width: 100%;
    z-index: 1;
}

.infoContact .newContact .panel-body,
.infoEnterpriseP .newEnterpriseP .panel-body {
    padding: 15px;
    min-height: 120px;
}

.infoContact img,
.infoEnterpriseP img {
    max-width: 50px;
    float: left;
    margin: 0 10px 10px 0;
}

.infoContact ul,
.infoEnterpriseP ul {
    float: left;
    padding: 0;
}

.infoContact ul li,
.infoEnterpriseP ul li {
    list-style: none;
}

#profileEntreprise label.error {
    padding: 0 0 0 14px;
}

#loadLogoStandError,
#progressLogoUpload,
#idDeleteContact,
#idContact,
#idDeleteEnterpriseP,
#idEnterpriseP,
.progress,
.loadError {
    display: none;
}

#contactForm .fileinput,
#testimonyForm .fileinput,
#EnterprisePForm .fileinput,
#enterpriseForm .fileinput,
#testimonyForm .fileinput {
    width: 100%;
    text-align: center;
}

.thumbnail.uploadAvatar {
    border: none;
    height: 150px;
    width: 150px;
    margin: 0 auto;
    line-height: 132px;
    float: none;
}

.vcenter {
    min-height: 40px;
    text-align: center;
    display: block;
    margin: 0;
}

#contactForm .progress,
#testimonyForm .progress,
#EnterprisePForm .progress,
#enterpriseForm .progress,
#testimonyForm .progress {
    float: none;
    margin: 0 auto;
}


/*******************************
  page profile Searched
*******************************/

#profilesearched {
    min-height: 500px;
}

#profilesearched #profileSearched {
    min-height: 300px;
    padding: 20px;
}


/*******************************
  page posters
*******************************/

.apercuImg {
    width: 80px;
    height: 80px;
}

.actionBtn {
    float: left;
}

#listPostersTable td {
    vertical-align: middle;
}

#viewPoster .modal-body,
.viewContent {
    display: table;
    width: 100%;
}

.contentView {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

.contentView img {
    max-height: 100%;
    margin: 0 auto;
    display: block;
}

table.dataTable+.row {
    margin: 0 !important;
}

#listPostersTable_wrapper,
.dataTables_wrapper {
    overflow: hidden;
}


/*******************************
  page Videos
*******************************/

#listVideosTable td,
#listVideoRhsTable td,
#listDocumentsTable td {
    vertical-align: middle;
}

.contentViewVideo {
    height: 350px;
}

.uploadOptionDiv {
    display: none;
    text-align: center;
}

.testimonyContent {
    max-height: 300px;
    overflow-x: hidden;
}


/*******************************
  page Candidature
*******************************/

#candidatureSearchDiv label {
    line-height: 18px;
}


/*******************************
  page Survey
*******************************/

.accordion-group {
    margin-bottom: 2px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.deleteSurvey {
    position: absolute;
    right: 70px;
    margin-top: 13px;
    font-size: 20px;
    color: #455A64;
}

.removeQuestionSurvey {
    font-size: 20px;
    color: #5C6E72;
    padding-top: 6px;
}

.cmn-toggle-title-surveys {
    font-size: 20px;
    cursor: pointer;
    top: 13px;
    position: relative;
    float: right;
    margin-right: 20px;
}

.accordion-body1 {
    padding: 0px 20px;
}

.webcast-field-error {
    color: #ce242f;
    display: inline-block;
    text-transform: none;
    font-size: 12px;
}

.search-div {
    padding-left: 0px;
}

.candidateProfileCriteria {
    margin-bottom: 25px;
}

.candidateProfileCriteria label {
    font-size: 12px;
}

#cvSearchButton,
#exportCandidatesButton,
#advanceSearchButton {
    margin-top: 25px;
}

.dataTables_length {
    display: none;
}

.redText {
    color: red;
}

.redText:hover {
    color: red;
    opacity: 0.7;
}

.greenText {
    color: green;
}

.greenText:hover {
    color: green;
    opacity: 0.7;
}

.yellowText {
    color: #ffeb3b;
}

.yellowText:hover {
    color: #ffeb3b;
    opacity: 0.7;
}

.greyText {
    color: #9e9e9e;
}

.greyText:hover {
    color: #9e9e9e;
    opacity: 0.7;
}

.orangeText {
    color: #ff9800;
}

.orangeText:hover {
    color: #ff9800;
    opacity: 0.7;
}

.blueText {
    color: #00bcd4;
}

.blueText:hover {
    color: #00bcd4;
    opacity: 0.7;
}

.blue2Text {
    color: #00aff0;
}

.blue2Text:hover {
    color: #00aff0;
    opacity: 0.7;
}

#visitorsContent .new-badge,
#visitorsContent .updated-badge,
#visitorsContent .not-updated-badge {
    position: relative;
    left: 0px;
    width: 60px;
    top: 0px;
    padding: 2px 3px;
    border-radius: 2px;
    background: #fe6363;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
}

#visitorsContent .new-badge {
    background: #fe6363;
}

#visitorsContent .updated-badge {
    background: #faa732;
}

#visitorsContent .not-updated-badge {
    background: #B3ACAC;
}

#visitorsContent .caption-updated {
    font-size: 12px;
}

#myTab2 {
    border-bottom: 1px solid #E0E0E0;
}

#visitorsContent {
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
}

#candidateSortableColumns {
    list-style-type: none;
    padding: 0;
    height: 150px;
}

#candidateSortableColumns li {
    margin: 0 10px 10px 3px;
    padding: 0px;
    font-size: 14px;
    width: 31.2%;
    float: left;
}

#candidateSortableColumns li>label>input {
    margin: 0px 0px 0px 5px;
}

#candidateSortableColumns li>label>span {
    margin-left: 8px;
    font-size: 11px;
}

.move-style {
    padding: 5px 5px 0px 4px;
    font-size: 14px;
}

#candidateSortableColumns li>label {
    margin-bottom: 0px;
}

#popupExportCandidates .modal-footer {
    border: none;
}

.bold {
    font-weight: bold;
}

#popupJobOfferView .control-label {
    text-align: left;
}

#popupJobOfferView .bold {
    text-align: right;
}

#saveSubstitutionButton {
    float: right;
}

.header-message {
    cursor: pointer;
}

.notificationID {
    display: none;
}

.no-notification-style {
    padding: 20px !important;
}

.no-candidature-style {
    padding: 20px !important;
}

.new-candidature {
    margin-right: 10px !important;
}

#chatComponent {
    position: relative;
    width: 100%;
    /* height: 600px; */
    min-width: 900px;
    min-height: 600px;
    margin-top: 70px;
}

#currentChatsPopup {
    padding-left: 0px !important;
}

#progressLogoRecruiterUpload {
    width: 200px;
    height: 18px;
    display: block;
    margin-left: 20px;
    margin-top: 15px;
}

.saveChatSettingsButton {
    margin-right: 13px;
    margin-top: 20px;
}

#accountForm label.error {
    position: inherit;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 0px;
}

.margindatesanalytics {
    margin-left: 0px !important;
}

.fc-day-header {
    border: 1px solid #eeeeee;
    background: #fafafa;
}

.fc-widget-content {
    border-bottom: 1px solid #eeeeee !important;
}

.fc-other-month {
    background: #f5f5f5;
}

.fc-today {
    background: #fafafa !important;
}

.fc-event {
    background-color: #2eabdf !important;
    border: 1px solid #2eabdf !important;
}

.modal-body {
    overflow: auto !important;
}