
	<table id="chatListStands" class='chatStands'>
           <tbody>
                <tr valign="middle">
	                <td class="standsConnect">
		                <table class="fullSpace">
				           <tbody>
				               <tr class="titleTabBarChat">
				                   <td valign="middle" width="90%">
				                       <div id="connectEnterprises"><label class="enterprises-connected enterprisesConnectedLabel"></label></div>
				                   </td>
				                   <td valign="middle" width="10%">
				                       <div id="chatReduceStandsButton">                  		
											<span><i class="fa fa-fw fa-bars"></i></span>
				                       </div>
				                   </td>
				               </tr>
				               <tr height="100%">
				                   <td width="100%" colspan="2">
				                   	<div id='list_stand_connect_container' class='containerStand'>
									    <table id='list_stand_connect' class='menuStand'>
											<tbody>
											</tbody>
									   </table>
									</div>
									</td>
				               </tr>
				           </tbody>
					    </table>
	                </td>
	                <td class="separateStandsConnectChat">&nbsp;</td>
                	<td class="coprsChat">
	                	<table class="fullSpace">
					           <tbody>
					               <tr class="titleTabBarChat">
					                   <td class="title-tab-td">
					                       <div class='titleTabChat'><span class="chatLabel"></span></div>
					                   </td>
					                   <td class="resize-chat-td">
					                       <div id='fullScreenChatSpan' class="full-screen-chat-span"><span class="extendChatScreenLabel"></span></div>
					                       <div id='exitFullScreenChatSpan' class="full-screen-chat-span"><span class="reduceChatScreenLabel"></span></div>
					                   </td>
					                   <td class="actions-td">
											<span id="settingsChat" title="Mon compte"><i
												class="fui-settings-chat">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i></span>
											<span id="viewHistory" title="Mes Tchats"><i
												class="fui-history-chat">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i></span>
											<span id="reduceChat" title="Réduire la fenêtre"><i
												class="fui-reduce-chat">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i></span>
									   </td>
						           </tr>
					               <tr class="fullSpace">
					                   <td class="fullSpace" colspan="4">
							               	<table class="fullSpace">
												<tbody>
													<tr class="fullSpace">
														<td style='width:31%'>
															<div id='list_stand_container' class='containerStand'>
																<table id='list_stand' class='menuStand'>
																	<tbody>
																	</tbody>
																</table>
															</div>
														</td>
														<td style='width:69%'>
															<table class="fullSpace">
																<tbody>
																	<tr class="fullSpace">
																		<td colspan="4">
																			<div id="content_tabs">
																				<table>
																					<tbody id="messages_ui" class="messages-ui">
																					</tbody>
																				</table>
																			</div>
																		</td>
																	</tr>
																	<tr class="saveChatBar">	
																		<td colspan="3">
																			<div id="saveChatButton">
																				<i class="fui-radio-checked"></i><span class="saveThisChatLabel"></span>
																			</div>
																			<div id="stopSaveChatButton">
																				<i class="fui-pause"></i><span class="stopSaveChatLabel"></span>
																			</div>
																		</td>
																		<td style="width: 2%;">&nbsp;</td>
																	</tr>
																	<tr class="sendMessageBar">	
																		<td style="width: 78%; vertical-align: middle;">
																			<textarea id="inputTextChat" class="input-text-chat" maxlength="2000"></textarea>
																		</td>
																		<td style="width: 2%;">&nbsp;</td>
																		<td style="width: 18%; vertical-align: middle;">
																			<div id="sendMessageButton">
																				<span class="sendLabel"></span>
																			</div>
																		</td>
																		<td style="width: 2%;">&nbsp;</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
					               </tr>
					           </tbody>
						</table>
					</td>
               </tr>
           </tbody>
	</table>
	<div class="popupAllRecruitersStandDisconnected eds-dialog-container draggable ui-draggable">
        <div class="eds-dialog" style="width: auto; height: auto; padding: 0; margin: 0;">
            <div style="padding: 0; margin: 0;" class="eds-dialog-inside">
                <div style="padding: 0;" class="eds-dialog-body clearfix">
                    <div style="padding: 20px;font-size: 14px;text-align: center;" class="eds-dialog-content">
                        <span class="allRecruitersStandDisconnectedLabel"></span>
                        <div style="margin-top: 10px;" align="center">
                            <a id="confirmAllRecruitersStandDisconnected" class="btn-small btn btn-info"><b class="okLabel"></b></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="backgroundPopupChatHtml5 pointer">
	</div>

