.lien1{
    top: 298px;
    left: 466px;
}
.lien1 a{
    height: 64px;
    width: 96px;
}
.lien2{
    top: 251px;
    left: 590px;
}
.lien2 a{
  height: 60px;
  width: 95px;
}
.lien3{
    top: 210px;
    left: 714px;
}
.lien3 a{
  height: 60px;
  width: 89px;
}
.lien4{
    top: 252px;
    left: 323px;
}
.lien4 a{
    height: 42px;
    width: 57px;
}
.lien5{
    top: 200px;
    left: 506px;
}
.lien5 a{
    height: 37px;
    width: 53px;
}
.lien6{
    top: 157px;
    left: 655px;
}
.lien6 a{
    height: 36px;
    width: 47px;
}
.lien7{
    top: 216px;
    left: 273px;
}
.lien7 a{
    height: 36px;
    width: 50px;
}
.lien8{
    top: 169px;
    left: 451px;
}
.lien8 a{
    height: 36px;
    width: 50px;
}
.lien9{
    top: 132px;
    left: 597px;
}
.lien9 a{
    height: 31px;
    width: 43px;
}
.lien10{
    top: 171px;
    left: 217px;
}
.lien10 a{
    height: 27px;
    width: 38px;
}
.lien11{
    top: 146px;
    left: 326px;
}
.lien11 a{
    height: 26px;
    width: 37px;
}
.lien12{
    top: 121px;
    left: 431px;
}
.lien12 a{
    height: 26px;
    width: 38px;
}
.lien13{
    top: 101px;
    left: 514px;
}
.lien13 a{
    height: 26px;
    width: 36px;
}
.lien14{
    top: 129px;
    left: 160px;
}
.lien14 a{
    height: 24px;
    width: 38px;
}
.lien15{
    top: 109px;
    left: 265px;
}
.lien15 a{
    height: 24px;
    width: 34px;
}
.lien16{
    top: 87px;
    left: 362px;
}
.lien16 a{
    height: 24px;
    width: 36px;
}
.lien17{
    top: 70px;
    left: 443px;
}
.lien17 a{
    height: 25px;
    width: 33px;
}
.lien18{    
    top: 154px;
    left: 73px;
}
.lien18 a{    
    height: 30px;
    width: 40px;
}
.lien19{    
    top: 154px;
    left: 144px;
}
.lien19 a{
    height: 30px;
    width: 40px;
}
.lien20{
    top: 153px;
    left: 212px;
}
.lien20 a{
    height: 30px;
    width: 40px;
}
.lien21{
    top: 151px;
    left: 290px;
}
.lien21 a{
    height: 30px;
    width: 40px;
}
.lien22{
    top: 147px;
    left: 358px;
}
.lien22 a{
    height: 30px;
    width: 40px;
}
.lien23{
    top: 144px;
    left: 425px;
}
.lien23 a{
    height: 30px;
    width: 40px;
}
.lien24{
    top: 142px;
    left: 493px;
}
.lien24 a{
    height: 30px;
    width: 40px;
}
.lien25{
    top: 104px;
    left: 89px;
}
.lien25 a{    
    height: 30px;
    width: 35px;
}
.lien26{
    top: 104px;
    left: 158px;
}
.lien26 a{
    height: 30px;
    width: 35px;
}
.lien27{
    top: 102px;
    left: 220px;
}
.lien27 a{
    height: 30px;
    width: 35px;
}
.lien28{
    top: 99px;
    left: 284px;
}
.lien28 a{
    height: 30px;
    width: 35px;
}
.lien29{
    top: 97px;
    left: 350px;
}
.lien29 a{
    height: 30px;
    width: 35px;
}
.lien30{
    top: 93px;
    left: 415px;
}
.lien30 a{
    height: 30px;
    width: 35px;
}

.lien31{
    top: 212px;
    left: 761px;
}
.lien31 a{
  height: 33px;
  width: 52px;
}
.lien32{
    top: 195px;
    left: 836px;
}
.lien32 a{
    height: 33px;
    width: 52px;
}
.lien33{
    top: 180px;
    left: 896px;
}
.lien33 a{
    height: 33px;
    width: 52px;
}
.lien34{
    top: 168px;
    left: 694px;
}
.lien34 a{
    height: 28px;
    width: 48px;
}
.lien35{
    top: 156px;
    left: 766px;
}
.lien35 a{
    height: 28px;
    width: 48px;
}
.lien36{
    top: 141px;
    left: 838px;
}
.lien36 a{
    height: 28px;
    width: 48px;
}
.lien37{
    top: 134px;
    left: 631px;
}
.lien37 a{
    height: 24px;
    width: 41px;
}
.lien38{    
    top: 120px;
    left: 705px;
}
.lien38 a{    
    height: 24px;
    width: 41px;
}
.lien39{    
    top: 107px;
    left: 767px;
}
.lien39 a{
    height: 24px;
    width: 41px;
}
.lien40{
    top: 100px;
    left: 569px;
}
.lien40 a{
    height: 22px;
    width: 40px;
}
.lien41{
    top: 85px;
    left: 638px;
}
.lien41 a{
    height: 22px;
    width: 40px;
}
.lien42{
    top: 74px;
    left: 700px;
}
.lien42 a{
    height: 22px;
    width: 40px;
}
.lien43{
    top: 65px;
    left: 522px;
}
.lien43 a{
    height: 25px;
    width: 31px;
}
.lien44{
    top: 56px;
    left: 583px;
}
.lien44 a{
    height: 24px;
    width: 34px;
}
.lien45{
    top: 47px;
    left: 643px;
}
.lien45 a{    
    height: 21px;
    width: 33px;
}
.lien46{
    top: 41px;
    left: 476px;
}
.lien46 a{
    height: 22px;
    width: 32px;
}
.lien47{
    top: 33px;
    left: 539px;
}
.lien47 a{
    height: 20px;
    width: 31px;
}
.lien48{
    top: 24px;
    left: 595px;
}
.lien48 a{
    height: 23px;
    width: 29px;
}
.lien49{
    top: 18px;
    left: 437px;
}
.lien49 a{
    height: 21px;
    width: 30px;
}
.lien50{
    top: 11px;
    left: 495px;
}
.lien50 a{
    height: 22px;
    width: 27px;
}
/*.lien {
    background-color: #000;
    opacity: 0.7;
}*/
#hallFishIndustry .lien1{
    top: 287px;
    left: 489px;
    /*-ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);*/
}
#hallFishIndustry .lien1 a{
    height: 65px;
    width: 101px;
}
#hallFishIndustry .lien2{
    top: 225px;
    left: 675px;
    /*-ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);*/
}
#hallFishIndustry .lien2 a{
    height: 62px;
    width: 98px;
}
#hallFishIndustry .lien3{
    top: 304px;
    left: 204px;
    /*-ms-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
*/}
#hallFishIndustry .lien3 a{
    height: 41px;
    width: 55px;
}
#hallFishIndustry .lien4{
    top: 263px;
    left: 324px;
    /*-ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);*/
}
#hallFishIndustry .lien4 a{
    height: 41px;
    width: 55px;
}
#hallFishIndustry .lien5{
    top: 227px;
    left: 442px;
    /*-ms-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);*/
}
#hallFishIndustry .lien5 a{
    height: 41px;
    width: 55px;
}
#hallFishIndustry .lien6{
    top: 193px;
    left: 556px;
    /*-ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);*/
}
#hallFishIndustry .lien6 a{
    height: 35px;
    width: 49px;
}
#hallFishIndustry .lien7{
    top: 163px;
    left: 649px;
    /*-ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);*/
}
#hallFishIndustry .lien7 a{
    height: 32px;
    width: 45px;
}
#hallFishIndustry .lien8{
    top: 253px;
    left: 153px;
    /*-ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);*/
}
#hallFishIndustry .lien8 a{
    height: 38px;
    width: 50px;
}
#hallFishIndustry .lien9{
    top: 219px;
    left: 267px;
    /*-ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);*/
}
#hallFishIndustry .lien9 a{
    height: 35px;
    width: 48px;
}
#hallFishIndustry .lien10{
    top: 189px;
    left: 380px;
    /*-ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);*/
}
#hallFishIndustry .lien10 a{
    height: 34px;
    width: 47px;
}
#hallFishIndustry .lien11{
    top: 159px;
    left: 488px;
    /*-ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);*/
}
#hallFishIndustry .lien11 a{
    height: 32px;
    width: 38px;
}
#hallFishIndustry .lien12{
    top: 130px;
    left: 578px;
    /*-ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);*/
}
#hallFishIndustry .lien12 a{
    height: 31px;
    width: 46px;
}
#hallFishIndustry .lien13{
    top: 210px;
    left: 109px;
    /*-ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);*/
}
#hallFishIndustry .lien13 a{
    height: 34px;
    width: 48px;
}
#hallFishIndustry .lien14{
    top: 181px;
    left: 219px;
    /*-ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);*/
}
#hallFishIndustry .lien14 a{
    height: 32px;
    width: 44px;
}
#hallFishIndustry .lien15{
    top: 155px;
    left: 326px;
    /*-ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);*/
}
#hallFishIndustry .lien15 a{
    height: 31px;
    width: 42px;
}
#hallFishIndustry .lien16{
    top: 129px;
    left: 430px;
    /*-ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);*/
}
#hallFishIndustry .lien16 a{
    height: 30px;
    width: 40px;
}
#hallFishIndustry .lien17{
    top: 105px;
    left: 519px;
    /*-ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);*/
}
#hallFishIndustry .lien17 a{
    height: 28px;
    width: 38px;
}
#hallFishIndustry .lien18{
    top: 172px;
    left: 73px;
    /*-ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);*/
}
#hallFishIndustry .lien18 a{
    height: 32px;
    width: 44px;
}
#hallFishIndustry .lien19{
    top: 147px;
    left: 176px;
    /*-ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);*/
}
#hallFishIndustry .lien19 a{
    height: 32px;
    width: 42px;
}
#hallFishIndustry .lien20{
    top: 124px;
    left: 278px;
    /*-ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);*/
}
#hallFishIndustry .lien20 a{
    height: 32px;
    width: 41px;
}
#hallFishIndustry .lien21{
    top: 102px;
    left: 378px;
    /*-ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);*/
}
#hallFishIndustry .lien21 a{
    height: 28px;
    width: 39px;
}
#hallFishIndustry .lien22{
    top: 81px;
    left: 465px;
    /*-ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);*/
}
#hallFishIndustry .lien22 a{
    height: 27px;
    width: 36px;

}

#hallSMEStartUp .lien1{
    top: 243px;
    left: 499px;
}
#hallSMEStartUp .lien1 a{
    height: 71px;
    width: 107px;
}
#hallSMEStartUp .lien2{
    top: 245px;
    left: 168px;
}
#hallSMEStartUp .lien2 a{
    height: 53px;
    width: 70px;
}
#hallSMEStartUp .lien3{
    top: 189px;
    left: 375px;
}
#hallSMEStartUp .lien3 a{
    height: 54px;
    width: 69px;
}
#hallSMEStartUp .lien4{
    top: 146px;
    left: 541px;
}
#hallSMEStartUp .lien4 a{
    height: 46px;
    width: 66px;
}
#hallSMEStartUp .lien5{
    top: 150px;
    left: 157px;
}
#hallSMEStartUp .lien5 a{
    height: 47px;
    width: 61px;
}
#hallSMEStartUp .lien6{
    top: 111px;
    left: 355px;
}
#hallSMEStartUp .lien6 a{
    height: 40px;
    width: 57px;
}

/*****    Chemistry   *****/
/*#hallChemistry .lien1{
    top: 312px;
    left: 332px;
}
#hallChemistry .lien1 a{
    height: 54px;
    width: 72px;
}
#hallChemistry .lien2{
    top: 246px;
    left: 544px;
}
#hallChemistry .lien2 a{
    height: 52px;
    width: 67px;
}
#hallChemistry .lien3{
    top: 191px;
    left: 712px;
}
#hallChemistry .lien3 a{
    height: 47px;
    width: 63px;
}
#hallChemistry .lien4{
    top: 213px;
    left: 213px;
}
#hallChemistry .lien4 a{
    height: 44px;
    width: 59px;
}
#hallChemistry .lien5{
    top: 166px;
    left: 405px;
}
#hallChemistry .lien5 a{
    height: 41px;
    width: 54px;
}
#hallChemistry .lien6{
    top: 126px;
    left: 561px;
}
#hallChemistry .lien6 a{
    height: 37px;
    width: 50px;
}
#hallChemistry .lien7{
    top: 144px;
    left: 132px;
}
#hallChemistry .lien7 a{
    height: 38px;
    width: 50px;
}
#hallChemistry .lien8{
    top: 109px;
    left: 306px;
}
#hallChemistry .lien8 a{
    height: 36px;
    width: 46px;
}
#hallChemistry .lien9{
    top: 78px;
    left: 451px;
}
#hallChemistry .lien9 a{
    height: 33px;
    width: 45px;
}*/
/****** BTP ******/
/*#hallConstruction .lien1{
    top: 312px;
    left: 332px;
}
#hallConstruction .lien1 a{
    height: 54px;
    width: 72px;
}
#hallConstruction .lien2{
    top: 248px;
    left: 545px;
}
#hallConstruction .lien2 a{
    height: 49px;
    width: 65px;
}
#hallConstruction .lien3{
    top: 193px;
    left: 712px;
}
#hallConstruction .lien3 a{
    height: 43px;
    width: 59px;
}
#hallConstruction .lien4{
    top: 170px;
    left: 402px;
}
#hallConstruction .lien4 a{
    height: 34px;
    width: 44px;
}*/
/****** hallAerospaceAutomotive ******/
/*#hallAerospaceAutomotive .lien1{
    top: 243px;
    left: 210px;
}
#hallAerospaceAutomotive .lien1 a{
    height: 73px;
    width: 100px;
}
#hallAerospaceAutomotive .lien2{
    top: 188px;
    left: 417px;
}
#hallAerospaceAutomotive .lien2 a{
    height: 64px;
    width: 93px;
}
#hallAerospaceAutomotive .lien3{
    top: 145px;
    left: 584px;
}
#hallAerospaceAutomotive .lien3 a{
    height: 59px;
    width: 84px;
}*/
/****** hallEnergyWater ******/
/*#hallEnergyWater .lien1{
    top: 243px;
    left: 210px;
}
#hallEnergyWater .lien1 a{
    height: 73px;
    width: 100px;
}
#hallEnergyWater .lien2{
    top: 188px;
    left: 417px;
}
#hallEnergyWater .lien2 a{
    height: 64px;
    width: 93px;
}
#hallEnergyWater .lien3{
    top: 145px;
    left: 584px;
}
#hallEnergyWater .lien3 a{
    height: 59px;
    width: 84px;
}*/
