.salle-exposition #content{
  max-width: 995px;
  margin: 0 auto;
  background: url(../../img/vue-aerienne/carte_stands.jpg) 0 0 no-repeat;
  min-height:497px;
  position:relative;
}
#vue-aerienne .icone-custom a{
  display: block;
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: rgba(238,238,238,0.8);
  border-radius: 30px;
  vertical-align: middle;
  text-align: center;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0px 3px 2px 0px rgba(41,41,41,1);
  -moz-box-shadow: 0px 3px 2px 0px rgba(41,41,41,1);
  box-shadow: 0px 3px 2px 0px rgba(41,41,41,1);
}
#vue-aerienne .icone-custom a:hover,
#vue-aerienne .icone-custom a:active,
#vue-aerienne .icone-custom a:focus{
  background-color: rgba(255,255,255,0.3);
}
#vue-aerienne .icone-custom img{
  vertical-align: middle;
  text-align: center;
  height: 25px;
  width: 25px;
  margin: 15px auto;
}

#vue-aerienne .icone-list a{
  right: -954px;
  top: 30px;
}
#vue-aerienne .icone-sortie a:hover {
  background-color: #1275b8 !important;
}
#vue-aerienne .icone-list a:hover{
  background-color: #1275b8;    
}
#vue-aerienne .icone-info a:hover{
  background-color: #1275b8;    
}
#vue-aerienne .icone-sortie a{
    left: 184px;
    top: 50px;
}
#vue-aerienne .icone-info a{
    left: 817px;
    top: 155px;
}
#vue-aerienne .icone-info a img{
  right: 171px;
  top: 55px;
  height: 36px;
  width: 36px;
  margin: 11px auto;
}

.salle-exposition #content{
  max-width: 995px;
  margin: 0 auto;
  background: none;
  position:relative;
  padding: 0;
  min-height: inherit;
}
.salle-exposition #page-content{
  padding: 0;
  height: auto;
}
.img-salle{
    width: 94%;
    height: auto;
    position: relative;
    left: 6%;
}
.salle-exposition #page-content .lien {
  position: absolute;
}
.salle-exposition #page-content div > a{
  display: block;
}
.panneau{
  position: relative;
  float: left;
}
.info{
  border: 1px solid black;
  z-index: 9999;
  background: #f2f3f4;
  width: 160px;
  padding: 8px 14px;
  min-height: 40px;
  display: none;
  position: relative;
  margin: 8px 0 0 5px;
  opacity: 0;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  -webkit-transition-property: -webkit-transform, top, opacity;
  -moz-transition-property: -moz-transform, top, opacity;
  -o-transition-property: -o-transform, top, opacity;
}
.lien:hover .info{
  opacity: 1;
  display: block;
}
.info:before{
  display: block;
  color:#f2f3f4;
  content:"\e253";
  font-size:20px;
  position:absolute;
  top:-13px;
  left:15px;
}
.info h3{
  overflow: hidden;
  padding: 0 0 4px;
}
.info h3 img{
  float: left;
  margin: 0 25px 0 0;
  width : auto;
  height : 40px;
  max-width: 130px;
}
.homeToAerospaceAutomotive { 
      top: 323px;
    left: 128px;
    height: 40px;
    width: 117px;
    cursor: pointer;
    position: absolute;
}
.homeToHandicrafts {
      top: 410px;
    left: 126px;
    height: 40px;
    width: 117px;
    cursor: pointer;
    position: absolute;
}
.homeToConstruction {
  top: 238px;
    left: 129px;
    height: 36px;
    width: 117px;
    cursor: pointer;
    position: absolute;
}
.homeToSMEStartUp {
    top: 325px;
    left: 652px;
    height: 33px;
    width: 131px;
    cursor: pointer;
    position: absolute;
}
.homeToChemistry {
      top: 454px;
    left: 124px;
    height: 40px;
    width: 117px;
    cursor: pointer;
    position: absolute;
}
.homeToEnergyWater {
      top: 277px;
    left: 129px;
    height: 42px;
    width: 117px;
    cursor: pointer;
    position: absolute;
}   
.homeToGreenBusiness { 
      top: 451px;
    left: 656px;
    height: 38px;
    width: 130px;
    cursor: pointer;
    position: absolute;
}
.homeToITServices {
      top: 366px;
    left: 127px;
    height: 40px;
    width: 117px;
    cursor: pointer;
    position: absolute;
}
.homeToAgricultural {
    top: 247px;
  left: 652px;
  height: 36px;
  width: 129px;
  cursor: pointer;
  position: absolute;
}
.homeToFishIndustry {
    top: 286px;
    left: 652px;
    height: 37px;
    width: 130px;
    cursor: pointer;
    position: absolute;
}
.homeToTextileLeather {
      top: 366px;
    left: 654px;
    height: 37px;
    width: 130px;
    cursor: pointer;
    position: absolute;
}
.homeToTourism {
  top: 410px;
    left: 655px;
    height: 35px;
    width: 130px;
    cursor: pointer;
    position: absolute;
}   
.fomagriHomeleft {
  top: 192px;
  left: 60px;
  height: 54px;
  width: 101px;
  cursor: pointer;
  position: absolute;
}
.fomagriHomeright {
  top: 189px;
  right: 66px;
  height: 54px;
  width: 101px;
  cursor: pointer;
  position: absolute;
}
.fomagriHomeflag1 {
  top: 116px;
  left: 161px;
  height: 38px;
  width: 74px;
  cursor: pointer;
  position: absolute;
}
.fomagriHomeflag2 {
  top: 116px;
  left: 338px;
  height: 38px;
  width: 74px;
  cursor: pointer;
  position: absolute;
}
.fomagriHomeflag3 {
  top: 116px;
  left: 514px;
  height: 38px;
  width: 74px;
  cursor: pointer;
  position: absolute;
}
.fomagriHomeflag4 {
  top: 116px;
  right: 232px;
  height: 38px;
  width: 74px;
  cursor: pointer;
  position: absolute;
}
.fomagriHomeflag5 {
  top: 116px;
  right: 93px;
  height: 38px;
  width: 74px;
  cursor: pointer;
  position: absolute;
}
.fomagriHallLeft{
  top: 14px;
  left: 85px;
  height: 48px;
  width: 144px;
  cursor: pointer;
  position: absolute;
}
.fomagriHallRight{
  top: 28px;
  right: 116px;
  height: 61px;
  width: 204px;
  cursor: pointer;
  position: absolute;
  -ms-transform: rotate(23deg);
  -webkit-transform: rotate(23deg);
  transform: rotate(23deg);
}
.goupe_4 .lienAffiche1 {
  top: 33px;
  left: 449px;
  height: 211px;
  width: 151px;
  cursor: pointer;
  position: absolute;
}
.goupe_4 .lienAffiche2 {
  top: 97px;
  right: 77px;
  height: 133px;
  width: 206px;
  cursor: pointer;
  position: absolute;
}
.goupe_4 .lienAffiche3 {
  top: 126px;
  left: 186px;
  height: 75px;
  width: 124px;
  cursor: pointer;
  position: absolute;
}
.goupe_4.press .fomagriPressLeft {
  top: 72px;
  left: 179px;
  height: 161px;
  width: 261px;
  cursor: pointer;
  position: absolute;
}
.goupe_4.press .fomagriPressCenter {
  top: 117px;
  right: 212px;
  height: 111px;
  width: 171px;
  cursor: pointer;
  position: absolute;
}
.goupe_4.multimedia .fomagriPressLeft {
  top: 82px;
  left: 269px;
  height: 171px;
  width: 271px;
  cursor: pointer;
  position: absolute;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.goupe_4.multimedia .fomagriPressCenter {
  top: 61px;
  right: 82px;
  height: 161px;
  width: 283px;
  cursor: pointer;
  position: absolute;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.goupe_3 .lienAffiche1 {
  top: 86px;
  left: 461px;
  height: 186px;
  width: 121px;
  cursor: pointer;
  position: absolute;
}
.goupe_3 .lienAffiche2 {
  top: 155px;
  right: 190px;
  height: 95px;
  width: 124px;
  cursor: pointer;
  position: absolute;
}
.goupe_3 .lienAffiche3 {
  top: 70px;
  left: 72px;
  height: 248px;
  width: 155px;
  cursor: pointer;
  position: absolute;
}
.goupe_3.press .fomagriPressCenter {
  display: none;
}
.goupe_2 .lienAffiche1 {
  top: 98px;
  left: 357px;
  height: 184px;
  width: 378px;
  cursor: pointer;
  position: absolute;
}
.goupe_2 .lienAffiche2 {
  top: 141px;
  right: 37px;
  height: 257px;
  width: 126px;
  cursor: pointer;
  position: absolute;
}
.goupe_2 .lienAffiche3 {
  display: none;
}
.goupe_2.multimedia .fomagriPressLeft {
  top: 134px;
  left: 460px;
  height: 95px;
  width: 151px;
  cursor: pointer;
  position: absolute;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.goupe_2.multimedia .fomagriPressCenter {
  display: none;
}
.goupe_1 .lienAffiche1 {
  top: 98px;
  left: 320px;
  height: 210px;
  width: 507px;
  cursor: pointer;
  position: absolute;
}
.goupe_1 .lienAffiche2 {
  display: none;
}
.goupe_1 .lienAffiche3 {
  display: none;
}
.standId_1 .lienAffiche1{
  top: 61px;
  left: 389px;
  height: 182px;
  width: 267px;
  cursor: pointer;
  position: absolute;
}
.standId_1 .lienAffiche2 {
  top: 138px;
  right: 37px;
  height: 62px;
  width: 94px;
  cursor: pointer;
  position: absolute;
}
.standId_1 .lienAffiche3 {
  top: 107px;
  left: 89px;
  height: 248px;
  width: 125px;
  cursor: pointer;
  position: absolute;
}
.goupe_3 .fomagriPressLeft{
  top: 87px;
  left: 512px;
  height: 174px;
  width: 267px;
  cursor: pointer;
  position: absolute;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.standId_1 .fomagriPressLeft{
  top: 105px;
  left: 472px;
  height: 90px;
  width: 149px;
  cursor: pointer;
  position: absolute;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.standId_12 .fomagriPressLeft{
  top: 114px;
  left: 440px;
  height: 90px;
  width: 149px;
  cursor: pointer;
  position: absolute;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.standId_12 .lienAffiche1{
  top: 96px;
  left: 370px;
  height: 159px;
  width: 258px;
  cursor: pointer;
  position: absolute;
}
.standId_12 .lienAffiche2 {
  top: 123px;
  right: 23px;
  height: 167px;
  width: 124px;
  cursor: pointer;
  position: absolute;
}
.standId_12 .lienAffiche3 {
  top: 200px;
  left: 93px;
  height: 30px;
  width: 57px;
  cursor: pointer;
  position: absolute;
}
.standId_8 .lienAffiche1{
  top: 102px;
  left: 297px;
  height: 279px;
  width: 492px;
  cursor: pointer;
  position: absolute;
}
.standId_13.press .fomagriPressLeft{
  top: 42px;
  left: 659px;
  height: 195px;
  width: 163px;
  cursor: pointer;
  position: absolute;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.standId_13.press .fomagriPressCenter{
  top: 42px;
  left: 464px;
  height: 195px;
  width: 163px;
  cursor: pointer;
  position: absolute;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  display: block;
}
.standId_13.multimedia .fomagriPressLeft{
  display: none;
}
.standId_13.multimedia .fomagriPressCenter{
  display: none;
}
.standId_11.press .fomagriPressCenter{
  display: none;
}
.standId_11.multimedia .fomagriPressLeft{
  display: none;
}
.standId_11.multimedia .fomagriPressCenter{
  display: none;
}
.fomagriHallBottom{
  top: 423px;
  right: 94px;
  height: 61px;
  width: 51px;
  cursor: pointer;
  position: absolute;
}
.fomagriHallTop{
  top: 272px;
  right: 75px;
  height: 61px;
  width: 51px;
  cursor: pointer;
  position: absolute;
}
.fomagriHallInfoLeft{
  top: 76px;
  right: 590px;
  height: 20px;
  width: 25px;
  cursor: pointer;
  position: absolute;
}
.right-bottom-advertise-link{
  top: 315px;
  right: 49px;
  height: 64px;
  width: 45px;
  cursor: pointer;
  -ms-transform: rotate(12deg);
  -webkit-transform: rotate(12deg);
  transform: rotate(12deg);
}
.fomagriPressCenter{
  top: 77px;
  right: 162px;
  height: 171px;
  width: 221px;
  cursor: pointer;
  position: absolute;
}
.standId_1 .fomagriPressCenter{
  top: 140px;
  right: 26px;
  height: 63px;
  width: 95px;
}
.fomagriPressLeft{
  top: 65px;
  left: 219px;
  height: 161px;
  width: 311px;
  cursor: pointer;
  position: absolute;
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}
#info-stand-multimedia.standId_15 .fomagriPressLeft, #info-stand-multimedia.standId_15 .fomagriPressCenter{
  display:none;
}
.principal-halls #content {
    max-width: 995px;
    margin: 0 auto;
    background: none;
    position: relative;
    padding: 0;
    min-height: inherit;
}

#principal-halls .icone-info a {
    left: 502px;
    top: 408px;
}

#principal-halls .icon-hall-a a{
    left: 744px;
    top: 330px;
}

#principal-halls .icon-hall-b a{
    left: 204px;
    top: 330px;
}

#principal-halls .icon-hall-b a:hover, #principal-halls .icon-hall-a a:hover{
    background-color: rgb(134, 137, 139) !important;
}

.standId_24.multimedia .fomagriPressCenter, .standId_24.press .fomagriPressCenter{
  display: none;
}

.standId_24.multimedia .fomagriPressLeft{
    top: 120px;
    left: 97px;
    height: 236px;
    width: 131px;
}

@media only screen and (max-width: 1024px) {
  .main-menu li:first-child {
    margin-bottom: 0;
  }
  .main-menu li {
    padding: 6px 0 6px 13px;
  }
  .main-menu.open li {
    padding: 5px 0 5px 13px;
  }
  .progress-profil{
    display: none;
  }
  .main-menu.open li:first-child {
    padding: 0 0 0 13px;
  }
  .main-menu .profil li {
    padding: 5px 0 0 13px !important;
  }
  .main-menu .profil li, .main-menu .profil li a{
    font-size: 10px;
  }
  /*.info{
      margin: -4px 0 0 5px;
  }
  */
}
@media only screen and (max-width: 995px) {
  .info{
    top: -26px;
  }
  .lien7 .info{
    top: -70px;
  }
}

#salle-exposition .digieventBatButton {
    top: 21% !important;
    left: 88% !important;
}
#salle-exposition .digieventBatButton a:hover {
    background-color: #055A61;
}

#salle-exposition .digifactBatButton {
    top: 11% !important;
    left: 71.5% !important;
}
#salle-exposition .digifactBatButton a:hover {
    background-color: #F7645D;
}
/**          under-construction        **/
.under-construction-body .img-salle{
  visibility: hidden;
}
.under-construction-body .under-construction-content{
  position: absolute; 
  top: 0px; 
  width: 100%; 
  height: 100%; 
  margin: 0 auto;
}
.under-construction-body .under-construction-txt{
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
  margin-left: 60px;
}
.under-construction-body .under-construction-btn{
  width: 200px;
  margin: 0 auto;
}
.under-construction-body .under-construction-logo{
  width: 50%;
  max-width: 50%;
  margin: 0 auto;
}
.under-construction-body .under-construction-actions{
    margin: 30px 120px;
    float: right;
    text-align: center;
}
.under-construction-body .under-construction-actions a{
    display: inline !important; 
    margin-right: 100px;
}
.under-construction-body .under-construction-register{
    text-decoration: underline;
    font-size: 18px;
    cursor: pointer;
}
.info-stand-multimedia.standId_72 .fomagriPressLeft, 
.info-stand-multimedia.standId_72 .fomagriPressCenter{
  display:none;
}