/* Structure page Mon CV
================================================== */
.monCv #page-content {
    padding: 0;
}
#myCV .icon-plus {
    background: url(../../img/icons/icon-plus.png) 0 0 no-repeat;
    background-size: 100% 100%;
    height: 18px;
    width: 18px;
}
.mon-cv{
    background: #FFFFFF;
    width: 100%;
    margin-top: 100px;
    float: left;
    height: 397px;
    padding: 10px 5px 0px 80px;
}
.candidateCVTitle {
    margin-bottom: 14px;
}
#editCvTitleImage {
    cursor: pointer;
    border-radius: 0px;
}
#myCV a{
    cursor: pointer;
}
#myCV form label.error {
    color: #ce242f !important;
    font-size: 12px;
    /*bottom: -11px;*/
    display: inline-block;
    left: 0px !important;
    line-height: 1 !important;
    position: relative !important;
    width: auto !important;
    top: 0px;
    font-weight: normal;
    margin: 0;
}
#saveCvTitleImage {
    cursor: pointer;
}
#titleCVPage{
    margin-right: 15px;
    font-family: 'robotobold';
    color: #4b4b4b;
    font-size: 18px;
}
#cvContent {
    padding: 10px 5px 0px 20px;
}
#cvAvatarLogoUpload {
    color: #58b;
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    top: 0px;
    left: -199px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    /* cursor: hand; */
    margin: 0;
    padding: 0;
    height: 20px;
    width: 20px;
    position: absolute;
}
#myCV .jspContainer .jspPane{
    width: 99% !important;
}
.info-persG{

}
.cvContentListFormation a {
    cursor: pointer;
}
h2{
    font-family: 'robotobold';
    color: #4b4b4b;
    font-size: 14px;
}
.info-pers{
    overflow: hidden;
    text-align: center;
}
.info-pers .avatarCv{
    width: 60px;
    height: 70px;
    margin: 0 auto 9px;
    position: relative;
}
.avatarCvLogo{
    width: 60px;
    height: 60px;
    max-width: 60px;
    max-height: 60px;		
}
.info-pers .avatarCv .glyphicon{
    position: absolute;
    right: -36px;
    top: 0px;
    color: #8a8a8a;
    font-size: 17px;
}
.info-pers img{
    display: block;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
}
.info-pers h2{
    font-family: 'robotobold';
    color: #4b4b4b;
    font-size: 14px;
    margin-bottom: 10px;
}
.info-pers h3{
    font-family: 'robotobold';
    color: #4b4b4b;
    font-size: 18px;
    margin-bottom: 14px;
}
.info-pers h3 .glyphicon{
    color: #8a8a8a;
    font-size: 17px;
    margin-left: 15px;
}
.info-prof.scroll-pane{
    width: 99.5%;
    height: 215px;
}
.info-prof h2{
    background: #ebebeb;
    padding: 10px 0 10px 22px;
    margin: 0 14px 10px 0;
    font-family: 'robotobold';
    font-size: 14px;
}
.info-prof.scroll-pane h2{
    margin: 0 2px 10px 0;
}
.info-prof.scroll-pane h2 a{
    float: right;
    color: #4b4b4b;
    margin: 0 7px 0 0;
}
.info-prof.scroll-pane h2 a span{
    margin: 0 0 0 14px;
}
.info-prof ul{
    padding: 0 0 0 22px;
}
.info-prof li{
    /*display: table-row;*/
    font-family: 'robotobold';
    font-size: 12px;
    position: relative;
    overflow: hidden;
}
.info-prof li .glyphicon{
    position: absolute;
    right: 5px;
    bottom: 20px;
    color: #8a8a8a;
    font-size: 17px;
}
.info-prof li .glyphicon.glyphicon-edit{
    right: 27px;
}
.info-prof li span{
    /*display: table-cell;*/
    font-family: 'robotobold';
    font-size: 12px;
    color: #4b4b4b;
    padding-bottom: 20px;
}
.info-prof p{
    font-family: 'robotobold';
    font-size: 12px;
    color: #4b4b4b;
    padding-bottom: 20px;
    padding-left: 22px;
}
.info-prof li span.date{
    width: 150px;
}
.info-prof .btn {
    /*line-height: 21px;
    color: #FFFFFF;
    background-color: #4CAF50 !important;*/
}
@media only screen and (max-width: 1024px) {
}
input#cvTitleInput{
    margin-bottom: 5px;
}
.editCVCandidateLogo{
    z-index: 99999;
}
#saveCvTitleImage > img{
    height: 28px;
    margin-top: 6px;	
}
.cvContentBody label.error{
    display: block;
    width: 100% !important;
}
#cvContentFormValidate .dateError{
    font-weight: normal;
}
#cvContentFormValidate div.cvContentBody{
    padding-top: 5px;
}
#cvContentFormValidate .formationInputs, #cvContentFormValidate .experienceInputs, #cvContentFormValidate .projetInputs{
     margin-bottom: 10px;
}  
#myCV .loadingText{
	color : #363636;
}
#myCV .saveContentCvButton{
	margin-right: 16px;
    margin-top: 3px;
}  
#myCV .info-pers #progressAddCvLogo .progress-bar{
    margin-top: 0px;
    width: 100%;
    border-radius: 10px;
}
#myCV .info-pers h2.candidateFullName{
    padding-top: 8px;
    margin-bottom: 12px;
}
#myCV .pending-visit-card{
	cursor: default;
    background-color: #9c27b0;
}
#myCV .pending-visit-card, #myCV .accept-visit-card{
    bottom: 10px;
    position: absolute;
    right: 20px;
}
#myCV .refuse-visit-card{
    bottom: 10px;
    position: absolute;
    right: 130px;
}

