#outerContainer #toolbarViewerLeft {
	min-width: 270px;
}
/*#outerContainer #sidebarToggle,#outerContainer #sidebarContainer,*/
#outerContainer #presentationMode,#outerContainer #fileContainer,#outerContainer #viewBookmark,#outerContainer #openFile,#outerContainer #print
	{
	display: none;
}

#outerContainer #pageRotateCcw,#outerContainer #pageRotateCw,#outerContainer .horizontalToolbarSeparator,#outerContainer #toggleHandTool,#outerContainer #documentProperties,#outerContainer #viewFind,#outerContainer .toolbarButtonSpacer
	{
	display: none;
}

#outerContainer #pageNumber {
	padding: 3px 6px;
	margin: 4px 0 4px 0;
	border: 1px solid transparent;
	border-radius: 2px;
	background-color: hsla(0, 0%, 100%, .09);
	background-image: linear-gradient(hsla(0, 0%, 100%, .05),
		hsla(0, 0%, 100%, 0) );
	background-clip: padding-box;
	border: 1px solid hsla(0, 0%, 0%, .35);
	border-color: hsla(0, 0%, 0%, .32) hsla(0, 0%, 0%, .38)
		hsla(0, 0%, 0%, .42);
	box-shadow: 0 1px 0 hsla(0, 0%, 0%, .05) inset, 0 1px 0
		hsla(0, 0%, 100%, .05);
	color: hsl(0, 0%, 95%);
	font-size: 12px;
	line-height: 14px;
	outline-style: none;
	height: 24px;
}

#outerContainer #scaleSelectContainer {
	min-width: 80px !important;
	height: 25px;
}

#outerContainer #scaleSelect {
	height: 20px;
}

#outerContainer #toolbarViewerRight {
	min-width: 80px;
}

#outerContainer #viewer {
	background: #ECF0F3;
	height: 101%;
}

.webcaster {
	background-color: #e7e9ec;
}

#outerContainer canvas {
	margin-left: 0px;
}

#toolbarViewerMiddle {
	min-width: 200px;
}

#outerContainer .findbar {
	left: 30px;
}
#thumbnailView .thumbnail{
	padding: 0px; 
	border: inherit;
}
#thumbnailView {
	box-sizing: initial;
}
#thumbnailView .thumbnail .thumbnailSelectionRing{
	box-sizing: content-box;
}
#thumbnailView .thumbnail.selected > .thumbnailSelectionRing {
	background-color: hsla(0,0%,25%,0.9);
}