/* Structure page carriere candidature
================================================== */
.carriere-reponse #page-content {
    padding: 0;
}
.carriere-reponse-content{
    background: #FFFFFF;
    width: 100%;
    margin-top: 100px;
    float: left;
    height: 397px;
    padding: 10px 5px 0 20px;
}
.carriere-reponse-content .scroll-pane{
    width: 100% !important;
    height: 370px !important;
}
.carriere-reponse-content li{
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #ebebeb;
}
.carriere-reponse-content li .date-event{
    width: 23%;
    height: 170px;
    border-right: 1px solid #ebebeb;
    float: left;
    padding-top: 20px;
    text-align: center;
    margin: 14px 20px 14px 0;
}
.carriere-reponse-content li .date-event .logo-event{
    margin-bottom: 13px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 64px;
    width: 25rem;
}
.carriere-reponse-content li .date-event .logo-event img{
    margin: 0 auto;
}
.carriere-reponse-content li .date-event span{
    display: block;
    max-width: 190px;
    margin: 0 auto;
}
.carriere-reponse-content li .date-event .date{
    margin-top: 10px;
}
.carriere-reponse-content li .intro{
    padding-top: 30px;
    font-size: 14px;
    float: left;
    width: 70%;
    text-align: justify;
}
.carriere-reponse-content li .intro .more{
    display: block;
    color: #b3081b;
    font-size: 10px;
    float: right;
    margin: 20px 0 10px;
}

.carriere-reponse-content .empty{
    text-align: center;
    margin-top: 40px;
}

@media only screen and (max-width: 1024px) {

}


