.profil-condidat #page-content{
  background: #FFFFFF;
  padding: 0;
  margin: 40px auto 0;
}
.info-persG{
  padding: 16px 22px 0;
  min-height: 128px;
}
h2{
  font-family: 'robotobold';
  color: #4b4b4b;
  font-size: 14px;
}
.info-pers{
  float: left;
}
.info-pers img{
  float: left;
}
.info-pers h2{
  float: left;
  margin: 30px 0 0 17px;
}

.title{
  margin-top: 26px;
  float: left;
  margin-left: 15%;
}
.title h2{
  text-align: center;
  font-size: 18px;
}

.listes-doc{
  float: right;
  margin-top: 26px;
}
.listes-doc p{
  font-size: 12px;
}
.listes-doc li{
  list-style: none;
  float: left;
  text-align: center;
  margin: 20px 20px 0 0;
}
.listes-doc li:last-child{
  margin: 20px 0 0 0;
}
.listes-doc li a{
  font-family: 'robotobold';
  font-size: 10px;
}
.listes-doc li a span{
  display: block;
}
.icon-pdf, .icon-doc{ display: inline-block; background: url(../../img/sprite_1.png) no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
.icon-pdf { background-position: -0px -0px; width: 27px; height: 28px;margin: 0 auto 3px; }
.icon-doc { background-position: -0px -28px; width: 23px; height: 22px;margin: 6px auto 3px; }

.info-prof.scroll-pane{
  width: 99.5%;
  height: 369px;
}
.info-prof h2{
  background: #ebebeb;
  padding: 10px 0 10px 22px;
  margin: 0 14px 10px 0;
}
.info-prof.scroll-pane h2{
  margin: 0 2px 10px 0;
}
.info-prof ul{
  padding: 0 0 0 22px;
}
.info-prof li{
  display: table-row;
  font-family: 'robotobold';
  font-size: 12px;
}
.info-prof li span{
  display: table-cell;
  font-family: 'robotobold';
  font-size: 12px;
  color: #4b4b4b;
  padding-bottom: 20px;
}
.info-prof p{
  font-family: 'robotobold';
  font-size: 12px;
  color: #4b4b4b;
  padding-bottom: 20px;
  padding-left: 22px;
}
.info-prof li span.date{
  width: 108px;
}
@media only screen and (max-width: 1024px) {
  .title{
    margin-left: 11%;
  }
}
