<!-- <!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Socket.IO Chat Example</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>

<body> -->
<!-- <button type="button" class="privateroom">connexion</button> -->
<div class="container clearfix">

    <div class="people-list" id="people-list">
        <tr class="titleTabBarChat">
            <td valign="middle" width="90%">
                <div id="connectEnterprises"><label class="enterprises-connected enterprisesConnectedLabel">Cyber-agents</label></div>
            </td>

        </tr>

        <ul class="list">

        </ul>
    </div>

    <div class="chat">
        <div class="headerChat">
            <label style="    color: white; padding: 5px;">Tchat</label>
            <button class="closeChat"></button>
        </div>


        <div class="emptychat">
            <ul>



                <p><b>Heure  d’ouverture du tchat :
					<br>- Samedi 10 et 17 Novembre : 10:00 - 16:00
					<br>- Du 12 au 16 Novembre : 8:30 - 16:30
					</b> </br>

                    <b>Les conversations sont ouvertes du samedi 10 au samedi 17 Novembre inclus, fermées le dimanche.</b>
                    </br>
                    </br>
                    1/ Avant de poser vos questions, consultez notre stand virtuel où vous trouverez des documents téléchargeables sur les diplômes spécifiques à la France, notre dépliant, le catalogue des formations, les certifications en français, notre guide et de nombreux
                    autres documents pour vos études en France. Consultez aussi notre vidéo « FOIRE AUX QUESTIONS » sur la vie des étudiants en France : budget, logement, travailler pendant ses études, les étapes pour s’inscrire, etc. 2/ Choisissez un
                    cyber-agent selon la catégorie de votre question : - Procédure de candidature : calendrier, certifications (TCF, DELF B2, DALF C1), étapes du dossier, documents à fournir, etc - Accompagnement dans la construction du projet d'études
                    : conseils, pré-orientation, etc
                    </br>
                </p>

            </ul>

        </div>


    </div>
    <!-- end chat -->

</div>
<!-- end container -->

<!-- <script id="message-template" type="text/x-handlebars-template">
        <li class="clearfix">
            <div class="message-data align-right">
                <span class="message-data-time">{{time}}, Today</span> &nbsp; &nbsp;
                <span class="message-data-name">Olia</span> <i class="fa fa-circle me"></i>
            </div>
            <div class="message other-message float-right">
                {{messageOutput}}
            </div>
        </li>
    </script>

    <script id="message-response-template" type="text/x-handlebars-template">
        <li>
            <div class="message-data">
                <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                <span class="message-data-time">{{time}}, Today</span>
            </div>
            <div class="message my-message">
                {{response}}
            </div>
        </li>
    </script>
 -->

<!--  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/bootstrap.js"></script>
    <script src="/socket.js"></script>
    <script src="/main.js"></script>
</body>

</html> -->