/* Structure page messages
================================================== */
#detailsMessageCantainer {
    padding: 10px 5px;
}

#table-liste-details-message-recu td {
    white-space: normal;
}

.messages #page-content {
    padding: 0;
}
.content-messages{
    background: #FFFFFF;
    width: 100%;
    margin-top: 100px;
    float: left;
    height: 397px;
    padding-left: 40px;
}
.content-messages form{
    max-width: 86%;
    margin-top: 0px;
}
.content-messages form .row{
    margin: 0;
}
.content-messages form label{
    float: left;
    padding: 0 0 0 25px;
    width: 10%;
    line-height: 37px;
    font-size: 14px;
    color: #464646;
    font-weight: inherit;
}
.content-messages .select-wrapper{
    float: left;
    width: 100%;
}
.content-messages .select-wrapper input{
    width: 96.7%;
    padding: 0 0 0 2rem;
}
.content-messages form input{
    float: left;
    width: 87%;
    padding: 0 0 0 2rem;
    color: #959595;
    font-family: 'robotobold';
    font-size: 14px;
    border-color: #959595 !important;
    box-shadow: inherit !important;
}
.content-messages form input.btn{
    width: 130px;
    height: 36px;
    border: none;
    float: right;
    padding: 0;
    font-family: 'roboto';
    color: #FFFFFF;
    text-transform: none;
    background-color: #2bbbad !important;

}
.content-messages form .materialize-textarea{
    color: #464646;
    font-family: 'roboto';
    font-size: 14px;
    border-color: #959595 !important;
    box-shadow: inherit !important;
    padding: 2rem 7.3rem 1.4rem 2.5rem;
    width: 86%;
    height: 132px !important;
    max-height: 132px;

}
@media only screen and (max-width: 1024px) {
    .content-messages{
        float: left;
        padding-left: 70px;
        width: 100%;
    }
    .content-messages form{
        padding: 0 10px;
        max-width: 700px;
        margin: 26px auto 0;
    }
    .content-messages form label {
        width: 88px;
    }
    .content-messages form input {
        width: 83%;
    }
    .content-messages .select-wrapper {
        width: 86%;
    }
    .content-messages form .materialize-textarea{
        width: 82.3%;
    }
}

