.activeReporting {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
	background: #F3F4F8;
}

.reportingBody {
	width: 100%;
	height: 100%;
	margin: 10px;
}

.reportingBody .reportingTitle {
	width: 100%;
	margin: auto;
}

.reportingBody .reportingMenu {
	display: none;
}

.reportingBody .spaceMenu {
	width: 100%;
	height: 30px;
}

.reportingBody #table_div_bouncesDay,#table_div_visitsDay>tr {
	cursor: pointer;
}

.margindatesanalytics {
	margin-left: 20px;
	border-collapse: collapse;
}

.margindatesanalytics td {
	padding-right: 20px;
}

.reportingBody>th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #6D929B;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(images/bg_header.jpg) no-repeat;
}

.reportingBody>td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #6D929B;
}

.reportingBody ol {
}

.reportingBody li {
	border-bottom: 1px solid;
	font-size: 16px;
	margin-bottom: 10px;
}

.reportingBody h2 {
    width: 270px;
    height: 35px;
    padding: 5px;
    color: #0796C3;
    font-size: 20px;
    font-weight: normal;
    margin: 5px;
    cursor: pointer;
}
.reportingBody h2 span {
	font-size: 16px;
	font-weight: bold;
}
.reportingBody h2:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
	background: #F3F4F8;
}

.reportingBody a,.reportingBody pre {
	font-family: Inconsolata;
}

.reportingBody input {
	display: block;
}

#table_div_visitorsStand tr,.tableReportingDay tr {
	cursor: pointer;
}

.multimedia{
	width:600px;
	height:300px;
}
#table_div_contentForum_survey,#table_div_contentStand_survey{
	margin-bottom: 30px;	
}
#table_div_visitsStand_boothVisitors .google-visualization-table-tr-even, #table_div_visitsStand_boothVisitors .google-visualization-table-tr-odd, 
#table_div_contentStand_unsolicitedJobApplication .google-visualization-table-tr-even, #table_div_contentStand_unsolicitedJobApplication .google-visualization-table-tr-odd,
#table_div_contentForum_survey .google-visualization-table-tr-even, #table_div_contentForum_survey .google-visualization-table-tr-odd,
#table_div_contentStand_survey .google-visualization-table-tr-even, #table_div_contentStand_survey .google-visualization-table-tr-odd,
#table_div_contentForum_surveyquestion .google-visualization-table-tr-even, #table_div_contentForum_surveyquestion .google-visualization-table-tr-odd,
#table_div_contentStand_surveyquestion .google-visualization-table-tr-even, #table_div_contentStand_surveyquestion .google-visualization-table-tr-odd{
	cursor: pointer;
}
/*#profilForumTitle, #profilStandTitle{
    display: none;
}*/

.reportingBody .panel .panel-body{
	padding: 0px !important;
}