  body .container_video {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 585px; }
    body .container_video .layer_bg {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.1);
      z-index: 2; }
      body .container_video .layer_bg .PlayPause_contolers {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        display: block;
        text-align: center;
        z-index: 4;
        background: rgba(0, 0, 0, 0.8);
        padding: 10px 0px; }
        body .container_video .layer_bg .PlayPause_contolers i {
          font-size: 30px;
          color: #fff;
          cursor: pointer; }
        body .container_video .layer_bg .PlayPause_contolers #Volumeplayer {
          width: 100px;
          left: 10px;
          position: absolute;
          top: 26px; }
        body .container_video .layer_bg .PlayPause_contolers #volume {
          position: absolute;
          left: 24px;
          margin: 0 auto;
          height: 5px;
          width: 100px;
          background: #555;
          border-radius: 15px; }
          body .container_video .layer_bg .PlayPause_contolers #volume .ui-slider-range-min {
            height: 5px;
            width: 100px;
            position: absolute;
            background: #2ecc71;
            border: none;
            border-radius: 10px;
            outline: none; }
          body .container_video .layer_bg .PlayPause_contolers #volume .ui-slider-handle {
            width: 15px;
            height: 15px;
            border-radius: 20px;
            background: #FFF;
            position: absolute;
            margin-left: -8px;
            margin-top: -5px;
            cursor: pointer;
            outline: none; }
    body .container_video #video {
      width: 100%;
      max-height: 100%;
      display: block;
      position: relative;
      height: 100%;
      max-width: 1532px;
      width: 100%;
      margin: 0 auto; }




.container_popup {
   position: absolute;
    left: 227px;
    top: 154px;
   /* opacity: 0.84;*/
    max-width: 460px;
    background: #fff;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
    padding: 20px 10px;
}

.container_popup p {
    font-family: 'Roboto', Arial, sans-serif;
    margin-bottom: 8px;
}

.container_popup p span {
    color: #1275b8;
}

.container_popup p:last-child {
    margin-bottom: 0px;
}

.container_popup a {
    font-family: 'Roboto', Arial, sans-serif;
    border-radius: 0px;
    background-color: #1275b8;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    padding: 8px 0px;
    text-decoration: none;
    margin-top: 20px;
    color: #fff;
    max-width: 250px;
}