html, body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #e8e8e8;
}

.clock-content .clock{
    margin: 60px auto;
    width: 622px;
}
.clock-content .buttons{
    width: 385px;
    margin: 160px auto;
}
.clock-content .grand-button{
    width: 160px;
    border-radius: 2px;
    height: 45px;
    padding-top: 10px;
    background-color: #ca2f37;
    border-color: #ca2f37;
    font-size: 18px;
}
.clock-content .grand-button:focus, .clock-content .grand-button:hover{
    background-color: #d0545b;
    border-color: #d0545b;
}

.clock-content .clock-logo {
    width: 50%;
    max-width: 50%;
    margin: 0 auto;
    display: block;
}
.buttons .btn-visitor{
  margin-right: 60px
}
.flip-clock-divider .flip-clock-label{ 
    font-size: 15px;
}
.flip-clock-divider.days .flip-clock-label{ 
    margin-right: -2px;
}
.flip-clock-divider.hours .flip-clock-label{ 
    margin-right: -9px;
}
.flip-clock-divider.minutes .flip-clock-label{ 
    margin-right: -9px;
}
.flip-clock-divider.seconds .flip-clock-label{ 
    margin-right: -14px;
}