/* CSS Sprite Generator
================================================== */

.icon-affiche,
.icon-presse-stand-info,

/* .icon-tchat, */

.icon-agenda,
.icon-offre-emploi,
.icon-temoignage,
.icon-alarme-agenda,
.icon-contact,
.icon-profils-recherches,
.icon-efq,
.icon-video-t,
.icon-photo,
.icon-audio,
.icon-stand,
.icon-video,
.icon-conseils,
.icon-vue-aerienne,
.icon-download,
.icon-nav,
.icon-sondages,
.icon-presse,
.icon-profile-entreprise,
.icon-carriere,
.icon-cv,
.icon-facbook,
.icon-favoris,
.icon-forum,
.icon-linkden,
.icon-messages,
.icon-notification,
.icon-sortie-b,
.icon-sortie-v,
.icon-twitter,
.icon-apercu,
.icon-info,
.icon-liste,
.icon-sortie,
.icon-tchats,
.icon-faq,
.icon-message,
.icon-offres-emploi,
.icon-reception,
.icon-visiter,
.icon-document-lecteur,
.icon-documents,
.icon-profil,
.icon-compt,
.icon-multimedia,
.icon-video-rh,
.icon-document,
.icon-calandar,
.icon-mail,
.icon-tel,
.icon-delete,
.icon-entreprise,
.icon-close,
.icon-download-png-form,
.icon-download2,
.icon-etoile,
.icon-fonction,
.icon-galerie,
.icon-plus {
    display: inline-block;
    background: url(../img/sprite.png) no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

.icon-web {
    width: 33px;
    height: 26px;
    display: inline-block;
    background: url(../img/icons/world-wide-web.png) no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

.icon-conf {
    width: 27px;
    height: 20px;
    display: inline-block;
    background: url(../img/icons/conference-hall.png) no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

.icon-doc1,
.icon-doc2,
.icon-doc3,
.icon-doc4,
.icon-doc5,
.icon-doc6,
.icon-doc7,
.icon-doc8,
.icon-doc9,
.icon-doc10,
.icon-doc11,
.icon-doc12,
.icon-doc13,
.icon-doc14,
.icon-doc15,
.icon-doc16,
.icon-doc17,
.icon-doc18,
.icon-doc42,
.icon-doc43,
.icon-doc19,
.icon-doc20,
.icon-doc21,
.icon-doc22,
.icon-doc23,
.icon-doc24,
.icon-doc25,
.icon-doc26,
.icon-doc27,
.icon-doc28,
.icon-doc29,
.icon-doc30,
.icon-pres,
.icon-sondage {
    width: 27px;
    height: 27px;
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

.icon-pres {
    background: url(../img/icons/presentation.png) no-repeat;
}

.icon-sondage {
    background: url(../img/icons/sondage.png) no-repeat;
}

.icon-doc22 {
    background: url(../img/icons/docs/agruc.png) no-repeat;
}

.icon-doc23 {
    background: url(../img/icons/docs/art.png) no-repeat;
}

.icon-doc24 {
    background: url(../img/icons/docs/sante.png) no-repeat;
}

.icon-doc25 {
    background: url(../img/icons/docs/droit.png) no-repeat;
}

.icon-doc26 {
    background: url(../img/icons/docs/scienceing.png) no-repeat;
}

.icon-doc27 {
    background: url(../img/icons/docs/sport.png) no-repeat;
}

.icon-doc28 {
    background: url(../img/icons/docs/sciencepure.png) no-repeat;
}

.icon-doc29 {
    background: url(../img/icons/docs/tourisme.png) no-repeat;
}

.icon-doc30 {
    background: url(../img/icons/docs/LMD.png) no-repeat;
}

.icon-doc19 {
    background: url(../img/icons/docs/ApprentissageAlternance.png) no-repeat;
}

.icon-doc20 {
    background: url(../img/icons/docs/Autresecolesex.png) no-repeat;
}

.icon-doc21 {
    background: url(../img/icons/docs/Ecolecommerce.png) no-repeat;
}

.icon-doc1 {
    background: url(../img/icons/docs/EtudeFrance.png) no-repeat;
}

.icon-doc2 {
    background: url(../img/icons/docs/catalogueligne.png) no-repeat;
}

.icon-doc3 {
    background: url(../img/icons/docs/diplomeFrance.png) no-repeat;
}

.icon-doc4 {
    background: url(../img/icons/docs/Certifications.png) no-repeat;
}

.icon-doc5 {
    background: url(../img/icons/docs/candidature.png) no-repeat;
}

.icon-doc6 {
    background: url(../img/icons/docs/Depliants.png) no-repeat;
}

.icon-doc7 {
    background: url(../img/icons/docs/architecte.png) no-repeat;
}

.icon-doc8 {
    background: url(../img/icons/docs/BTS.png) no-repeat;
}

.icon-doc9 {
    background: url(../img/icons/docs/CPGE.png) no-repeat;
}

.icon-doc10 {
    background: url(../img/icons/docs/DUT.png) no-repeat;
}

.icon-doc11 {
    background: url(../img/icons/docs/igenieur.png) no-repeat;
}

.icon-doc12 {
    background: url(../img/icons/docs/doctorale.png) no-repeat;
}

.icon-doc13 {
    background: url(../img/icons/docs/Fichesdomaines.png) no-repeat;
}

.icon-doc14 {
    background: url(../img/icons/docs/formationdistance.png) no-repeat;
}

.icon-doc15 {
    background: url(../img/icons/docs/Formationartistique.png) no-repeat;
}

.icon-doc16 {
    background: url(../img/icons/docs/bourse.png) no-repeat;
}

.icon-doc17 {
    background: url(../img/icons/docs/licencepro.png) no-repeat;
}

.icon-doc18 {
    background: url(../img/icons/docs/Medecine.png) no-repeat;
}

.icon-doc42 {
    background: url(../img/icons/docs/art2.png) no-repeat;
}

.icon-doc43 {
    background: url(../img/icons/docs/mastere.png) no-repeat;
}

.icon-affiche {
    background-position: -4px -0px;
    width: 47px;
    height: 26px;
}

.icon-tchat {
    text-indent: inherit;
    font-family: 'Robotobold', Arial;
    font-size: 12px;
    color: #FFFFFF;
    /* margin: 18px 0 0 32px; */
    width: auto;
    padding: 4px 0 0 28px;
    /* line-height: 32px; */
    height: 100%;
    position: relative;
    left: 6px;
    top: -4px;
    display: inline-block;
    background: url(../img/icons/chat.png) no-repeat;
    overflow: hidden;
    text-align: left;
}

.list li {
    cursor: pointer;
}

.closeChat {
    text-indent: inherit;
    font-family: 'Robotobold', Arial;
    font-size: 12px;
    color: #FFFFFF !important;
    /* margin: 18px 0 0 32px; */
    width: auto;
    padding: 4px 0 0 28px;
    /* line-height: 32px; */
    height: 28px;
    position: relative;
    left: 738px;
    top: 6px;
    display: inline-block;
    background: url(../img/eject.png) no-repeat;
    overflow: hidden;
    text-align: left;
    position: absolute;
    border: none;
}

.icon-conf_64 {
    text-indent: inherit;
    font-family: 'Robotobold', Arial;
    font-size: 14px;
    color: #FFFFFF !important;
    margin: 0px 0 0 10px;
    width: auto;
    padding: 0px 17px 0 33px;
    /* line-height: 32px; */
    height: 100%;
    position: relative;
    left: 11px;
    top: 17px;
    display: inline-block;
    background: url(../img/icons/conference-hall64.png) no-repeat;
    overflow: hidden;
    text-align: left;
}

.icon-presse-stand-info {
    background-position: -4px -30px;
    width: 42px;
    height: 32px;
}

.icon-tchat {
    /* background-position: -4px -66px;
    width: 41px;
    height: 41px; */
}

.icon-agenda {
    background-position: -4px -111px;
    width: 39px;
    height: 39px;
}

.icon-offre-emploi {
    background-position: -4px -154px;
    width: 38px;
    height: 38px;
}

.icon-temoignage {
    background-position: -4px -196px;
    width: 38px;
    height: 27px;
}

.icon-alarme-agenda {
    background-position: -4px -227px;
    width: 34px;
    height: 35px;
}

.icon-contact {
    background-position: -4px -266px;
    width: 34px;
    height: 23px;
}

.icon-profils-recherches {
    background-position: -4px -293px;
    width: 33px;
    height: 25px;
}

.icon-efq {
    background-position: -4px -322px;
    width: 32px;
    height: 35px;
}

.icon-video-t {
    background-position: -4px -358px;
    width: 32px;
    height: 27px;
}

.icon-photo {
    background-position: -4px -389px;
    width: 31px;
    height: 28px;
}

.icon-audio {
    background-position: -4px -421px;
    width: 30px;
    height: 30px;
}

.icon-stand {
    background-position: -3px -454px;
    width: 32px;
    height: 32px;
}

.icon-video {
    background-position: -4px -489px;
    width: 30px;
    height: 30px;
}

.icon-conseils {
    background-position: -4px -523px;
    width: 29px;
    height: 43px;
}

.icon-vue-aerienne {
    background-position: -4px -570px;
    width: 29px;
    height: 28px;
}

.icon-download {
    background-position: -4px -602px;
    width: 28px;
    height: 34px;
}

.icon-nav {
    background-position: -4px -640px;
    width: 28px;
    height: 19px;
}

.icon-sondages {
    background-position: -4px -663px;
    width: 28px;
    height: 29px;
}

.icon-presse {
    background-position: -4px -696px;
    width: 27px;
    height: 20px;
}

.icon-profile-entreprise {
    background-position: -4px -720px;
    width: 27px;
    height: 31px;
}

.icon-carriere {
    background-position: -4px -755px;
    width: 26px;
    height: 26px;
}

.icon-cv {
    background-position: -4px -785px;
    width: 26px;
    height: 30px;
}

.icon-facbook {
    background-position: -4px -819px;
    width: 26px;
    height: 27px;
}

.icon-favoris {
    background-position: -4px -850px;
    width: 26px;
    height: 26px;
}

.icon-forum {
    background-position: -4px -880px;
    width: 26px;
    height: 26px;
}

.icon-linkden {
    background-position: -4px -910px;
    width: 26px;
    height: 26px;
}

.icon-messages {
    background-position: -4px -940px;
    width: 26px;
    height: 21px;
}

.icon-notification {
    background-position: -4px -965px;
    width: 26px;
    height: 27px;
}

.icon-sortie-b {
    background-position: -4px -996px;
    width: 26px;
    height: 27px;
}

.icon-sortie-v {
    background-position: -4px -1027px;
    width: 26px;
    height: 27px;
}

.icon-twitter {
    background-position: -4px -1058px;
    width: 26px;
    height: 26px;
}

.icon-apercu {
    background-position: -4px -1088px;
    width: 25px;
    height: 18px;
}

.icon-info {
    background-position: -4px -1110px;
    width: 25px;
    height: 25px;
}

.icon-liste {
    background-position: -4px -1139px;
    width: 25px;
    height: 25px;
}

.icon-sortie {
    background-position: -4px -1168px;
    width: 25px;
    height: 25px;
}

.icon-tchats {
    background-position: -4px -1197px;
    width: 25px;
    height: 22px;
}

.icon-faq {
    background-position: -4px -1223px;
    width: 24px;
    height: 24px;
}

.icon-message {
    background-position: -4px -1251px;
    width: 24px;
    height: 19px;
}

.icon-offres-emploi {
    background-position: -4px -1274px;
    width: 24px;
    height: 21px;
}

.icon-reception {
    background-position: -4px -1299px;
    width: 24px;
    height: 24px;
}

.icon-visiter {
    background-position: -4px -1327px;
    width: 24px;
    height: 24px;
}

.icon-document-lecteur {
    background-position: -4px -1355px;
    width: 23px;
    height: 28px;
}

.icon-documents {
    background-position: -4px -1387px;
    width: 23px;
    height: 28px;
}

.icon-profil {
    background-position: -4px -1419px;
    width: 23px;
    height: 23px;
}

.icon-compt {
    background-position: -3px -1446px;
    width: 22px;
    height: 27px;
}

.icon-multimedia {
    background-position: -4px -1477px;
    width: 22px;
    height: 22px;
}

.icon-video-rh {
    background-position: -4px -1503px;
    width: 22px;
    height: 22px;
}

.icon-document {
    background-position: -4px -1529px;
    width: 21px;
    height: 28px;
}

.icon-calandar {
    background-position: -4px -1561px;
    width: 19px;
    height: 21px;
}

.icon-mail {
    background-position: -27px -1561px;
    width: 19px;
    height: 19px;
}

.icon-tel {
    background-position: -27px -1584px;
    width: 19px;
    height: 19px;
}

.icon-delete {
    background-position: -31px -1531px;
    width: 16px;
    height: 16px;
}

.icon-entreprise {
    background-position: -4px -1586px;
    width: 18px;
    height: 19px;
}

.icon-close {
    background-position: -31px -1355px;
    width: 16px;
    height: 16px;
}

.icon-download-png-form {
    background-position: -31px -1375px;
    width: 16px;
    height: 20px;
}

.icon-download2 {
    background-position: -31px -1399px;
    width: 16px;
    height: 20px;
}

.icon-etoile {
    background-position: -31px -1423px;
    width: 16px;
    height: 16px;
}

.icon-fonction {
    background-position: -31px -1443px;
    width: 16px;
    height: 15px;
}

.icon-galerie {
    background-position: -33px -1088px;
    width: 14px;
    height: 13px;
}

.icon-plus {
    background-position: -34px -755px;
    width: 13px;
    height: 13px;
}


/********************
        menu animé
/********************/

.icon-format1-h,
.icon-format1,
.icon-format7-h,
.icon-format7,
.icon-format5-h,
.icon-format5,
.icon-format3-h,
.icon-format3,
.icon-format2-h,
.icon-format2,
.icon-format4-h,
.icon-format4 {
    display: inline-block;
    background: url(../img/sprite-second-menu.png) no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

.icon-format1 {
    background-position: -3px -36px;
    width: 37px;
    height: 32px;
}

.icon-format1:hover,
.icon-format1.active {
    background-position: -3px -0px;
}

.icon-format2 {
    background-position: -3px -322px;
    width: 32px;
    height: 31px;
}

.icon-format2:hover,
.icon-format2.active {
    background-position: -3px -287px;
}

.icon-format3 {
    background-position: -3px -250px;
    width: 34px;
    height: 34px;
}

.icon-format3:hover,
.icon-format3.active {
    background-position: -3px -213px;
}

.icon-format4 {
    background-position: -4px -461px;
    width: 27px;
    height: 31px;
}

.icon-format4:hover,
.icon-format4.active {
    background-position: -4px -426px;
}

.icon-format5 {
    background-position: -3px -181px;
    width: 34px;
    height: 29px;
}

.icon-format5:hover,
.icon-format5.active {
    background-position: -3px -148px;
}


/*.icon-format6 { background-position: -3px -389px; height: 33px; width: 34px; }
.icon-format6:hover, .icon-format6.active { background-position: -3px -355px; }*/

.icon-format7 {
    background-position: -3px -110px;
    width: 35px;
    height: 34px;
}

.icon-format7:hover,
.icon-format7.active {
    background-position: -3px -72px;
}

@media only screen and (max-width: 1026px) {
    .icon-format6 {
        background-position: -4px -393px;
        height: 33px;
        width: 34px;
    }
    .icon-format6:hover,
    .icon-format6.active {
        background-position: -4px -359px;
    }
}


/***********************************************
                        Menu stand
***********************************************/

.icon-nav-repondre-h,
.icon-nav-repondre,
.icon-nav-offre-h,
.icon-nav-offre,
.icon-nav-affiche-h,
.icon-nav-affiche,
.icon-nav-agenda-h,
.icon-nav-agenda,
.icon-nav-contact-h,
.icon-nav-contact,
.icon-nav-document-h,
.icon-nav-document,
.icon-nav-message-h,
.icon-nav-message,
.icon-nav-prechercher-h,
.icon-nav-prechercher,
.icon-nav-profile-h,
.icon-nav-profile,
.icon-nav-sondage-h,
.icon-nav-sondage,
.icon-nav-sondage2-h,
.icon-nav-sondage2,
.icon-nav-tchat-h,
.icon-nav-tchat,
.icon-nav-temoignage-h,
.icon-nav-temoignage,
.icon-nav-video-h,
.icon-cveds-h,
.icon-cveds,
.icon-nav-carrier-h,
.icon-nav-carrier,
.icon-nav-photo-h,
.icon-nav-photo,
.icon-nav-presse-h,
.icon-nav-presse,
.icon-nav-retour,
.icon-nav-video,
.icon-nav-reception-h,
.icon-nav-reception,
.icon-nav-tchat-hitorique,
.icon-nouveau-message-h,
.icon-nouveau-message,
.icon-nav-conseils-h,
.icon-nav-media-h,
.icon-mon-profil,
.icon-mon-compte,
.icon-nav-conseils,
.icon-nav-media,
.icon-nav-cv-h,
.icon-nav-cv {
    display: inline-block;
    background: url(../img/sprite-stand-menu.png) no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

.icon-nav-repondre {
    background-position: -5px -27px;
    width: 35px;
    height: 22px;
}

.icon-nav-repondre:hover,
li:hover .icon-nav-repondre,
li.active .icon-nav-repondre {
    background-position: -5px -0px;
    width: 35px;
    height: 22px;
}

.icon-nav-offre {
    background-position: -5px -90px;
    width: 31px;
    height: 31px;
}

.icon-nav-offre:hover,
li:hover .icon-nav-offre,
li.active .icon-nav-offre {
    background-position: -5px -54px;
    width: 31px;
    height: 31px;
}

.icon-nav-affiche {
    background-position: -5px -161px;
    width: 30px;
    height: 30px;
}

.icon-nav-affiche:hover,
li:hover .icon-nav-affiche,
li.active .icon-nav-affiche {
    background-position: -5px -126px;
    width: 30px;
    height: 30px;
}

.icon-nav-agenda {
    background-position: -5px -231px;
    width: 30px;
    height: 30px;
}

.icon-nav-agenda:hover,
li:hover .icon-nav-agenda,
li.active .icon-nav-agenda {
    background-position: -5px -196px;
    width: 30px;
    height: 30px;
}

.icon-nav-contact {
    background-position: -5px -301px;
    width: 30px;
    height: 30px;
}

.icon-nav-contact:hover,
li:hover .icon-nav-contact,
li.active .icon-nav-contact {
    background-position: -5px -266px;
    width: 30px;
    height: 30px;
}

.icon-nav-document {
    background-position: -5px -371px;
    width: 30px;
    height: 30px;
}

.icon-nav-document:hover,
li:hover .icon-nav-document,
li.active .icon-nav-document {
    background-position: -5px -336px;
    width: 30px;
    height: 30px;
}

.icon-nav-message {
    background-position: -5px -441px;
    width: 30px;
    height: 30px;
}

.icon-nav-message:hover,
li:hover .icon-nav-message,
li.active .icon-nav-message {
    background-position: -5px -406px;
    width: 30px;
    height: 30px;
}

.icon-nav-prechercher {
    background-position: -5px -511px;
    width: 30px;
    height: 30px;
}

.icon-nav-prechercher:hover,
li:hover .icon-nav-prechercher,
li.active .icon-nav-prechercher {
    background-position: -5px -476px;
    width: 30px;
    height: 30px;
}

.icon-nav-profile {
    background-position: -5px -581px;
    width: 30px;
    height: 30px;
}

.icon-nav-profile:hover,
li:hover .icon-nav-profile,
li.active .icon-nav-profile {
    background-position: -5px -546px;
    width: 30px;
    height: 30px;
}

.icon-nav-sondage {
    background-position: -5px -651px;
    width: 30px;
    height: 30px;
}

.icon-nav-sondage:hover,
li:hover .icon-nav-sondage,
li.active .icon-nav-sondage {
    background-position: -5px -616px;
    width: 30px;
    height: 30px;
}

.icon-nav-sondage2 {
    background-position: -5px -721px;
    width: 30px;
    height: 30px;
}

.icon-nav-sondage2:hover,
li:hover .icon-nav-sondage2,
li.active .icon-nav-sondage2 {
    background-position: -5px -686px;
    width: 30px;
    height: 30px;
}

.icon-nav-tchat {
    background-position: -5px -791px;
    width: 30px;
    height: 30px;
}

.icon-nav-tchat:hover,
li:hover .icon-nav-tchat,
li.active .icon-nav-tchat {
    background-position: -5px -756px;
    width: 30px;
    height: 30px;
}

.icon-nav-temoignage {
    background-position: -5px -861px;
    width: 30px;
    height: 30px;
}

.icon-nav-temoignage:hover,
li:hover .icon-nav-temoignage,
li.active .icon-nav-temoignage {
    background-position: -5px -826px;
    width: 30px;
    height: 30px;
}

.icon-nav-video {
    background-position: -5px -1210px;
    width: 28px;
    height: 24px;
}

.icon-nav-video:hover,
li:hover .icon-nav-video,
li.active .icon-nav-video {
    background-position: -5px -896px;
    width: 30px;
    height: 26px;
}

.icon-cveds {
    background-position: -5px -960px;
    width: 29px;
    height: 28px;
}

.icon-cveds:hover,
li:hover .icon-cveds,
li.active .icon-cveds {
    background-position: -5px -927px;
    width: 29px;
    height: 28px;
}

.icon-nav-carrier {
    background-position: -5px -1026px;
    width: 28px;
    height: 28px;
}

.icon-nav-carrier:hover,
li:hover .icon-nav-carrier,
li.active .icon-nav-carrier {
    background-position: -5px -993px;
    width: 28px;
    height: 28px;
}

.icon-nav-photo {
    background-position: -5px -1089px;
    width: 28px;
    height: 25px;
}

.icon-nav-photo:hover,
li:hover .icon-nav-photo,
li.active .icon-nav-photo {
    background-position: -5px -1059px;
    width: 28px;
    height: 25px;
}

.icon-nav-presse {
    background-position: -5px -1146px;
    width: 28px;
    height: 22px;
}

.icon-nav-presse:hover,
li:hover .icon-nav-presse,
li.active .icon-nav-presse {
    background-position: -5px -1119px;
    width: 28px;
    height: 22px;
}

.icon-nav-retour {
    background-position: -5px -1173px;
    width: 28px;
    height: 32px;
}

.icon-nav-video {
    background-position: -5px -1210px;
    width: 28px;
    height: 24px;
}

.icon-nav-reception {
    background-position: -5px -1273px;
    width: 27px;
    height: 29px;
}

.icon-nav-reception:hover,
li:hover .icon-nav-reception,
li.active .icon-nav-reception {
    background-position: -5px -1239px;
    width: 27px;
    height: 29px;
}

.icon-nav-tchat-hitorique {
    background-position: -5px -1307px;
    width: 27px;
    height: 24px;
}

.icon-nouveau-message {
    background-position: -5px -1377px;
    width: 27px;
    height: 37px;
    margin: 2px 0 !important;
}

.icon-nouveau-message:hover,
li:hover .icon-nouveau-message,
li.active .icon-nouveau-message {
    background-position: -5px -1336px;
    width: 27px;
    height: 36px;
}

.icon-nav-media {
    background-position: -5px -1454px;
    width: 25px;
    height: 30px;
}

.icon-nav-media:hover,
li:hover .icon-nav-media,
li.active .icon-nav-media {
    background-position: -5px -1579px;
    width: 22px;
    height: 30px;
}

.icon-mon-profil {
    background-position: -5px -1486px;
    width: 23px;
    height: 23px;
}

.icon-mon-compte {
    background-position: -5px -1514px;
    width: 22px;
    height: 27px;
}

.icon-nav-conseils {
    background-position: -5px -1546px;
    width: 22px;
    height: 31px;
}

.icon-nav-conseils:hover,
li:hover .icon-nav-conseils,
li.active .icon-nav-conseils {
    background-position: -5px -1419px;
    width: 24px;
    height: 33px;
}

.icon-nav-cv {
    background-position: -5px -1640px;
    width: 19px;
    height: 26px;
}

.icon-nav-cv:hover,
li:hover .icon-nav-cv,
li.active .icon-nav-cv {
    background-position: -5px -1609px;
    width: 19px;
    height: 26px;
}