.lien1{
    top: 298px;
    left: 466px;
}
.lien1 a{
    height: 64px;
    width: 96px;
}
.lien2{
    top: 251px;
    left: 590px;
}
.lien2 a{
  height: 60px;
  width: 95px;
}
.lien3{
    top: 210px;
    left: 714px;
}
.lien3 a{
  height: 60px;
  width: 89px;
}
.lien4{
    top: 252px;
    left: 323px;
}
.lien4 a{
    height: 42px;
    width: 57px;
}
.lien5{
    top: 200px;
    left: 506px;
}
.lien5 a{
    height: 37px;
    width: 53px;
}
.lien6{
    top: 157px;
    left: 655px;
}
.lien6 a{
    height: 36px;
    width: 47px;
}
.lien7{
    top: 216px;
    left: 273px;
}
.lien7 a{
    height: 36px;
    width: 50px;
}
.lien8{
    top: 169px;
    left: 451px;
}
.lien8 a{
    height: 36px;
    width: 50px;
}
.lien9{
    top: 132px;
    left: 597px;
}
.lien9 a{
    height: 31px;
    width: 43px;
}
.lien10{
    top: 171px;
    left: 217px;
}
.lien10 a{
    height: 27px;
    width: 38px;
}
.lien11{
    top: 146px;
    left: 326px;
}
.lien11 a{
    height: 26px;
    width: 37px;
}
.lien12{
    top: 121px;
    left: 431px;
}
.lien12 a{
    height: 26px;
    width: 38px;
}
.lien13{
    top: 101px;
    left: 514px;
}
.lien13 a{
    height: 26px;
    width: 36px;
}
.lien14{
    top: 129px;
    left: 160px;
}
.lien14 a{
    height: 24px;
    width: 38px;
}
.lien15{
    top: 109px;
    left: 265px;
}
.lien15 a{
    height: 24px;
    width: 34px;
}
.lien16{
    top: 87px;
    left: 362px;
}
.lien16 a{
    height: 24px;
    width: 36px;
}
.lien17{
    top: 70px;
    left: 443px;
}
.lien17 a{
    height: 25px;
    width: 33px;
}
.lien18{    
    top: 154px;
    left: 73px;
}
.lien18 a{    
    height: 30px;
    width: 40px;
}
.lien19{    
    top: 154px;
    left: 144px;
}
.lien19 a{
    height: 30px;
    width: 40px;
}
.lien20{
    top: 153px;
    left: 212px;
}
.lien20 a{
    height: 30px;
    width: 40px;
}
.lien21{
    top: 151px;
    left: 290px;
}
.lien21 a{
    height: 30px;
    width: 40px;
}
.lien22{
    top: 147px;
    left: 358px;
}
.lien22 a{
    height: 30px;
    width: 40px;
}
.lien23{
    top: 144px;
    left: 425px;
}
.lien23 a{
    height: 30px;
    width: 40px;
}
.lien24{
    top: 142px;
    left: 493px;
}
.lien24 a{
    height: 30px;
    width: 40px;
}
.lien25{
    top: 104px;
    left: 89px;
}
.lien25 a{    
    height: 30px;
    width: 35px;
}
.lien26{
    top: 104px;
    left: 158px;
}
.lien26 a{
    height: 30px;
    width: 35px;
}
.lien27{
    top: 102px;
    left: 220px;
}
.lien27 a{
    height: 30px;
    width: 35px;
}
.lien28{
    top: 99px;
    left: 284px;
}
.lien28 a{
    height: 30px;
    width: 35px;
}
.lien29{
    top: 97px;
    left: 350px;
}
.lien29 a{
    height: 30px;
    width: 35px;
}
.lien30{
    top: 93px;
    left: 415px;
}
.lien30 a{
    height: 30px;
    width: 35px;
}

.lien31{
    top: 212px;
    left: 761px;
}
.lien31 a{
  height: 33px;
  width: 52px;
}
.lien32{
    top: 195px;
    left: 836px;
}
.lien32 a{
    height: 33px;
    width: 52px;
}
.lien33{
    top: 180px;
    left: 896px;
}
.lien33 a{
    height: 33px;
    width: 52px;
}
.lien34{
    top: 168px;
    left: 694px;
}
.lien34 a{
    height: 28px;
    width: 48px;
}
.lien35{
    top: 156px;
    left: 766px;
}
.lien35 a{
    height: 28px;
    width: 48px;
}
.lien36{
    top: 141px;
    left: 838px;
}
.lien36 a{
    height: 28px;
    width: 48px;
}
.lien37{
    top: 134px;
    left: 631px;
}
.lien37 a{
    height: 24px;
    width: 41px;
}
.lien38{    
    top: 120px;
    left: 705px;
}
.lien38 a{    
    height: 24px;
    width: 41px;
}
.lien39{    
    top: 107px;
    left: 767px;
}
.lien39 a{
    height: 24px;
    width: 41px;
}
.lien40{
    top: 100px;
    left: 569px;
}
.lien40 a{
    height: 22px;
    width: 40px;
}
.lien41{
    top: 85px;
    left: 638px;
}
.lien41 a{
    height: 22px;
    width: 40px;
}
.lien42{
    top: 74px;
    left: 700px;
}
.lien42 a{
    height: 22px;
    width: 40px;
}
.lien43{
    top: 65px;
    left: 522px;
}
.lien43 a{
    height: 25px;
    width: 31px;
}
.lien44{
    top: 56px;
    left: 583px;
}
.lien44 a{
    height: 24px;
    width: 34px;
}
.lien45{
    top: 47px;
    left: 643px;
}
.lien45 a{    
    height: 21px;
    width: 33px;
}
.lien46{
    top: 41px;
    left: 476px;
}
.lien46 a{
    height: 22px;
    width: 32px;
}
.lien47{
    top: 33px;
    left: 539px;
}
.lien47 a{
    height: 20px;
    width: 31px;
}
.lien48{
    top: 24px;
    left: 595px;
}
.lien48 a{
    height: 23px;
    width: 29px;
}
.lien49{
    top: 18px;
    left: 437px;
}
.lien49 a{
    height: 21px;
    width: 30px;
}
.lien50{
    top: 11px;
    left: 495px;
}
.lien50 a{
    height: 22px;
    width: 27px;
}