#messages_ui{
	background-color: #ffffff;
}

.avatarMessage{
	width:34px; padding-left:5px;padding-right:5px;
}
.avatarMessage img{
	width:25px; height:25px; float:top;
}

#content_tabs table{
	width: 96%; line-height: 15px; margin-top:5px;margin-left:8px;
}

.extrDate{
	width:40px;
}

.extrDate div{
	font-family:"Verdana", Helvetica, Arial, sans-serif; font-size:12px; color:black; font-weight: bold; width:40px;
}

.senderTab .span{
	font-family:"Verdana", Helvetica, Arial, sans-serif;font-size:11px; color:black;
}

.senderTab .senderFullName{
	font-weight: bold;
}
