#modal-product .modal-body {
    height: 87%;
}

#modal-product .scroll-pane {
    height: 100%;
}

.info-stand-product {
    padding: 10px 0px 0px 5px !important;
}

.info-stand-product .info-p {
    display: table-row;
    vertical-align: middle;
    position: relative;
    width: 100%;
    float: left;
    border-bottom: 1px solid #ccc;
}

.info-stand-product .info-p .cel-info {
    border-right: none;
    padding: 0 20px 20px;
    width: 98%;
}

.info-stand-product .info-p .cel-info, .info-stand-product .info-p .cel-btn {
    display: table-cell;
    float: none !important;
    vertical-align: middle;
}

.info-stand-product .info-p .cel-info, .info-stand-product .info-p .cel-btn {
    display: table-cell;
    float: none !important;
    vertical-align: middle;
}

.info-stand-product .cel-btn {
    padding: 0 15px;
}


.info-stand-product .logo {
    margin: 5px 0 10px;
}

.info-stand-product .logo img {
    float: left;
    height: 64px !important;
} 

.modal-body .info-stand-product h3 {
    color: #707070;
    font-family: 'robotobold';
    margin: 0;
}

.info-stand-product ul {
    margin: 17px 0 0;
    width: 420px;
}

.info-stand-product li {
    color: #707070;
    font-size: 14px;
}

.info-stand-product .cel-btn .btn {
    margin-top: 14px;
    width: 185px !important;
    line-height: 17px;
}

#modal-send-request-product .btn i{
    margin-right: 0px;
    line-height: 20px;
    right: 16px;
}

#modal-product .empty {
    text-align: center;
    margin-top: 20px;
}

#modal-product-apercu ul {
    margin: 10px 0 0 !important;   
    width: 100% !important;   
}

#modal-send-request-product .btn.file {
    background-color: #ce242f;
    float: left;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    margin: 0 16px 0 0;
    width: 40%;
    height: 35px;
    line-height: 24px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

#modal-send-request-product .form button.btn {
    height: 38px !important;   
    line-height: 22px;
    margin-top: 10px;
}

#modal-send-request-product {
    z-index: 1000 !important;   
}
/* Structure page info stand offres de l'emploi
================================================== */
.info-stand-product{
    padding: 0px 0px 0px 0px !important;
}
.info-stand-product .logo{
    margin: 5px 10px 10px 0px;
}
.info-stand-product .logo img{
    float: left;
}
.modal-body .info-stand-product h3{
    color: #707070;
    font-family: 'robotobold';
    margin: 0;
}
.info-stand-product ul{
    margin: 17px 0 0;
    width: 190px;
}
.info-stand-product li{
    color: #707070;
    font-size: 14px;
}
.info-stand-product li span.label{
    color: #707070;
    font-size: 14px;
    width: 252px;
    padding: 0;
    font-weight: normal;
    float: left;
    text-align: left;
    line-height: inherit;
}

.info-stand-product .info-p {
    display: table-row;
    vertical-align: middle;
    position: relative;
    width: 100%;
    float: left;
    border-bottom: 1px solid #ccc;

}
.info-stand-product .info-p .cel-info, .info-stand-product .info-p .cel-btn{
    display: table-cell;
    float: left !important;
    vertical-align: middle;
    width: 100%;
}
.info-stand-product .info-p .cel-info{
    border-right: 1px solid #cdcece;
    padding: 10px 0px 20px;
}
.info-stand-product .cel-btn{
    padding: 0 8px 0px 0px;
}
.info-stand-product .cel-btn .btn {
    margin-top: 14px;
    width: 30% !important;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

#info-produit-apercu .cel-btn .btn{
    width: 47% !important;
}

/*.info-stand-product.scroll-pane, .info-stand-product .jspPane, .info-stand-product .jspContainer{
    width: auto !important;
    min-width: 596px;
}*/
/* Structure page info stand offres deposer document
============================================================ */
