/* Structure page Mon CV
================================================== */
.monProfil #page-content {
	padding: 0;
}

.mon-profil {
	background: #FFFFFF;
	width: 100%;
	margin-top: 100px;
	float: left;
	height: 397px;
	padding: 10px 10px 10px 20px;
}

.mon-profil h2 {
	font-family: 'Robotobold';
	font-size: 14px;
	color: #7d7d7d;
	margin: 10px 0;
}

.mon-profil p {
	font-family: 'Roboto';
	font-size: 12px;
	color: #7d7d7d;
	margin: 5px 0 25px;
}

.mon-profil form .row {
	float: left;
	width: 98%;
	position: relative;
}

.mon-profil .scroll-pane {
	height: 100%;
}

#monProfil {
	padding: 0;
}
.my_profil_digievent{
    background: #FFFFFF;
    width: 100%;
    margin-top: 10px;
    float: left;
    height: 377px;
    padding: 0px;
}

.my_profil_digievent label {
    display: inline;
    float: left;
    position: relative;
    top: inherit;
    left: inherit;
    transform: none;
    /* width: 180px; */
    line-height: 43px;
    font-size: 12px;
    color: #707070;
    font-family: 'Roboto', Arial;
    font-weight: normal;
}

.my_profil_digievent textarea {
    width: 60%;
    float: right;
    padding: 12px 10px 0px 30px;
    height: 16.6px;
    min-height: 2.2rem;
}

.my_profil_digievent input {
    width: 60%;
    float: right;
    padding: 0 10px 0 30px;
}

#myCV .ul-links {
    min-width: 54px !important;
}

#myCV .menu-stand.top nav li {
    margin-right: 0px;
    margin-left: 18px;
}

.mon-profil label {
	display: inline;
	float: left;
	position: relative;
	top: inherit;
	left: inherit;
	transform: none;
	/* width: 180px; */
	line-height: 43px;
	font-size: 12px;
	color: #707070;
	font-family: 'Roboto', Arial;
	font-weight: normal;
}

.mon-profil .select-wrapper,.mon-profil input {
	width: 60%;
	float: right;
	padding: 0 10px 0 30px;
}

.mon-profil .select-wrapper span.caret {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px dashed #cccccc;
	text-indent: -9999px;
	top: 19px;
	right: 20px;
	display: block !important;
}

.mon-profil .row  span.caret {
	display: none;
}

.mon-profil .changePassword {
	width: 64%;
	float: right;
}

input[type="password"]:disabled {
	background-color: rgba(242, 243, 244, 0.6);
}

.mon-profil .changePassword label {
	width: 100%;
}

.mon-profil .select-wrapper input {
	width: 100%;
	padding: 0 10px 0 30px;
}

.mon-profil input.btn {
	margin: 20px;
	width: 130px;
	margin: 0 0;
	color: #FFFFFF;
	padding: 0;
}

.mon-profil #monProfil .langContainer .dropdown-content {
	top: inherit !important;
	bottom: 0;
}

.mon-profil #monProfil .sectorContainer .dropdown-content {
	height: 250px;
}

.mon-profil #monProfil .dropdown-content {
	max-height: 200px !important;
}

#profileAccount .radio-custom {
	position: relative;
	margin-top: 1rem;
}

#profileAccount .radio-custom label {
	line-height: 48px;
}

#profileAccount .radio-custom {
	position: relative;
	margin-top: 1rem;
}

#profileAccount .radio-custom label {
	width: auto;
	margin: 0 17px 0 0;
	line-height: 49px;
}

#profileAccount .radio-custom p label {
	width: auto !important;
}

#profileAccount .radio-custom p label.error#genre-error {
	bottom: -12px !important;
}

#profileAccount .radio-custom {
	position: relative;
	margin-top: 1rem;
}

#profileAccount .radio-custom label {
	width: auto;
	margin: 0 17px 0 0;
	line-height: 49px;
}

#profileAccount .radio-custom p label {
	width: auto !important;
}

#profileAccount .radio-custom p label.error#genre-error {
	bottom: -12px !important;
}

.radio-custom p {
	float: left;
	margin-bottom: 0;
	margin-top: 14px;
}

.radio-custom p label {
	line-height: 23px !important
}

@media only screen and (max-width: 1024px) {
}

#myAccountForm label.error {
	right: 0;
	left: inherit !important;
}

.mon-profil .ui-multiselect {
	width: 490px !important;
	float: right;
	padding: 0 10px 0 30px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #9e9e9e;
	border-radius: 0;
	outline: none;
	height: 3rem;
	font-size: 1rem;
	margin: 0 10px 15px 0;
	padding: 0;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	transition: all .3s;
	padding: 0 10px 0 30px;
	position: relative;
}

.mon-profil .ui-multiselect span.ui-icon {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px dashed #cccccc;
	right: 10px;
	top: 18px;
	position: absolute;
}

.mon-profil select.browser-default {
	width: 543px;
	float: right;
    border: 1px solid #B9B3B3;
}
.mon-profil .ui-multiselect.browser-default-multi-select{
	width: 541px !important;
    float: right;
    background-color: transparent;
    border: 1px solid #B9B3B3;
    margin: 0px;
    border-radius: 2px;
    padding: 0px;
}
.mon-profil .ui-multiselect.browser-default-multi-select span.ui-icon {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 6px dashed #000;
    right: 6px;
    top: 15px;
    padding: 0px;
}
.mon-profil .ui-multiselect.browser-default-multi-select span{
    padding-left: 8px;
}
#monProfil label.error{
    right: 0;
    left: inherit !important;
    top: 40px;
}
#monProfil .row{
    height: 60px;
}
}
#monProfil #envoyerAccount{
	margin-top: 13px;
}
#monProfil #place{
    width: 492px;
    float: right;
    padding: 0 10px 0 30px;
    margin: 0 8px 15px 0;
}
#monProfil select.browser-default{
    width: 536px;
    margin: 0px 4px 0 0px;
}
