<div id="contentAlert">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h6 class="publicationsMessageLabel"></h6>
                <div id="forumPublicationDiv" class="mt30 ">
                    <h3><span class="forumPublicationsLabel" style="float: left;"></span>
                        <div class="addDiv" id="addForumPublicationDiv">
                        <a id="addForumPublicationLink" class="blueLink addLabel btn btn-success pull-right"><span
                            class="addLabel">Ajouter</span> (<span class="numbers"><span
                                id="numberForumPublications"></span>/<span id="numberPermittedForumPublications"></span></span>)</a>
                        </div>
                    </h3>
                    <div class="separator"></div>
                    <div id="forumPublicationContent"></div>

                </div>
                <div id="standPublicationDiv">
                    <h3><span class="standPublicationsLabel" style="float: left;"></span>
                    <div class="addDiv" id="addStandPublicationDiv">
                        <a id="addStandPublicationLink" class="blueLink addLabel btn btn-success pull-right"><span
                            class="addLabel">Ajouter</span> (<span class="numbers"><span
                                id="numberStandPublications"></span>/<span id="numberPermittedStandPublications"></span></span>)</a>
                    </div></h3>
                    <div class="separator"></div>
                    <div id="standPublicationContent"></div>
                </div>
            </div>
        </div>

    </div> <!-- .container-fluid -->
</div> <!-- .container-fluid -->

<!-- Add Publication Modal -->
<div id="addPub" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span> <span class="sr-only">close</span></button>
                <h4 id="modalTitle" class="modal-title newPublicationLabel"></h4>
            </div>
            <div id="modalBody" class="modal-body">
                <form id="publicationForm" action="" class="form-horizontal">
                    <div id="idPublication"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="subjectLabel"></span> <em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <input type="text" class="subjectPublication required form-control" name="subjectPublication" data-parsley-minlength="6" id="subjectPublication" maxlength="40">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="descriptionLabel"></span> <em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <textarea name="contentPublication" class="form-control required contentPublication" id="contentPublication" maxlength="200"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger candelLabel" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary saveLabel" id="savePub">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Remove Publication -->
<div class="modal fade" id="removePublication" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="idDeletePub"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="confirmDeleteLabel"></span></h4>
            </div>
            <div class="modal-body">
                <p><span class="confirmDeletePublicationLabel"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
                <button type="button" id="btnDeletePub" class="btn btn-primary deleteLabel" data-dismiss="modal">Supprimer</button>
            </div>
        </div>

    </div>
</div>

<!-- Load page level scripts-->
<script type="text/javascript">
    $(document).ready(function () {
        traduct()
        if (alertController == null) {
            alertController = new $.AlertController(new $.AlertModel(), new $.AlertView());
        }
        alertController.initController();
    });
</script>
