<div id="condidatures">
    <div class="tab-container tab-default show">
        <ul class="nav nav-tabs">
            <li class="lione active"><a href="#candidatures1" class="candidatures candidaturesLabel" data-toggle="tab">Candidatures</a></li>
            <li class="litwo"><a href="#unsolicitedCandidatures" class="unsolicitedCandidatures unsolicitedCandidaturesLabel" data-toggle="tab">Candidatures spontanées</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="candidatures1">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <h2 class="col-md-7 candidaturesTitle candidaturesLabel">Candidatures </h2>
                            </div>
                            <hr>
                            <p class="floatLeft manageCandidatures manageJobApplicationsLabel col-md-8"></p>
                            <div id="candidatureSearchDiv" class="col-sm-5 mt10">
                                <form action="" class="form-horizontal row-border">
                                    <label class="col-sm-5 control-label"><span class="filterByJobLabel"></span> :</label>
                                    <div id="jobOfferDiv" class="col-sm-7">
                                        <select class="form-control jobOfferSelect" id="jobOfferSelect"></select>
                                    </div>
                                </form>
                            </div>

                            <div class="panel-body no-padding tableG">
                                <div class="panel panel-default" id="panel-tabletools" data-widget='{"draggable":"false"}'>
                                    <div class="panel-heading">
                                        <div class="panel-ctrls" data-actions-container="">
                                        </div>
                                    </div>
                                    <div class="panel-editbox" data-widget-controls=""></div>
                                    <div class="panel-body panel-no-padding">
                                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables" id="listCandidaturesTable">
                                        </table>
                                        <div class="panel-footer"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="unsolicitedCandidatures">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <h2 class="col-md-7 candidaturesTitle unsolicitedCandidaturesLabel">Candidatures spontanées </h2>
                            </div>
                            <hr>
                            <p class="floatLeft manageCandidatures manageJobApplicationsLabel col-md-8">Gérez les dossiers de candidatures déposés sur votre stand.</p>
                            <div class="panel-body no-padding tableG">
                                <div class="panel panel-default" id="panel-tabletools" data-widget='{"draggable":"false"}'>
                                    <div class="panel-heading">
                                        <div class="panel-ctrls" data-actions-container="">
                                        </div>
                                    </div>
                                    <div class="panel-editbox" data-widget-controls=""></div>
                                    <div class="panel-body panel-no-padding">
                                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables" id="listUnsolicitedCandidaturesTable">
                                        </table>
                                        <div class="panel-footer"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  Modal Motivation Letter -->
    <div class="modal fade popupMotivationLetter">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>×</span> <span class="sr-only">close</span></button>
                    <h4 class="modal-title motivationLetterLabel">Lettre de motivation</h4>
                </div>
                <div class="modal-body">
                    <div class="eds-dialog-content">
                        <div id="letterContentCandidature"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    <button type="button" id="letterReply" class="btn btn-success replyLabel">Répondre</button>
                </div>
            </div>
        </div>
    </div>
    <!--  Modal Message Candidature -->
    <div class="modal fade popupMessageCandidature">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>×</span> <span class="sr-only">close</span></button>
                    <h4 class="modal-title newMessageLabel">Nouveau message</h4>
                </div>
                <div class="modal-body">
                    <div class="eds-dialog-content">
                        <form id="messageFormCandidature" action="" class="form-horizontal">
                            <div id="idJobApplication"></div>
                            <div id="typeJobApplication"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label receiverLabel">Destinataire <em>*</em> :</label>
                                <div class="col-sm-8 no-padding">
                                    <input type="text" class="form-control" name="messageReceiverCandidature" id="messageReceiverCandidature" disabled="disabled" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label messageLabel">Message <em>*</em> :</label>
                                <div class="col-sm-8 no-padding">
                                    <textarea name="messageContentCandidature" class="form-control" id="messageContentCandidature" maxlength="200"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    <button type="button" id="sendMessageCandidature" class="deleteDocumentButton btn btn-success sendLabel">Envoyer</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Load page level scripts-->
    <script type="text/javascript">
        $(document).ready(function () {
            traduct();
            if (candidatureController == null) {
                candidatureController = new $.CandidatureController(new $.CandidatureModel(), new $.CandidatureView());
            }
            candidatureController.initController();
        });
    </script>
    <!--<script type="text/javascript" src="plugins/datatables/tables-advanceddatatables.js"></script>-->
