<link href="chat/css/chat.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/flash_detect.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		traduct();
		if (tchatfeeController == null) {
            tchatfeeController = new $.TchatfeeController(new $.TchatfeeModel(), new $.TchatfeeView());
        }
        tchatfeeController.initController();
	});
</script>
<div class="alert alert-dismissable alert-success" style="display: none;" id="dataSent">
	<i class="fa fa-fw fa-check"></i>&nbsp; <strong class="congratLabel">Felicitation !</strong> <span class="congratBodyLabel"></span>
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
</div>
<div id="chatPage" class="tab-container tab-default show">
	<ul class="nav nav-tabs" id="chatSettings">
		<li id="chatLi">
			<a class="chat grayLink verdana chatLabel" href="#"></a>
		</li>
		<li id="settingsLi">
			<a class="settings grayLink verdana settingsLabel" href="#"></a>
		</li>
		<li id="historicChatLi">
			<a class="historicChat grayLink verdana historicChatLabel" href="#"></a>
		</li>
	</ul>
	<div class="tab-content" style=" overflow: hidden; ">
		<div class="tab-pane chatTabs" id="chatTab">
			<div style="margin-bottom: 10px;">
				<h2 class="chatLabel">Chat</h2>
				<hr style="background: gray; border: 0; height: 1px; margin-bottom: 20px;">
<!--                 	<span id='connectToChatButton' class="blueLinkUnderline connectToChatLabel"></span> -->
            	
            	<a class="btn btn-huge btn-primary" id='connectToChatButton'>
		            <i class="fui-chat"></i>
		            <span class="connectToChatLabel"></span>
		        </a>
		        
				<div id="chatPublicLoading"
					style="width: 100%; height: 600px; z-index: 1999; display: none;">
					<div
						style="width: 400px; height: 352px; margin: auto; margin-top: 225px;">
						<img id="chatPublicLoadingImage" alt="Loading"
							src="chat/assets/images/loading.gif"
							style="width: 400px; height: 352px; margin: auto;" />
					</div>
				</div>
				<div id='chatComponent'>
				</div>
			</div>
		</div>
		<div class="tab-pane chatTabs" id="settingsTab">
			<div>
				<h2 class="chatSettingsLabel"></h2>
				<hr>
            </div>
			<!--  <h1 style="color: black;" class="chatSeetingsLabel">Paramètres de chat</h1>
	            <hr style="background: gray; border: 0; height: 1px; margin-bottom: 20px;" />
	            -->
			<p id="chatSettingsExplicationLabel"></p>
			<form id="accountForm">
				<table class="col-xs-12">
					<tr>
						<td class="col-xs-8">
							<div class="personnalData">
								<!--<h1>Données personnelles</h1>-->
								<div>
									<table>
										<tr>
											<td><label for="text"></label>
												<img height="60" width="60" class="recruiterPicture" src=""
												alt="" /></td>
											<td style="vertical-align: middle;"><label
												class="filebutton"
												style="position: relative; top: 15px; left: 8px;">
													<span><a class="changePhotoLabel"></a> <input id="logoRecruiterUpload" type="file"
														name="files[]" multiple>
												</span>
											</label>
												<div id="progressLogoRecruiterUpload"
													class="progress progress-div-costum"
													style="width: 200px; height: 18px;">
													<span class="loadingText"><span
														class="loadingLabel"></span> 0%</span>
													<div class="progress-bar progress-bar-uploadfile"></div>
												</div></td>
										</tr>
									</table>
								</div>
								<div id="loadLogoRecruiterError"><label style="color: red;" class="photoSizeHintLabel"></label></div>
								<div>
									<label><span
										class="firstNameLabel"></span> <em class="asterix">*</em>
									</label> <input name="recruiterFirstName" maxlength="150"
										class="required form-control" id="recruiterFirstName" type="text">
								</div>
								<div>
									<label><span
										class="lastNameLabel"></span> <em class="asterix">*</em> </label>
									<input name="recruiterLastName" maxlength="150"
										class="required form-control" id="recruiterLastName" type="text">
								</div>
								<div>
									<label><span
										class="functionLabel"></span> <em class="asterix">*</em> </label>
									<input name="recruiterJobTitle" maxlength="200"
										class="required form-control" id="recruiterJobTitle" type="text">
								</div>
							</div>
						</td>
					</tr>
				</table>
			</form>
			<div align="right">
				<a class="btn btn-success mrs saveChatSettingsButton saveChangesLabel"></a>
			</div>
		</div>
		<div class="tab-pane chatTabs" id="historicChatTab">
			<div>
				<h2 class="historicChatLabel"></h2>
				<hr>
            </div>
			<div id="historicChatHere">
				<div id="wrap">
					<div class="historic-chat-content">
						<table class="col-xs-12">
							<tr>
								<td class="col-xs-3">
									<div>
										<label class="chatTypeLabel" for="type_chat chat_friend"></label> 
										<select class="combobox form-control"
											id="typeHistoryChat">
											<option class="allLabel" value="all"></option>
											<option class="publicChatLabel" value="public"></option>
											<option class="privateChatLabel" value="private"></option>
										</select>
									</div>
								</td>
								<!-- <td style="width: 20%;">
									<div>
										<label class="languageLabel"></label> <select class="combobox input-large" style=" height: 32px; "
											id="languageHistoryChat">
										</select>
									</div>
								</td>-->
								<td class="col-xs-3"><label><span class="beginDateLabel"></span></label> <input type='text' id='dateBeginHistoryChat' class='form-control'/></td>
								<td class="col-xs-3"><label><span class="endDateLabel"></span></label> <input type='text' id='dateEndHistoryChat' class='form-control' /></td>
								<td class="col-xs-3 pt30">
									<button id="historySendButton" class="btn btn-mini btn-info sendLabel"></button>
								</td>
							</tr>
							<tr>
								<td colspan="3">
									<table class="col-xs-12" id="historyListTable">
									</table>
								</td>
							</tr>
						</table>
						<br />
						<!--<div id="loading"><img src="timepicker_lib/images/ajax-loader.gif" alt="loading" /> Loading Data..</div>-->
					</div>
					<!--
                <div class="clear">
                    <div class="slideDownbox" id="history"></div>
                </div>
                -->
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade fillSettingsPopup" role="dialog">
	    <div class="modal-dialog">
	        <!-- Modal content-->
	        <div class="modal-content">
	            <div id="idDeletePhoto"></div>
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal">&times;</button>
	                <h4 class="modal-title"><span class="warningLabel"></span> !!</h4>
	            </div>
	            <div class="modal-body">
	                <p class="fillSettingsDescriptionLabel"></p>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
	            </div>
	        </div>

	    </div>
	</div>
</div>