<div id="profileEntreprise">
    <div class="row">
        <div class="col-md-12">
            <h2 class="contactsLabel no-margin"></h2>
            <hr/>
            <section>
                <div class="infoContact">
                    <p ><span class="contactsInfosLabel">Ces informations de contacts seront accessibles par tous les visiteurs du forum virtuel.</span> <a href="javascript:void(0)" class="addContactLink blueLinkUnderline addLabel">Ajouter</a></p>
                    <div class="contactG col-md-12">

                    </div>
                </div>
            </section>
        </div>
    </div>
</div> <!-- .container-fluid -->
<!-- Add Contact Modal -->
<div id="addContact" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span> <span class="sr-only">close</span></button>
                <h4 id="modalTitle" class="modal-title"><span class="contactLabel">Contact</span></h4>
            </div>
            <div id="modalBody" class="modal-body">
                <form id="contactForm" action="" class="form-horizontal">
                    <div id="idContact"></div>
                    <div class="fileinput fileinput-new form-group">
                        <div class="fileinput-preview thumbnail mb20 col-xs-12 col-md-12 uploadAvatar">
                            <img id="avatarNewContact" src="img/avatar/default_avatar.jpg" alt="no picture">
                        </div>
                        <div id="avatarUploadContact" class="vcenter">
                            <span class="btn btn-default btn-file filebutton">
                                <span class="fileinput-new uploadNewLogoLabel">Charger un nouveau logo</span>
                                <span class="fileinput-exists changeLabel">Change</span>
                                <input id="uploadAvatar" type="file" name="files[]">
                            </span>
                            <div class="progress progress-div-costum col-xs-8 col-md-8 no-padding" id="progressAvatarUpload">
                                <div class="loadingText"><span class="loadingLabel">Chargement</span> 0%</div>
                                <div class="progress-bar progress-bar-uploadfile"></div>
                            </div>
                            <div class="loadError"><span class="photoSizeHintLabel">La photo doit être au format .jpg, .png or .gif et ne doit pas dépasser 6 Mo.</span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label firstAndLastNameLabel">Prénom et Nom <em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <input type="text" class="form-control" name="contactName" id="contactName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label functionLabel">Fonction :</label>
                        <div class="col-sm-8 no-padding">
                            <input type="text" class="form-control" name="contactJobTitle" id="contactJobTitle" maxlength="255">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label emailLabel">Email <em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <input type="email" class="form-control" name="emailContact" id="emailContact">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label phoneLabel">Téléphone :</label>
                        <div class="col-sm-8 no-padding">
                            <input type="text" class="form-control" name="contactTel" id="contactTel" placeholder="+123 456 7899">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary saveLabel" id="saveContact">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Remove contact -->
<div class="modal fade" id="removeContact" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="idDeleteContact"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="confirmDeleteLabel"></span></h4>
            </div>
            <div class="modal-body">
                <p><span class="bodyContactDeleteLabel"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
                <button type="button" id="btnDeletecontact" class="btn btn-primary deleteLabel" data-dismiss="modal">Supprimer</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if (contactController == null) {
            contactController = new $.ContactController(new $.ContactModel(), new $.ContactView());
        }
        contactController.initController();
    });
</script>


