<div id="contentDocuments">
    <div class="">
        <div class="row">
            <h2 class="col-md-7 documentLabel no-margin">Documents </h2>
            <div id="addDocumentDiv" class="floatRight pr15">
                <a id="addDocumentLink" class="btn btn-info pull-right col-md-3 addDocument"><span
                    class="addLabel">Ajouter un document</span> (<span class="numbers"><span
                        id="numberDocuments"></span>/<span id="numberPermittedDocuments"></span></span>)</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <p class="documentDescriptionLabel1">Téléchargez vos documents ou insérez un lien vers ce document.</p>
                <p class="alert alert-info documentDescriptionLabel2">Attention : pour le téléchargement, seuls les formats .pdf sont reconnus.</p>
            </div>
        </div>
        <div class="row no-margin">
            <div class="panel-body no-padding tableG">
                <div class="panel panel-default" id="photos-tabletools" data-widget='{"draggable":"false"}'>
                    <div class="panel-heading">
                        <div class="panel-ctrls" data-actions-container="">
                        </div>
                    </div>
                    <div class="panel-editbox" data-widget-controls=""></div>
                    <div class="panel-body panel-no-padding table-responsive">
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables" id="listDocumentsTable">
                        </table>
                        <div class="panel-footer"></div>
                    </div>
                </div>
            </div>
        </div>


    </div> <!-- .container-fluid -->
</div> <!-- .container-fluid -->

<!-- Add Publication Modal -->
<div id="addDocument" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span> <span class="sr-only">close</span></button>
                <h4 class="modal-title"><span class="documentLabel">Document</span></h4>
            </div>
            <div id="modalBodyDocument" class="modal-body">
                <form id="documentForm" action="" class="form-horizontal">
                    <div id="idDocument"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="titleLabel"></span> <em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <input type="text" class="form-control" name="documentTitle" data-parsley-minlength="6" id="documentTitle" maxlength="40">
                        </div>
                    </div>
                    <div id="uploadDivContent" class="form-group">
                        <label class="col-sm-3 control-label descriptionLabel">Description :</label>
                        <div class="col-sm-8 no-padding">
                            <textarea name="documentDescription" class="form-control" id="documentDescription" maxlength="200"></textarea>
                        </div>
                    </div>
                    <div class="form-group text-center choice">
                        <input type="radio" id="urlOptionDoc" name="resourceType" checked="checked" class="choiceBox" />
                        <label for="urlOptionDoc" class="enterLinkLabel">Saisir un lien </label>
                        <input type="radio" id="uploadVideoDoc" name="resourceType" class="choiceBox"/>
                        <label for="uploadVideoDoc" class="uploadDocumentLabel choiceBox">Télécharger une vidéo</label>
                    </div>
                    <div class="form-group text-center urlDiv">
                        <label class="col-sm-3 control-label"><span class="urlLabel"></span> <em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <input type="text" class="form-control" id="documentUrl" name="documentUrl"/>
                        </div>
                        <div id="loadDocumentValidError" class="col-sm-12 loadError"><span class="documentMustPDFLabel">Le document doit être au format pdf.</span></div>
                    </div>
                    <div class="form-group text-center uploadDiv">
                        <div id="loadDocument">
                            <!--<span class="btn btn-default btn-file"><span class="fileinput-new uploadDocumentLabel">Télécharger un document</span><input id="adviceUpload" type="file" name="..."></span>-->
                            <div class="fileinput fileinput-new" data-provides="">
                                <span class="fileinput-filename"></span>
                                <span class="btn btn-default btn-file">
                                    <span class="fileinput-new uploadDocumentLabel">Télécharger une photo</span>
                                    <span class="fileinput-exists changeLabel">Change</span>
                                    <input class="form-control" id="documentUpload" type="file" name="files[]">
                                </span>

                            </div>

                            <div id="loadDocumentError" class="loadError"><span class="documentSizeHintLabel">Le document doit être au format pdf et ne doit pas dépasser 6 Mo.</span></div>
                        </div>
                        <div id="progressDocument" class="progress progress-div-costum">
                            <span class="loadingText"><span class="loadingLabel"></span> 0%</span>
                            <div class="progress-bar progress-bar-uploadfile"></div>
                        </div>

                        <div id="documentLoaded" style="display: none;">
                            <span class="documentUploadeLabel"></span>
                        </div>
                        <a class="fileInfo" href="#" target="_blanck"></a>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary saveLabel" id="saveDocument">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal delete -->
<div class="modal fade" id="removeDocument" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="idDeleteDocument"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="confirmDeleteLabel"></span></h4>
            </div>
            <div class="modal-body">
                <p><span class="bodyDocumentDeleteLabel"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
                <button type="button" id="btnDeleteDocument" class="btn btn-primary deleteLabel" data-dismiss="modal">Supprimer</button>
            </div>
        </div>

    </div>
</div>
<!-- Modal view Advice -->
<div class="modal fade" id="viewDocument" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="idviewDocument"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="titleDocument" class="modal-title"></h4>
            </div>
            <div class="modal-body viewContent">
                <div id="contentViewDocument" class="contentView"></div>
            </div>
        </div>

    </div>
</div>


<!-- Load page level scripts-->
<script type="text/javascript">
    $(document).ready(function () {
        if (documentsController == null) {
            documentsController = new $.DocumentsController(new $.DocumentsModel(), new $.DocumentsView());
        }
        documentsController.initController();
    });
</script>
<!--<script type="text/javascript" src="plugins/datatables/tables-advanceddatatables.js"></script>-->
