<div class="alert alert-dismissable alert-success" style="display: none;" id="langUpdated">
	<i class="fa fa-fw fa-check"></i>&nbsp; <strong class="congratLabel"></strong> <span class="updateSuccessLabel"></span>
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
</div>
<div class="alert alert-dismissable alert-danger" style="display: none;" id="langError">
	<i class="fa fa-fw fa-times"></i>&nbsp; <strong class="errorLabel"></strong><span class="dontHaveRightTODoThisModifLabel"></span>
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
</div>
<div id="languageOptions">
	<div class="tab-pane active" id="languageOptionsContent">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h6 class="floatLeft publishJobOffers col-md-12 languagesOptionsMessageLabel">Si vous ne souhaitez pas compléter les informations de votre stand dans chaque langue de la plate-forme, sélectionnez les langues dans lesquelles vous souhaitez que vos informations soient reprises automatiquement.</h6>
					<div class="panel-body no-padding tableG">
						<div class="panel panel-default" id="panel-tabletools"
							data-widget='{"draggable":"false"}'>
							<div class="panel-editbox" data-widget-controls=""></div>
							<div class="panel-body panel-no-padding">
								<table cellpadding="0" cellspacing="0" border="0"
									class="table table-striped table-bordered datatables"
									id="languagesTable">
									<thead>
										<tr>
											<th class="languageLabel">Langue</th>
											<th class="actionsLabel">Actions</th>
											<th></th>
											<th class="subtitutionLanguageLabel">Langue de substitution</th>
										</tr>
									</thead>
									<tbody id="sustitutionsTBody"></tbody>
								</table>
							</div>
						</div>
						<a id="saveSubstitutionButton" class="btn btn-primary mrs saveChangesLabel">Sauvegarder les changements</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Load page level scripts -->
<script type="text/javascript">
	$(document).ready(
			function() {
				if (languagesController == null) {
					languagesController = new $.LanguagesController(new $.LanguagesModel(),
							new $.LanguagesView());
				}
				languagesController.initController();
			});
</script>

