<script type="text/javascript" src="js/notifications/view_notification.js"></script>
<script type="text/javascript" src="js/notifications/model_notification.js"></script>
<script type="text/javascript" src="js/notifications/controller_notification.js"></script>

<script type="text/javascript">
	//<![CDATA[
		$(document).ready(function() {
			//console.log('Inside ready function');
			if(notificationController==null) {
				notificationController = new $.NotificationController(new $.NotificationModel(), new $.NotificationView());
				notificationController.initController();
			}else notificationController.initController();
		});
	//]]
</script>
<!-- Old Html
<li>
	<a href="#" class="fui-mail message-container" style="padding: 7px 10px 7px 5px;">
	</a>
	<div class="popover bottom custom-style fui-mail-popup">
		<div class="arrow"></div>
		<h3 id="popover-title-mail" class="popover-title inboxLabel"></h3>
		<div class="fui-mail-content custom-content">
		</div>
		<a href="#"><h3 id="fui-mail-display" class="popover-title display-all-container showAllLabel"></h3></a>
		<a href="#"><h3 id="no-mail-notifications" class="popover-title display-all-container youHaveNoNotificationsLabel"></h3></a>
	</div>
</li>
<li>
	<a href="#" class="fui-calendar-solid" style="padding: 7px 10px;">
	</a>
	<div class="popover bottom custom-style fui-clip-popup">
		<div class="arrow"></div>
		<h3 id="popover-title-clip" class="popover-title candidaturesLabel"></h3>
		<div class="fui-clip-content custom-content">
		</div>
		<a href="#"><h3 id="fui-clip-display" class="popover-title display-all-container showAllLabel"></h3></a>
		<a href="#"><h3 id="no-calendar-notifications" class="popover-title display-all-container youHaveNoNotificationsLabel"></h3></a>
	</div>
</li> -->
<!-- New Html -->
<li class="toolbar-icon-bg hidden-xs" id="trigger-fullscreen">
    <a href="#" class="toggle-fullscreen"><span class="icon-bg"><i class="fa fa-fw fa-arrows-alt"></i></span></i></a>
</li>
<li class="dropdown selectLang" id="widget-classicmenu">
    <a href="#" class="dropdown-toggle selectLangLabel" data-toggle="dropdown" aria-expanded="false" id="langDrop"><span class="langChoiceDiv"></span><span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#" class="selectLangOption" val="3"><span class="frenchLabel"></span></a></li>
        <li><a href="#" class="selectLangOption" val="2"><span class="englishLabel"></span></a></li>
        <li><a href="#" class="selectLangOption" val="1"><span class="arabicLabel"></span></a></li>
        <li><a href="#" class="selectLangOption" val="6"><span class="spanishLabel"></span></a></li>
        <li><a href="#" class="selectLangOption" val="4"><span class="russianLabel"></span></a></li>
        <li><a href="#" class="selectLangOption" val="5"><span class="germenLabel"></span></a></li>
    </ul>
</li>
<li class="dropdown toolbar-icon-bg">
    <a href="#" class="hasnotifications dropdown-toggle  message-container" data-toggle='dropdown'>
        <span class="icon-bg">
            <i class="fa fa-fw fa-bell"></i>
        </span>
    </a>
    <div class="dropdown-menu dropdown-alternate messages arrow">
        <div class="dd-header">
            <span class="messagesLabel">MESSAGES</span>
            <span></span>
        </div>

        <div class="scrollthis scroll-pane">
            <ul class="scroll-content fui-mail-content">
                <li>
                    <a href="#" class="no-notification-style">
                        <span class="name noMessageLabel">Vous n'avez aucune notification !</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="dd-footer"><a href="#" class="see-all-messages seeAllMessagesLabel">Voir tous les messages</a></div>
    </div>
</li>

<li class="dropdown toolbar-icon-bg">
    <a href="#" class="hasnotifications dropdown-toggle fui-calendar-solid" data-toggle='dropdown'>
        <span class="icon-bg">
            <i class="fa fa-fw fa-envelope"></i>
        </span>
    </a>
    <div class="dropdown-menu dropdown-alternate messages arrow">
        <div class="dd-header">
            <span class="candidatureLabel">CANDIDATURES</span>
            <span></span>
        </div>

        <div class="scrollthis scroll-pane">
            <ul class="scroll-content fui-clip-content">
                <li>
                    <a href="#" class="no-candidature-style">
                        <span class="name noNotificationLabel">Vous n'avez aucune notification !</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="dd-footer"><a href="#" class="see-all-candidatures seeAllCandidatureLabel">Voir toutes les candidatures</a></div>
    </div>
</li>

<li class="dropdown toolbar-icon-bg">
    <a href="#" class="dropdown-toggle" data-toggle='dropdown'><span class="icon-bg"><i class="fa fa-fw fa-user"></i></span></a>
    <ul class="dropdown-menu userinfo arrow">
        <!--<li><a href="#"><span class="pull-left">Profile</span> <span class="badge badge-info">80%</span></a></li>
        <li><a href="#"><span class="pull-left">Account</span> <i class="pull-right fa fa-user"></i></a></li>
        <li><a href="#"><span class="pull-left">Settings</span> <i class="pull-right fa fa-cog"></i></a></li>
        <li class="divider"></li>
        <li><a href="#"><span class="pull-left">Earnings</span> <i class="pull-right fa fa-line-chart"></i></a></li>
        <li><a href="#"><span class="pull-left">Statement</span> <i class="pull-right fa fa-list-alt"></i></a></li>
        <li><a href="#"><span class="pull-left">Withdrawals</span> <i class="pull-right fa fa-dollar"></i></a></li>
        <li class="divider"></li>-->
        <li><a href="#" id="logoutProfil"><span class="pull-left disconnectLabel"></span> <i class="pull-right fa fa-sign-out"></i></a></li>
    </ul>
</li>

<div id="popupDisconnect" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span> <span class="sr-only">close</span>
                </button>
                <h4 class="modal-title"><span class="pull-left disconnectLabel"></span> ?</h4>
            </div>
            <div id="modalBodyJobOffer" class="modal-body">
                <h5 style="font-size: 14px;" align="center"><span class="disconnectBodyLabel"></span></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger noLabel" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary yesLabel" id="logout">Oui</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="popupLanguageChange" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="idDeleteTestimony"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="languageChangeTitleLabel"></span></h4>
            </div>
            <div class="modal-body">
                <div class="langVal" style="display:none;"></div>
                <p><span class="languageChangeMessageLabel"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
                <button type="button" id="confirmChangeLanguage" class="btn btn-primary okLabel" data-dismiss="modal">OK</button>
            </div>
        </div>

    </div>
</div>