<div id="prerequisG">
    <div id="prerequis-content">
        <p class="intro">In order to successfully access the virtual career fair and in order to be able to make full use of all functions, the following requirements need to be in place (the majority of company computers operate on the basis of these requirements): </p>
        <h3>Required programmes</h3>
        <ul>
            <li class="nav-separator">Operation Systems: </li>
            <li>Internet Explorer 9 (and more recent versions) </li>
            <li>Firefox 3.5 (and more recent versions) </li>
            <li>Safari 3 (and more recent versions) </li>
            <li>Chrome 4 (and more recent versions) </li>
            <li class="nav-separator">Version Adobe Flash Player: </li>
            <li>Flash Player Version 10 (an update is recommended)</li>
        </ul>
        <hr class="mt0">
        <h3>Required systems</h3>
        <ul>
            <li class="nav-separator">Minimum :</li>
            <li>1 gigahertz (GHz) 32-bit (x86) or 64-bit (x64) processor and 1 gigabyte (GB) virtual memory</li>
            <li>Resolution 1024 x 768</li>
            <li class="nav-separator">Recommended : </li>
            <li>2 gigahertz (GHz) 32-bit (x86) or 64-bit (x64) processor and 2 gigabyte (GB) virtual memory</li>
            <li>Resolution 1280 x 1024</li>
        </ul>
        <hr class="mt0">
        <h3>Band Width</h3>
        <ul>
            <li>AIn order to properly use all audio and multimedia functions, we suggest that you use a high-speed internet connection, such as ADSL or others. </li>
            <li class="nav-separator">Minimum Band Width : </li>
            <li>1 MB </li>
            <li class="nav-separator">Recommended :</li>
            <li>4MB </li>
        </ul>
        <p>Although not recommended, the virtual career fair supports a slow internet connection (56k). You may however experience long download times, intermittent pauses while streaming multi-media, failed connections to the server etc. </p>
        <hr class="mt0">
        <h3>Characteristics Network - Firewalls - Security</h3>
        <ul>
            <li class="nav-separator">User/Back-end : </li>
        </ul>
        <p>In order to access the chat and web cast functions without problems, you need to make sure that the following configurations are in place:<br>Accept the connections exiting the ports 8080 for TCP (web services), port 1935 for TCP and UDP (FMS), 80 for TCP (web),<br>443 for TCP (HTTPS), 25 for TCP (XMPP), and 8134 for TCP and UDP (HLS/HDS).</p>
        <p>
            We have noticed that the chat text can experience problems if you have a transparent network proxy server that is combined with a NAT proxy server. In this case, all connections will de facto be redirected but without establishing an external connection. Make sure that your network administrator has not set up a very restrictive connection policy that may affect your chat tool. Firewalls or antivirus software can also act as a connection filter and influence the connection. They control the information flow with the network by blocking the connection and creating chat problems. Please note that a sudden network failure (micro-cuts), caused by various external reasons, can also affect the chat connection.
        </p>
    </div>
</div>