<div id="prerequisG">
    <div id="prerequis-content">
        <p class="intro">Afin de pouvoir accéder correctement au forum virtuel et profiter de toutes les fonctionnalités, vous devez remplir les conditions suivantes (la plupart des ordinateurs en entreprise remplissent ces conditions par défaut) :</p>
        <h3>Programmes requis</h3>
        <ul>
            <li class="nav-separator">Navigateurs  :</li>
            <li>Internet Explorer 9 (et versions ultérieures) </li>
            <li>Firefox 3.5 (et versions ultérieures) </li>
            <li>Safari 3 (et versions ultérieures) </li>
            <li>Chrome 4 (et versions ultérieures) </li>
            <li class="nav-separator">Version Adobe Flash Player  :</li>
            <li>Flash Player ver. 10 (la mise à jour est recommandée)</li>
        </ul>
        <hr class="mt0">
        <h3>Système requis</h3>
        <ul>
            <li class="nav-separator">Minimum  :</li>
            <li>1 gigahertz (GHz) 32-bit (x86) ou 64-bit (x64) processeur et 1 gigabyte (GB) de mémoire virtuelle</li>
            <li>Résolution 1024 x 768</li>
            <li class="nav-separator">Suggéré :</li>
            <li>2 gigahertz (GHz) 32-bit (x86) ou 64-bit (x64) processeur et 2 gigabyte (GB) de mémoire virtuelle</li>
            <li>Résolution 1280 x 1024</li>
        </ul>
        <hr class="mt0">
        <h3>Bande passante</h3>
        <ul>
            <li>Afin d’utiliser correctement les fonctions audio et multimédia nous vous recommandons d’utiliser une connexion Haut Débit comme l’ADSL ou similaire. </li>
            <li class="nav-separator">Bande passante minimum :</li>
            <li>1 MB </li>
            <li class="nav-separator">Suggéré :</li>
            <li>4MB </li>
            <li class="nav-separator">Suggéré :</li>
            <li>2 gigahertz (GHz) 32-bit (x86) ou 64-bit (x64) processeur et 2 gigabyte (GB) de mémoire virtuelle</li>
            <li>Résolution 1280 x 1024</li>
        </ul>
        <p>Bien que cela ne soit pas recommandé, le forum virtuel supporte techniquement une connexion lente (56k). Vous pouvez néanmoins rencontrer des difficultés dans les temps de chargements et les zones multimédia. </p>
        <hr class="mt0">
        <h3>Caractéristiques Network – Firewalls – Security</h3>
        <ul>
            <li class="nav-separator">Utilisateurs / Back-end : </li>
            <li>Pour accéder à la fonctionnalité chat et au webcast correctement, il faut s’assurer que la configuration suivante soit respectée :</li>
            <li>Accepter les connexions sortantes sur les ports 8080 en TCP (webservices), 1935  en TCP et UDP</li>
            <li>(FMS), 80 en TCP (web), 443 en TCP (HTTPS), 25 en TCP (XMPP) et 8134 en TCP et UDP(HLS/HDS)</li>
        </ul>
        <hr class="mt0">
        <h3>Il y a des pré-requis qui doivent être impérativement suivis</h3>
        <p>
            Proxy web servers : vous devez vous assurer que le proxy de l’entreprise ne bloque pas votre navigation Internet pour des raisons de sécurité et de performance.

            Nous avons noté que le chat texte peut avoir des disfonctionnements si vous avez un proxy réseau transparent combiné avec un proxy NAT. En effet, les connexions sont détournées au sein du proxy sans établir une connexion extérieure.<br>
            Assurez-vous que votre Administrateur Réseau n’a pas établi une politique de connexion très restrictive qui pourrait causer des problèmes de connexion au chat.

            Les Firewall ou antivirus peuvent affecter la connexion en jouant un rôle de filtre. Ils contrôleraient le flot d’informations avec le réseau, bloquant la connexion et créant donc des problèmes avec le chat.<br>
            Notez qu’un arrêt subit de votre réseau (mini coupures) dû à des raisons externes peut aussi affecter la connexion au chat.
        </p>
    </div>
</div>
<script type="text/javascript">
    $('#loadingEds').hide();
</script>