<div id="productsContent">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h6 class="floatLeft addProductsLabel col-md-8 pl0">Ajoutez vos produits</h6>
                <div id="addProductDiv" class="floatRight">
                    <a id="addProductLink"  class="btn btn-info pull-right col-md-3"><span
                        class="addLabel"></span> (<span class="numbers"><span
                            id="numberProducts"></span>/<span 
                            id="numberPermittedProducts"></span></span>)</a>
                </div>
                <div class="panel-body no-padding tableG">
                    <div class="panel panel-default" id="panel-tabletools" data-widget='{"draggable":"false"}'>
                        <div class="panel-heading">
                            <div class="panel-ctrls" data-actions-container="">
                            </div>
                        </div>
                        <div class="panel-editbox" data-widget-controls=""></div>
                        <div class="panel-body panel-no-padding" id="listProductsDiv">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables" id="listProductsTable">
                            </table>
                            <div class="panel-footer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .container-fluid -->
</div> <!-- .container-fluid -->
<!-- Modal delete -->
<div class="modal fade" id="popupDeleteProduct" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="idDeleteProduct"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="confirmDeleteLabel"></span></h4>
            </div>
            <div class="modal-body">
                <p><span class="bodyProductDeleteLabel"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
                <button type="button" id="confirmDeleteProductBtn" class="btn btn-primary deleteLabel" data-dismiss="modal">Supprimer</button>
            </div>
        </div>

    </div>
</div>
<!-- Modal view Product -->
<div class="modal fade" id="popupViewProduct" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="idviewAdvice"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="productDetailTitle" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div>
					<div class="form-group">
						<label class="col-sm-3 control-label"><span class="logoLabel"></span></label>
						<div   class="col-sm-8 no-padding"><img id="productDetailImage" src=""/></div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label"><span class="descriptionLabel"></span></label>
						<p class="col-sm-8 no-padding"><span id="productDetailDescription" class="form-label"></span></p>
					</div>
					<div class="form-group ressourceList">
						<label class="col-sm-3 control-label"><span class="filesLabel"></span></label>
						<div class="col-sm-8 no-padding">
							<ul id="productDetailResources" class="resources-list">
							</ul>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>
<div id="popupAddProduct" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span> <span class="sr-only">close</span></button>
                <h4 id="modalTitle" class="modal-title addProductLabel"></h4>
            </div>
            <div id="modalBody" class="modal-body">
                <form id="productForm" action="" class="form-horizontal">
                    <div class="form-group traductBlock">
                        <label class="col-sm-3 control-label"><span class="languageLabel"></span> :</label>
                        <div class="col-sm-8 no-padding">
							<select id="languageTranslateSelect" name="languageTranslateSelect" class="valid form-control">
								<option value="2">Anglais</option>
							</select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="titleLabel"></span> <em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <input class="form-control required" type="text" id="productTitle" name="productTitle" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="descriptionLabel"></span> :</label>
                        <div class="col-sm-8 no-padding">
                            <textarea name="productDescription" class="form-control" id="productDescription" maxlength="65000"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                    	<label class="col-sm-3 control-label"><span class="logoLabel"></span> :</label>
                    	<div class="col-sm-8 no-padding">
                    		<div class="floatLeft" id="productImageEdited">
								<img class="productImage" src='#' style=" width: 100%;"/>
							</div>
							<div id="loadProductImage">
								<div class="fileinput fileinput-new" data-provides="fileinput">
	                                <span class="btn btn-default btn-file">
	                                    <span class="fileinput-new">Select file</span>
	                                    <span class="fileinput-exists">Change</span>
	                                    <input id="fileUploadAddProductImage" type="file" name="files[]">
	                                </span>
	                            </div>
							</div>
							<div id="progressProductImage" class="progress progress-div-costum">
								<span class="loadingText"><span class="loadingLabel"></span>0%</span>
								<div class="progress-bar progress-bar-uploadfile"></div>
							</div>
							<div class="clearBoth"></div>
							<div id="loadProductImageError" style="margin-left: 19px;">
								<label style="color: red;" class="photoSizeHintLabel"></label>
							</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary saveLabel" id="saveProductBtn">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal view Advice -->
<div class="modal fade" id="popupAttachFilesProduct" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="idviewAdvice"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="productDetailTitle" class="modal-title attachFilesLabel"></h4>
            </div>
            <div class="modal-body">
                <div>
					<div id="productAttachFilesForm">
						<div id="resourceLoaded">
							<div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="btn btn-default btn-file">
                                    <span>Select file</span>
                                    <input id="fileUploadAddResource" type="file" name="files[]" multiple>
                                </span>
                            </div>
						</div>
						<div id="progressProductResource" class="progress progress-div-costum">
							<span class="loadingText"><span class="loadingLabel"></span>0%</span>
							<div class="progress-bar progress-bar-uploadfile"></div>
						</div>
						<div class="clearBoth"></div>
						<div id="loadResourceError" style="margin-left: 19px;">
							<label style="color: red;" class="resourceSizeHintLabel"></label>
						</div>
						<div id="uploadResources">
							<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables" id="listResourcesTable"></table>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="popupDeleteResource" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="idDeleteProduct"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="confirmDeleteLabel"></span></h4>
            </div>
            <div class="modal-body">
                <p><span class="bodyProductDeleteLabel"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
                <button type="button" id="confirmDeleteResourceBtn" class="btn btn-primary deleteLabel" data-dismiss="modal">Supprimer</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
	//<![CDATA[
	$(document)
			.ready(
					function() {
						if (productController == null) {
							productController = new $.ProductController(
								new $.ProductModel(),
								new $.ProductView());
						}
						productController.initController();
					});
	//]]
</script>
