<div id="profileEntreprise">
    <div class="row">
        <div class="col-md-12">
            <h2 class="profileLabel no-margin">Profil de l'entreprise</h2>
            <hr/>
            <form id="enterpriseProfileForm" class="form-horizontal" action="">
                <section>
                    <h4 class="generalInformations">Informations générales</h4>
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label class="col-sm-12 enterpriseNameLabel">Nom de l'entreprise <em>*</em></label>
                                <div class="col-sm-12">
                                    <input name="enterpriseName" id="enterpriseName" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label class="col-sm-12 standNameLabel">Nom affiché sur le stand <em>*</em></label>
                                <div class="col-sm-12">
                                    <input name="standName" id="standName" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label class="col-sm-12 creationDateLabel">Année de création</label>
                                <div class="col-sm-12">
                                    <select id="creationDate" class="form-control creationDate">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label class="col-sm-12 addressLabel">Adresse <em>*</em></label>
                                <div class="col-sm-12">
                                    <input name="enterpriseAddress" id="enterpriseAddress" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label class="col-sm-12 postalCodeLabel">Code postal <em>*</em></label>
                                <div class="col-sm-12">
                                    <input name="postalCode" id="postalCode" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label class="col-sm-12 enterprisePlaceLabel">Lieu <em>*</em></label>
                                <div class="col-sm-12">
                                    <input name="enterprisePlace" id="enterprisePlace" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label class="col-sm-12 webSiteLabel">Site Internet <em>*</em></label>
                                <div class="col-sm-12">
                                    <input name="webSite" id="webSite" type="text" class="form-control" placeholder="http://digifact.co">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label class="col-sm-12 careerPageLabel">Page carrière </label>
                                <div class="col-sm-12">
                                    <input name="careerWebsite" id="careerWebsite" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label class="col-sm-12 contactEmailLabel">Email de contact <em>*</em></label>
                                <div class="col-sm-12">
                                    <input name="contactEmail" id="contactEmail" type="email" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label class="col-sm-12 employeesNumberLabel">Nombre d'employés</label>
                                <div class="col-sm-12">
                                    <input name="employeeNumber" id="employeeNumber" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                        	<div class="form-group">
	                           <label class=" col-sm-12 sameDataLabel">Données identiques:</label>
	                           <div class="col-sm-12">
		                            <div class="  radio-inline">
										<label><input type="radio" value="oui" name="isSiege"><span class="yesLabel"></span></label>
									</div>
									<div class="  radio-inline">
										<label><input type="radio" value="non" name="isSiege"><span class="noLabel"></span></label>
									</div>
								</div>
							</div>
						</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label class="col-sm-12 enterpriseNameLabel">Nom de l'entreprise <em>*</em></label>
                                <div class="col-sm-12">
                                    <input name="siegeName" id="siegeName" type="text" class="sameData form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label class="col-sm-12 addressLabel">Adresse <em>*</em></label>
                                <div class="col-sm-12">
                                    <input name="siegeAddress" id="siegeAddress" type="text" class="sameData form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label class="col-sm-12 postalCodeLabel">Code postal <em>*</em></label>
                                <div class="col-sm-12">
                                    <input name="siegePostalCode" id="siegePostalCode" type="text" class="sameData form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label class="col-sm-12 enterprisePlaceLabel">Lieu <em>*</em></label>
                                <div class="col-sm-12">
                                    <input name="siegePlace" id="siegePlace" type="text" class="sameData form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label class="col-sm-12 creationDateLabel">Année de création</label>
                                <div class="col-sm-12">
                                    <select id="siegeCreationDate" class="sameData form-control creationDate">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label class="col-sm-12 employeesNumberLabel">Nombre d'employés</label>
                                <div class="col-sm-12">
                                    <input name="siegeNbremployee" id="siegeNbremployee" type="text" class="sameData form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-8">
                            <div class="form-group">
                                <label class="col-sm-12 sloganLabel">Slogan de l'entreprise</label>
                                <div class="col-sm-12">
                                    <input id="enterpriseSlogan" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <label class="col-sm-12 activitySectorsLabel">Secteurs d'activités</label>
                                <div class="col-sm-12">
                                    <select multiple="multiple" id="sector" class="form-control">
                                        <option>Ipsum</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-sm-12 enterpriseLogoLabel">Logo de l'entreprise</label>
                            <!--<div class="fileinput fileinput-new col-xs-8 col-md-8" data-provides="fileinput">
                                <div class="fileinput-preview thumbnail mb20 col-xs-12 col-md-6 uploadNewLogo" data-trigger="fileinput"></div>
                                <div class="vcenter">
                                    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                    <span class="btn btn-default btn-file"><span class="fileinput-new uploadNewLogoLabel">Charger un nouveau logo</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                                </div>
                            </div>-->
                            <div class="fileinput fileinput-new col-xs-8 col-md-8">
                                <div class="fileinput-preview thumbnail mb20 col-xs-12 col-md-6 uploadNewLogo"></div>
                                <div id="logoUploadStand" class="vcenter">
                                    <span class="btn btn-default btn-file filebutton">
                                        <span class="fileinput-new uploadNewLogoLabel">Charger un nouveau logo</span>
                                        <span class="fileinput-exists changeLabel">Change</span>
                                        <input id="logoUpload" type="file" name="files[]">
                                    </span>
                                </div>
                                <div class="progress progress-div-costum col-xs-8 col-md-8 no-padding" id="progressLogoUpload">
                                    <div class="loadingText"><span class="loadingLabel">Chargement</span> 0%</div>
                                    <div class="progress-bar progress-bar-uploadfile"></div>
                                </div>
                                <div id="loadLogoStandError" class="loadError"><span class="photoSizeHintLabel">La photo doit être au format .jpg, .png or .gif et ne doit pas dépasser 6 Mo.</span></div>
                            </div>
                            <div class="col-xs-4 col-md-4">
                                <div class="alert alert-info sizeImageMessageLabel">N.B : la taille de l'image ne doit pas dépasser 6 Mb et doit être au format .jpg,.gif ou .png</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <h4 class="socialNetworksLabel" id="titleSection3">Réseaux sociaux</h4>
                            <p class="socialNetworkMessageLabel">Introduisez le texte que vous souhaitez rendre visible sur les murs de Facebook et Twitter lorsque votre stand est partagé par un candidtat.</p>
                            <div class="form-group">
                                <div class="col-sm-12 col-md-8">
                                    <input type="text" name="textSocial" class="form-control" id="socialWallMessage">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row webSiteUrl">
                        <p class="selectSocialNetworkLabel">Sélectionnez le réseau social et introduisez l'URL.</p>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label class="col-sm-12">Blog</label>
                                <div class="col-sm-12">
                                    <input type="text" name="Blog" class="form-control reseauSocial Blog">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label class="col-sm-12">Xing</label>
                                <div class="col-sm-12">
                                    <input type="text" name="Xing" class="form-control reseauSocial Xing">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label class="col-sm-12">Linkedin</label>
                                <div class="col-sm-12">
                                    <input type="text" name="Linkedin" class="form-control reseauSocial Linkedin">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label class="col-sm-12">Youtube</label>
                                <div class="col-sm-12">
                                    <input type="text" name="Youtube" class="form-control reseauSocial Youtube">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label class="col-sm-12">Twitter</label>
                                <div class="col-sm-12">
                                    <input type="text" name="Twitter" class="form-control reseauSocial Twitter">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label class="col-sm-12">Facebook</label>
                                <div class="col-sm-12">
                                    <input type="text" name="Facebook" class="form-control reseauSocial Facebook">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <h4 class="profileLabel">Profil de l'entreprise</h4>
                            <p class="activityDescriptionLabel">Description des activités de votre entreprise</p>
                            <div class="form-group">
                                <div class="col-sm-12 col-md-12">
                                    <textarea class="editor form-control" id="profileDesc"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

                <div class="form-group text-right">
                    <div class="col-sm-12 inheritFloat">
                        <button type="button" class="btn btn-success saveAccountButton saveChangesLabel">Sauvegarder les changements</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> <!-- .container-fluid -->
<!-- Add Publication Modal -->
<div id="addContact" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span> <span class="sr-only">close</span></button>
                <h4 id="modalTitle" class="modal-title">nouveau contact</h4>
            </div>
            <div id="modalBody" class="modal-body">
                <form id="contactForm" action="" class="form-horizontal">
                    <div id="idContact"></div>
                    <div class="fileinput fileinput-new form-group">
                        <div class="fileinput-preview thumbnail mb20 col-xs-12 col-md-12 uploadAvatar">
                            <img id="avatarNewContact" src="img/avatar/default_avatar.jpg" alt="no picture">
                        </div>
                        <div id="avatarUploadContact" class="vcenter">
                            <span class="btn btn-default btn-file filebutton">
                                <span class="fileinput-new uploadNewLogoLabel">Charger un nouveau logo</span>
                                <span class="fileinput-exists changeLabel">Change</span>
                                <input id="uploadAvatar" type="file" name="files[]">
                            </span>
                            <div class="progress progress-div-costum col-xs-8 col-md-8 no-padding" id="progressAvatarUpload">
                                <div class="loadingText"><span class="loadingLabel">Chargement</span> 0%</div>
                                <div class="progress-bar progress-bar-uploadfile"></div>
                            </div>
                            <div class="loadError"><span class="photoSizeHintLabel">La photo doit être au format .jpg, .png or .gif et ne doit pas dépasser 6 Mo.</span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label firstAndLastNameLabel">Prénom et Nom <em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <input type="text" class="form-control" name="contactName" id="contactName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label functionLabel">Fonction :</label>
                        <div class="col-sm-8 no-padding">
                            <input type="text" class="form-control" name="contactJobTitle" id="contactJobTitle" maxlength="255">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label emailLabel">Email <em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <input type="email" class="form-control" name="emailContact" id="emailContact">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label phoneLabel">Téléphone :</label>
                        <div class="col-sm-8 no-padding">
                            <input type="text" class="form-control" name="contactTel" id="contactTel" placeholder="+123 456 7899">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" id="saveContact">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Remove contact -->
<div class="modal fade" id="removeContact" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="idDeleteContact"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button type="button" id="btnDeletecontact" class="btn btn-default" data-dismiss="modal">Supprimer</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if (profilEntrepriseController == null) {
            profilEntrepriseController = new $.ProfilEntrepriseController(new $.ProfilEntrepriseModel(), new $.ProfilEntrepriseView());
        }
        profilEntrepriseController.initController();
    });
</script>


