<div id="questionInfosContent">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h6 class="floatLeft questionInfosDescriptionLabel col-md-6"></h6>
                <div id="questionInfoSearchDiv" class="col-md-6">
                    <label>
		            	<span class="filterByProductLabel"></span><span> : </span>
		            	<select class="productSelect" id="productSelect">
		            	</select>
		           	</label>
                </div>
                <div class="panel-body no-padding tableG">
                    <div class="panel panel-default" id="panel-tabletools" data-widget='{"draggable":"false"}'>
                        <div class="panel-heading">
                            <div class="panel-ctrls" data-actions-container="">
                            </div>
                        </div>
                        <div class="panel-editbox" data-widget-controls=""></div>
                        <div class="panel-body panel-no-padding" id="listProductsDiv">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables" id="listQuestionInfosTable">
                            </table>
                            <div class="panel-footer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .container-fluid -->
</div>
<!-- Modal view Product -->
<div class="popupMotivationLetterQuestionInfo modal fade" id="popupMotivationLetterQuestionInfo" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="idviewAdvice"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title questionInfoLabel"></h4>
            </div>
            <div class="modal-body">
				<div class="form-group">
					<div class="col-sm-8 no-padding" id="letterContentQuestionInfo"></div>
				</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary replyLabel" id="letterQuestionInfoReply">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>
<div class="popupResponseQuestionInfo modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="idviewAdvice"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title responseLabel"></h4>
            </div>
            <div class="modal-body">
				<form id="responseQuestionInfoForm" action="" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="receiverLabel"></span> <em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <input class="form-control required" type="text" disabled="disabled" id="receiverQuestionInfo" name="receiverQuestionInfo" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="subjectLabel"></span> <em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <input class="form-control required" type="text" disabled="disabled" id="subjectQuestionInfo" name="subjectQuestionInfo"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="messageLabel"></span> <em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <textarea name="responseQuestionInfo" class="form-control required" id="responseQuestionInfo" maxlength="200"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary sendLabel" id="sendResponseQuestionInfo">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>
<!--<div class="popupResponseQuestionInfo eds-dialog-container draggable ui-draggable" style="visibility: visible; top: 20%; left: 35%;display: none;">
	<div class="eds-dialog" style="width: 460px; height: auto;">
		<div class="eds-dialog-header js-eds-dialog-draggable">
			<div class="responseLabel" align="center" class="verdana"
				style="height: 20px; color: white; font-weight: bold;"></div>
			<div class="eds-dialog-close">
				<b class="closePopup">x</b>
			</div>
		</div>
		<div class="eds-dialog-inside">
			<div class="eds-dialog-error clearfix"></div>
			<div class="eds-dialog-body clearfix">
				<div class="eds-dialog-content">
					<form id="responseQuestionInfoForm">
						<div>
							<label><span class="form-label receiverLabel"
								style="font-weight: bolder; margin-right: 5px;"></span> <em
								class="asterix">*</em></label> <input name="receiverQuestionInfo"
								id="receiverQuestionInfo" class="required"
								disabled="disabled" />
						</div>
						<div>
                                <label class="form-label subjectLabel"></label>
                                <input name="subjectQuestionInfo" id="subjectQuestionInfo" 
                                class="required" disabled="disabled"/>
                        </div>
						<div>
							<label><span class="form-label messageLabel"
								style="font-weight: bolder; margin-right: 5px;"></span> <em
								class="asterix">*</em></label>
							<textarea class="required" rows="7"
								id="responseQuestionInfo" name="responseQuestionInfo"></textarea>
						</div>
						<div align="center">

							<button type="button" id="sendResponseQuestionInfo"
								class="btn btn-success sendLabel"></button>
							<a class="btn btn-danger closePopup cancelLabel"
								href="javascript:void(0)"></a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="questionInfosContent">
	<h1 class="tab-content-title questionInfosLabel"></h1>
	<a href="javascript:void(0)"
		class="exportSolicitedJobApplicationsLink exportQuestionInfosBtn exportLabel"></a>
	<hr />
	<p class="floatLeft manageQuestionInfos questionInfosDescriptionLabel"></p>
	<div id="questionInfoSearchDiv">
		<div id="productDiv" class="floatRight">
			<label>
            	<span class="filterByProductLabel"></span><span> : </span>
            	<select class="productSelect" id="productSelect">
            	</select>
           	</label>
       	</div>
    </div>
	<div class="clearBoth" id="listQuestionInfosDiv">
		<table class="display questionInfosTable"
			id="listQuestionInfosTable"></table>
	</div>
	<div class="popupResponseQuestionInfo eds-dialog-container draggable ui-draggable"
		style="visibility: visible; top: 20%; left: 35%; display: none;">
		<div class="eds-dialog" style="width: 460px; height: auto;">
			<div class="eds-dialog-header js-eds-dialog-draggable">
				<div class="responseLabel" align="center" class="verdana"
					style="height: 20px; color: white; font-weight: bold;"></div>
				<div class="eds-dialog-close">
					<b class="closePopup">x</b>
				</div>
			</div>
			<div class="eds-dialog-inside">
				<div class="eds-dialog-error clearfix"></div>
				<div class="eds-dialog-body clearfix">
					<div class="eds-dialog-content">
						<form id="responseQuestionInfoForm">
							<div>
								<label><span class="form-label receiverLabel"
									style="font-weight: bolder; margin-right: 5px;"></span> <em
									class="asterix">*</em></label> <input name="receiverQuestionInfo"
									id="receiverQuestionInfo" class="required"
									disabled="disabled" />
							</div>
							<div>
                                    <label class="form-label subjectLabel"></label>
                                    <input name="subjectQuestionInfo" id="subjectQuestionInfo" 
                                    class="required" disabled="disabled"/>
                            </div>
							<div>
								<label><span class="form-label messageLabel"
									style="font-weight: bolder; margin-right: 5px;"></span> <em
									class="asterix">*</em></label>
								<textarea class="required" rows="7"
									id="responseQuestionInfo" name="responseQuestionInfo"></textarea>
							</div>
							<div align="center">

								<button type="button" id="sendResponseQuestionInfo"
									class="btn btn-success sendLabel"></button>
								<a class="btn btn-danger closePopup cancelLabel"
									href="javascript:void(0)"></a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div
		class="popupMotivationLetterQuestionInfo eds-dialog-container draggable ui-draggable"
		style="visibility: visible; top: 20%; left: 35%; display: none;">
		<div class="eds-dialog" style="width: 460px; height: auto;">
			<div class="eds-dialog-header js-eds-dialog-draggable">
				<div class="motivationLetterLabel" align="center" class="verdana"
					style="height: 20px; color: white; font-weight: bold;"></div>
				<div class="eds-dialog-close">
					<b class="closePopup">x</b>
				</div>
			</div>
			<div class="eds-dialog-inside">
				<div class="eds-dialog-error clearfix"></div>
				<div class="eds-dialog-body clearfix">
					<div class="eds-dialog-content">
						<div
							style="padding: 10px 10px 30px 10px; height: 200px; overflow-y: auto;"
							id="letterContentQuestionInfo"></div>
						<div align="center">

							<button type="button" id="letterQuestionInfoReply"
								class="btn btn-success replyLabel"></button>
							<a class="btn btn-danger closePopup cancelLabel"
								href="javascript:void(0)"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="popupExportCandidatures" class="eds-dialog-container draggable ui-draggable">
		<div class="eds-dialog">
			<div class="eds-dialog-header js-eds-dialog-draggable">
				<p id="exportCandidaturesTitlePopup" class="exportFileLabel">
				</p>
				<div class="eds-dialog-close">
					<b class="closePopup">x</b>
				</div>
			</div>
			<div class="eds-dialog-inside">
				<div class="eds-dialog-body clearfix">
					<div class="eds-dialog-content">
						<div>
							<p class="thankYouToChooseSeparatorLabel">
							</p>
							<ul id="candidatureSortableColumns">
								<li class="ui-state-default"><span class="ui-icon ui-icon-arrow-4"></span><label><input type="checkbox" value="1" checked style="display:none"><span class="firstAndLastNameLabel"></span></label></li>
								<li class="ui-state-default"><span class="ui-icon ui-icon-arrow-4"></span><label><input type="checkbox" value="2" checked style="display:none"><span class="cvLabel"></span></label></li>
								<li class="ui-state-default"><span class="ui-icon ui-icon-arrow-4"></span><label><input type="checkbox" value="3" checked><span class="profilLabel"></span></label></li>
								<li class="ui-state-default"><span class="ui-icon ui-icon-arrow-4"></span><label><input type="checkbox" value="4" checked><span class="letterLabel"></span></label></li>
								<li id="candidatureSortableJobOffer" class="ui-state-default"><span class="ui-icon ui-icon-arrow-4"></span><label><input type="checkbox" value="5" checked><span class="jobTitleLabel"></span></label></li>
							</ul>
							<p>
								<label class="fileNameLabel"></label>
							    <input type="text" id="archiveExportCandidatureFileName" class="input-large search-query" placeholder="Nom de fichier">
							</p>
							<p>
								<label class="separatorLabel"></label>
							    <select name="fileSeparator" id="fileSeparatorCandidature">
							        <option value="excel" selected>Forme Excel</option>
							        <option value=",">Virgule : ','</option>
							        <option value=";">Point Virgule : ';'</option>
							        <option value=".">Point : '.'</option>
							        <option value=":">Deux Points : ':'</option>
							    </select>
							</p>
							<div class="archiveDataTableContainerCandidature">
							</div>
							<div class="margin-top-40" style=" text-align: center;">
							    <a id='downloadCandidatureArchiveFile' href='#' class="btn btn-success downloadLabel">Télécharger</a>
							    <a class="btn btn-danger closePopup cancelLabel" href="#"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>-->
	<script type="text/javascript">
		$(document)
				.ready(
						function() {
							if (questionInfoController == null) {
								$("body")
										.append(
												"<script type='text/javascript' src='js/questionInfo/view_question_info.js' charset='utf-8'><\/script>");
								$("body")
										.append(
												"<script type='text/javascript' src='js/questionInfo/model_question_info.js' charset='utf-8'><\/script>");
								$("body")
										.append(
												"<script type='text/javascript' src='js/questionInfo/controller_question_info.js' charset='utf-8'><\/script>");
								questionInfoController = new $.QuestionInfoController(
										new $.QuestionInfoModel(), new $.QuestionInfoView());
							} 
							questionInfoController.initController();
						});
	</script>

