<div id="seoContent">
	<div class="row">
        <div class="col-md-12">
            <h2 class="seoLabel no-margin">SEO</h3>
            <hr/>
            <form id="seoForm" class="form-horizontal" action="">
                <section>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <label class="col-sm-12 titleLabel">
                                    <!--em>*</em-->
                                </label>
                                <div class="col-sm-12">
                                    <input name="seoTitle" id="seoTitle" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <label class="col-sm-12 metadataLabel">
                                    <!--em>*</em-->
                                </label>
                                <div class="col-sm-12">
                                    <input name="seoMetadata" id="seoMetadata" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <label class="col-sm-12 keywordsLabel">
                                    <!--em>*</em-->
                                </label>
                                <div class="col-sm-12">
                                    <input name="seoKeywords" id="seoKeywords" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <label class="col-sm-12 posterLink1Label">
                                    <!--em>*</em-->
                                </label>
                                <div class="col-sm-12">
                                    <input name="posterLink1" id="posterLink1" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <label class="col-sm-12 posterLink2Label">
                                    <!--em>*</em-->
                                </label>
                                <div class="col-sm-12">
                                    <input name="posterLink2" id="posterLink2" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="form-group text-right">
                    <div class="col-sm-12 inheritFloat">
                        <button type="button" class="btn btn-success saveChangesLabel" id="saveSeoBtn">Sauvegarder les changements</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
	//<![CDATA[
	$(document)
			.ready(
					function() {
						if (seoController == null) {
							seoController = new $.SEOController(
									new $.SEOModel(), new $.SEOView());
						}
						seoController.initController();
					});

	//]]>
</script>