<div id="stand">
    <div class="tab-container tab-default show">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="javascript:void(0);" class="profile grayLink verdana profileLabel" id="profileTabLabel" data-toggle="tab">Profil de l'entreprise</a>
            </li>
            <li class="linine">
                <a href="javascript:void(0);" class="contact grayLink verdana contactTabLabel" id="contactTabLabel" data-toggle="tab">Contacts</a>
            </li>

            <li class="lifour">
                <a href="javascript:void(0);" class="affiches grayLink verdana postersLabel" id="postersTabLabel" data-toggle="tab">Affiches</a>
            </li>

            <li class="liteight">
                <a class="grayLink verdana videosTabLabel videos" href="javascript:void(0);" id="videosTabLabel" data-toggle="tab">Videos</a>
            </li>

            <li class="lithree">
                <a class="grayLink verdana videoRhLabel videosRh" href="javascript:void(0);" id="videosRhTabLabel" data-toggle="tab">Videos Rh</a>
            </li>
            <li id="photosLi" class="lisix">
                <a class="photos grayLink verdana photosLabel" href="javascript:void(0);" id="photosTabLabel" data-toggle="tab">Photos</a>
            </li>
            <li id="documentsLi" class="liseven">
                <a class="documents grayLink verdana documentsLabel" href="javascript:void(0);" id="documentsTabLabel" data-toggle="tab">documents</a>
            </li>
            <li class="liteight">
                <a class="testimonies grayLink verdana testimoniesLabel" href="javascript:void(0);" id="testimoniesTabLabel">Témoignages</a>
            </li>
            <li id="videoRh" class="videoRh">
                <a class="surveys grayLink verdana surveysLabel" href="javascript:void(0);" id="surveyTabLabel" data-toggle="tab">Sondage</a>
            </li>
            <li class="linine">
                <a class="seoLink grayLink verdana seoLabel" href="javascript:void(0);" id="seoTab" data-toggle="tab">SEO</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="standContent">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        if (standController == null) {
            standController = new $.StandController(new $.StandModel(), new $.StandView());
        }
        standController.initController();
    });
</script>