<div id="contentTestimony">
    <div class="">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <h2 class="col-md-7 testimoniesLabel no-margin"></h2>
                    <div id="addTestimoniesDiv" class="floatRight pr15">
                        <a id="addTestimonyLink" class="btn btn-info pull-right col-md-3 addTestimonyLink"><span
                            class="addLabel">Ajouter un temoignage</span> (<span class="numbers"><span id="numberTestimonies"></span>/<span id="numberPermittedTestimonies"></span></span>)</a>
                    </div>
                </div>
                <hr>
                <p class="floatLeft addTestimoniesLabel">Ajoutez les témoignages métiers de vos collaborateurs.</p>
                <div class="panel-body no-padding tableG">
                    <div class="panel panel-default" id="panel-tabletools" data-widget='{"draggable":"false"}'>
                        <div class="panel-heading">
                            <div class="panel-ctrls" data-actions-container="">
                            </div>
                        </div>
                        <div class="panel-editbox" data-widget-controls=""></div>
                        <div class="panel-body panel-no-padding">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables" id="listTestimonyTable">
                            </table>
                            <div class="panel-footer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- .container-fluid -->
</div> <!-- .container-fluid -->

<!-- Add Publication Modal -->
<div id="addTestimony" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span> <span class="sr-only">close</span></button>
                <h4 class="modal-title"><span class="testimoniesLabel"></span></h4>
            </div>
            <div id="modalBody" class="modal-body">
                <form id="testimonyForm" action="" class="form-horizontal">
                    <div id="idTestimony"></div>
                    <div class="fileinput fileinput-new form-group">
                        <div class="fileinput-preview thumbnail mb20 col-xs-12 col-md-12 uploadAvatar ">
                            <img id="avatarTestimony" src="img/avatar/default_avatar.jpg" alt="no picture">
                        </div>
                        <div id="avatarUploadContact" class="vcenter">
                            <span class="btn btn-default btn-file filebutton">
                                <span class="fileinput-new uploadPhotoLabel">Charger un nouveau logo</span>
                                <span class="fileinput-exists changeLabel">Change</span>
                                <input id="uploadAvatar" type="file" name="files[]">
                            </span>
                            <div class="progress progress-div-costum col-xs-8 col-md-8 no-padding" id="progressAvatarUpload">
                                <div class="loadingText"><span class="loadingLabel">Chargement</span> 0%</div>
                                <div class="progress-bar progress-bar-uploadfile"></div>
                            </div>
                            <div class="loadError"><span class="photoSizeHintLabel">La photo doit être au format .jpg, .png or .gif et ne doit pas dépasser 6 Mo.</span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="firstAndLastNameLabel"></span> <em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <input type="text" class="form-control" name="testimonyName" id="testimonyName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="jobTitleLabel"></span> <em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <input type="text" class="form-control" name="testimonyJobTitle" id="testimonyJobTitle">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label "><span class="testimonyLabel"></span> <em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <textarea name="testimonyContent" class="form-control" id="testimonyContent"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary saveLabel" id="saveTestimony">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal delete -->
<div class="modal fade" id="removeTestimony" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="idDeleteTestimony"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="confirmDeleteLabel"></span></h4>
            </div>
            <div class="modal-body">
                <p><span class="bodyTestimonyDeleteLabel"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
                <button type="button" id="btnDeleteTestimony" class="btn btn-primary deleteLabel" data-dismiss="modal">Supprimer</button>
            </div>
        </div>

    </div>
</div>
<!-- Modal view Advice -->
<div class="modal fade" id="viewTestimony" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="idviewTestimony"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title viewLabel"><span id="testimonyJobTitleView"></span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-9">
                        <div class="col-md-12 testimonyContent">
                            <span id="testimonyContentView"></span>
                        </div>
                    </div>
                    <div class="fileinput-preview thumbnail mb20 col-md-3 text-center">
                        <img id="testimonyPhotoView" src="img/avatar/default_avatar.jpg" alt="no picture">
                        <strong><span id="testimonyNameView"></span></strong>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Load page level scripts-->
<script type="text/javascript">
    $(document).ready(function () {
        if (testimonyController == null) {
            testimonyController = new $.TestimonyController(new $.TestimonyModel(), new $.TestimonyView());
        }
        testimonyController.initController();
    });
</script>
<!--<script type="text/javascript" src="plugins/datatables/tables-advanceddatatables.js"></script>-->
