<div class="alert alert-dismissable alert-success" style="display: none;" id="favoriteAdded">
	<i class="fa fa-fw fa-check"></i>&nbsp; <strong class="congratLabel"></strong> <span class="addToFavoriteLabel"></span>
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
</div>
<div class="alert alert-dismissable alert-success" style="display: none;" id="favoriteDeleted">
	<i class="fa fa-fw fa-check"></i>&nbsp; <strong class="congratLabel"></strong> <span class="favoriteDeletedLabel"></span>
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
</div>
<div class="alert alert-dismissable alert-success" style="display: none;" id="messageSent">
	<i class="fa fa-fw fa-check"></i>&nbsp; <strong class="congratLabel"></strong><span class="messageSentLabel"></span> 
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
</div>
<div class="tab-container tab-default no-padding show">
	<div class="criteria col-xs-12 no-padding candidateProfileCriteria"
		id="candidateProfileCriteria">
		<div class="floatLeft col-xs-2 search-div">
			<label class="keyWordLabel"></label> <input type="text" class="form-control" 
				id="candidateProfileKeyWordInput" />
		</div>
		<div class="floatLeft col-xs-2 ">
			<label class="countriesLabel"></label> <select
				class="countrySelect form-control" id="countrySelect">
			</select>
		</div>
		<div class="floatLeft col-xs-2 ">
			<label class="activitySectorsLabel"></label> <select
				class="sectorSelect form-control" id="sectorSelect">
			</select>
		</div>
		<!--<div class="floatLeft col-xs-2 ">
			<label class="formationLabel"></label> <input type="text" class="form-control" 
				id="formationSearchInput" />
		</div>
		<div class="floatLeft col-xs-2 ">
			<label class="experienceLabel"></label> <input type="text" class="form-control" 
				id="experienceSearchInput" />
		</div>
		<div class="floatLeft col-xs-2 ">
			<label class="profilLabel"></label> <select class="functionSelect form-control"
				id="functionSelect">
			</select>
		</div>
		<div class="floatLeft col-xs-1" style="display: none;">
			<label class="projectLabel"></label> <input type="text"
				id="projectSearchInput" />
		</div>-->
		<button type="button" class="btn btn-success-alt" data-toggle="tooltip" title="Rechercher"
			id="cvSearchButton">
			<i class="fa fa-search"></i>
		</button>
		<button type="button" class="btn btn-primary-alt" data-toggle="tooltip" title="Exporter"
			id="exportCandidatesButton">
			<i class="fa fa-download"></i>
		</button>
		<!--<button data-toggle="collapse"
			data-target="#candidateProfileAdvanceCriteria" type="button"
			class="btn btn-primary-alt" id="advanceSearchButton">
			<i class="fa fa-plus "></i>
		</button>-->
	</div>
	<div class="criteria candidateProfileCriteria no-padding collapse col-xs-12"
		id="candidateProfileAdvanceCriteria">
		<div class="floatLeft col-xs-2 search-div ">
			<label class="candidateStateLabel"></label> <select
				class="candidateStateSelect form-control" id="candidateStateSelect">
			</select>
		</div>
		<div class="floatLeft col-xs-2 ">
			<label class="countryResidenceLabel"></label> <select
				class="countryResidenceSelect form-control" id="countryResidenceSelect">
			</select>
		</div>
		<div class="floatLeft col-xs-2 ">
			<label class="countryOriginLabel"></label> <select
				class="countryOriginSelect form-control" id="countryOriginSelect">
			</select>
		</div>
		<div class="floatLeft col-xs-2 ">
			<label class="areaExpertiseLabel"></label> <select
				class="areaExpertiseSelect form-control" id="areaExpertiseSelect">
			</select>
		</div>
		<div class="floatLeft col-xs-2 ">
			<label class="jobSoughtLabel"></label> <select
				class="jobSoughtSelect form-control" id="jobSoughtSelect">
			</select>
		</div>
		<div class="floatLeft col-xs-2 search-div">
			<label class="experienceYearsLabel"></label> <select
				class="experienceYearsSelect form-control" id="experienceYearsSelect">
			</select>
		</div>
		<!--         <div class="floatLeft"> -->
		<!--             <label class="studyLevelLabel"></label> -->
		<!--             <select class="studyLevelSelect" id="studyLevelSelect"> -->
		<!--             </select> -->
		<!--         </div> -->
		<!-- 		<div class="floatLeft"> -->
		<!--             <label class="searchtheCVLabel"></label> -->
		<!--             <input type="text" id="cvSearchInput"/> -->
		<!--         </div> -->
	</div>
	<div class="tab-container tab-default show">
	<ul class="nav nav-tabs" id="myTab2">
		<li class="lithree"><a style="font-size: 16px;"
			class="searchProfiles grayLink verdana forumEnrolledLabel"
			href="javascript:void(0)"></a></li>
		<li class="lithree"><a style="font-size: 16px;"
			class="forumVisitors grayLink verdana forumVisitorsLabel"
			href="javascript:void(0)"></a></li>
		<li class="active liteight"><a style="font-size: 16px;"
			class="standVisitors grayLink verdana standVisitorsLabel"
			href="javascript:void(0)"></a></li>
		<li class="lithree"><a style="font-size: 16px;"
			class="favoriteUsers grayLink verdana favoritesLabel"
			href="javascript:void(0)"></a></li>
	</ul>
		<div id="visitorsContent">
			<div id="participantsStat" class="floatRight">
				<label class="col-xs-12 mt-lg">
					<span class="nbrRegisteredParticipantsLabel"></span> :
					<span class="nbrRegisteredParticipants"></span>
				</label> 
			</div>
			
			<div class="row">
	            <div class="panel-body tableG">
	                <div class="panel panel-default" id="posters-tabletools" data-widget='{"draggable":"false"}'>
	                    
	                    <div class="panel-body panel-no-padding table-responsive">
	                        <table cellpadding="0" cellspacing="0" border="0" class="table" id="listCandidatesTable">
	                        </table>
	                        <div class="panel-footer"></div>
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>
	</div>
	<!-- Share with friends -->
	<div id="popupShare" class="modal fade">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal"><span>×</span> <span class="sr-only">close</span></button>
	                <h4 id="modalTitle" class="modal-title shareFriendLabel"></h4>
	            </div>
	            <div id="modalBody" class="modal-body">
	                <form id="shareProfileForm" action="" class="form-horizontal">
	                	<div class="form-group">
	                        <label class="col-sm-3 control-label toLabel"><em>*</em></label>
	                        <div class="col-sm-8 no-padding">
	                            <input type="email" class="required form-control" name="shareProfileTo" id="shareProfileTo">
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label class="col-sm-3 control-label objectLabel"><em>*</em></label>
	                        <div class="col-sm-8 no-padding">
	                            <input type="text" class="required form-control" name="shareProfileSubject" id="shareProfileSubject">
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label class="col-sm-3 control-label messageLabel"><em>*</em></label>
	                        <div class="col-sm-8 no-padding">
	                            <textarea class="required form-control autosize" id="ShareProfileContent" name="ShareProfileContent"></textarea>
	                        </div>
	                    </div>
	                </form>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-danger cancelShareProfile cancelLabel" data-dismiss="modal"></button>
	                <button type="button" class="btn btn-primary sendLabel" id="sendShareProfile"></button>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- Send Skype Invitation -->
	<div id="popupSendSkypeInvitation" class="modal fade">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal"><span>×</span> <span class="sr-only">close</span></button>
	                <h4 id="modalTitle" class="modal-title sendMessageLabel"></h4>
	            </div>
	            <div id="modalBody" class="modal-body">
	                <form id="messageSkypeForm" action="" class="form-horizontal">
	                	<div class="form-group">
	                        <label class="col-sm-3 control-label toLabel"><em>*</em></label>
	                        <div class="col-sm-8 no-padding">
	                            <input type="email" disabled class="required form-control" name="email" id="skypeMessageTo">
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label class="col-sm-3 control-label objectLabel"><em>*</em></label>
	                        <div class="col-sm-8 no-padding">
	                            <input type="text" class="required form-control" name="skypeMessageSubject" id="skypeMessageSubject">
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label class="col-sm-3 control-label messageLabel"><em>*</em></label>
	                        <div class="col-sm-8 no-padding">
	                            <textarea class="required form-control autosize" id="skypeMessageContent" name="skypeMessageContent"></textarea>
	                        </div>
	                    </div>
	                </form>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-danger cancelSkypeSendMessage cancelLabel" data-dismiss="modal"></button>
	                <button type="button" class="btn btn-primary sendLabel" id="skypeSendMessage"></button>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- Send Email -->
	<div id="popupMessage" class="modal fade">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal"><span>×</span> <span class="sr-only">close</span></button>
	                <h4 id="modalTitle" class="modal-title sendMessageLabel"></h4>
	            </div>
	            <div id="modalBody" class="modal-body">
	                <form id="messageForm" action="" class="form-horizontal">
	                    <div class="form-group">
	                        <label class="col-sm-3 control-label objectLabel"><em>*</em></label>
	                        <div class="col-sm-8 no-padding">
	                            <input type="text" class="required form-control" name="messageSubject" id="messageSubject">
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label class="col-sm-3 control-label messageLabel"><em>*</em></label>
	                        <div class="col-sm-8 no-padding">
	                            <textarea class="required form-control autosize" id="messageContent" name="messageContent"></textarea>
	                        </div>
	                    </div>
	                </form>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-danger cancelSendMessage cancelLabel" data-dismiss="modal"></button>
	                <button type="button" class="btn btn-primary sendLabel" id="sendMessage">Sauvegarder</button>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- Export Candidate Modal -->
	<div id="popupExportCandidates" class="modal fade">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal"><span>×</span> <span class="sr-only">close</span></button>
	                <h4 id="exportCandidatesTitlePopup" class="modal-title exportFileLabel">nouveau contact</h4>
	            </div>
	            <div id="modalBody" class="modal-body">
					<p class="thankYouToChooseSeparatorLabel"></p>
					<ul id="candidateSortableColumns">
						<li class="alert alert-inverse"><span
							class="fa fa-arrows move-style"></span><label><input
								type="checkbox" value="1" checked style="display: none"><span
								class="lastNameLabel"></span></label></li>
						<li class="alert alert-inverse"><span
							class="fa fa-arrows move-style"></span><label><input
								type="checkbox" value="2" checked style="display: none"><span
								class="firstNameLabel"></span></label></li>
						<li class="alert alert-inverse"><span
							class="fa fa-arrows move-style"></span><label><input
								type="checkbox" value="3" checked style="display: none"><span
								class="emailLabel"></span></label></li>
						<li class="alert alert-inverse"><span
							class="fa fa-arrows move-style"></span><label><input
								type="checkbox" value="5" checked><span
								class="cellPhoneLabel"></span></label></li>
						<li class="alert alert-inverse"><span
							class="fa fa-arrows move-style"></span><label><input
								type="checkbox" value="7" checked><span
								class="profilLabel"></span></label></li>
						<li class="alert alert-inverse"><span
							class="fa fa-arrows move-style"></span><label><input
								type="checkbox" value="8" checked><span
								class="activitySectorsLabel"></span></label></li>
						<li class="alert alert-inverse"><span
							class="fa fa-arrows move-style"></span><label><input
								type="checkbox" value="15" checked><span
								class="enterpriseLabel"></span></label></li>
						<li class="alert alert-inverse"><span
							class="fa fa-arrows move-style"></span><label><input
								type="checkbox" value="16" checked><span
								class="functionLabel"></span></label></li>
						<li class="alert alert-inverse"><span
							class="fa fa-arrows move-style"></span><label><input
								type="checkbox" value="17" checked><span
								class="webSiteLabel"></span></label></li>
						<li class="alert alert-inverse"><span
							class="fa fa-arrows move-style"></span><label><input
								type="checkbox" value="18" checked><span
								class="countryLabel"></span></label></li>
						<li class="alert alert-inverse"><span
							class="fa fa-arrows move-style"></span><label><input
								type="checkbox" value="19" checked><span
								class="cityLabel"></span></label></li>
					</ul>
					<div>
						<div class="col-md-12 mt-sm mb-sm">
							<div class="col-xs-4"><label class="fileNameLabel"></label></div>
							<div class="col-xs-4"><input type="text" id="archiveExportFileName" 
								class="input-large search-query form-control col-xs-2" placeholder="Nom de fichier"></div>
						</div>
						<div class="col-md-12 mt-sm mb-sm">
							<div class="col-xs-4"><label class="separatorLabel"></label></div>
							<div class="col-xs-4">
								<select name="fileSeparator" class="form-control" id="fileSeparator">
									<option value="excel" selected>Forme Excel</option>
									<option value=",">Virgule : ','</option>
									<option value=";">Point Virgule : ';'</option>
									<option value=".">Point : '.'</option>
									<option value=":">Deux Points : ':'</option>
								</select>
							</div>
						</div>
					</div>
					<div class="archiveDataTableContainer"></div>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
	                <a id='downloadArchiveFile' href='#'
									class="btn btn-primary downloadLabel"
									download="Téléchargement.excel">Télécharger</a>
	            </div>
	        </div>
	    </div>
	</div>
	<script type="text/javascript">
	    $(document).ready(function () {
			traduct();
	        if (visitorsController == null) {
	            visitorsController = new $.VisitorController(new $.VisitorModel(), new $.VisitorView());
	        }
	        visitorsController.initController();
	    });
	</script>
</div>

