#full-agenda {
  background: white;
  height: 497px;
}
.agenda-header {
  background: #c5c5c5;
  padding: 3px 10px;
}
.agenda-header > .container-fluid > .row{
  margin-bottom: 0;
}
.calandar-wrapper{
  padding-top: 30px;
  padding-left: 4px;
  /*overflow: scroll;*/
  /*height: 93%;*/
}
#agenda .modal-dialog{
  width: 800px;
}
#agenda .scroll-pane{
  width: 100% !important;
  height: 436px;
  overflow: auto;
}
#agenda .modal .scroll-pane{
  width: 100%;
  height: 250px;
  overflow: auto;
}

#calendarFull {
  max-width: 900px;
  margin: 0 auto;
}
#agenda #calendar {
  max-width: 96%;
  /*margin: 0;*/
}
.jspContainer .jspPane{
  width: 100% !important;
}
.fc-toolbar {
  margin-bottom: 2em;
}
.fc-state-default{
  background: #1275b8;
  border: none;
  box-shadow: none;
  border-radius: 0px;
  color: #FFFFFF;
}
.fc-state-default.fc-corner-right,
.fc-state-default.fc-corner-left{
  border-radius: 0px;
  color: #FFFFFF;
}
.fc button .fc-icon{
  color: #FFFFFF;
}
.fc button:hover,
.fc button:active,
.fc button:focus{
  background: #1275b8;
  color: #FFFFFF;
}
.fc-event,
.fc-event .fc-title,
.fc-event .fc-time span,
.fc-event .fc-time{
  background: #1275b8;
  color: #FBFBFB;
  border: none;
  padding: 3px;
  border-radius: 0px;
}
.fc-ltr .fc-basic-view .fc-day-number{
  text-align: center;
}
.jspContainer .jspPane{
  width: 100% !important;
}
#fullCalModal .modal-backdrop.in{
  opacity: 0;
}
.fc-toolbar h2{
  font-family:'robotobold', arial;
  color: #707070;
  font-size: 13px;
}
.fc-icon-left-single-arrow:after {
  font-weight: 400;
  font-size: 200%;
}
.fc-icon-right-single-arrow:after {
  font-weight: 400;
  font-size: 200%;
}
.fc-right .fc-button-group .fc-button{
  padding: 0px 11px;
  margin: 0px 4px;
}
.fc button {
  height: 19px;
}
#agenda .entreprise-infos-label{
  font-size: 13px;
  color: #707070;
  padding: 8px 0 0;
  line-height: 15px;
}
#agenda .entreprise-infos-item{
  font-family: 'robotobold', arial;
  font-size: 14px;
  color: #464646;
  padding: 8px 0 0;
  line-height: 15px;
}
#agenda .entreprise-infos-item img{
  width: 100px;
}
.entreprise-descriptif{
  padding: 8px 0 0;
  line-height: 15px;
  font-size: 12px;
  color: #707070;
  text-align: justify;
  line-height: 24px;
}
#agenda .entreprise-infos{
  margin-top: 30px;
  margin-bottom: 0;
}
#agenda .entreprise-info-descr{
  /*margin-top: 30px;*/
}
#agenda .modal-title i{float: left}
#agenda .modal-title span {
  font-family: 'robotobold', arial;
  font-size: 18px;
  color: #707070;
  margin-top: 8px;
  display: block;
  float: left;
}
#agenda .agenda-header .title{
  font-family: 'robotobold', arial;
  font-size: 18px;
  color: #f2f2f2;
  display: block;
  float: left;
  margin-left: 8px;
}
#agenda .agenda-header .icon-title{
  display: block;
  float: left;
}
.fc-toolbar {
    text-transform: capitalize;
}
@media only screen and (max-width: 1024px) {
  .calandar-wrapper{
    padding-left: 0;
  }
  #agenda #calendar {
    max-width: 92%;
  }
}
