/* Structure page career question information
================================================== */
.candidature #page-content {
    padding: 0;
}
.career-question-info{
    background: #FFFFFF;
    width: 100%;
    margin-top: 100px;
    float: left;
    height: 397px;
    padding: 10px 5px;
}
.career-question-info .scroll-pane{
    width: 100% !important;
    height: 100%;
}
.candidateQuestionInfoContainer .logo-event img {
    /*width: 140px;*/
    height: 45px;
}
.career-question-info li{
    width: 32%;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    float: left;
    padding-top: 20px;
    text-align: center;
    min-height: 200px;
}
.career-question-info li .logo-event{
    margin-bottom: 13px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 64px;
    width: 25rem;
}
.career-question-info li .logo-event img{
    margin: 0 auto;
}
.career-question-info li span{
    display: block;
    max-width: 190px;
    margin: 0 auto;
}
.career-question-info li .date-event{
    margin-top: 10px;
}
.career-question-info li:nth-child(3n-6) { border-right: none; }

.career-question-info .empty{
    text-align: center;
    margin-top: 40px;
}

@media only screen and (max-width: 1024px) {

}

/* Structure page career response information
================================================== */
.career-reponse #page-content {
    padding: 0;
}
.career-reponse-question-info{
    background: #FFFFFF;
    width: 100%;
    margin-top: 100px;
    float: left;
    height: 397px;
    padding: 10px 5px 0 20px;
}
.career-reponse-question-info .scroll-pane{
    width: 100% !important;
    height: 370px !important;
}
.career-reponse-question-info li{
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #ebebeb;
}
.career-reponse-question-info li .date-event{
    width: 23%;
    height: 170px;
    border-right: 1px solid #ebebeb;
    float: left;
    padding-top: 20px;
    text-align: center;
    margin: 14px 20px 14px 0;
}
.career-reponse-question-info li .date-event .logo-event{
    margin-bottom: 13px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 64px;
    width: 25rem;
}
.career-reponse-question-info li .date-event .logo-event img{
    margin: 0 auto;
}
.career-reponse-question-info li .date-event span{
    display: block;
    max-width: 190px;
    margin: 0 auto;
}
.career-reponse-question-info li .date-event .date{
    margin-top: 10px;
}
.career-reponse-question-info li .intro{
    padding-top: 30px;
    font-size: 14px;
    float: left;
    width: 70%;
    text-align: justify;
}
.career-reponse-question-info li .intro .more{
    display: block;
    color: #b3081b;
    font-size: 10px;
    float: right;
    margin: 20px 0 10px;
}

.career-reponse-question-info .empty{
    text-align: center;
    margin-top: 40px;
}

@media only screen and (max-width: 1024px) {

}





