
#content {
    background: url(../img/info-stand-affiche.jpg) center 0 no-repeat;
}
.menu-stand nav li {
    margin-right: 0px;
}
.icone-custom a{

    width:50px;
    height:50px;

}
.icone-custom img {
    height: auto;
    width: auto;

}
.icone-custom img {
    margin: 13px auto;
}
.icone-custom.icone-presse img {
    margin: 15px auto;
}
.icone-presse{
    left: 100px;
    top: 20px;
}
.icone-reception{
    left:170px;
    top: 20px;
}
.video-wrapper{
    position: absolute;
    margin: 0 auto;
    height: 10px;
    top: 144px;
    left: 50%;
    margin-left: -32px;
}
.video-wrapper iframe{
    height: 81px;
    width: 139px;
}