#modal-stand-tchat .icon-tchat-titre {
    background: rgba(0, 0, 0, 0) url("../../img/icons/icon-tchat-titre.png") no-repeat scroll 0 0;
    display: inline-block;
    overflow: hidden;
    text-align: left;
    text-indent: -9999px;
    height: 33px;
    width: 33px;
}
#modal-stand-tchat .modal-body {
    height: 89%;
    padding: 0px;
}
/*#modal-stand-tchat.modal .modal-content {
    padding: 15px 8px 0 8px;
}*/
#modal-stand-tchat .info-stand-tchat{
    height: 100%;
}
#modal-stand-tchat .empty{
	text-align: center;
    margin-top: 20px;
}
