
/* Structure page info stand
================================================== */
/*.stand7 #content  {
    background: url(../../img/stand-7.jpg) right 0 no-repeat;
}
.stand7.info-stand-multimedia #content{
    background: url(../../img/stand-7-affiche.jpg) right 0 no-repeat;
}
.stand7.info-stand-doc #content{
    background: url(../../img/stand-7-doc.jpg) right 0 no-repeat;
}
/* ------ Stand Gold--------- */
/*.stand1 #content  {
    background: url(../../img/stand-1.jpg) right 0 no-repeat;
}
.stand1.info-stand-multimedia #content{
    background: url(../../img/stand-1-affiche.png) right 0 no-repeat;
}
.stand1.info-stand-doc #content{
    background: url(../../img/stand-1-doc.png) right 0 no-repeat;
}
.stand11 #content  {
    background: url(../../img/stand-11.jpg) right 0 no-repeat;
}
.stand11.info-stand-multimedia #content{
    background: url(../../img/stand-11-affiche.png) right 0 no-repeat;
}
.stand11.info-stand-doc #content{
    background: url(../../img/stand-11-doc.png) right 0 no-repeat;
}
.stand12 #content  {
    background: url(../../img/stand-12.jpg) right 0 no-repeat;
}
.stand12.info-stand-multimedia #content{
    background: url(../../img/stand-12-affiche.png) right 0 no-repeat;
}
.stand12.info-stand-doc #content{
    background: url(../../img/stand-12-doc.png) right 0 no-repeat;
}
.stand13 #content  {
    background: url(../../img/stand-13.png) right 0 no-repeat;
}
.stand13.info-stand-multimedia #content{
    background: url(../../img/stand-13-affiche.png) right 0 no-repeat;
}
.stand13.info-stand-doc #content{
    background: url(../../img/stand-13-doc.png) right 0 no-repeat;
}
.stand14 #content  {
    background: url(../../img/stand-1000.jpg) right 0 no-repeat;
}
.stand14.info-stand-multimedia #content{
    background: url(../../img/stand-1000-affiche.png) right 0 no-repeat;
}
.stand14.info-stand-doc #content{
    background: url(../../img/stand-1000-doc.png) right 0 no-repeat;
}
.stand15 #content  {
    background: url(../../img/stand-1000.jpg) right 0 no-repeat;
}
.stand15.info-stand-multimedia #content{
    background: url(../../img/stand-1000-affiche.png) right 0 no-repeat;
}
.stand15.info-stand-doc #content{
    background: url(../../img/stand-1000-doc.png) right 0 no-repeat;
}
.stand16 #content  {
    background: url(../../img/stand-1000.jpg) right 0 no-repeat;
}
.stand16.info-stand-multimedia #content{
    background: url(../../img/stand-1000-affiche.png) right 0 no-repeat;
}
.stand16.info-stand-doc #content{
    background: url(../../img/stand-1000-doc.png) right 0 no-repeat;
}
.stand17 #content  {
    background: url(../../img/stand-1000.jpg) right 0 no-repeat;
}
.stand17.info-stand-multimedia #content{
    background: url(../../img/stand-1000-affiche.png) right 0 no-repeat;
}
.stand17.info-stand-doc #content{
    background: url(../../img/stand-1000-doc.png) right 0 no-repeat;
}
.stand18 #content  {
    background: url(../../img/stand-1000.jpg) right 0 no-repeat;
}
.stand18.info-stand-multimedia #content{
    background: url(../../img/stand-1000-affiche.png) right 0 no-repeat;
}
.stand18.info-stand-doc #content{
    background: url(../../img/stand-1000-doc.png) right 0 no-repeat;
}
.stand19 #content  {
    background: url(../../img/stand-1000.jpg) right 0 no-repeat;
}
.stand19.info-stand-multimedia #content{
    background: url(../../img/stand-1000-affiche.png) right 0 no-repeat;
}
.stand19.info-stand-doc #content{
    background: url(../../img/stand-1000-doc.png) right 0 no-repeat;
}

/* ------- Stand Silver -------- */
/*.stand2 #content  {
    background: url(../../img/stand-2.png) right 0 no-repeat;
}
.stand2.info-stand-multimedia #content{
    background: url(../../img/stand-2-affiche.png) right 0 no-repeat;
}
.stand2.info-stand-doc #content{
    background: url(../../img/stand-2-doc.png) right 0 no-repeat;
}
.stand10 #content  {
    background: url(../../img/stand-10.png) right 0 no-repeat;
}
.stand10.info-stand-multimedia #content{
    background: url(../../img/stand-10-affiche.png) right 0 no-repeat;
}
.stand10.info-stand-doc #content{
    background: url(../../img/stand-10-doc.png) right 0 no-repeat;
}
.stand20 #content  {
    background: url(../../img/stand-20.png) right 0 no-repeat;
}
.stand20.info-stand-multimedia #content{
    background: url(../../img/stand-20-affiche.png) right 0 no-repeat;
}
.stand20.info-stand-doc #content{
    background: url(../../img/stand-20-doc.png) right 0 no-repeat;
}
.stand21 #content  {
    background: url(../../img/stand-21.png) right 0 no-repeat;
}
.stand21.info-stand-multimedia #content{
    background: url(../../img/stand-21-affiche.png) right 0 no-repeat;
}
.stand21.info-stand-doc #content{
    background: url(../../img/stand-21-doc.png) right 0 no-repeat;
}
.stand22 #content  {
    background: url(../../img/stand-22.png) right 0 no-repeat;
}
.stand22.info-stand-multimedia #content{
    background: url(../../img/stand-22-affiche.png) right 0 no-repeat;
}
.stand22.info-stand-doc #content{
    background: url(../../img/stand-22-doc.png) right 0 no-repeat;
}
.stand23 #content  {
    background: url(../../img/stand-23.png) right 0 no-repeat;
}
.stand23.info-stand-multimedia #content{
    background: url(../../img/stand-23-affiche.png) right 0 no-repeat;
}
.stand23.info-stand-doc #content{
    background: url(../../img/stand-23-doc.png) right 0 no-repeat;
}
.stand24 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand24.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand24.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}
.stand25 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand25.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand25.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}
.stand26 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand26.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand26.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}
.stand27 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand27.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand27.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}
.stand28 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand28.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand28.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}
.stand29 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand29.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand29.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}
.stand30 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand30.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand30.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}
.stand31 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand31.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand31.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}
.stand32 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand32.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand32.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}
.stand33 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand33.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand33.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}
.stand34 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand34.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand34.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}
.stand35 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand35.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand35.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}
.stand36 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand36.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand36.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}
.stand37 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand37.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand37.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}

/* ------- Stand Bronze -------- */
/*.stand8 #content {
    background: url(../../img/stand-8.jpg) right 0 no-repeat;
}
.stand6 #content {
    background: url(../../img/stand-3000.jpg) right 0 no-repeat;
}
.stand4 #content {
    background: url(../../img/stand-3000.jpg) right 0 no-repeat;
}
.stand5 #content {
    background: url(../../img/stand-3000.jpg) right 0 no-repeat;
}
.stand3 #content {
    background: url(../../img/stand-3000.jpg) right 0 no-repeat;
}
.stand38 #content {
    background: url(../../img/stand-3000.jpg) right 0 no-repeat;
}
.stand39 #content {
    background: url(../../img/stand-3000.jpg) right 0 no-repeat;
}
.stand40 #content {
    background: url(../../img/stand-3000.jpg) right 0 no-repeat;
}
.stand41 #content {
    background: url(../../img/stand-3000.jpg) right 0 no-repeat;
}
.stand42 #content {
    background: url(../../img/stand-3000.jpg) right 0 no-repeat;
}
.stand43 #content {
    background: url(../../img/stand-3000.jpg) right 0 no-repeat;
}
.stand44 #content {
    background: url(../../img/stand-3000.jpg) right 0 no-repeat;
}
.stand45 #content {
    background: url(../../img/stand-3000.jpg) right 0 no-repeat;
}
.stand46 #content {
    background: url(../../img/stand-3000.jpg) right 0 no-repeat;
}
.stand47 #content {
    background: url(../../img/stand-3000.jpg) right 0 no-repeat;
}
.stand48 #content {
    background: url(../../img/stand-3000.jpg) right 0 no-repeat;
}
.stand49 #content {
    background: url(../../img/stand-3000.jpg) right 0 no-repeat;
}
.stand50 #content {
    background: url(../../img/stand-3000.jpg) right 0 no-repeat;
}
.stand51 #content {
    background: url(../../img/stand-3000.jpg) right 0 no-repeat;
}
.stand52 #content {
    background: url(../../img/stand-3000.jpg) right 0 no-repeat;
}*/

.icone-custom a{

    width:50px;
    height:50px;
}
.icone-custom img {
    height: auto;
    width: auto;

}
.icone-custom img {
    margin: 11px auto;
}
.icone-custom.icone-presse img {
    margin: 15px auto;
}
.icone-presse{
    left: 100px;
    top: 20px;
}
.icone-reception{
    left:170px;
    top: 20px;
}
.video-wrapper.video-stand-7 {
    position: absolute;
    margin: 0 auto;
    height: 10px;
}
.info-stand .video-wrapper.video-stand-7 {
    top: 33px;
    left: 65px
}
.info-stand .video-wrapper.video-stand-7 iframe {
    height: 123px;
}
.info-stand-multimedia .video-wrapper.video-stand-7 {
    top: 52px;
    left: 351px;
}
.info-stand-multimedia .video-wrapper.video-stand-7 iframe{
    height: 68px;
    width: 123px;
}
.info-stand-doc .video-wrapper.video-stand-7 {
    top: 24px;
    left: 254px;
}
.info-stand-doc .video-wrapper.video-stand-7 iframe {
    height: 133px;
    width: 216px;
}

.video-wrapper.video-stand-11 {
    position: absolute;
    margin: 0 auto;
    height: 10px;
}
.info-stand .video-wrapper.video-stand-11 {
    top: 1px;
    right: 2px;
}
.info-stand .video-wrapper.video-stand-11 iframe {
    height: 77px;
    width: 120px;
}
.info-stand-doc .video-wrapper.video-stand-11, .info-stand-doc .video-wrapper.video-stand-11 iframe, 
.info-stand-multimedia .video-wrapper.video-stand-11, .info-stand-multimedia .video-wrapper.video-stand-11 iframe{
    display:none;
}

.video-wrapper.video-stand-12{
    position: absolute;
    margin: 0 auto;
    height: 10px;
    top: 137px;
    left: 453px;
}
.video-wrapper.video-stand-12 iframe{
    height: 92px;
    width: 152px;
}

.video-wrapper.video-stand-13 {
    position: absolute;
    margin: 0 auto;
    height: 10px;
}
.info-stand .video-wrapper.video-stand-13 {
		top: 62px;
    left: 825px;
}
.info-stand .video-wrapper.video-stand-13 iframe {
    height: 116px;
    width: 196px;
}
.info-stand-doc .video-wrapper.video-stand-13, .info-stand-doc .video-wrapper.video-stand-13 iframe, 
.info-stand-multimedia .video-wrapper.video-stand-13, .info-stand-multimedia .video-wrapper.video-stand-13 iframe{
    display:none;
}
.video-wrapper.video-stand-5 {
    position: absolute;
    margin: 0 auto;
    height: 10px;
}
.info-stand .video-wrapper.video-stand-5 {
		top: 180px;
    left: 874px;
}
.info-stand .video-wrapper.video-stand-5 iframe {
    height: 80px;
    width: 122px;
}
.info-stand-doc .video-wrapper.video-stand-5, .info-stand-doc .video-wrapper.video-stand-5 iframe, 
.info-stand-multimedia .video-wrapper.video-stand-5, .info-stand-multimedia .video-wrapper.video-stand-5 iframe{
    display:none;
}
/* Structure modal
================================================== */
.info-stand-multimedia-modal .scroll-pane{
    width: 100%;
    height: 250px;
    overflow: auto;
}
.info-stand-multimedia-modal .modal-dialog{
    margin: 20px auto 0;
}
.info-stand-multimedia-modal .modal-open{
    padding-right: 0px !important;
    overflow: scroll !important;
}
#info-stand-multimedia #page-content{
    width: 100%;
    height: 497px;
    position: relative;
    padding: 0 10px 0 60px;
}
.info-stand-multimedia-modal{
    max-height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 60px;
    width: 94%;
    box-shadow:none;
    z-index:18;
}
.info-stand-multimedia-modal .modal-backdrop{
    position: absolute;
}
.info-stand-multimedia-modal .modal-content{
    background-color: #f2f3f4;
    opacity: 0.95;
    background-clip: padding-box;
    border: none;
    border-radius: 0px;
    outline: 0px none;
    -webkit-box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 8px;
    opacity:1;
}
.info-stand-multimedia-modal button.close{
    opacity: 1;
    width: 18px;
    height: 18px;
    float: right;
    margin: inherit;
    top: 10px;
    right: 15px;
    position: absolute;
    z-index: 9999;
}
.info-stand-multimedia-modal button.close span{
    font-family: 'roboto';
    font-size: 30px;
    color: #000;
    opacity: 1;
    width: 18px;
    height: 18px;
    font-weight: 400;
    line-height: 15px;
}
.info-stand-multimedia-modal  .modal-header,
.info-stand-multimedia-modal  .modal-footer{
    border-bottom: none;
    border-top: none;
    background-color: transparent;
}
.info-stand-multimedia-modal .modal-title {
    font-family:'robotobold', arial;
    font-size:18px;
    color:#707070;
    float:left;
    border-bottom: 1px solid #d8d9da;
    padding: 0 0 10px;
    margin-bottom:10px;
    width: 100%;
}
.info-stand-multimedia-modal .modal-title i {
    float:left;
    margin-right:1rem;
    margin-left: 2.5rem;
}
.info-stand-multimedia-modal .modal-body{
    overflow:hidden;
    height:280px;
    padding:1px;
    width:100% !important;
}
.modal-video .visuelG{
    margin: 0;
    text-align:center;
}
.modal-video .visuelG .btn {
    border: medium none !important;
    color: #f2f3f4;
    display: block;
    float: none;
    font-size: 12px;
    height: 22px;
    line-height: 15px;
    margin: 20px auto 0px;
    padding: 0;
    text-transform: none !important;
}
.modal-video .visuelG .btn i {
    color: #f2f3f4;
    font-size: 11px;
    line-height: 20px;
    margin-right: 2px;
}
.modal-video .glyphicon-star::before {
    content: "";
}
*::after, *::before {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
*::after, *::before {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

.modal-video .visuelG img{
    max-width: 100%;
}
.modal-video .visuel .logo-company{
    margin: 0 auto;
    height: 16px;
    width: 73px;
}
.info-stand-multimedia-modal .listing li a{
    font-size:11px;
    color:#363636;
    cursor:pointer;
}
.info-stand-multimedia-modal .listing li:hover div.favoris{
    width:25px;
    display:block;
    text-align:center;
}
.info-stand-multimedia-modal .listing li div.favoris li{
    padding:0 0 4px;
}
.info-stand-multimedia-modal .btn.green {
    background-color: #27ae60 !important;
    line-height: 22px;
}
.modal-photo .glyphicon-star::before {
    content: "";
}
*::after, *::before {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
*::after, *::before {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.info-stand-multimedia-modal .listing{
    width: 30% !important;
    height: 100%;
    border-left: 1px solid #9c9c9c;
    position: relative;
    float: right;
    margin-top: 0px;
}
.info-stand-multimedia-modal .listing:after{
    content:'';
    background:#cdcece;
    width:1px;
    height:425px;
    position:absolute;
    left:0;
    top:0;
}
.info-stand-multimedia-modal .listing li {
    overflow:hidden;
    padding:5px 8px 5px 0px;
    text-align:center;
}
.info-stand-multimedia-modal .listing li div{
    float:right;
    /*width: 146px;*/
}
.info-stand-multimedia-modal .listing li div.favoris{
    padding: 0px 0 0 8px;
    display:block;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-transition-property: -webkit-transform, width;
    -moz-transition-property: -moz-transform, width;
    -o-transition-property: -o-transform, width;
    width:25px !important;
}

.modal-presse .visuelG h3 {
    color: #363636;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 8px;
    text-align: left;
}
.modal-presse .visuelG{
    margin: 0;
    text-align:center;
}
.modal-presse .visuelG .btn {
    border: medium none !important;
    color: #f2f3f4;
    display: block;
    float: none;
    font-size: 12px;
    height: 22px;
    line-height: 15px;
    margin: 6px auto 9px;
    padding: 0;
    text-transform: none !important;
}
.modal-presse .visuelG .btn i {
    color: #f2f3f4;
    font-size: 11px;
    line-height: 20px;
    margin-right: 2px;
}
.modal-presse .glyphicon-star::before {
    content: "";
}
*::after, *::before {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
*::after, *::before {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

.modal-presse .visuelG img{
    max-width: 100%;
}
.modal-presse .visuelG #galleryPresse{
    height: 278px;
}
.info-stand-multimedia-modal .modal-content {
    height: 372px;
}
@media only screen and (max-width: 1024px) {
    .visuelG{
        margin: 0px 10px;
        width: 66%;
    }
    .listing{
        width:200px;
    }
    .visuelG img {

    }
    .visuel {
        max-width: 70%;
    }
    .visuel img {
        max-width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .visuelG{
        margin: 0px 0px;
        width: 65%;
        float: left;
    }
}

#modal-deposer-document-offre{z-index: 100 !important}
.info-stand-multimedia-modal .empty{
	text-align: center;
    margin-top: 20px;
}
.info-stand-multimedia-modal .modal-body{
	height: 87%;
	padding : 0px;
}
.info-stand-multimedia-modal .info-stand-photo, .info-stand-multimedia-modal .info-stand-video, .info-stand-multimedia-modal .info-stand-presse{
	height: 100%;
    padding: 5px;
}
.info-stand-multimedia-modal .scroll-pane{
	height: 100%;
}
.info-stand-multimedia-modal .ad-image-wrapper{
	width : 100%;
	height : 100%;
}
.info-stand-photo .ad-image-wrapper img{
	width: 100%;
    max-height: 254px;    
    margin: 0 auto;
}
.info-stand-multimedia-modal .listing .visuel a span{
	width: 64px;
}
.info-stand-multimedia-modal .visuelG{
    height: 100%;
}
.presse-description{
	width:100%;
	height:100%;
	position:relative;
}
.presse-description-content{
	padding : 0px 10px 0px 10px;
    	height: 100%;
    	overflow: hidden;
    	text-align: left;
}
#info-stand-multimedia .icone-custom{
    position: relative;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
    top: 14px;
    left: 30px;
}
.icone-multi-to-recep a:hover {
    background-color: #1275b8;
}

.icone-multi-to-press a:hover {
    background-color: #755843;
}

