/* Structure page info stand
================================================== */
/*.stand7 #content  {
    background: url(../../img/stand-7.jpg) right 0 no-repeat;
}
.stand7.info-stand-multimedia #content{
    background: url(../../img/stand-7-affiche.png) right 0 no-repeat;
}
.stand7.info-stand-doc #content{
    background: url(../../img/stand-7-doc.png) right 0 no-repeat;
}
/* --------------- */
/*.stand2 #content {
    background: url(../../img/stand-2.jpg) right 0 no-repeat;
}
.stand2.info-stand-multimedia #content {
    background: url(../../img/stand-2-affiche.png) right 0 no-repeat;
}
.stand2.info-stand-doc #content {
    background: url(../../img/stand-2-doc.jpg) right 0 no-repeat;
}
/* --------------- */

/*.stand10 #content {
    background: url(../../img/stand-10.jpg) right 0 no-repeat;
}
.stand10.info-stand-multimedia #content {
    background: url(../../img/stand-10-affiche.png) right 0 no-repeat;
}
.stand10.info-stand-doc #content {
    background: url(../../img/stand-10-affiche.png) right 0 no-repeat;
}
/* --------------- */

/*.stand11 #content {
    background: url(../../img/stand-11.jpg) right 0 no-repeat;
}
.stand11.info-stand-multimedia #content {
    background: url(../../img/stand-11-affiche.png) right 0 no-repeat;
}
.stand11.info-stand-doc #content {
    background: url(../../img/stand-11-affiche.png) right 0 no-repeat;
}
/* --------------- */
/*.stand1 #content {
    background: url(../../img/stand-1.jpg) right 0 no-repeat;
}
.stand1.info-stand-multimedia #content {
    background: url(../../img/stand-1-affiche.png) right 0 no-repeat;
}
.stand1.info-stand-doc #content {
    background: url(../../img/stand-1-doc.jpg) right 0 no-repeat;
}
/* --------------- */
/*.stand4 #content {
    background: url(../../img/stand-4.jpg) right 0 no-repeat;
}
.stand5 #content {
    background: url(../../img/stand-5.jpg) right 0 no-repeat;
}
.stand6 #content {
    background: url(../../img/stand-6.jpg) right 0 no-repeat;
}*/
.info-stand #vue-aerienne-info-stand{
    padding:14px 30px;
}
.info-stand #vue-aerienne-info-stand .icone-custom{
    position:relative;
    width:60px;
    height:60px;
    float:left;
}
.info-stand .modal-title{
    margin:0;
}
.info-stand .modal-body{
    padding:0;
}
.modal-body h3{
    color: #363636;
    font-size: 15px;
    margin-left: 2.5em;
    /*margin-top: 1rem;*/
    margin-bottom: 8px;
    text-align: left;
    font-family:'roboto', arial;
}

.info-stand .btn{
    border: none !important;
    color: #f2f3f4;
    display: block;
    float: none;
    font-size: 12px;
    height: 36px;
    line-height: 15px;
    margin:0 auto;
    text-transform:none !important;
}
.info-stand .btn.sup{
    display:block;
    float:none;
    margin: 0 auto 10px;
    height:22px;
    line-height:15px;
    padding:0;
    font-size:12px;
    color:#f2f3f4;
    background-color: rgba(138, 138, 138, 1);
    border:none !important;
}

.info-stand .btn i{
    color: #f2f3f4;
    font-size: 11px;
    margin-right:2px;
    line-height:20px;
}
.info-stand .btn.blue{
    background-color:#2980b9 !important;
    line-height:22px;
}
.info-stand .btn.green{
    background-color:#27ae60 !important;
    line-height:17px;
}
/* Structure page info stand affiche
================================================== */
#modal-affiches .info-stand-affiche .visuelG{
    margin: 0 auto; 
    text-align: center; 
    /* max-height: 100%; */ 
    height: 100%; 
    width: 60%;
}
#modal-affiches .info-stand-affiche .visuelG img{
    width: auto; 
    /* height: 100%; */ 
    max-width: 100%; 
    max-height: 100%;
}
.modal-body .visuelG img{
    margin: 0 auto;
    width: 97%;
}
#modal-affiches .info-stand-affiche .listing{
    width:180px;
    height:100%;
    border-left:1px solid #9c9c9c;
    position:relative;
    float:right;
    margin-top: 0px;
}
#modal-affiches .info-stand-affiche .listing:after{
    content:'';
    background:#cdcece;
    width:1px;
    height:280px;
    position:absolute;
    left:0;
    top:0;
}
#modal-affiches .info-stand-affiche .listing li {
    overflow:hidden;
    text-align:center;
    padding: 5px 8px 5px 0px;
}
#modal-affiches .info-stand-affiche .listing li a{
    font-size:11px;
    color:#363636;
}
#modal-affiches .info-stand-affiche .listing li div{
    float:right;
    width: 124px;
}
#modal-affiches .info-stand-affiche .listing li div.visuel img{
    margin: 0px;
}
#modal-affiches .info-stand-affiche .listing li div.favoris{
    padding: 16px 0 0 8px;
    display:inline-block;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-transition-property: -webkit-transform, width;
    -moz-transition-property: -moz-transform, width;
    -o-transition-property: -o-transform, width;
    width:0;
    float: right;
}
#modal-affiches .info-stand-affiche .listing li div.favoris li a{
    float: right;
}
#modal-affiches .info-stand-affiche .listing li:hover div.favoris{
    width:25px;
    display:inline-block;
    text-align:center;
}
#modal-affiches .info-stand-affiche .listing li div.favoris li{
    padding:0 0 4px;
}
#modal-affiches .modal-body{
	height: 90%;
	padding : 0px;
}
#modal-affiches .info-stand-affiche{
	height: 100%;
	padding : 5px;
}
#modal-affiches .empty{
	text-align: center;
    margin-top: 20px;
}
/* Structure page info stand document
================================================== */
.document li{
    padding:0 0 4px;
    margin:0 8px 15px;
    border-bottom:1px solid #d8d9da;
}
.infos{
    width:100%;
}
.infos li{
    padding:0 9px 7px;
    margin:0;
    border-bottom:none;
    position:relative;
}
.infos li:first-child{
    padding:0 13px 17px;
}
.infos .document-name {
    height:28px;
    line-height:13px;
    font-size:12px;
    color:#707070;
    float: left;
    padding: 0;
}
.infos .document-name i{
    position:absolute;
    left:0;
    top:0;
}
.info-stand-document .col-md-9 {
    width: 70%;
    float: left;    
}

#modal-document .info-stand-document .listing{
    width:30% !important;
    height:100%;
    border-left:1px solid #9c9c9c;
    position:relative;
    float:right;
    margin-top: 8px;
}
#modal-document .info-stand-document  .listing:after{
    content:'';
    background:#cdcece;
    width:1px;
    height:280px;
    position:absolute;
    left:0;
    top:0;
}
#modal-document .info-stand-document  .listing li {
    overflow:hidden;
    padding:0px;
    text-align:center;
}
#modal-document .info-stand-document  .listing li div.col-md-10 {
    padding:0;
}
#modal-document .info-stand-document  .ad-wrapper {
    height: 262px;
}
#modal-document .info-stand-document  .listing li a{
    font-size:11px;
    color:#363636;
}
#modal-document .info-stand-document  .listing li div{
    float:left;
    text-align: left;
}
#modal-document .info-stand-document  .listing li div.favoris{
    padding: 10px 0 0 8px;
    display:block;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-transition-property: -webkit-transform, width;
    -moz-transition-property: -moz-transform, width;
    -o-transition-property: -o-transform, width;
    width:0;
}
#modal-document .info-stand-document  .listing li:hover div.favoris{
    width:25px;
    display:block;
    text-align:center;
}
#modal-document .info-stand-document  .listing li div.favoris li{
    padding:0 0 4px;
}
/* Structure page info stand contact
================================================== */
.modal-body .info-stand-contact {
    margin: 8px 0 0 !important;
}
.modal-body .info-stand-contact h3{
    color: #707070;
    font-family: 'robotobold';
    margin: 15px 0 30px;
}
.info-stand-contact .info-p{
    border-bottom: 1px solid #d8d9da;
    padding: 0 24px 0;
}
.info-stand-contact .left{
    padding: 9px 0 4px;
    width: 40%;
}
.info-stand-contact li{
    color: #707070;
    margin: 0 0 8px;
    width: 100%;
    display: block;
}
.info-stand-contact .left li i{
    width: 19px;
    margin:0 15px 0 10px;
    float: left;
}

.info-stand-contact .right{
    padding: 9px 20px 4px 0px;
    width: 50%;
}
.info-stand-contact .right ul{
    margin-top: 8px;
    float: left;
}
.info-stand-contact .right li {
    font-family: 'robotobold';
    height: 17px;
    line-height: 14px;
}

/* Structure page info stand sondages
================================================== */
.info-stand-sondages{
    padding: 10px 0 0 !important;
}
.info-stand-sondages li{
    display: table-row;
    vertical-align: middle;
    position: relative;
    width: 93%;
    float: left;
    max-width: 632px;
    margin: 0 0 20px 10px;
    padding: 0 0 15px;

}
.info-stand-sondages li:after{
    content:'';
    background:#cdcece;
    width:88%;
    height:1px;
    position:absolute;
    left:50%;
    bottom:0;
    margin-left: -44%;
}
.info-stand-sondages li span{
    display: table-cell;
    float: none;
    vertical-align: middle;
    color: #707070;
}
.info-stand-sondages li.participer span{
    color: #252525;
}
.info-stand-sondages li span.button{
    text-align: center;
    border-left: 50px solid;
    border-color: rgba(138, 138, 138, 0);
}
.info-stand-sondages li span.button .btn{
    width: 80px;
    height: 38px;
    line-height: 38px;
    margin: 0;
}
/* Structure page info stand offres de l'emploi
================================================== */
.info-stand-offre{
    padding: 10px 0px 0px 5px !important;
}
.info-stand-offre .logo{
    margin: 5px 0 10px;
}
.info-stand-offre .logo img{
    float: left;
}
.modal-body .info-stand-offre h3{
    color: #707070;
    font-family: 'robotobold';
    margin: 0;
}
.info-stand-offre ul{
    margin: 17px 0 0;
    width: 420px;
}
.info-stand-offre li{
    color: #707070;
    font-size: 14px;
}
.info-stand-offre li span.label{
    color: #707070;
    font-size: 14px;
    width: 252px;
    padding: 0;
    font-weight: normal;
    float: left;
    text-align: left;
    line-height: inherit;
}

.info-stand-offre .info-p {
    display: table-row;
    vertical-align: middle;
    position: relative;
    width: 100%;
    float: left;
    border-bottom: 1px solid #ccc;

}
.info-stand-offre .info-p .cel-info, .info-stand-offre .info-p .cel-btn{
    display: table-cell;
    float: none !important;
    vertical-align: middle;
}
.info-stand-offre .info-p .cel-info{
    border-right: 1px solid #cdcece;
    padding: 0 20px 20px;
}
.info-stand-offre .cel-btn{
    padding: 0 15px;
}
.info-stand-offre .cel-btn .btn{
    margin-top: 14px;
    width: 185px !important;
}
.info-stand-offre.scroll-pane, .info-stand-offre .jspPane, .info-stand-offre .jspContainer{
    width: auto !important;
    min-width: 596px;
}
/* Structure page info stand offres deposer document
============================================================ */
.info-stand-deposer-doc.scroll-pane{
    padding: 10px 0 0 !important;
}
.info-stand-deposer-doc h3{
    font-family: 'robotobold';
    font-size: 14px;
    color: #707070;
}
.form{
    padding: 20px;
}
#deposer-document.form{
    padding: 20px 0px;
}

.form .filled-in[type="checkbox"]:not(:checked) + label::after {
    background-color: transparent;
    border: 1px solid #959595;
    height: 18px;
    top: 0;
    width: 18px;
    z-index: 0;
    border-radius: inherit;
}
.form  .filled-in[type="checkbox"]:checked + label::after {
    background-color: transparent;
    border: 1px solid #959595;;
    height: 18px;
    top: 0;
    width: 18px;
    z-index: 0;
    border-radius: inherit;
}
.form .filled-in[type="checkbox"]:checked + label::before {
    border-color: transparent #43a047 #43a047 transparent;
    border-style: solid;
    border-width: 2px;
    height: 17px;
    left: -1px;
    top: -3px;
    transform: rotateZ(37deg);
    transform-origin: 100% 100% 0;
    width: 8px;
}
.form [type="checkbox"] + label {
    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 18px;
    line-height: 17px;
    padding-left: 29px;
    position: relative;
    color: #707070;
    font-family: 'Roboto';
    font-weight: normal;
    margin: 0 0 8px;
}
.form .file-field{
    margin: 0px 0px 20px;
    border-bottom: 1px solid #d8d9da;
    padding: 12px 0px;
}
.form .input-field label {
    font-family: 'robotobold';
    font-size: 14px;
    color: #707070;
    opacity: 0.5;
    font-weight: normal;

}
.messageArea{
    /*padding: 0 16px;*/
}
.form .input-field label.active {
    opacity: 1;
    color: #707070;
}

.form textarea.materialize-textarea:focus:not([readonly]) + label{
    color: #707070;
}
.form textarea{
    line-height: 20px;
    padding: 10px 10px 0 30px;
    color: #707070;
    width: 80%;
}
.form button.btn{
    height: 28px;
    line-height: 28px;
    text-align: center;
    min-width: 120px;
    font-family: 'robotobold';
    font-size: 14px;
    float: right;
    margin-top: 20px;
}
#modal-deposer-document-offre, #deposer-document .file-field input.file-path, 
#modal-deposer-document, #deposer-document .file-field input.file-path{    
	width: 40%;
    padding: 0 0 0 10px;	
}
#modal-deposer-document-offre .btn.file,
#modal-deposer-document .btn.file{
    width: 30%;	
}
#modal-deposer-document-offre textarea, #modal-deposer-document textarea{
	max-height: 80px;
}
@media only screen and (max-width: 1024px) {
    .visuelG img{
        margin: 10px auto;
        max-width: 97%;
    }
    .infos .document-name i {
        left: -15px;
    }
    /* Structure page info stand contact
    ================================================== */
    .scroll-pane, .jspPane, .jspContainer{
        /*width: auto !important;
        min-width: 596px;/*
    }
    /* Structure page info stand sondages
    ================================================== */
    .info-stand-sondages li {
        max-width: 545px;
    }
    /* Structure page info stand offres de l'emploi
  ================================================== */
    .info-stand-offre li span.label{
        width: 240px;
    }
    .info-stand-offre ul {
        margin: 17px 0 0;
        width: 368px;
    }
    .info-stand-offre .cel-btn .btn {
        width: 153px !important;
    }
}

/* Structure modal
================================================== */
#info-stand-custom .scroll-pane{
    width: 100%;
    overflow: auto;
}
#info-stand-custom .modal-dialog{
    /*width:700px;*/
    margin: 80px auto 0;
}
#info-stand-custom .modal-open{
    padding-right: 0px !important;
    overflow: scroll !important;
}
#info-stand-custom #page-content{
    width: 100%;
    height: 497px;
    position: relative;
    padding: 0 10px 0 60px;
}
#info-stand-custom .modal{
    max-height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    box-shadow:none;
    z-index:990;
}
#info-stand-custom .modal-backdrop{
    position: absolute;
}
#info-stand-custom .modal .modal-content{
    background-color: #f2f3f4;
    opacity: 0.95;
    background-clip: padding-box;
    border: none;
    border-radius: 0px;
    outline: 0px none;
    -webkit-box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 8px;
    opacity:1;
}
#info-stand-custom .modal .modal-content{
    height: 372px;
}
#info-stand-custom .modal button.close, #modal-profile-entreprise-agendaFull.modal button.close{
    /*margin-top: -17px;
    margin-right: -8px;*/
    opacity: 1;
    width:18px;
    height:30px;
    float:right;
    /*background:url("../../img/close-modal.png") no-repeat scroll center center;
    text-indent:-9999px;
    margin: inherit;*/
    margin: inherit;
    top:10px;
    right:15px;
    position:absolute;
    z-index:9999;

}
#info-stand-custom .modal button.close span{
    /*line-height: 15px;*/
}
#info-stand-custom .modal  .modal-header,
#info-stand-custom .modal  .modal-header,
#info-stand-custom .modal  .modal-footer{
    border-bottom: none;
    border-top: none;
    background-color: transparent;
}
#info-stand-custom .modal-title, #modal-profile-entreprise-agendaFull .modal-title {
    font-family:'robotobold', arial;
    font-size:18px;
    color:#707070;
    float:left;
    border-bottom: 1px solid #d8d9da;
    padding: 0 0 10px;
    margin-bottom:6px;
    width: 100%;
}
#info-stand-custom .modal-title i {
    float:left;
    margin-right: 10px;
    margin-left: 5px;
}
#info-stand-custom .modal-body{
    overflow:hidden;
    /*height:280px;*/
    /*padding:1px;*/
    width:100% !important;
}
#modal-offre-emploi-apercu{z-index: 20 !important;}
#modal-offre-emploi-apercu .modal-dialog{width: 716px;margin: 12px auto 0 }
#modal-offre-emploi-apercu  .intro-offre {
    color: #707070;
    font-family: "roboto";
    font-size: 12px;
    padding-bottom: 6px;
    padding-right: 10px;
}
#modal-offre-emploi-apercu .modal-body .info-stand-offre h4 {
    color: #707070;
    padding: 6px 0;
}

.listing .visuel a span{
    display: block;
    text-align: left;
}

#modal-profile-entreprise .scroll-pane,
#modal-profile-entreprise .scroll-pane .jspContainer,
#modal-profile-entreprise .scroll-pane .jspPane{
    width: 100% !important;
}

#modal-profile-entreprise .more-content-profile-entreprise{
	overflow: hidden; 
	height: 60px;
}

#modal-profile-entreprise .modal-body{
	height: 89%;
}

#modal-sondage .modal-body{
    height: 87%;
}

#modal-sondage .scroll-pane, #modal-sondage .survey-body {
    height: 100%;
}

#modal-sondage .empty{
	text-align: center;
}
#modal-sondages-details .modal-body{
	height: 88%;
    padding: 10px 10px 0px 10px;
}
#modal-sondages-details .scroll-pane{
	height: 100%;
}
#modal-sondages-details .form button.btn{
    margin-right: 10px;
}
#modal-sondages-details .form textarea{
	height : 90px !important;
	max-height : 90px;
}
#modal-offre-emploi .modal-body{
	height: 87%;
}
#modal-offre-emploi .scroll-pane{
	height: 100%;
}
#modal-offre-emploi .empty{
	text-align: center;
    margin-top: 20px;
}
#modal-offre-emploi-apercu .modal-body{
	height: 87%;
}
#modal-offre-emploi-apercu .scroll-pane{
	height: 100%;
}
#modal-offre-emploi-apercu #info-stand-offre-apercu{
	height: 100%;
}

#modal-contact .modal-body{
	height: 87%;
	padding : 0px;
}
#modal-contact .scroll-pane, #modal-contact .info-stand-contact{
	height: 100%;
}
#modal-contact .empty{
	text-align: center;
    margin-top: 20px;
}
#modal-document .modal-body{
	height: 87%;
	padding : 0px;
}
#modal-document .info-stand-document{
	height: 90%;
}
#modal-document .empty{
	text-align: center;
    margin-top: 20px;
}
#modal-deposer-document .modal-body, #modal-deposer-document-offre .modal-body{
	height: 91%;
	padding : 0px;	
}
#modal-deposer-document .scroll-pane, #modal-deposer-document-offre .scroll-pane{
	height: 100%;
}
#modal-deposer-document .empty, #modal-deposer-document-offre .empty{
	text-align: center;
    margin-top: 20px;
}
#modal-profile-entreprise-agenda .modal-body{
	height: 89%;
	padding : 0px;
}
#modal-profile-entreprise-agenda .info-stand-agenda{
	height: 100%;
}
#modal-profile-entreprise-agenda .scroll-pane{
	height: 100%;
}
.jspHorizontalBar { 
	height:0px !important;
}
#info-stand-custom .menu-stand .hide{
	width : 0px;
    margin-right: 0px;
}

