
.profile-title{
  text-transform: uppercase;
  font-size: 13px;
  color: #707070;
  margin: 7px 0 10px;
  font-weight: 400;
}

.profile-descriptif{
  font-size: 12px;
  color: #707070;
  font-weight: 400;
}

#modal-profile-recherche .modal-title i {
  margin-left: 2rem;
}
#modal-profile-recherche .modal-title {
  padding: 0 0 17px;
}
#modal-profile-recherche .modal-dialog{margin: 20px auto 0}
#modal-profile-recherche .modal-body{
	height: 84.7%;
	padding: 0px;
}
#modal-profile-recherche .profile-details, #modal-profile-recherche .container-fluid{
	height: 100%;
}
#modal-profile-recherche .scroll-pane{
	height: 100%;
}
#modal-profile-recherche .scroll-pane{
    margin: 0px;
    float: left;
}
#modal-profile-recherche .empty{
    text-align: center;
    margin-top: 20px;
}
