#modal-agenda .modal-title  span{
  font-family: 'robotobold', arial;
  font-size: 18px;
  color: #707070;
  padding-top: 7px;
  display: block;
}
#modal-agenda .modal-body {
  height: 87%;
}
#modal-agenda .container-fluid {
	padding-top: 12px;
    padding-bottom: 12px;
}
.fc-month-view  .fc-scroller{
  height: 190px !important;
}
.fc-scroller{
  height: 158px !important;
}
#calendar {
  max-width: 900px;
  margin: 0 auto;
}
.fc-state-default{
  background: #b3081b;
  border: none;
  box-shadow: none;
  border-radius: 0px;
  color: #FFFFFF;
}
.fc-state-default.fc-corner-right,
.fc-state-default.fc-corner-left{
  border-radius: 0px;
  color: #FFFFFF;
}
.fc button .fc-icon{
  color: #FFFFFF;
}
.fc button:hover,
.fc button:active,
.fc button:focus{
  background: rgba(179,8,27,0.8);
  color: #FFFFFF;
}
.fc-event,
.fc-event .fc-title,
.fc-event .fc-time span,
.fc-event .fc-time{
  background: #b3081b;
  color: #FBFBFB;
  border: none;
  padding: 3px;
  border-radius: 0px;
}
.fc-ltr .fc-basic-view .fc-day-number{
  text-align: center;
}
.jspContainer .jspPane{
  width: 100% !important;
}
#fullCalModal .modal-backdrop.in{
  opacity: 0;
}
.fc-toolbar h2{
  font-family:'robotobold', arial;
  color: #707070;
  font-size: 13px;
}
.fc-icon-left-single-arrow:after {
  font-weight: 400;
  font-size: 200%;
}
.fc-icon-right-single-arrow:after {
  font-weight: 400;
  font-size: 200%;
}
.fc-right .fc-button-group .fc-button{
  padding: 0px 11px;
  margin: 0px 4px;
}
.fc button {
  height: 19px;
}
#modal-agenda .scroll-pane{
	height: 100%;
}
