
#content_notification .liste-offres-header{
    background: #c5c5c5;
    padding: 3px 10px;
    margin-bottom: 20px;
}
#content_notification .liste-offres-header > .container-fluid > .row{
    margin-bottom: 0;
}
#content_notification .liste-offres-header .title{
    font-family: 'robotobold', arial;
    font-size: 18px;
    color: #f2f2f2;
    display: block;
    float: left;
    margin-left: 8px;
}
#content_notification .liste-offres-header .icon-title{
    display: block;
    float: left;
}
#content_notification .scroll-pane{
    height: 436px;
    width: 98% !important;
}

#content_notification{
    max-width: 995px;
    margin: 0 auto;
    background: #fff;
    min-height:497px;
    position:relative;
}

#page-content {
    padding: 0px 0px 0px 60px;
}
#content_notification table.data-table thead .sorting {
    background-image: url("../img/data-table/sort_both.png");
}

#content_notification table.data-table thead .sorting_asc {
    background-image: url("../img/data-table/sort_asc.png");
}

#content_notification table.data-table thead .sorting_desc {
    background-image: url("../img/data-table/sort_desc.png");
}

#content_notification table.data-table .logo-company-wrapper{
    display: inline-flex;
    vertical-align: middle
}

#content_notification table.data-table .logo-company{
    border-radius: 31px;
    /* float: left; */
    width: 61px;
    height: 61px;
    /* margin-right: 15px; */
    -webkit-box-shadow: 0px 1px 1px 1px rgba(200,200,200,1);
    -moz-box-shadow: 0px 1px 1px 1px rgba(200,200,200,1);
    box-shadow: 0px 1px 1px 1px rgba(200,200,200,1);
    /* padding: 6px; */
    text-align: center;
    display: inline-flex;
    vertical-align: middle;
}
#content_notification table.data-table .name-company{
    display: inline-flex;
    vertical-align: middle;
    padding: 11px 0px 11px 13px;
}
#content_notification table.data-table .logo-company img{
    width: 80%;
    vertical-align: middle;
    margin: 17px auto;
}
#content_notification table.data-table .language-drapeau{
    width: 25px;
    vertical-align: middle;
    display: inline-flex;
}
#content_notification table.data-table .language-name{
    display: inline-flex;
    vertical-align: middle;
    padding: 7px;
}
#content_notification table.data-table tbody tr td{
    border-bottom: 1px solid #eeeeee;
}
#content_notification table.data-table thead th, table.data-table thead td{
    border-bottom: none;
    padding: 10px 0px 10px 0px;
}
#content_notification table.data-table .cel-logo-company{
    max-width: 38px;
}
#content_notification table.data-table td h3{
    font-family: 'robotobold', arial;
    color: #1d1e1e;
    padding:0 0 4px;
}
#content_notification .icon-notif1 ,.icon-notif2, .icon-notif3
{ display: inline-block;overflow: hidden; text-indent: -9999px; text-align: left;margin: 0 8px 0 0; }
.icon-notif1{background: url(../../img/icon-notif.png) no-repeat;width: 13px;height: 10px;}
.icon-notif2{background: url(../../img/icon-notif2.png) no-repeat;width: 13px;height: 11px;}
.icon-notif3{background: url(../../img/icon-notif3.png) no-repeat;width: 13px;height: 12px;}

#content_notification table.data-table td .date{
    color: #1d1e1e;
    display: block;
    padding: 4px 0 0;
}
#content_notification table.data-table td p{
    color: #656666;
    padding: 0 0 0 0px;
}
#content_notification table.data-table td .detail-notif{
}
#content_notification table.data-table td .visiter-action{
    float: right;
    margin: 0;
}
#content_notification table.data-table>thead>tr>th,
#content_notification table.data-table>tbody>tr>th,
#content_notification table.data-table>tfoot>tr>th,
#content_notification table.data-table>thead>tr>td,
#content_notification table.data-table>tbody>tr>td,
#content_notification table.data-table>tfoot>tr>td{
    border-top: none;
    vertical-align: middle;
    font-size: 12px;
    padding: 8px 6px;
    color: #808080;
    text-align: left;
}

#content_notification table.data-table>thead>tr>th{
    padding: 10px 0px;
    padding-right: 20px;
}
#content_notification table.data-table>thead>tr>th:first-child,
#content_notification table.data-table>tbody>tr>th:first-child,
#content_notification table.data-table>tfoot>tr>th:first-child,
#content_notification table.data-table>thead>tr>td:first-child,
#content_notification table.data-table>tbody>tr>td:first-child,
#content_notification table.data-table>tfoot>tr>td:first-child{
    text-align: left;
}
#content_notification .table.data-table>caption+thead>tr:first-child>td,
#content_notification .table.data-table>caption+thead>tr:first-child>th,
#content_notification .table.data-table>colgroup+thead>tr:first-child>td,
#content_notification .table.data-table>colgroup+thead>tr:first-child>th,
#content_notification .table.data-table>thead:first-child>tr:first-child>td,
#content_notification .table.data-table>thead:first-child>tr:first-child>th {
    width: 10%;
}
#content_notification table.dataTable thead th, table.dataTable tfoot th {
    font-weight: normal;
}
#content_notification table.data-table.no-footer{
    border-bottom: 1px solid #eeeeee;
}
#content_notification table.data-table .btn{
    height: 28px;
    padding: 5px 12px;
}
#content_notification table.data-table .btn:hover,
#content_notification table.data-table .btn:focus,
#content_notification table.data-table .btn:active{
    color: #ffffff;
}
#content_notification .form-control.select-wrapper >.form-control {
    display:none;
}
#content_notification .form-control.select-wrapper >.caret {
    top: 0.5rem;
    right: 20px;
    border: none;
    color: #7E7F80;
}
#content_notification .form-control.select-wrapper {
    display: inherit;
    /* width: 100%; */
    height: auto;
    padding: 0px 12px;
    /*font-size: 14px;*/
    /*    line-height: 1.42857143;*/
    color: #555;
    background-color: transparent;
    /*background-image: none;*/
    border:none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow:none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#content_notification table.data-table .status-connexion i{
    font-size: 20px;
}
#content_notification .green{
    color: #69c38f;
    background-color: transparent !important;
}

#content_notification .red {
    color: #b3081b;
    background-color: transparent !important;
}
#content_notification .visiter-action{
    margin: 0px 3%;
}
#content_notification .visiter-action img{
    display: inline-flex;
    vertical-align: middle;
}
#content_notification .icone-custom-relative{
    position: relative;
}
#content_notification .icone-custom-relative a{
    position: relative;
    height: 54px;
    width: 54px;
}
#content_notification .icone-custom-relative .txt{
    background: #7A7979 none repeat scroll 0% 0%;
    color: #ffffff;
    border: 1px solid #7A7979;
    width: 100px;
    margin-left: -25px;
    /*    -webkit-box-shadow: -2px 4px 6px 0px rgba(41,41,41,1);
        -moz-box-shadow: -2px 4px 6px 0px rgba(41,41,41,1);
        box-shadow:-2px 4px 6px 0px rgba(41,41,41,1);*/
}
#content_notification .icone-custom-relative a:hover,
#content_notification .icone-custom-relative a:focus,
#content_notification .icone-custom-relative a:active{
    background-color: rgba(238,238,238,0.8);
}
#content_notification .bloc-navigation{
    margin: 11px 6px;
}
#content_notification .bloc-navigation .liste-title {
    font-size: 18px;
    margin: 25px 4px;
    display: block;
}

header.connecter .dropdown-menu{
    z-index:9999;
    left:inherit;
    right:-10px;
    border-radius: 0;
    padding:10px;
}
header.connecter .dropdown-menu.notif{
    background: #f2f3f4;
    width: 200px;
    padding: 6px 4px;
    border: none;
    right: 10px;
    top: 44px;
}
header.connecter .dropdown-menu.notif:before{
    color:#f2f3f4;
    content:"\e253";
    font-size:30px;
    position:absolute;
    top:-22px;
    right:0px;
}
header.connecter .dropdown-menu.notif li img{
    float: left;
    margin: 7px 6px 0 0
}
header.connecter .dropdown-menu.notif li .date img{
    float: left;
    margin: 0
}
header.connecter .dropdown-menu.notif li h3{
    font-family:'robotobold', arial;
    font-size:12px;
    color:#555555;
    line-height: 15px;
}
header.connecter .dropdown-menu.notif li h3 span{
    font-family:'roboto', arial;
    color:#555555;
    display: block;
}
header.connecter .dropdown-menu.notif li .date{
    border-bottom: 1px solid #dadadb;
    padding: 6px 0 3px;
    width: 176px;
    color: #959595;
    font-size: 9px;
    text-align: right;
}
header.connecter .dropdown-menu.notif li:last-child{
    text-align: center;
    margin: 0;
    width: 100%;
}
header.connecter .dropdown-menu.notif li:last-child a{
    color: #b3081b !important;
    font-size: 10px !important;
    cursor: pointer !important;
}
header .connexion li .nbr {
    width:19px;
    height:19px;
    color:#FFFFFF;
    text-align:center;
    line-height:19px;
    background:#e02222;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    display:block;
    position:absolute;
    top:-10px;
    left:0;

}

.display-all-style {
    text-align: center !important;
    margin: 0 !important;
    width: 100% !important;
}

.display-all-style a{
    color: #b3081b !important;
    font-size: 10px !important;
}

#search-container .dropdown-menu {
    right: 0px !important;
}

#searched-dropdown {
    width: 300px;
}

.header-search-button {
    font-size: 36px;
}

@media only screen and (max-width: 1024px) {
    #content_notification table.data-table .cel-logo-company{
        max-width: 80px;
    }
}
