.chatStands{
	width: 100%; height: 100%;
	border-collapse: collapse;
}

.chatStands table{
	border-collapse: collapse;
	background-color:#e3e4e5;
}

#list_stand tr:hover {
    background-color: #ffffff";
}

#list_stand tr{
	cursor: pointer;
}

.menuStand{
	width:100%; 
	background-color: #e3e4e5;
}

.menuStand tr:hover{
	background-color: #fff;
}

.containerStand{
	width: 100%; height: 100%; overflow: hidden; position: relative; margin: auto; background-color: #e3e4e5;
}

.menuStand tr{
	height:56px;
}

.avatarChat{
	width:25px;
	height:25px;
}

.publicChatIcon{
	width:20px;
	height:20px;
	cursor: pointer;
}

.langueChatIcon{
	width: 16px;
	height: 16px;
}

.titleTabBarChat{
	width: 100%; 
	height: 35px; 
	background-color: #585854;
}

.titleTabBarChat span{
	color:#ffffff; 
	font-family:Helvetica; 
	font-size:10px; 
	font-weight:bold;
}

.standName span{
	font-size : 11px; 
	font-family :Helvetica; 
	font-weight: bold;
	width: 
}

.titleChat span{
	font-size : 9px; 
	font-family :Helvetica;
}

#sendMessageButton{
	width: 70px; height: 92%; text-align: center; background-color: #808284;
}

#sendMessageButton span{
	min-width: 70px; background-color: #808284; position:relative; top:6px; cursor: pointer; color:#ffffff; font-family:Helvetica; font-size:12px;
}

#content_tabs{
	overflow: hidden; position: relative; width: 100%; height:100%; background-color: #ffffff;
}

.closeStand{
	width:8px;height:8px;cursor: pointer;
}

#inputTextChat{
	width: 100%; height: 40px; resize: none; color:#000000; border: 0 none; font-size: 11px; font-family: Helvetica;
}

.fullSpace{
	width: 100%; height: 100%;
}

.selectedStand{
	background-color: #006A8C;
}

.standsConnect{
	width: 30%; height: 100%;
}

.coprsChat{
	width: 70%; height: 100%;
}

#connectEnterprises{
	width: 100%;
	padding-left: 3px;
}

#titleTabChat{
	padding-left: 3px;
}

.numberRecruiter {
	font-family: "Verdana", Helvetica, Arial, sans-serif;
	position: relative;
	top: -7px;
	font-size: 0.557em; 
	display: inline-block;
	background: #48515c;
	line-height: 1em;
	height: 1em;
	padding: .4em .6em;
	margin: 1.2em 0 0 0; 
	color: #fff;
	text-indent: 0;
	text-align: center;
	-webkit-border-radius: .769em;
	-moz-border-radius: .769em;
	border-radius: .769em;
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
	-moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
	text-shadow: 0px 1px 0px rgba(0,0,0,.5);
	font-weight: 500;
}

.avatarMessage{
	width:34px; padding-left:5px;padding-right:5px;
}
.avatarMessage img{
	width:25px; height:25px; float:top;
}

#content_tabs table{
	width: 96%; line-height: 15px; margin-top:5px;margin-left:8px;
}

.extrDate{
	width:45px;
}

.extrDate div{
	font-family:verdana; font-size:12px; color:black; font-weight: bold; width:45px;
}