.chatStands {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

.chatStands table {
	border-collapse: collapse;
	background-color: #f1f3f4;
}

#list_stand tr:hover,#list_stand_CS tr:hover {
	background-color: #ffffff";
}

#list_stand tr,#list_stand_CS tr {
	cursor: pointer;
}

.menuStand {
	width: 100%;
	background-color: #f1f3f4;
}

.menuStand tr:hover {
	background-color: #A8C6EE;
}

.containerStand {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	position: relative;
	margin: auto;
	background-color: #f1f3f4;
	overflow-y: auto;
	max-height: 100%;
}

.titleTabBarChat {
	width: 100%;
	background-color: #00a100;
	/*border-top: 1px solid #d1d3d4;*/
}

.titleTabBarChat span, .titleTabBarChat label {
	color: #ffffff;
	/*font-family: Helvetica;*/
	font-weight: bold;
}

.fullSpace {
	width: 100%;
	height: 100%;
}

.selectedStand {
	background-color: #A8C6EE;
}

#messages_ui,#messages_ui_CS {
	background-color: #ffffff;
}

.senderTab .senderFullName {
	font-weight: bold;
}

.numberRecruiter {
	/*font-family: "Verdana", Helvetica, Arial, sans-serif;*/
	position: relative;
	display: inline-block;
	background: none repeat scroll 0% 0% rgb(72, 81, 92);
	color: rgb(255, 255, 255);
	text-indent: 0px;
	text-align: center;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.26) inset, 0px 1px 0px 0px
		rgba(255, 255, 255, 0.15);
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
	font-weight: 500;
}

#content_tabs,#content_tabs_CS {
	overflow-x: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	overflow-y: auto;
	max-height: 100%;
}

#content_tabs table, #content_tabs_CS table{
	position:absolute;
}

.sendMessageBar {
	width: 100%;
}

#sendMessageButton, #sendMessageButton_CS, #saveChatButton, #saveChatButton_CS, #stopSaveChatButton, #stopSaveChatButton_CS {
	background-color: #00a100;
	text-align: center;
	width: 100%;
}

#sendMessageButton span, #sendMessageButton_CS span, #saveChatButton span, #saveChatButton_CS span, #stopSaveChatButton span, #stopSaveChatButton_CS span {
	color: #FFFFFF;
	cursor: pointer;
	/*font-family: Verdana;*/
	position: relative;
}
#saveChatButton, #saveChatButton_CS, #stopSaveChatButton, #stopSaveChatButton_CS{
	width: 40%;
	float:right; 
}
#stopSaveChatButton, #stopSaveChatButton_CS, #saveChatButton, #saveChatButton_CS {
	display:none;
}
#saveChatButton, #saveChatButton_CS{
	background-color: #259E2A;
}
#stopSaveChatButton, #stopSaveChatButton_CS{
	background-color: #DB1A2A;
}
#connectEnterprises,#connectEnterprises_CS {
	width: 100%;
}

.publicChatIcon {
	cursor: pointer;
}

.standName span {
	/*font-family: Helvetica;*/
	font-weight: bold;
}

.titleChat span {
	/*font-family: Helvetica;*/
}

.closeStand {
	cursor: pointer;
}

#inputTextChat,#inputTextChat_CS {
	color: rgb(0, 0, 0);
	/*font-family: Helvetica;*/
	width: 100%;
	margin: auto;
	border: 0px none;
	padding: 0px;
	border-radius: 0px;
    background-color: #ffffff;
}

.extrDate div {
	/*font-family: "Verdana", Helvetica, Arial, sans-serif;*/
	color: black;
	font-weight: bold;
}

.senderTab span {
	/*font-family: "Helvetica", Verdana, Arial, sans-serif;*/
	color: black;
}

.avatarMessage img {
	float: top;
}

#chatReduceStandsButton span,#chatReduceStandsButton_CS span {
	cursor: pointer;
}

#exitFullScreenChatSpan,#exitFullScreenChatSpan_CS{
	display: none;
}

#fullScreenChatSpan span, #exitFullScreenChatSpan span, #fullScreenChatSpan_CS span, #exitFullScreenChatSpan_CS span {
	color: #000;
	/*font-family: "Arial", Helvetica, Verdana, sans-serif;*/
	cursor: pointer;
	text-decoration:underline;
}
#publicTchat{
	height : 100%;
}
#chatReduceStandsButton .fa-fw{
	color : #ffffff;
}
.fui-settings-chat, .fui-history-chat, .fui-reduce-chat{   
	cursor: pointer;
    height: 20px;
    font-size: 15px;
}
.fui-settings-chat{
	background-image : url("../assets/images/ic_settings_white_18dp_1x.png");  
}
.fui-history-chat{
	background-image : url("../assets/images/ic_history_white_18dp_1x.png");  
}
.fui-reduce-chat{
	background-image : url("../assets/images/ic_eject_white_18dp_1x.png");    
}
.coprsChat .titleTabBarChat td{
	vertical-align: middle;
}
.coprsChat .titleTabBarChat .actions-td{
	text-align: right;
    padding-right: 8px;
}
#chatListStands .coprsChat .title-tab-td{
	width : 10%;
}
#chatListStands .coprsChat .resize-chat-td{
	width : 75%;
}
/*@media only screen and (min-width: 1024px) {*/
	.titleTabBarChat {
		height: 32px;
	}
	.titleTabBarChat span {
		font-size: 14px;
	}
	.titleTabChat {
		padding-left: 10px;
		padding-top: 9px;
	}
	.menuStand tr td {
		padding-top: 5px;
	}
	.separateStandsConnectChat {
		width: 4px;
    	background-color: #fff;
	}
	#connectEnterprises {
		padding-left: 10px;
		padding-top: 0px;
	}
	.menuStand tr {
		height: 45px;
		/*border-bottom: 1px solid #b3081b;*/
	}
	.avatarChat {
		width: 70px;
		height: 34px;
	}
	.avatarChatStand {
		width: 60px;
		height: 34px;
	}
	.publicChatIcon {
		width: 32px;
		height: 32px;
	}
	.langueChatIcon{
		width: 16px;
		height: 16px;
	}
	.standName span {
		font-size: 13px;
	}
	.standName {
		height: 24px;
		margin-top: -3px;
	}
	.titleChat {
		height: 18px;
	}
	.titleChat span {
		font-size: 12px;
	}
	#fullScreenChatSpan, #exitFullScreenChatSpan {
		padding-left: 10px;
		padding-top: 0px;
	}
	#fullScreenChatSpan span, #exitFullScreenChatSpan span {
		font-size: 13px;
    	font-weight: 500;
		/*font-family: Verdana;*/
    	text-decoration: underline;
	}
	.sendMessageBar {
		height: 45px;
	}
	#sendMessageButton {
		height: 30px;
    	margin-bottom: 4px;
	}
	#sendMessageButton span {
		font-size: 14px;
		min-width: 70px;
		top: 5px;
	}
	.saveChatBar{
		height: 40px;
	}
	#saveChatButton, #stopSaveChatButton {
		height: 26px;
		padding-top: 4px;
	}
	#saveChatButton span, #stopSaveChatButton span {
		font-size: 12px;
		min-width: 100px;
		margin-left: 5px;
	}
	#saveChatButton .fui-radio-checked{
		margin-top: 6px;
	}
	#stopSaveChatButton .fui-pause{
		margin-top: 6px;
	}
	.closeStand {
		width: 12px;
		height: 12px;
	}
	#inputTextChat {
		font-size: 14px;
		height: 40px;
		background-color: #ffffff;
	}
	.standsConnect {
		width: 30%;
		height: 100%;
	}
	.coprsChat {
		width: 70%;
		height: 100%;
	}
	.titleTabChat {
		width: 100%;
		padding-left: 10px;
		padding-top: 9px;
	}
	.numberRecruiter {
		top: -4px;
		font-size: 0.76em;
		line-height: 1em;
		height: 1em;
		padding: 0.55em 0.82em;
		margin: 1.2em 0px 0px;
		color: rgb(255, 255, 255);
		text-indent: 0px;
		border-radius: 0.969em;
	}
	.avatarMessage {
		width: 25px;
		height: 25px;
	}
	.avatarMessage div {
		width: 25px;
		height: 25px;
		padding-top: 17px;
	}
	.avatarMessage img {
		width: 25px;
		height: 25px;
		text-align: center;
	}
	.extrDate {
		width: 45px;
		text-align: center;
	}
	.extrDate div {
		font-size: 12px;
		width: 45px;
		padding-top: 14px;
	}
	.senderTab {
		line-height: 17px;
		padding-top: 14px;
	}
	.messageTextSpan {
		font-size: 14px;
	}
	.senderTab .senderFullName {
		font-size: 15px;
	}
	#chatReduceStandsButton span {
		font-size: 22px;
	}
	.popupAllRecruitersStandDisconnected, .popupAllRecruitersStandDisconnected_CS{
		visibility: visible; 
		width: 60%; 
		bottom: 60%; 
		margin: auto; 
		display: none; 
		padding: 0;
		position: relative;
		background: #ffffff;
	    z-index: 1001;
	}
	.backgroundPopupChatHtml5, .backgroundPopupChatHtml5_CS{
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0px;
	    left: 0px;
	    z-index: 1000;
	    opacity: 0.6;
	    background: rgb(0, 0, 0);
    	    display: none;
    	}
        #confirmAllRecruitersStandDisconnected, #confirmAllRecruitersStandDisconnected_CS{    
    	    font-size: 12px;
    	    width: 50px;
    	    padding-top: 10px;
    	    cursor: pointer;
        }
        #confirmAllRecruitersStandDisconnected b, #confirmAllRecruitersStandDisconnected_CS b{
    	    color: white !important;
        }
/*} End media*/



