#agenda{
    background: none;
    width: 100%;
}
#agenda #calendar-content{
    background: none;
    width: 98%;
}
#agenda .jspVerticalBar{
    display: none;
}

#full-agenda .agenda-header {
    background: #c5c5c5;
    margin-right: 0;
    padding: 3px 10px;
}
#full-agenda .agenda-header > .container-fluid > .row{
    margin-bottom: 0;
}
#full-agenda .calandar-wrapper{
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 10px;
    /*overflow: scroll;*/
    height: 93%;
}
#full-agenda .scroll-pane{
    width: 100%;
    height: 100%;
    overflow: auto;
}

#full-agenda #calendar {
    max-width: 900px;
    margin: 0 auto;
}
#full-agenda .fc-toolbar {
    margin-bottom: 2em;
}
#full-agenda .fc-state-default{
    background: #1275b8;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    color: #FFFFFF;
}
#full-agenda .fc-state-default.fc-corner-right,
#full-agenda .fc-state-default.fc-corner-left{
    border-radius: 0px;
    color: #FFFFFF;
}
#full-agenda .fc button .fc-icon{
    color: #FFFFFF;
}
#full-agenda .fc button:hover,
#full-agenda .fc button:active,
#full-agenda .fc button:focus{
    background: #1275b8;
    color: #FFFFFF;
}
#full-agenda .fc-event,
#full-agenda .fc-event .fc-title,
#full-agenda .fc-event .fc-time span,
#full-agenda .fc-event .fc-time{
    /* background: #1275b8; */
    background: none;
    color: #FBFBFB;
    border: none;
    padding: 3px;
    border-radius: 0px;
}
#full-agenda .fc-ltr .fc-basic-view .fc-day-number{
    text-align: center;
}
#full-agenda .jspContainer{
    width: 100% !important;
}
#full-agenda .jspContainer .jspPane{
    width: 99% !important;
}
#full-agenda #fullCalModal .modal-backdrop.in{
    opacity: 0;
}
#full-agenda .fc-toolbar h2{
    font-family:'robotobold', arial;
    color: #707070;
    font-size: 13px;
}
#full-agenda .fc-icon-left-single-arrow:after {
    font-weight: 400;
    font-size: 200%;
}
#full-agenda .fc-icon-right-single-arrow:after {
    font-weight: 400;
    font-size: 200%;
}
#full-agenda .fc-right .fc-button-group .fc-button{
    padding: 0px 11px;
    margin: 0px 4px;
}
#full-agenda .fc button {
    height: 19px;
}
#full-agenda .entreprise-infos-label{
    font-size: 13px;
    color: #707070;
    padding: 8px 0 0;
    line-height: 15px;
}
#full-agenda .entreprise-infos-item{
    font-family: 'robotobold', arial;
    font-size: 14px;
    color: #464646;
    padding: 8px 0 0;
    line-height: 15px;
}
#full-agenda .entreprise-infos-item img{
    width: 100px;
}
#full-agenda .entreprise-descriptif-agenda, #modal-profile-entreprise-agenda .entreprise-descriptif-agenda{
    padding: 8px 0 0;
    line-height: 15px;
    font-size: 12px;
    color: #707070;
    text-align: justify;
    line-height: 24px;
}
#full-agenda .entreprise-infos{
    margin-top: 15px;
    margin-bottom: 15px;
}
#full-agenda .entreprise-info-descr{
    /*margin-top: 30px;*/
}
#full-agenda .modal-title span, #modal-profile-entreprise-agenda .modal-title span {
    font-family: 'robotobold', arial;
    font-size: 18px;
    color: #707070;
    margin-left: 10px;
}
#full-agenda .agenda-header .title{
    font-family: 'robotobold', arial;
    font-size: 18px;
    color: #f2f2f2;
    display: block;
    float: left;
    margin-left: 8px;
}
#full-agenda .agenda-header .icon-title{
    display: block;
    float: left;
}
#full-agenda .modal-dialog{
    width: 780px;
}

#full-agenda .scroll-pane{
    width: 100% !important;
}
#modal-profile-entreprise-agendaFull .modal-content {
    height: 380px;
    top: 35px;
    left: 40px;
}
#modal-profile-entreprise-agendaFull .modal-body{
	height: 89%;
	padding : 0px;
}
#modal-profile-entreprise-agendaFull .info-agenda{
	height: 100%;
}
#modal-profile-entreprise-agendaFull .scroll-pane{
	height: 100%;
}
#modal-profile-entreprise-agendaFull .modal-title i {
    float: left;
    margin-right: 1rem;
    margin-left: 2.5rem;
}
