.entreprise-name{
    font-family: 'robotobold', arial;
    font-size: 17px;
    color: #707070;
    margin-bottom: 4px;
    line-height: 15px;
}
.entreprise-accroche{
    font-size: 12px;
    color: #707070;
}
.entreprise-title{
    margin-bottom: 0;
}
.entreprise-descriptif{
    font-size: 12px;
    color: #707070;
}
hr{
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #d8d9da;
    width: 97%;
    float: right;

}
.entreprise-infos{
 	margin-top: 15px;
    margin-right: 0px;
    margin-left: 0px;
}
.entreprise-info-descr{
    margin-right: 0px;
    margin-left: 0px;
}
.entreprise-infos .entreprise-infos-labels{
    border-right: 1px solid #d8d9da;
}
.entreprise-infos-label{
    font-size: 13px;
    color: #707070;
    padding: 15px 0 0;
    line-height: 15px;
}
.entreprise-infos-item{
    font-family: 'robotobold', arial;
    font-size: 13px;
    color: #707070;
    padding: 12px 0 0;
    line-height: 15px;
    height: 36px;
    font-weight: bold;
}

.entreprise-infos-item span{
    color: #707070;
}
.afficher-plus-link{
    color: #1275b8;
}
#modal-profile-entreprise .modal-title i {
    margin-left: 2rem;
}
