
/* Structure page info stand
================================================== */
.stand7 #content  {
    background: url(../../img/stand-7.jpg) right 0 no-repeat;
}
.stand7.info-stand-multimedia #content{
    background: url(../../img/stand-7-affiche.jpg) right 0 no-repeat;
}
.stand7.info-stand-doc #content{
    background: url(../../img/stand-7-doc.jpg) right 0 no-repeat;
}
/* ------ Stand Gold--------- */
.stand1 #content  {
    background: url(../../img/stand-1.jpg) right 0 no-repeat;
}
.stand1.info-stand-multimedia #content{
    background: url(../../img/stand-1-affiche.png) right 0 no-repeat;
}
.stand1.info-stand-doc #content{
    background: url(../../img/stand-1-doc.png) right 0 no-repeat;
}
.stand11 #content  {
    background: url(../../img/stand-11.jpg) right 0 no-repeat;
}
.stand11.info-stand-multimedia #content{
    background: url(../../img/stand-11-affiche.png) right 0 no-repeat;
}
.stand11.info-stand-doc #content{
    background: url(../../img/stand-11-doc.png) right 0 no-repeat;
}
.stand12 #content  {
    background: url(../../img/stand-12.jpg) right 0 no-repeat;
}
.stand12.info-stand-multimedia #content{
    background: url(../../img/stand-12-affiche.png) right 0 no-repeat;
}
.stand12.info-stand-doc #content{
    background: url(../../img/stand-12-doc.png) right 0 no-repeat;
}
.stand13 #content  {
    background: url(../../img/stand-13.jpg) right 0 no-repeat;
}
.stand13.info-stand-multimedia #content{
    background: url(../../img/stand-13-affiche.png) right 0 no-repeat;
}
.stand13.info-stand-doc #content{
    background: url(../../img/stand-13-doc.png) right 0 no-repeat;
}
.stand14 #content  {
    background: url(../../img/stand-14.png) right 0 no-repeat;
}
.stand14.info-stand-multimedia #content{
    background: url(../../img/stand-14-affiche.png) right 0 no-repeat;
}
.stand14.info-stand-doc #content{
    background: url(../../img/stand-14-doc.jpg) right 0 no-repeat;
}
.stand15 #content  {
    background: url(../../img/stand-15.jpg) right 0 no-repeat;
}
.stand15.info-stand-multimedia #content{
    background: url(../../img/stand-15-affiche.png) right 0 no-repeat;
}
.stand15.info-stand-doc #content{
    background: url(../../img/stand-15-doc.jpg) right 0 no-repeat;
}
.stand16 #content  {
    background: url(../../img/stand-1000.jpg) right 0 no-repeat;
}
.stand16.info-stand-multimedia #content{
    background: url(../../img/stand-1000-affiche.png) right 0 no-repeat;
}
.stand16.info-stand-doc #content{
    background: url(../../img/stand-1000-doc.png) right 0 no-repeat;
}
.stand17 #content  {
    background: url(../../img/stand-1000.jpg) right 0 no-repeat;
}
.stand17.info-stand-multimedia #content{
    background: url(../../img/stand-1000-affiche.png) right 0 no-repeat;
}
.stand17.info-stand-doc #content{
    background: url(../../img/stand-1000-doc.png) right 0 no-repeat;
}
.stand18 #content  {
    background: url(../../img/stand-1000.jpg) right 0 no-repeat;
}
.stand18.info-stand-multimedia #content{
    background: url(../../img/stand-1000-affiche.png) right 0 no-repeat;
}
.stand18.info-stand-doc #content{
    background: url(../../img/stand-1000-doc.png) right 0 no-repeat;
}
.stand19 #content  {
    background: url(../../img/stand-1000.jpg) right 0 no-repeat;
}
.stand19.info-stand-multimedia #content{
    background: url(../../img/stand-1000-affiche.png) right 0 no-repeat;
}
.stand19.info-stand-doc #content{
    background: url(../../img/stand-1000-doc.png) right 0 no-repeat;
}
.stand65 #content  {
    background: url(../../img/stand-65.jpg) right 0 no-repeat;
}
.stand65.info-stand-multimedia #content{
    background: url(../../img/stand-65-affiche.png) right 0 no-repeat;
}
.stand65.info-stand-doc #content{
    background: url(../../img/stand-65-doc.jpg) right 0 no-repeat;
}
.stand90 #content  {
    background: url(../../img/stand-90.jpg) right 0 no-repeat;
}
.stand90.info-stand-multimedia #content{
    background: url(../../img/stand-90-affiche.jpg) right 0 no-repeat;
}
.stand90.info-stand-doc #content{
    background: url(../../img/stand-90-doc.jpg) right 0 no-repeat;
}
.stand92 #content  {
    background: url(../../img/stand-92.png) right 0 no-repeat;
}
.stand92.info-stand-multimedia #content{
    background: url(../../img/stand-92-affiche.png) right 0 no-repeat;
}
.stand92.info-stand-doc #content{
    background: url(../../img/stand-92-doc.jpg) right 0 no-repeat;
}
.stand93 #content  {
    background: url(../../img/stand-93.png) right 0 no-repeat;
}
.stand93.info-stand-multimedia #content{
    background: url(../../img/stand-93-affiche.png) right 0 no-repeat;
}
.stand93.info-stand-doc #content{
    background: url(../../img/stand-93-doc.jpg) right 0 no-repeat;
}


/* ------- Stand Silver -------- */
.stand2 #content  {
    background: url(../../img/stand-2.png) right 0 no-repeat;
}
.stand2.info-stand-multimedia #content{
    background: url(../../img/stand-2-affiche.png) right 0 no-repeat;
}
.stand2.info-stand-doc #content{
    background: url(../../img/stand-2-doc.png) right 0 no-repeat;
}
.stand10 #content  {
    background: url(../../img/stand-10.png) right 0 no-repeat;
}
.stand10.info-stand-multimedia #content{
    background: url(../../img/stand-10-affiche.png) right 0 no-repeat;
}
.stand10.info-stand-doc #content{
    background: url(../../img/stand-10-doc.png) right 0 no-repeat;
}
.stand20 #content  {
    background: url(../../img/stand-20.png) right 0 no-repeat;
}
.stand20.info-stand-multimedia #content{
    background: url(../../img/stand-20-affiche.png) right 0 no-repeat;
}
.stand20.info-stand-doc #content{
    background: url(../../img/stand-20-doc.png) right 0 no-repeat;
}
.stand21 #content  {
    background: url(../../img/stand-21.png) right 0 no-repeat;
}
.stand21.info-stand-multimedia #content{
    background: url(../../img/stand-21-affiche.png) right 0 no-repeat;
}
.stand21.info-stand-doc #content{
    background: url(../../img/stand-21-doc.png) right 0 no-repeat;
}
.stand22 #content  {
    background: url(../../img/stand-22.png) right 0 no-repeat;
}
.stand22.info-stand-multimedia #content{
    background: url(../../img/stand-22-affiche.png) right 0 no-repeat;
}
.stand22.info-stand-doc #content{
    background: url(../../img/stand-22-doc.png) right 0 no-repeat;
}
.stand23 #content  {
    background: url(../../img/stand-23.png) right 0 no-repeat;
}
.stand23.info-stand-multimedia #content{
    background: url(../../img/stand-23-affiche.png) right 0 no-repeat;
}
.stand23.info-stand-doc #content{
    background: url(../../img/stand-23-doc.png) right 0 no-repeat;
}
.stand24 #content  {
    background: url(../../img/stand-24.jpg) right 0 no-repeat;
}
.stand24.info-stand-multimedia #content{
    background: url(../../img/stand-24-affiche.png) right 0 no-repeat;
}
.stand24.info-stand-doc #content{
    background: url(../../img/stand-24-doc.png) right 0 no-repeat;
}
.stand25 #content  {
    background: url(../../img/stand-25.jpg) right 0 no-repeat;
}
.stand25.info-stand-multimedia #content{
    background: url(../../img/stand-25-affiche.png) right 0 no-repeat;
}
.stand25.info-stand-doc #content{
    background: url(../../img/stand-25-doc.png) right 0 no-repeat;
}
.stand26 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand26.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand26.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}
.stand27 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand27.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand27.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}
.stand28 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand28.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand28.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}
.stand29 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand29.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand29.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}
.stand30 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand30.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand30.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}
.stand31 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand31.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand31.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}
.stand32 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand32.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand32.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}
.stand33 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand33.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand33.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}
.stand34 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand34.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand34.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}
.stand35 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand35.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand35.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}
.stand36 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand36.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand36.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}
.stand37 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand37.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand37.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}
.stand60 #content  {
    background: url(../../img/stand-60.jpg) right 0 no-repeat;
}
.stand60.info-stand-multimedia #content{
    background: url(../../img/stand-60-affiche.png) right 0 no-repeat;
}
.stand60.info-stand-doc #content{
    background: url(../../img/stand-60-doc.png) right 0 no-repeat;
}
.stand66 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand66.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand66.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}
.stand70 #content  {
    background: url(../../img/stand-70.jpg) right 0 no-repeat;
}
.stand70.info-stand-multimedia #content{
    background: url(../../img/stand-70-affiche.png) right 0 no-repeat;
}
.stand70.info-stand-doc #content{
    background: url(../../img/stand-70-doc.png) right 0 no-repeat;
}
.stand72 #content  {
    background: url(../../img/stand-72.jpg) right 0 no-repeat;
}
.stand72.info-stand-multimedia #content{
    background: url(../../img/stand-72-affiche.png) right 0 no-repeat;
}
.stand72.info-stand-doc #content{
    background: url(../../img/stand-72-doc.png) right 0 no-repeat;
}
.stand73 #content  {
    background: url(../../img/stand-73.jpg) right 0 no-repeat;
}
.stand73.info-stand-multimedia #content{
    background: url(../../img/stand-73-affiche.png) right 0 no-repeat;
}
.stand73.info-stand-doc #content{
    background: url(../../img/stand-73-doc.png) right 0 no-repeat;
}
.stand76 #content  {
    background: url(../../img/stand-76.jpg) right 0 no-repeat;
}
.stand76.info-stand-multimedia #content{
    background: url(../../img/stand-76-affiche.png) right 0 no-repeat;
}
.stand76.info-stand-doc #content{
    background: url(../../img/stand-76-doc.png) right 0 no-repeat;
}
.stand77 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand77.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand77.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}
.stand78 #content  {
    background: url(../../img/stand-2000.jpg) right 0 no-repeat;
}
.stand78.info-stand-multimedia #content{
    background: url(../../img/stand-2000-affiche.png) right 0 no-repeat;
}
.stand78.info-stand-doc #content{
    background: url(../../img/stand-2000-doc.png) right 0 no-repeat;
}
.stand79 #content  {
    background: url(../../img/stand-79.jpg) right 0 no-repeat;
}
.stand79.info-stand-multimedia #content{
    background: url(../../img/stand-79-affiche.png) right 0 no-repeat;
}
.stand79.info-stand-doc #content{
    background: url(../../img/stand-79-doc.png) right 0 no-repeat;
}
.stand80 #content  {
    background: url(../../img/stand-80.jpg) right 0 no-repeat;
}
.stand80.info-stand-multimedia #content{
    background: url(../../img/stand-80-affiche.png) right 0 no-repeat;
}
.stand80.info-stand-doc #content{
    background: url(../../img/stand-80-doc.png) right 0 no-repeat;
}
.stand83 #content  {
    background: url(../../img/stand-83.jpg) right 0 no-repeat;
}
.stand83.info-stand-multimedia #content{
    background: url(../../img/stand-83-affiche.png) right 0 no-repeat;
}
.stand83.info-stand-doc #content{
    background: url(../../img/stand-83-doc.png) right 0 no-repeat;
}
.stand84 #content  {
    background: url(../../img/stand-84.jpg) right 0 no-repeat;
}
.stand84.info-stand-multimedia #content{
    background: url(../../img/stand-84-affiche.png) right 0 no-repeat;
}
.stand84.info-stand-doc #content{
    background: url(../../img/stand-84-doc.png) right 0 no-repeat;
}
.stand85 #content  {
    background: url(../../img/stand-85.jpg) right 0 no-repeat;
}
.stand85.info-stand-multimedia #content{
    background: url(../../img/stand-85-affiche.png) right 0 no-repeat;
}
.stand85.info-stand-doc #content{
    background: url(../../img/stand-85-doc.png) right 0 no-repeat;
}
.stand86 #content  {
    background: url(../../img/stand-86.jpg) right 0 no-repeat;
}
.stand86.info-stand-multimedia #content{
    background: url(../../img/stand-86-affiche.png) right 0 no-repeat;
}
.stand86.info-stand-doc #content{
    background: url(../../img/stand-86-doc.png) right 0 no-repeat;
}
.stand87 #content  {
    background: url(../../img/stand-87.jpg) right 0 no-repeat;
}
.stand87.info-stand-multimedia #content{
    background: url(../../img/stand-87-affiche.jpg) right 0 no-repeat;
}
.stand87.info-stand-doc #content{
    background: url(../../img/stand-87-doc.jpg) right 0 no-repeat;
}
.stand89 #content  {
    background: url(../../img/stand-89.jpg) right 0 no-repeat;
}
.stand89.info-stand-multimedia #content{
    background: url(../../img/stand-89-affiche.jpg) right 0 no-repeat;
}
.stand89.info-stand-doc #content{
    background: url(../../img/stand-89-doc.jpg) right 0 no-repeat;
}
.stand91 #content  {
    background: url(../../img/stand-91.jpg) right 0 no-repeat;
}
.stand91.info-stand-multimedia #content{
    background: url(../../img/stand-91-affiche.jpg) right 0 no-repeat;
}
.stand91.info-stand-doc #content{
    background: url(../../img/stand-91-doc.jpg) right 0 no-repeat;
}


/* ------- Stand Bronze -------- */
.stand8 #content {
    background: url(../../img/stand-8.jpg) right 0 no-repeat;
}
.stand6 #content {
    background: url(../../img/stand-6.jpg) right 0 no-repeat;
}
.stand4 #content {
    background: url(../../img/stand-4.jpg) right 0 no-repeat;
}
.stand5 #content {
    background: url(../../img/stand-5.png) right 0 no-repeat;
}
.stand3 #content {
    background: url(../../img/stand-3.jpg) right 0 no-repeat;
}
.stand38 #content {
    background: url(../../img/stand-38.jpg) right 0 no-repeat;
}
.stand39 #content {
    background: url(../../img/stand-39.jpg) right 0 no-repeat;
}
.stand40 #content {
    background: url(../../img/stand-40.jpg) right 0 no-repeat;
}
.stand41 #content {
    background: url(../../img/stand-3000.jpg) right 0 no-repeat;
}
.stand42 #content {
    background: url(../../img/stand-42.jpg) right 0 no-repeat;
}
.stand43 #content {
    background: url(../../img/stand-43.jpg) right 0 no-repeat;
}
.stand44 #content {
    background: url(../../img/stand-44.jpg) right 0 no-repeat;
}
.stand45 #content {
    background: url(../../img/stand-45.jpg) right 0 no-repeat;
}
.stand46 #content {
    background: url(../../img/stand-46.jpg) right 0 no-repeat;
}
.stand47 #content {
    background: url(../../img/stand-3000.jpg) right 0 no-repeat;
}
.stand48 #content {
    background: url(../../img/stand-48.jpg) right 0 no-repeat;
}
.stand49 #content {
    background: url(../../img/stand-49.jpg) right 0 no-repeat;
}
.stand50 #content {
    background: url(../../img/stand-50.jpg) right 0 no-repeat;
}
.stand51 #content {
    background: url(../../img/stand-51.jpg) right 0 no-repeat;
}
.stand52 #content {
    background: url(../../img/stand-3000.jpg) right 0 no-repeat;
}
.stand53 #content {
    background: url(../../img/stand-53.jpg) right 0 no-repeat;
}
.stand54 #content {
    background: url(../../img/stand-54.jpg) right 0 no-repeat;
}
.stand55 #content {
    background: url(../../img/stand-55.jpg) right 0 no-repeat;
}
.stand56 #content {
    background: url(../../img/stand-56.jpg) right 0 no-repeat;
}
.stand57 #content {
    background: url(../../img/stand-57.jpg) right 0 no-repeat;
}
.stand58 #content {
    background: url(../../img/stand-58.jpg) right 0 no-repeat;
}
.stand59 #content {
    background: url(../../img/stand-59.jpg) right 0 no-repeat;
}
.stand61 #content {
    background: url(../../img/stand-61.jpg) right 0 no-repeat;
}
.stand62 #content {
    background: url(../../img/stand-62.jpg) right 0 no-repeat;
}
.stand63 #content {
    background: url(../../img/stand-63.jpg) right 0 no-repeat;
}
.stand67 #content {
    background: url(../../img/stand-67.jpg) right 0 no-repeat;
}
.stand68 #content {
    background: url(../../img/stand-68.jpg) right 0 no-repeat;
}
.stand74 #content {
    background: url(../../img/stand-74.jpg) right 0 no-repeat;
}
.stand75 #content {
    background: url(../../img/stand-75.jpg) right 0 no-repeat;
}
.stand81 #content {
    background: url(../../img/stand-81.jpg) right 0 no-repeat;
}
.stand82 #content {
    background: url(../../img/stand-82.jpg) right 0 no-repeat;
}
.stand88 #content {
    background: url(../../img/stand-88.jpg) right 0 no-repeat;
}
.stand94 #content {
    background: url(../../img/stand-94.jpg) right 0 no-repeat;
}
.stand95 #content {
    background: url(../../img/stand-3000.jpg) right 0 no-repeat;
}
.stand96 #content {
    background: url(../../img/stand-96.jpg) right 0 no-repeat;
}

.icone-custom a{

    width:50px;
    height:50px;
}
.icone-custom img {
    height: auto;
    width: auto;

}
.icone-custom img {
    margin: 11px auto;
}
.icone-custom.icone-presse img {
    margin: 15px auto;
}
.icone-presse{
    left: 100px;
    top: 20px;
}
.icone-reception{
    left:170px;
    top: 20px;
}
.video-wrapper.video-stand-7 {
    position: absolute;
    margin: 0 auto;
    height: 10px;
}
.info-stand .video-wrapper.video-stand-7 {
    top: 33px;
    left: 65px
}
.info-stand .video-wrapper.video-stand-7 iframe {
    height: 123px;
}
.info-stand-multimedia .video-wrapper.video-stand-7 {
    top: 52px;
    left: 351px;
}
.info-stand-multimedia .video-wrapper.video-stand-7 iframe{
    height: 68px;
    width: 123px;
}
.info-stand-doc .video-wrapper.video-stand-7 {
    top: 24px;
    left: 254px;
}
.info-stand-doc .video-wrapper.video-stand-7 iframe {
    height: 133px;
    width: 216px;
}

.video-wrapper.video-stand-11 {
    position: absolute;
    margin: 0 auto;
    height: 10px;
}
.info-stand .video-wrapper.video-stand-11 {
	top: 70px;
    left: 825px;
}
.info-stand .video-wrapper.video-stand-11 iframe {
    height: 100px;
    width: 169px;
}
.info-stand-multimedia .video-wrapper.video-stand-11 {
    top: 46px;
    left: 446px;
}
.info-stand-multimedia .video-wrapper.video-stand-11 iframe{
    height: 114px;
    width: 190px;
}
.info-stand-doc .video-wrapper.video-stand-11 {
    display:none;
}
.info-stand-doc .video-wrapper.video-stand-11 iframe {
    display:none;
}

.video-wrapper.video-stand-1{
    position: absolute;
    margin: 0 auto;
}
.info-stand .video-wrapper.video-stand-1 {
    top: 138px;
    left: 864px;
}
.info-stand .video-wrapper.video-stand-1 iframe {
    height: 63px;
    width: 98px;
}
.info-stand-multimedia .video-wrapper.video-stand-1 {
    top: 105px;
    left: 471px;
}
.info-stand-multimedia .video-wrapper.video-stand-1 iframe{
    height: 92px;
    width: 152px;
}
.info-stand-doc .video-wrapper.video-stand-1 {
    top: 105px;
    left: 471px;
}
.info-stand-doc .video-wrapper.video-stand-1 iframe {
    height: 92px;
    width: 152px;
}   

.video-wrapper.video-stand-12{
    position: absolute;
    margin: 0 auto;
    height: 10px;
    top: 116px;
    left: 441px;
}
.video-wrapper.video-stand-12 iframe{
    height: 89px;
    width: 147px;
}

.video-wrapper.video-stand-13 {
    position: absolute;
    margin: 0 auto;
    height: 10px;
}
.info-stand .video-wrapper.video-stand-13 {
	top: 57px;
    left: 813px;
}
.info-stand .video-wrapper.video-stand-13 iframe {
    height: 107px;
    width: 180px;
}
.info-stand-multimedia .video-wrapper.video-stand-13 {
    top: 59px;
    left: 470px;
}
.info-stand-multimedia .video-wrapper.video-stand-13 iframe{
    width: 211px;
    height: 124px;
}
.info-stand-doc .video-wrapper.video-stand-13 {
    display:none;
}
.info-stand-doc .video-wrapper.video-stand-13 iframe {
    display:none;
}
.video-wrapper.video-stand-15 {
    position: absolute;
    margin: 0 auto;
    height: 10px;
}
.info-stand .video-wrapper.video-stand-15 {
    top: 71px;
    left: 825px;
}
.info-stand .video-wrapper.video-stand-15 iframe {
    height: 100px;
    width: 168px;
}
.info-stand-multimedia .video-wrapper.video-stand-15 {
    top: 46px;
    left: 446px;
}
.info-stand-multimedia .video-wrapper.video-stand-15 iframe{
    width: 189px;
    height: 111px;
}
.info-stand-doc .video-wrapper.video-stand-15 iframe {
    display:none;
}
.info-stand-multimedia .video-wrapper.video-stand-24 {
    position: absolute;
    top: 127px;
    left: 485px;    
}
.info-stand-multimedia .video-wrapper.video-stand-24 iframe{
    height: 77px;
    width: 125px;
}
.video-wrapper.video-stand-5 {
    position: absolute;
    margin: 0 auto;
    height: 10px;
}
.info-stand .video-wrapper.video-stand-5 {
		top: 164px;
    left: 858px;
}
.info-stand .video-wrapper.video-stand-5 iframe {
    height: 73px;
    width: 112px;
}
.info-stand-multimedia .video-wrapper.video-stand-72 {
    position: absolute;
    top: 127px;
    left: 485px;    
}
.info-stand-multimedia .video-wrapper.video-stand-72 iframe{
    height: 77px;
    width: 125px;
}
/* Structure modal
================================================== */
.info-stand-multimedia-modal .scroll-pane{
    width: 100%;
    height: 250px;
    overflow: auto;
}
.info-stand-multimedia-modal .modal-dialog{
    width:700px;
    margin: 20px auto 0;
}
.info-stand-multimedia-modal .modal-open{
    padding-right: 0px !important;
    overflow: scroll !important;
}
#info-stand-multimedia #page-content{
    width: 100%;
    height: 497px;
    position: relative;
    padding: 0 10px 0 60px;
}
.info-stand-multimedia-modal{
    max-height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 60px;
    width: 94%;
    box-shadow:none;
    z-index:18;
}
.info-stand-multimedia-modal .modal-backdrop{
    position: absolute;
}
.info-stand-multimedia-modal .modal-content{
    background-color: #f2f3f4;
    opacity: 0.95;
    background-clip: padding-box;
    border: none;
    border-radius: 0px;
    outline: 0px none;
    -webkit-box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 8px;
    opacity:1;
}
.info-stand-multimedia-modal button.close{
    opacity: 1;
    width: 18px;
    height: 18px;
    float: right;
    margin: inherit;
    top: 10px;
    right: 15px;
    position: absolute;
    z-index: 9999;
}
.info-stand-multimedia-modal button.close span{
    font-family: 'roboto';
    font-size: 30px;
    color: #000;
    opacity: 1;
    width: 18px;
    height: 18px;
    font-weight: 400;
    line-height: 15px;
}
.info-stand-multimedia-modal  .modal-header,
.info-stand-multimedia-modal  .modal-footer{
    border-bottom: none;
    border-top: none;
    background-color: transparent;
}
.info-stand-multimedia-modal .modal-title {
    font-family:'robotobold', arial;
    font-size:18px;
    color:#707070;
    float:left;
    border-bottom: 1px solid #d8d9da;
    padding: 0 0 10px;
    margin-bottom:10px;
    width: 100%;
}
.info-stand-multimedia-modal .modal-title i {
    float:left;
    margin-right:1rem;
    margin-left: 2.5rem;
}
.info-stand-multimedia-modal .modal-body{
    overflow:hidden;
    height:280px;
    padding:1px;
    width:100% !important;
}
.modal-video .visuelG{
    margin: 0;
    text-align:center;
}
.modal-video .visuelG .btn {
    border: medium none !important;
    color: #f2f3f4;
    display: block;
    float: none;
    font-size: 12px;
    height: 22px;
    line-height: 15px;
    margin: 20px auto 0px;
    padding: 0;
    text-transform: none !important;
}
.modal-video .visuelG .btn i {
    color: #f2f3f4;
    font-size: 11px;
    line-height: 20px;
    margin-right: 2px;
}
.modal-video .glyphicon-star::before {
    content: "";
}
*::after, *::before {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
*::after, *::before {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

.modal-video .visuelG img{
    max-width: 100%;
}
.modal-video .visuel .logo-company{
    margin: 0 auto;
    height: 16px;
    width: 73px;
}
.info-stand-multimedia-modal .listing li a{
    font-size:11px;
    color:#363636;
    cursor:pointer;
}
.info-stand-multimedia-modal .listing li:hover div.favoris{
    width:25px;
    display:block;
    text-align:center;
}
.info-stand-multimedia-modal .listing li div.favoris li{
    padding:0 0 4px;
}
.info-stand-multimedia-modal .btn.green {
    background-color: #27ae60 !important;
    line-height: 22px;
}
.modal-photo .glyphicon-star::before {
    content: "";
}
*::after, *::before {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
*::after, *::before {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.info-stand-multimedia-modal .listing{
    width: 184px !important;
    height: 100%;
    border-left: 1px solid #9c9c9c;
    position: relative;
    float: right;
    margin-top: 0px;
}
.info-stand-multimedia-modal .listing:after{
    content:'';
    background:#cdcece;
    width:1px;
    height:425px;
    position:absolute;
    left:0;
    top:0;
}
.info-stand-multimedia-modal .listing li {
    overflow:hidden;
    padding:5px 8px 5px 0px;
    text-align:center;
}
.info-stand-multimedia-modal .listing li div{
    float:right;
    width: 146px;
}
.info-stand-multimedia-modal .listing li div.favoris{
    padding: 16px 0 0 8px;
    display:block;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-transition-property: -webkit-transform, width;
    -moz-transition-property: -moz-transform, width;
    -o-transition-property: -o-transform, width;
    width:0;
}

.modal-presse .visuelG h3 {
    color: #363636;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 8px;
    text-align: left;
}
.modal-presse .visuelG{
    margin: 0;
    text-align:center;
}
.modal-presse .visuelG .btn {
    border: medium none !important;
    color: #f2f3f4;
    display: block;
    float: none;
    font-size: 12px;
    height: 22px;
    line-height: 15px;
    margin: 6px auto 9px;
    padding: 0;
    text-transform: none !important;
}
.modal-presse .visuelG .btn i {
    color: #f2f3f4;
    font-size: 11px;
    line-height: 20px;
    margin-right: 2px;
}
.modal-presse .glyphicon-star::before {
    content: "";
}
*::after, *::before {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
*::after, *::before {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

.modal-presse .visuelG img{
    max-width: 100%;
}
.modal-presse .visuelG #galleryPresse{
    height: 278px;
}
.info-stand-multimedia-modal .modal-content {
    height: 372px;
}
@media only screen and (max-width: 1024px) {
    .visuelG{
        margin: 0 0 0 36px;
        width: 65%;
    }
    .listing{
        width:200px;
    }
    .visuelG img {

    }
    .visuel {
        max-width: 80%;
    }
    .visuel img {
        max-width: 100%;
    }
}

#modal-deposer-document-offre{z-index: 100 !important}
.info-stand-multimedia-modal .empty{
	text-align: center;
    margin-top: 20px;
}
.info-stand-multimedia-modal .modal-body{
	height: 87%;
	padding : 0px;
}
.info-stand-multimedia-modal .info-stand-photo, .info-stand-multimedia-modal .info-stand-video, .info-stand-multimedia-modal .info-stand-presse{
	height: 100%;
    padding: 5px;
}
.info-stand-multimedia-modal .scroll-pane{
	height: 100%;
}
.info-stand-multimedia-modal .ad-image-wrapper{
	width : 100%;
	height : 100%;
}
.info-stand-photo .ad-image-wrapper img{
	width: 100%;
    max-height: 254px;    
    margin: 0 auto;
}
.info-stand-multimedia-modal .listing .visuel a span{
	width: 138px;
}
.info-stand-multimedia-modal .visuelG{
    height: 100%;
}
.presse-description{
	width:100%;
	height:100%;
	position:relative;
}
.presse-description-content{
	padding : 0px 10px 0px 10px;
    	height: 100%;
    	overflow: hidden;
    	text-align: left;
}
#info-stand-multimedia .icone-custom{
    position: relative;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
    top: 14px;
    left: 30px;
}
.icone-multi-to-recep a:hover {
    background-color: #1275b8;
}

.icone-multi-to-press a:hover {
    background-color: #755843;
}

