/* Structure page temoignage
================================================== */

.temoignage {
    width:100%;
    margin: 25px 0 0;
}
.temoignage ul li{
    border-bottom: 1px solid #d8d9da;
    padding: 0 0 3px;
    overflow:hidden;
    margin:0 15px 20px;
}
.temoignage .avatarP img{
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    float: left;
    width:45px;
    height:45px;
    margin-right:15px;
}
.temoignage .avatarP p{
    font-family:'robotobold', arial;
    font-size:14px;
    color:#707070;
    padding: 7px 0 0;
    line-height:15px;
}
.temoignage .avatarP p span{
    font-family:'roboto', arial;
    font-size:12px;
    color:#707070;
    display:block;
}
.temoignage .discription .btn{
    display:block;
    float:none;
    margin: 0 auto 10px;
    height:22px;
    line-height:15px;
    padding:0;
    font-size:12px;
    color:#f2f3f4;
    background-color: #b3081b;
    border:none !important;
}
.temoignage .discription .btn.active{
    background-color: #1275b8;
}
.temoignage .discription .btn i{
    color:#f2f3f4;
    font-size:13px;
    line-height:16px;
    margin-right: 7px;
}
.temoignage .discription p{
    font-family:'roboto', arial;
    color:#707070;
    font-size:12px;
    line-height:16px;
    max-width:415px;
}
.temoignage .more{
    display:block;
    font-family:'roboto', arial;
    color:#b3081b;
    font-size:10px;
    line-height:16px;
    text-align:right;
    margin-top:8px;
}
.temoignage .more:hover{
    color:#b3081b;
    text-decoration:underline;
}
#modal-temoignage .temoignage .more-content-testimony{
	overflow: hidden; 
	height: 34px;
}

#modal-temoignage .modal-body{
	height: 90%;
}
#modal-temoignage .scroll-pane{
	height: 100%;
}
#modal-temoignage .empty{
    text-align: center;
    margin-top: 20px;
}


