<div id="account">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-body">
                    <h3 class="accessDataLabel">Données d'accès</h3>
                    <hr/>
                    <p class="accessDataMessageLabel">Vous pouvez changer votre mot de passe mais votre nom d’utilisateur ne peut pas être modifié.</p>
                    <form id="accountForm" class="form-horizontal row-border" action="">
                        <div class="form-group">
                            <label class="col-sm-4 control-label userNameLabel">Nom d'utilisateur</label>
                            <div class="col-sm-6">
                                <input id="recruiterLogin" disabled="disabled" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label passwordLabel">Mot de passe</label>
                            <div class="col-sm-6">
                                <input name="newPassword" id="newPassword" type="password" class="form-control passwordField" disabled="disabled" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label confirmPasswordLabel">Confirmer le mot de passe</label>
                            <div class="col-sm-6">
                                <input name="passwordConfirmation" id="passwordConfirmation" type="password" class="form-control passwordField" disabled="disabled" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 text-center">
                                <div class="radio icheck">
                                    <input id="changePassword" name="changePassword" type="checkbox" value="">
                                    <label class="changePassword changePasswordLabel" for="changePassword">Changer le mot de passe</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-sm-12 inheritFloat">
                                <button type="button" class="btn btn-success saveAccountButton saveChangesLabel disabled">Sauvegarder les changements</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div> <!-- .container-fluid -->
</div> <!-- .container-fluid -->

<script type="text/javascript">
    $(document).ready(function () {
        traduct();
        if (accountController == null) {
            accountController = new $.AccountController(new $.AccountModel(), new $.AccountView());
        }
        accountController.initController();
    });
</script>

