<div id="contentCalendar">
    <div class="container-fluid col-md-12">
        <div class="row">
            <div class="col-md-12">                
                <div class="row">
                    <h2 class="col-md-7 agendaLabel"></h2>
                    <div id="addTestimoniesDiv" class="floatRight">
                        <a id="btnAddEvent" class="btn btn-info pull-right col-md-3 addTestimonyLink"><span class="addEvent"></span></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="calendar-drag"></div>
                </div>
            </div>
        </div>

    </div> <!-- .container-fluid -->
</div> <!-- .container-fluid -->

<div id="fullCalModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span> <span class="sr-only">close</span></button>
                <h4 id="modalTitle" class="modal-title"><span class="addEvent"></span></h4>
            </div>
            <div id="modalBody" class="modal-body">
                <form id="addEventForm" action="" class="form-horizontal">
                    <div id="idEventCalendar"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span class="titleLabel"></span> <em>*</em> :</label>
                        <div class="col-sm-8">
                            <input type="text" name="titleEvent" data-parsley-minlength="6" class="form-control validate" id="titleEvent">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span class="descriptionLabel"></span>  :</label>
                        <div class="col-sm-8">
                            <textarea name="eventDescription" class="form-control validate" id="eventDescription"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span class="typeLabel"></span> :</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="eventType">
                                <option value="1">Tchat</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span class="fromLabel"></span><em>*</em> :</label>
                        <div class="col-sm-8">
                            <input type="text" name="startEvent" class="form-control validate" id="startEvent">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span class="toLabel"></span><em>*</em> :</label>
                        <div class="col-sm-8">
                            <input type="text" name="endEvent" class="form-control validate" id="endEvent">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cancelLabel" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary saveLabel" id="saveEvent">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="removeEvent" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="idDeleteEvent"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="confirmDeleteLabel"></span></h4>
            </div>
            <div class="modal-body">
                <p><span class="bodyCalendarDeleteLabel"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
                <button type="button" id="btnDeleteEvent" class="btn btn-primary deleteLabel" data-dismiss="modal">Supprimer</button>
            </div>
        </div>

    </div>
</div>
<!-- Load page level scripts-->


<script type="text/javascript">
    $(document).ready(function () {
        traduct();
        if (calendarController == null) {
            $("body").append('<script type="text/javascript" src="plugins/fullcalendar/fullcalendar.min.js"></\script><script src="plugins/fullcalendar/lang-all.js"></\script> ');
            calendarController = new $.CalendarController(new $.CalendarModel(), new $.CalendarView());
        }
        calendarController.initController();
    });
</script>