<div id="contentConseil">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h6 class="floatLeft addAdvicesLabel col-md-8">Ajoutez vos conseils</h6>
                <div id="addAdviceDiv" class="floatRight">
                    <a id="addAdviceLink" class="btn btn-info pull-right col-md-3 addAdviceLabel"><span
                        class="addLabel">Ajouter un conseil</span> (<span class="numbers"><span
                            id="numberAdvices"></span>/<span id="numberPermittedAdvices"></span></span>)</a>
                </div>
                <div class="panel-body no-padding tableG">
                    <div class="panel panel-default" id="panel-tabletools" data-widget='{"draggable":"false"}'>
                        <div class="panel-heading">
                            <div class="panel-ctrls" data-actions-container="">
                            </div>
                        </div>
                        <div class="panel-editbox" data-widget-controls=""></div>
                        <div class="panel-body panel-no-padding">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables" id="listAdvicesTable">
                            </table>
                            <div class="panel-footer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- .container-fluid -->
</div> <!-- .container-fluid -->

<!-- Add Publication Modal -->
<div id="addAdvice" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span> <span class="sr-only">close</span></button>
                <h4 id="modalTitle" class="modal-title newAdvice"></h4>
            </div>
            <div id="modalBody" class="modal-body">
                <form id="adviceForm" action="" class="form-horizontal">
                    <div id="idAdvice"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="titleLabel"></span> <em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <input type="text" class="required form-control" name="titleAdvice" data-parsley-minlength="6" id="titleAdvice" maxlength="40">
                        </div>
                    </div>
                    <div class="form-group text-center choice">
                        <input type="radio" id="textOption" name="resourceType" checked="checked" class="choiceBox" />
                        <label for="textOption" id="textOptionLabel" class="enterTextLabel">Saisir un texte </label>
                        <input type="radio" id="uploadOption" name="resourceType" class="choiceBox"/>
                        <label for="uploadOption" id="uploadOptionLabel" class="uploadDocumentLabel choiceBox">Télécharger un document</label>
                    </div>
                    <div id="uploadDivContent" class="form-group">
                        <label class="col-sm-3 control-label"><span class="containLabel"></span> <em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <textarea name="contentAdvice" class="form-control required" id="contentAdvice" maxlength="200"></textarea>
                        </div>
                    </div>
                    <div id="uploadOptionDiv" class="form-group">
                        <div id="loadAdvice">
                            <!--<span class="btn btn-default btn-file"><span class="fileinput-new uploadDocumentLabel">Télécharger un document</span><input id="adviceUpload" type="file" name="..."></span>-->
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="fileinput-filename"></span>
                                <span class="btn btn-default btn-file">
                                    <span class="fileinput-new">Select file</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input id="adviceUpload" type="file" name="files[]">
                                </span>

                            </div>

                            <div id="loadAdviceError" class="loadError"><span class="documentSizeHintLabel">Le document doit être au format pdf et ne doit pas dépasser 6 Mo.</span></div>
                        </div>
                        <div id="progressAdvice" class="progress progress-div-costum">
                            <span class="loadingText"><span class="loadingLabel"></span> 0%</span>
                            <div class="progress-bar progress-bar-uploadfile"></div>
                        </div>

                        <div id="adviceLoaded" style="display: none;">
                            <span class="documentUploadeLabel"></span>
                        </div>
                        <a class="fileInfo" href=""></a>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary saveLabel" id="saveAdvice">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal delete -->
<div class="modal fade" id="removeAdvice" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="idDeleteAdvice"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="confirmDeleteLabel"></span></h4>
            </div>
            <div class="modal-body">
                <p><span class="bodyAdviceDeleteLabel"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
                <button type="button" id="btnDeleteAdvice" class="btn btn-primary deleteLabel" data-dismiss="modal">Supprimer</button>
            </div>
        </div>

    </div>
</div>
<!-- Modal view Advice -->
<div class="modal fade" id="viewAdvice" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="idviewAdvice"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="documentTitlePopup" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div id="contentViewAdvice"></div>
            </div>
        </div>

    </div>
</div>


<!-- Load page level scripts-->
<script type="text/javascript">
    $(document).ready(function () {
        traduct();
        if (conseilController == null) {
            conseilController = new $.ConseilController(new $.ConseilModel(), new $.ConseilView());
        }
        conseilController.initController();
    });
</script>
<!--<script type="text/javascript" src="plugins/datatables/tables-advanceddatatables.js"></script>-->
