<div id="profileEntreprise">
    <div class="row">
        <div class="col-md-12">
            <h4 class="EnterprisePsLabel"></h4>
            <hr/>
            <section>
                <div class="infoEnterpriseP">
                    <p ><span class="enterprisePsInfosLabel">Ces informations des responsables d'enterprise s seront accessibles par tous les visiteurs du forum virtuel.</span> <a href="javascript:void(0)" class="addEnterprisePLink blueLinkUnderline addLabel">Ajouter</a></p>
                    <div class="enterprisePG col-md-12"></div>
                </div>
            </section>
        </div>
    </div>
</div> <!-- .container-fluid -->
<!-- Add EnterpriseP Modal -->
<div id="addEnterpriseP" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span> <span class="sr-only">close</span></button>
                <h4 id="modalTitle" class="modal-title"><span class="addLabel">Ajouter</span> <span class="enterprisePLabel">EnterpriseP</span></h4>
            </div>
            <div id="modalBody" class="modal-body">
                <form id="EnterprisePForm" action="" class="form-horizontal">
                    <div id="idEnterpriseP"></div>
                    <div class="fileinput fileinput-new form-group">
                        <div class="fileinput-preview thumbnail mb20 col-xs-12 col-md-12 uploadAvatar">
                            <img id="avatarNewEnterpriseP" src="img/avatar/default_avatar.jpg" alt="no picture">
                        </div>
                        <div id="avatarUploadEnterpriseP" class="vcenter">
                            <span class="btn btn-default btn-file filebutton">
                                <span class="fileinput-new uploadNewLogoLabel">Charger un avatar</span>
                                <span class="fileinput-exists">Change</span>
                                <input id="uploadAvatar" type="file" name="files[]">
                            </span>
                            <div class="progress progress-div-costum col-xs-8 col-md-8 no-padding" id="progressAvatarUpload">
                                <div class="loadingText"><span class="loadingLabel">Chargement</span> 0%</div>
                                <div class="progress-bar progress-bar-uploadfile"></div>
                            </div>
                            <div class="loadError"><span class="photoSizeHintLabel">La photo doit être au format .jpg, .png or .gif et ne doit pas dépasser 6 Mo.</span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="firstNameLabel">Prénom</span> <em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <input type="text" class="form-control" name="enterprisePFirstName" id="enterprisePFirstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="secondNameLabel">Nom</span> <em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <input type="text" class="form-control" name="enterprisePName" id="enterprisePName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="pseudoSkypeLabel">Pseudo Skype</span> :</label>
                        <div class="col-sm-8 no-padding">
                            <input type="text" class="form-control" name="enterprisePPseudoSkype" id="enterprisePPseudoSkype" maxlength="255">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="emailLabel">Email</span> <em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <input type="email" class="form-control" name="emailEnterpriseP" id="emailEnterpriseP">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="userNameLabel">Login</span> <em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <input type="text" class="form-control" name="loginEnterpriseP" id="loginEnterpriseP">
                        </div>
                    </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="passwordLabel">Mot de passe</span> <em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <input type="password" class="form-control passwordFieldEnterpriseP" name="passwordEnterpriseP" id="passwordEnterpriseP">
                        </div>
                    </div>
                    <div class="form-group">
                    	<div class="col-sm-3"></div>
	                    <div class="col-sm-8 no-padding radio icheck icheckboxEnterpriseP">
	                        <input id="changePasswordEnterpriseP" name="changePasswordEnterpriseP" type="checkbox" value="">
                            <label class="changePasswordEnterpriseP changePasswordLabel" for="changePasswordEnterpriseP">Changer le mot de passe</label>
	                    </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="confirmPasswordLabel">Confirmation Mot de passe</span> <em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <input type="password" class="form-control passwordFieldEnterpriseP" name="confirmPasswordEnterpriseP" id="confirmPasswordEnterpriseP">
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="functionLabel">Fonction</span> :</label>
                        <div class="col-sm-8 no-padding">
                            <input type="text" class="form-control" name="enterprisePJobTitle" id="enterprisePJobTitle" maxlength="255">
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-sm-3 control-label">Admin :</label>
                        <div class="radio-inline">
							<label><input type="radio" value="oui" name="adminRadioButton" checked>Oui</label>
						</div>
						<div class="radio-inline">
							<label><input type="radio" value="non" name="adminRadioButton">Non</label>
						</div>
                        
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary addLabel" id="saveEnterpriseP">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Remove EnterpriseP -->
<div class="modal fade" id="removeEnterpriseP" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="idDeleteEnterpriseP"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="confirmDeleteLabel"></span></h4>
            </div>
            <div class="modal-body">
                <p><span class="bodyEnterprisePDeleteLabel"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
                <button type="button" id="btnDeleteEnterpriseP" class="btn btn-primary deleteLabel" data-dismiss="modal">Supprimer</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
     
       
           var EnterprisePController = new $.EnterprisePController(new $.EnterprisePModel(), new $.EnterprisePView());
        
        EnterprisePController.initController();
    
</script>


