<div class="alert alert-dismissable alert-danger" style="display: none;" id="archiveError">
	<i class="fa fa-fw fa-times"></i>&nbsp; <strong class="errorLabel">Erreur !</strong> <span class="errorInboxLabel"></span>
</div>
<div class="alert alert-dismissable alert-success" style="display: none;" id="archiveSuccess">
	<i class="fa fa-fw fa-check"></i>&nbsp; <strong class="congratLabel"></strong> <span class="successArchivedLabel"></span>
</div>
<div class="alert alert-dismissable alert-success" style="display: none;" id="deleteSuccess">
	<i class="fa fa-fw fa-check"></i>&nbsp; <strong class="congratLabel"></strong> <span class="successDeleteLabel"></span>
</div>
<div class="alert alert-dismissable alert-success" style="display: none;" id="moveSuccess">
	<i class="fa fa-fw fa-check"></i>&nbsp; <strong class="congratLabel"></strong> <span class="successMoveLabel"></span>
</div>
<div class="alert alert-dismissable alert-success" style="display: none;" id="addFolderSuccess">
	<i class="fa fa-fw fa-check"></i>&nbsp; <strong class="congratLabel"></strong> <span class="successAddFolderLabel"></span>
</div>
<div class="alert alert-dismissable alert-success" style="display: none;" id="deleteFolderSuccess">
	<i class="fa fa-fw fa-check"></i>&nbsp; <strong class="congratLabel"></strong> <span class="successDeleteFolderLabel"></span>
</div>
<div>
	<div>
		<div class="row">
			<div class="col-md-3">
				<div class="inbox-menu">
					<div class="collapsible-menu" style="border-top: 0;">
						<span class="inbox-leftbar-category clearfix"> <a href="javascript:;" data-toggle="collapse" data-target="#folders" class="category-heading"><span class="mailsLabel"></span></a> </span>
						<div class="collapse in" id="folders">
							<a id="receptionFoder" class="inbox-menu-item active">
								<st style="font-weight: normal;" class="inboxLabel"></st>
								<span class="badge badge-primary unread-number"></span>
							</a>
							<a id="archiveFoder" class="inbox-menu-item">
								Archives 
								<span class="badge badge-warning archive-badge"></span>
							</a>
						</div>
					</div>

					<div class="collapsible-menu">
						<span class="inbox-leftbar-category clearfix"> <a href="javascript:;" data-toggle="collapse" data-target="#customfolders" class="category-heading"><span class="folderLabel" style="float:inherit;"></span></a> </span>
						<div class="collapse in" id="customfolders">
						</div>
					</div>

				</div>
			</div>
			<div class="col-md-9">
				<div class="panel panel-inbox  panel-inbox-reception">
					<div class="panel-body">
						<div class="inbox-mail-heading">
							<div class="clearfix">
								<div class="pull-left">
									<div class="btn-group">
										<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
											<div class="checkbox-inline icheck">
												<input type="checkbox"  class="selectAllCheckbox" value="">
											</div>
										</a>
									</div>
									<div class="btn-group">
										<a class="btn btn-default archiveConversation"><i data-toggle='tooltip' title='' class="fa fa-fw fa-archive archiveTooltip"></i></a>
										<a class="btn btn-default moveConversation"><i  data-toggle='tooltip' title=''  class="fa fa-fw fa-folder moveTooltip"></i></a>
										<a class="btn btn-default deleteConversation"><i data-toggle='tooltip' title=''  class="fa fa-fw fa-trash-o deleteTooltip"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="email-content-tab">
							
						</div>
					</div>
				</div>
				<div class="panel panel-inbox-read" style="display: none;">
					<div class="panel-body">
						<div class="inbox-read-heading">
							<div class="clearfix">
								<div class="pull-left">
							        <a class="btn btn-default back-to-inbox"><i data-toggle='tooltip' title='Retour'  class="fa fa-fw fa-level-up fa-rotate-270"></i></a>
							        <div class="btn-group">
				                        <a class="btn btn-default archiveConversationIn"><i data-toggle='tooltip' title='Archiver' class="fa fa-fw fa-archive"></i></a>
										<a class="btn btn-default moveConversationIn"><i  data-toggle='tooltip' title='Deplacer'  class="fa fa-fw fa-folder"></i></a>
										<a class="btn btn-default deleteConversationIn"><i data-toggle='tooltip' title='Supprimer'  class="fa fa-fw fa-trash-o"></i></a>
				                    </div>
							    </div>
							</div>
						</div>
						<div class="clearfix">
							<h3 class="inbox-read-title pull-left conversation-title-details"></h3>
							<a class="btn btn-sm btn-midnightblue pull-right response-button"><i class="fa fa-mail-reply visible-xs"></i><span class="hidden-xs responceLabel"></span></a>
						</div>

						<hr class=" mb-md">
						<div class="Message-list-container">
						</div>
					</div>
				</div>
				<div class="panel panel-inbox panel-inbox-write" style="display: none;">
					<div class="panel-body">
						<div class="inbox-mail-heading">
							<div class="clearfix">
								<div class="pull-left">
									<a class="btn btn-default back-to-message-list"><i class="fa fa-fw fa-level-up fa-rotate-270"></i></a>
							    </div>
							    <div class="pull-right">
							    	<a class="btn btn-success send-response"><i class="fa fa-paper-plane mr5"></i><span class="hidden-xs sendLabel"></span></a>
							    </div>
							</div>
						</div>
						<form action="" role="form" id="inbox-compose-form" class="form-horizontal p-lg">
							<div class="form-group mb">
								<div class="col-md-12">
									<div class="input-icon right">
										<input type="text" class="form-control to-email-send" disabled value="" placeholder="To">
									</div>
								</div>
							</div>
							<div class="form-group mb" style="display:none;">
								<div class="col-md-12"><input type="text" class="form-control"></div>
							</div>
							<div class="form-group mb"> 
								<div class="col-md-12"><input type="text" class="form-control subject-send" disabled ></div>
							</div>
							<div class="form-group mb-n">
								<div class="col-xs-12">
									<textarea class="form-control autosize email-body" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 350px;"></textarea>
								</div>
							</div>
						</form>
						<div class="inbox-mail-footer">
							<div class="clearfix">
							    <div class="pull-right">
							    	<a class="btn btn-success send-response"><i class="fa fa-paper-plane mr5"></i><span class="hidden-xs sendLabel"></span></a>
							    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Archive conversation -->
<div id="popupArchiveConversation" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span> <span class="sr-only">close</span>
                </button>
                <h4 class="modal-title"><span class="confirmArchiveLabel"></span></h4>
            </div>
            <div id="modalBodyJobOffer" class="modal-body">
                <h5 style="font-size: 14px;" align="center" class="bodyArchiveLabel"> </h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger noLabel" data-dismiss="modal">Annuler</button>
				<button type="button" class="btn btn-primary yesLabel archiveConversationButton">Archiver</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete conversation -->
<div id="popupDeleteConversation" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span> <span class="sr-only">close</span>
                </button>
                <h4 class="modal-title"><span class="confirmDeleteLabel"></span></h4>
            </div>
            <div id="modalBodyJobOffer" class="modal-body">
                <h5 style="font-size: 14px;" align="center" class="confirmDeleteMessageLabel"></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger noLabel" data-dismiss="modal">Annuler</button>
				<button type="button" class="btn btn-primary yesLabel deleteConversationButton">Supprimer</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete folder -->
<div id="popupDeleteFolder" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span> <span class="sr-only">close</span>
                </button>
                <h4 class="modal-title"><span class="confirmDeleteLabel"></span></h4>
            </div>
            <div id="modalBodyJobOffer" class="modal-body">
                <h5 style="font-size: 14px;" align="center" class="confirmDeleteFolderLabel"></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger noLabel" data-dismiss="modal">Annuler</button>
				<button type="button" class="btn btn-primary yesLabel deleteFolderButton">Supprimer</button>
            </div>
        </div>
    </div>
</div>
<!-- Move conversation -->
<div id="popupMoveConversation" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span> <span class="sr-only">close</span>
                </button>
                <h4 class="modal-title moveConv"></h4>
            </div>
            <div id="modalBodyJobOffer" class="modal-body">
                <form id="folderForm" action="" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="folderName"></span> : </label>
                        <div class="col-sm-8 no-padding">
                            <select class="form-control folderSelect">
                            	<option value="1">Boite de reception</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger noLabel" data-dismiss="modal">Annuler</button>
				<button type="button" class="btn btn-primary yesLabel changeFolderButton">Déplacer</button>
            </div>
        </div>
    </div>
</div>
<!-- Add Folder -->
<div id="popupAddFolder" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span> <span class="sr-only">close</span>
                </button>
                <h4 class="modal-title addFolders"></h4>
            </div>
            <div id="modalBodyJobOffer" class="modal-body">
                <form id="folderAddForm" action="" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="folderName"></span><em class="asterix">*</em> : </label>
                        <div class="col-sm-8 no-padding">
                            <input type="text" class="required form-control" name="addFolderInput" id="addFolderInput"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer"> 
                <button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
				<button type="button" class="btn btn-primary yesLabel saveAddFolderButton">Ajouter</button>
            </div>
        </div>
    </div>
</div>
<!-- Load page level scripts -->
<script type="text/javascript">
	$(document).ready(
			function() {
				if (inboxController == null) {
					inboxController = new $.InboxController(new $.InboxModel(),
							new $.InboxView());
				}
				inboxController.initController();
				traduct();
			});
</script>
