<div class="alert alert-dismissable alert-success" style="display: none;" id="jobOfferDeleted">
	<i class="fa fa-fw fa-check"></i>&nbsp; <strong class="congratLabel"></strong><span class="deleteJobLabel"></span>
</div>
<div class="alert alert-dismissable alert-success" style="display: none;" id="jobOfferUpdated">
	<i class="fa fa-fw fa-check"></i>&nbsp; <strong class="congratLabel"></strong><span class="updateJobLabel"></span>
</div>
<div class="alert alert-dismissable alert-success" style="display: none;" id="jobOfferAdded">
	<i class="fa fa-fw fa-check"></i>&nbsp; <strong class="congratLabel"></strong><span class="addJobLabel"></span>
</div>
<div id="jobOffer">
	<div class="tab-pane active" id="jobOffersContent">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h6 class="floatLeft publishJobOffers col-md-8">Publiez vos	offres.</h6>
					<a class="btn btn-info pull-right col-md-3 addJobOffer"
						id="addJobOfferLink"><span class="addLabel">Ajouter</span></a>
					<div class="panel-body no-padding tableG">
						<div class="panel panel-default" id="panel-tabletools"
							data-widget='{"draggable":"false"}'>
							<div class="panel-heading">
								<div class="panel-ctrls" data-actions-container=""></div>
							</div>
							<div class="panel-editbox" data-widget-controls=""></div>
							<div class="panel-body panel-no-padding">
								<table cellpadding="0" cellspacing="0" border="0"
									class="table table-striped table-bordered datatables"
									id="listJobOffersTable">
								</table>
								<div class="panel-footer"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Delete job Offer -->
<div id="popupDeleteJobOffer" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span> <span class="sr-only">close</span>
                </button>
                <h4 class="modal-title confirmDeleteLabel">Confirmer la suppression</h4>
            </div>
            <div id="modalBodyJobOffer" class="modal-body">
                <h5 style="font-size: 14px;" align="center" id="confirmDeleteJobOfferLabel">Voulez-vous vraiment supprimer cette offre d'emploi ?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
				<button type="button" class="btn btn-primary deleteLabel" id="confirmDeleteJob">Oui</button>
            </div>
        </div>
    </div>
</div>
<!-- Dispaly job Offer -->
<div id="popupJobOfferView" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span> <span class="sr-only">close</span>
                </button>
                <h4 class="modal-title" id="jobOfferTitle"></h4>
            </div>
            <div id="modalBodyJobOffer" class="modal-body">
                <form id="" action="" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label bold"><span class="studyLevelLabel"></span></label>
                        <div class="col-sm-8 no-padding">
                            <label class="control-label" id="studyLevelSelectView"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="paddingDiv">
                            <label class="col-sm-3 control-label bold"><span class="activitySectorsLabel"></span></label>
                            <div class="col-sm-8 no-padding">
                                <label class="control-label" id="activitySectorSelectView"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label skillsLabel bold"><span class="skillsLabel"></span></label>
                        <div class="col-sm-8 no-padding">
                            <label class="control-label" id="jobSkillsView"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="paddingDiv">
                            <label class="col-sm-3 control-label bold"><span class="countryLabel"></span></label>
                            <div class="col-sm-8 no-padding">
                                <label class="control-label" id="cantonSelectView"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label bold"><span class="functionLabel"></span></label>
                        <div class="col-sm-8 no-padding">
                            <label class="control-label" id="functionSelectView"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label bold"><span class="experienceYearsLabel"></span></label>
                        <div class="col-sm-8 no-padding">
                            <label class="control-label" id="experienceYearsSelectView"></label>
                        </div>
                    </div>
                    <div class="form-group" id="jobUrlDiv">
                        <label class="col-sm-3 control-label bold"><span class="urlLabel"></span></label>
                        <div class="col-sm-8 no-padding">
                            <label class="control-label" id="jobUrlView"></label>
                        </div>
                    </div>

                    <div class="form-group"> 
                        <label class="col-sm-3 control-label descriptionLabel bold">Description </label>
                        <div class="col-sm-8 no-padding">
                            <label class="control-label" id="jobDescriptionView"></label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Add JobOffer Modal -->
<div id="addPhotoModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span>×</span> <span class="sr-only">close</span>
				</button>
				<h4 class="modal-title"><span class="addJobOfferLabel"></span></h4>
			</div>
			<div id="modalBodyJobOffer" class="modal-body">
				<form id="jobOfferForm" action="" class="form-horizontal">
					<div id="jobOfferId"></div>
					<div class="form-group">
						<label class="col-sm-3 control-label titleLabel"><span class="titleLabel"></span> <em>*</em>
							:
						</label>
						<div class="col-sm-8 no-padding">
							<input type="text" class="required form-control" name="jobTitle"
								data-parsley-minlength="6" id="jobTitle" maxlength="200">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label descriptionLabel">Description
							:</label>
						<div class="col-sm-8 no-padding">
							<textarea name="jobDescription" class="form-control"
								id="jobDescription" maxlength="2000"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label skillsLabel"><span class="titleLabel"></span>
							:</label>
						<div class="col-sm-8 no-padding">
							<input type="text" class="form-control" name="jobSkills"
								data-parsley-minlength="6" id="jobSkills" maxlength="200">
							<span class="help-inline helpSkillsLabel">Insérez les
								compétences recherchés en les séparant par virgule
								ex:java,php,uml</span>
						</div>
					</div>
					<div class="form-group">
						<input type="checkbox" id="externalUrl" /> <label
							class="col-sm-3 control-label jobOfferHasUrlLabel"
							for="externalUrl">l'offre a une URL externe</label>
					</div>
					<div class="form-group" id="jobUrlDiv">
						<label class="col-sm-3 control-label"><span
							class="urlLabel"> URL </span> <em class="asterix">*</em></label>
						<div class="col-sm-8 no-padding">
							<input name="jobUrl" type="text" id="jobUrl" class="required form-control" disabled/> <span
								id="helpSkillLabel" class="help-inline validUrlLabel" >(une
								URL valide doit avoir la forme : http://www.example.com)</span>
						</div>
					</div>

					<div class="form-group">
						<div class="paddingDiv">
							<label class="col-sm-3 control-label"> <span
								class="activitySectorsLabel">Secteurs d'activités</span> <em
								class="asterix">*</em>
							</label>
							<div class="col-sm-8 no-padding">
								<select id="activitySectorSelect" name="activitySectorSelect"
									class="required form-control" multiple></select>
								<span class="help-inline helpSelectorLabel"></span>
                            </div>
                        </div>
                     	<div id="listActivitySectors" style="padding: 0;"></div>
					</div>
					<div class="form-group">
						<div class="paddingDiv">
							<label class="col-sm-3 control-label"><span
								class="countryLabel">Pays</span> <em class="asterix">*</em></label>

							<div class="col-sm-8 no-padding">
								<select id="cantonSelect" name="cantonSelect"
									class="required form-control" multiple></select>
								<span class="help-inline helpSelectorLabel"></span>
							</div>
						</div>
						<div id="listCantons" style="padding: 0;"></div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label"> <span
							class="studyLevelLabel">Niveau de formation</span> <em
							class="asterix">*</em></label>

						<div class="col-sm-8 no-padding">
							<select id="studyLevelSelect" name="studyLevelSelect"
								class="required form-control"></select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label"> <span
							class="functionLabel">Fonction</span> <em class="asterix">*</em></label>
						<div class="col-sm-8 no-padding">
							<select id="functionSelect" name="functionSelect"
								class="required form-control"></select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label"> <span
							class="experienceYearsLabel">Années d'expérience</span> <em
							class="asterix">*</em></label>
						<div class="col-sm-8 no-padding">
							<select id="experienceYearsSelect" name="experienceYearsSelect"
								class="required form-control"></select>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
				<button type="button" class="btn btn-primary saveLabel" id="saveJobOffer">Sauvegarder</button>
			</div>
		</div>
	</div>
</div>
<!-- Load page level scripts -->
<script type="text/javascript">
	$(document).ready(
			function() {
				if (jobOfferController == null) {
					jobOfferController = new $.JobOfferController(new $.JobOfferModel(),
							new $.JobOfferView());
				}
				jobOfferController.initController();
			});
</script>

