
<div id="enterprises" class="panel-body no-padding tableG">
	<div class="container-fluid">
		<div class="row">
			<h2 class="col-md-7 postersTabLabel">Liste des entreprises</h2>
			<div id="addPosterDiv" class="floatRight">
				<a id="addEnterpriseLink"
					class="btn btn-info pull-right col-md-3 addEnterpriseLabel"><span
					class="addLabel">Ajouter une entreprise</span> (<span
					class="numbers"><span id="numberPosters"></span>/<span
						id="numberPermittedPosters"></span></span>)</a>
			</div>
		</div>
		<hr>
		<div class="panel panel-default" id="posters-tabletools"
			data-widget='{"draggable":"false"}'>
			<div class="panel-heading">
				<div class="panel-ctrls" data-actions-container=""></div>
			</div>
			<div class="panel-editbox" data-widget-controls=""></div>
			<div class="panel-body panel-no-padding table-responsive">
				<table cellpadding="0" cellspacing="0" border="0"
					class="table table-striped table-bordered datatables"
					id="enterprises_table">
				</table>
				<div class="panel-footer"></div>
			</div>
		</div>
		<!-- Add Publication Modal -->
		<div id="addEnterprise" class="modal fade">
			<div class="modal-dialog" style="width: 90%; heigth: 100%;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span>×</span> <span class="sr-only">close</span>
						</button>
						<h4 id="modalTitle" class="modal-title">
							<span class="addLabel">Ajouter</span> <span>Enterprise</span>
						</h4>
					</div>
					<div id="modalBody" class="modal-body">
						<form id="enterpriseForm" action="" class="form-horizontal">
							<div class="form-group">
								<div class="fileinput fileinput-new form-group">
									<div
										class="fileinput-preview thumbnail mb20 col-xs-12 col-md-12 uploadAvatar">
										<img id="avatarNewEnterprise"
											src="img/avatar/default_avatar.jpg" alt="no picture">
									</div>
									<div id="avatarUploadEnterprise" class="vcenter">
										<span class="btn btn-default btn-file filebutton"> <span
											class="fileinput-new uploadNewLogoLabel">Charger un
												avatar</span> <span class="fileinput-exists">Change</span> <input
											id="uploadAvatar" type="file" name="files[]">
										</span>
										<div
											class="progress progress-div-costum col-xs-8 col-md-8 no-padding"
											id="progressAvatarUpload">
											<div class="loadingText">
												<span class="loadingLabel">Chargement</span> 0%
											</div>
											<div class="progress-bar progress-bar-uploadfile"></div>
										</div>
										<div class="loadError">
											<span class="photoSizeHintLabel">La photo doit être au
												format .jpg, .png or .gif et ne doit pas dépasser 6 Mo.</span>
										</div>
									</div>
								</div>

							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									class="enterpriseNameLabel pull-left">Nom de
										l'entreprise</span> <em>*</em> :</label>
								<div class="col-sm-4 no-padding">
									<input type="text" class="form-control" name="enterpriseName"
										data-parsley-minlength="6" id="enterpriseName" maxlength="40">
								</div>
								<label class="col-sm-2 control-label"><span
									class="standNameLabel pull-left">Nom affiché sur le stand</span> <em>*</em> :</label>
								<div class="col-sm-4 no-padding">
									<input type="text" class="form-control"
										name="standName" data-parsley-minlength="6"
										id="standName" maxlength="40">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									class="creationDateLabel pull-left">Année de création</span> <em>*</em> :</label>
								<div class="col-sm-4 no-padding">
									<select id="creationDate" class="form-control creationDate"></select>
								</div>
								<label class="col-sm-2 control-label"><span
									class="addressLabel pull-left">Adresse</span> <em>*</em>
									:</label>
								<div class="col-sm-4 no-padding">
									<input type="text" class="form-control" name="enterpriseAddress"
										data-parsley-minlength="6" id="enterpriseAddress" maxlength="40">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									class="postalCodeLabel pull-left">Code postal</span> <em>*</em>
									:</label>
								<div class="col-sm-4 no-padding">
									<input type="text" class="form-control"
										name="postalCode" data-parsley-minlength="6"
										id="postalCode" maxlength="40">
								</div>
								<label class="col-sm-2 control-label"><span
									class="enterprisePlaceLabel pull-left">Lieu</span> <em>*</em> :</label>
								<div class="col-sm-4 no-padding">
									<input type="text" class="form-control" name="enterprisePlace"
										data-parsley-minlength="6" id="enterprisePlace" maxlength="40">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									class="webSiteLabel pull-left">Site Internet</span> <em>*</em> :</label>
								<div class="col-sm-4 no-padding">
									<input type="text" class="form-control" name="webSite"
										data-parsley-minlength="6" id="webSite" placeholder="http://digifact.co"
										maxlength="40">
								</div>
								<label class="col-sm-2 control-label"><span
									class="careerPageLabel pull-left">Page carrière </span>
									 :</label>
								<div class="col-sm-4 no-padding">
									<input type="text" class="form-control"
										name="careerWebsite" data-parsley-minlength="6"
										id="careerWebsite" maxlength="40">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									class="contactEmailLabel pull-left">Email de contact</span> <em>*</em>
									:</label>
								<div class="col-sm-4 no-padding">
									<input type="email" class="form-control"
										name="contactEmail" data-parsley-minlength="6"
										id="contactEmail" maxlength="40">
								</div>
								<label class="col-sm-2 control-label"><span
									class="employeesNumberLabel pull-left">Nombre d'employés</span> <em>*</em>
									:</label>
								<div class="col-sm-4 no-padding">
									<input type="text" class="form-control"
										name="employeeNumber" data-parsley-minlength="6"
										id="employeeNumber" maxlength="40">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									class="contactEmailLabel pull-left">Groupe</span> <em>*</em>
									:</label>
								<div class="col-sm-4 no-padding">
									<select class="form-control" id="groupStand" name="groupStand"></select>
								</div>
								<label class="col-sm-2 control-label"><span
									class="employeesNumberLabel pull-left">Langue</span> <em>*</em>
									:</label>
								<div class="col-sm-4 no-padding">
									<select class="form-control" id="languageStand" name="languageStand"></select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									class="pull-left">Données identiques</span>:</label>
								<div class="col-sm-4 no-padding ">
									<div class="radio-inline">
										<label><input type="radio" value="oui"
											name="siegeRadioButton">Oui</label>
									</div>
									<div class="radio-inline">
										<label><input type="radio" value="non"
											name="siegeRadioButton" Checked>Non</label>
									</div>
								</div>
							</div>
							<!-- ---------------------------------------------------------------------------------Data siege----------------------------------------------------- -->
							<div class="form-group siege">
								<label class="col-sm-2 control-label"><span
									class="pull-left">Nom du siege</span> <em>*</em> :</label>
								<div class="col-sm-4 no-padding">
									<input type="text" class="form-control"
										name="siegeName" data-parsley-minlength="6"
										id="siegeName" maxlength="40">
								</div>
								<label class="col-sm-2 control-label "><span
									class="pull-left">Adresse du siege</span> <em>*</em> :</label>
								<div class="col-sm-4 no-padding">
									<input type="text" class="form-control"
										name="siegeAddress" data-parsley-minlength="6"
										id="siegeAddress" maxlength="40">
								</div>
							</div>
							<div class="form-group siege">
								<label class="col-sm-2 control-label"><span
									class="titleLabel pull-left">Code postal du siege</span> <em>*</em> :</label>
								<div class="col-sm-4 no-padding">
									<input type="text" class="form-control"
										name="siegePostalCode" data-parsley-minlength="6"
										id="siegePostalCode" maxlength="40">
								</div>
								<label class="col-sm-2 control-label"><span
									class="pull-left">Place du siege</span> <em>*</em> :</label>
								<div class="col-sm-4 no-padding">
									<input type="text" class="form-control"
										name="siegePlace" data-parsley-minlength="6"
										id="siegePlace" maxlength="40">
								</div>
							</div>
							<div class="form-group siege">
								<label class="col-sm-2 control-label"><span
									class="pull-left">Année de création du siege</span> <em>*</em> :</label>
								<div class="col-sm-4 no-padding">
									<select id="siegeCreationDate" class="sameData form-control creationDate"></select>
								</div>
								<label class="col-sm-2 control-label"><span
									class="pull-left">Nombre d'employés du siege</span> :</label>
								<div class="col-sm-4 no-padding">
									<input type="text" class="form-control"
										name="siegeNbremployee" data-parsley-minlength="6"
										id="siegeNbremployee" maxlength="40">
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger cancelLabel"
							data-dismiss="modal">Annuler</button>
						<button type="button" class="btn btn-primary addLabel"
							id="saveEnterprise">Sauvegarder</button>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>

<script type="text/javascript">
	//$(document).ready(function () {

	if (enterprisesController == null) {
		var enterprisesController = new $.EnterprisesController(
				new $.EnterprisesModel(), new $.EnterprisesView());
	}
	enterprisesController.initController();
	//});
</script>