<div id="contentPhotos">
    <div class="container-fluid">
        <div class="row">
            <h2 class="col-md-7 photoLabel">Photos </h2>
            <div id="addPhotoDiv" class="floatRight">
                <a id="addPhotoLink" class="btn btn-info pull-right col-md-3 addPhotos"><span
                    class="addLabel">Ajouter une photo</span> (<span class="numbers"><span
                        id="numberPhotos"></span>/<span id="numberPermittedPhotos"></span></span>)</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-7">
                <p class="uploadPostersLabel">Téléchargez vos affiches.</p>
                <p class="alert alert-info postersFormatLabel">Attention : pour le téléchargement, seuls les formats .jpg, .png et .gif sont reconnus.</p>
            </div>
        </div>
        <div class="row no-margin">
            <div class="panel-body no-padding tableG">
                <div class="panel panel-default" id="photos-tabletools" data-widget='{"draggable":"false"}'>
                    <div class="panel-heading">
                        <div class="panel-ctrls" data-actions-container="">
                        </div>
                    </div>
                    <div class="panel-editbox" data-widget-controls=""></div>
                    <div class="panel-body panel-no-padding table-responsive">
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables" id="listPhotosTable">
                        </table>
                        <div class="panel-footer"></div>
                    </div>
                </div>
            </div>
        </div>


    </div> <!-- .container-fluid -->
</div> <!-- .container-fluid -->

<!-- Add Publication Modal -->
<div id="addPhotos" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span> <span class="sr-only">close</span></button>
                <h4 class="modal-title"><span class="addLabel">Ajouter</span> <span class="photoLabel">Photo</span></h4>
            </div>
            <div id="modalBodyPhoto" class="modal-body">
                <form id="photoForm" action="" class="form-horizontal">
                    <div id="idPhoto"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label "><span class="titleLabel"></span> <em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <input type="text" class="form-control" name="photoTitle" data-parsley-minlength="6" id="photoTitle" maxlength="40">
                        </div>
                    </div>
                    <div id="uploadDivContent" class="form-group">
                        <label class="col-sm-3 control-label descriptionLabel">Description :</label>
                        <div class="col-sm-8 no-padding">
                            <textarea name="photoDescription" class="form-control" id="photoDescription" maxlength="200"></textarea>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div id="loadPhoto">
                            <!--<span class="btn btn-default btn-file"><span class="fileinput-new uploadDocumentLabel">Télécharger un document</span><input id="adviceUpload" type="file" name="..."></span>-->
                            <div class="fileinput fileinput-new" data-provides="">
                                <span class="fileinput-filename"></span>
                                <span class="btn btn-default btn-file">
                                    <span class="fileinput-new uploadPhotoLabel">Télécharger une photo</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input class="form-control" id="photoUpload" type="file" name="files[]">
                                </span>

                            </div>

                            <div id="loadPhotoError" class="loadError"><span class="documentSizeHintLabel">Le document doit être au format pdf et ne doit pas dépasser 6 Mo.</span></div>
                        </div>
                        <div id="progressPhoto" class="progress progress-div-costum">
                            <span class="loadingText"><span class="loadingLabel"></span> 0%</span>
                            <div class="progress-bar progress-bar-uploadfile"></div>
                        </div>

                        <div id="photoLoaded" style="display: none;">
                            <span class="documentUploadeLabel"></span>
                        </div>
                        <a class="fileInfo" href="" target="_blanck"></a>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary addLabel" id="savePhoto">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal delete -->
<div class="modal fade" id="removePhoto" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="idDeletePhoto"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="confirmDeleteLabel"></span></h4>
            </div>
            <div class="modal-body">
                <p><span class="bodyPhotoDeleteLabel"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
                <button type="button" id="btnDeletePhoto" class="btn btn-primary deleteLabel" data-dismiss="modal">Supprimer</button>
            </div>
        </div>

    </div>
</div>
<!-- Modal view Advice -->
<div class="modal fade" id="viewPhoto" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="idviewPhoto"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="titlePhoto" class="modal-title"></h4>
            </div>
            <div class="modal-body viewContent">
                <div id="contentViewPhoto" class="contentView"></div>
            </div>
        </div>

    </div>
</div>


<!-- Load page level scripts-->
<script type="text/javascript">
  //  $(document).ready(function () {
       // if (photosController == null) {
    	   console.log("je suis la photos**********");
           var photosController = new $.PhotosController(new $.PhotosModel(), new $.PhotosView());
           console.log("je suis la photos2**********");
        //}
        photosController.initController();
    //});
</script>
<!--<script type="text/javascript" src="plugins/datatables/tables-advanceddatatables.js"></script>-->
