<div id="contentConseil">
    <div class="container-fluid">
        <div class="row">
            <h2 class="col-md-7 postersTabLabel">Affiches </h2>
            <div id="addPosterDiv" class="floatRight">
                <a id="addPosterLink" class="btn btn-info pull-right col-md-3 addPosterLabel"><span
                    class="addLabel">Ajouter une affiche</span> (<span class="numbers"><span
                        id="numberPosters"></span>/<span id="numberPermittedPosters"></span></span>)</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-7">
                <p class="uploadPostersLabel">Téléchargez vos affiches.</p>
                <p class="alert alert-info postersFormatLabel">Attention : seuls les formats .pdf, .jpg et .png sont reconnus.</p>
            </div>
        </div>
        <div class="row">
            <div class="panel-body no-padding tableG">
                <div class="panel panel-default" id="posters-tabletools" data-widget='{"draggable":"false"}'>
                    <div class="panel-heading">
                        <div class="panel-ctrls" data-actions-container="">
                        </div>
                    </div>
                    <div class="panel-editbox" data-widget-controls=""></div>
                    <div class="panel-body panel-no-padding table-responsive">
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables" id="listPostersTable">
                        </table>
                        <div class="panel-footer"></div>
                    </div>
                </div>
            </div>
        </div>


    </div> <!-- .container-fluid -->
</div> <!-- .container-fluid -->

<!-- Add Publication Modal -->
<div id="addPoster" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span> <span class="sr-only">close</span></button>
                <h4 id="modalTitle" class="modal-title"><span class="addLabel">Ajouter</span> <span class="posterLabel">Affiche</span></h4>
            </div>
            <div id="modalBody" class="modal-body">
                <form id="posterForm" action="" class="form-horizontal">
                    <div id="idPoster"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label "><span class="titleLabel">Affiche</span> <em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <input type="text" class="form-control" name="posterTitle" data-parsley-minlength="6" id="posterTitle" maxlength="40">
                        </div>
                    </div>
                    <div id="uploadDivContent" class="form-group">
                        <label class="col-sm-3 control-label "><span class="descriptionLabel"></span> :</label>
                        <div class="col-sm-8 no-padding">
                            <textarea name="posterDescription" class="form-control" id="posterDescription" maxlength="200"></textarea>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div id="loadPoster">
                            <!--<span class="btn btn-default btn-file"><span class="fileinput-new uploadDocumentLabel">Télécharger un document</span><input id="adviceUpload" type="file" name="..."></span>-->
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="fileinput-filename"></span>
                                <span class="btn btn-default btn-file">
                                    <span class="fileinput-new uploadPosterLabel">Télécharger une affiche</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input class="form-control" id="posterUpload" type="file" name="files[]">
                                </span>

                            </div>

                            <div id="loadPosterError" class="loadError"><span class="documentSizeHintLabel">Le document doit être au format pdf et ne doit pas dépasser 6 Mo.</span></div>
                        </div>
                        <div id="progressPoster" class="progress progress-div-costum">
                            <span class="loadingText"><span class="loadingLabel"></span> 0%</span>
                            <div class="progress-bar progress-bar-uploadfile"></div>
                        </div>

                        <div id="posterLoaded" style="display: none;">
                            <span class="documentUploadeLabel"></span>
                        </div>
                        <a class="fileInfo" href="" target="_blanck"></a>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary addLabel" id="savePoster">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal delete -->
<div class="modal fade" id="removePoster" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="idDeletePoster"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="confirmDeleteLabel"></span></h4>
            </div>
            <div class="modal-body">
                <p><span class="bodyPosterDeleteLabel"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
                <button type="button" id="btnDeletePoster" class="btn btn-primary deleteLabel" data-dismiss="modal">Supprimer</button>
            </div>
        </div>

    </div>
</div>
<!-- Modal view Advice -->
<div class="modal fade" id="viewPoster" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="idviewPoster"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="documentTitlePopup" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div id="contentViewPoster" class="contentView"></div>
            </div>
        </div>

    </div>
</div>


<!-- Load page level scripts-->
<script type="text/javascript">
    //$(document).ready(function () {
    	
        if (postersController == null) {
            postersController = new $.PostersController(new $.PostersModel(), new $.PostersView());
        }
        postersController.initController();
    //});
</script>
<!--<script type="text/javascript" src="plugins/datatables/tables-advanceddatatables.js"></script>-->
