<div id="profilesearched">
    <div class="row">
        <div class="col-md-12">
            <h3 class="profileSearchedTabLabel">Profils recherchés</h3>
            <hr/>
            <form id="profileSearchedForm" class="form-horizontal" action="">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <p class="wantProfilesDescriptionLabel">Renseignez ici une courte description ou un résumé par profil recherché (Détails du profil à mettre sur la catégorie Offres d'Emploi).</p>
                        <div class="form-group">
                            <div class="col-sm-12 col-md-12">
                                <textarea class="editor form-control editor1" id="profileSearched"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group text-right">
                    <div class="col-sm-12 inheritFloat">
                        <button type="button" class="btn btn-success saveProfileSearchedButton saveChangesLabel">Sauvegarder les changements</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> <!-- .container-fluid -->

<script type="text/javascript">
    
       
            profileSearchedController = new $.ProfileSearchedController(new $.ProfileSearchedModel(), new $.ProfileSearchedView());
        
        profileSearchedController.initController();
    
</script>