<div id="stand">


   <!--  -->
    <div class="tab-container tab-default show">
    
        <ul id="myTab" class="nav nav-tabs">
            <li class=" listEnterprises active">
                <a href="javascript:void(0);" class="enterprisesList" id="listEnterprisesTabLabel" data-toggle="tab">Liste des entreprises</a>
            </li>
            <li >
                <a href="javascript:void(0);" class="profile grayLink verdana profileLabel editEnterprise" id="profileTabLabel" data-toggle="tab">Profil de l'entreprise</a>
            </li>
            <li class="linine">
                <a href="javascript:void(0);" class="contact grayLink verdana contactTabLabel editEnterprise" id="contactTabLabel" data-toggle="tab">Contacts</a>
            </li>

            <li class="linine">
                <a href="javascript:void(0);" class="profileSearched grayLink verdana profileSearchedLabel editEnterprise" id="profileSearchedTabLabel" data-toggle="tab">Profile Searched</a>
            </li>
			 <li class="lifour">
                <a href="javascript:void(0);" class="affiches grayLink verdana postersLabel editEnterprise" id="postersTabLabel" data-toggle="tab">Affiches</a>
            </li>
           
<!--  -->
            <li class="liteight">
                <a class="grayLink verdana videosTabLabel videos editEnterprise" href="javascript:void(0);" id="videosTabLabel" data-toggle="tab">Videos</a>
            </li>

            <li class="lithree">
                <a class="grayLink verdana videosRhTabLabel videosRh editEnterprise" href="javascript:void(0);" id="videosRhTabLabel" data-toggle="tab">Videos Rh</a>
            </li>
            <li id="photosLi" class="lisix">
                <a class="photos grayLink verdana photosLabel editEnterprise" href="javascript:void(0);" id="photosTabLabel" data-toggle="tab">Photos</a>
            </li>
            <li id="documentsLi" class="liseven">
                <a class="documents grayLink verdana documentsLabel editEnterprise" href="javascript:void(0);" id="documentsTabLabel" data-toggle="tab">documents</a>
            </li>
            <li class="liteight">
                <a class="testimonies grayLink verdana testimoniesLabel editEnterprise" href="javascript:void(0);" id="testimoniesTabLabel">Témoignages</a>
            </li>
            <li id="videoRh" class="videoRh">
                <a class="surveys grayLink verdana surveysLabel editEnterprise" href="javascript:void(0);" id="surveyTabLabel" data-toggle="tab">Sondage</a>
            </li>
            <li class="liteight">
                <a class="enterprisesP grayLink verdana enterprisesPLabel editEnterprise" href="javascript:void(0);" id="enterprisesPTabLabel">EntreprisesP</a>
            </li>
             <li class="liteight">
               
            </li>
            
  

        </ul>
        
        <div class="tab-content">
            <div id="standContent">
            </div>
        </div>
    </div> 
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if (standController == null) {
            standController = new $.StandController(new $.StandModel(), new $.StandView());
        }
        standController.initController();
    });
</script>