<div id="contentTestimony">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <h2 class="col-md-7 surveysLabel"></h2>
                </div>
                <hr>
                <span class="floatLeft surveyDescriptionLabel1 col-md-12">Vous pouvez créer autant de sondages que vous le souhaitez.</span>
                <span class="floatLeft surveyDescriptionLabel2 col-md-12">Chaque sondage doit comporter au minimum deux questions, et chaque question doit proposer un minimum de deux réponses.</span>
                <p class="floatLeft surveyDescriptionLabel3 col-md-12">Ne sauvegarder votre sondage qu'une fois toutes vos questions et réponses complétées.</p>
                <br>
                <div id="survey" class="col-md-12">
					<div id="surveyContainer" class="row-fluid">
					</div>
				</div>
            </div>
        </div>

    </div> <!-- .container-fluid -->
</div> <!-- .container-fluid -->
<!-- Load page level scripts-->
<script type="text/javascript">
	$('.tokenfield')
	.on('beforeCreateToken', function (e) {
		var token = e.token.value.split('|')
		e.token.value = token[1] || token[0]
		e.token.label = token[1] ? token[0] + ' (' + token[1] + ')' : token[0]
	})
	.on('afterCreateToken', function (e) {
			// Über-simplistic e-mail validation
			var re = /\S+@\S+\.\S+/
			var valid = re.test(e.token.value)
			if (!valid) {
				$(e.relatedTarget).addClass('invalid')
			}
		})
	.on('beforeEditToken', function (e) {
		if (e.token.label !== e.token.value) {
			var label = e.token.label.split(' (')
				e.token.value = label[0] + '|' + e.token.value
			}
		})
	.on('removeToken', function (e) {
		alert('Token removed! Token value was: ' + e.token.value)
	})
	.on('preventDuplicateToken', function (e) {
		alert('Duplicate detected! Token value is: ' + e.token.value)
	})
	.tokenfield();
  //  $(document).ready(function () {
    //    if (surveyController == null) {
            surveyController = new $.SurveyController(new $.SurveyModel(), new $.SurveyView());
      //  }
        surveyController.initController();
    //});
</script>
