<div id="contentVideosRh">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="col-md-7 videoRhLabel">Videos RH</h2>
                <div id="addVideoRhDiv" class="floatRight">
                    <a id="addVideoRhLink" class="btn btn-info pull-right col-md-3 addVideoRhLink">
                        <span class="addLabel">Ajouter une video Rh</span> (<span class="numbers"><span id="numberVideoRhs"></span>/<span id="numberPermittedVideoRhs"></span></span>)
                    </a>
                </div>
                <div class="panel-body no-padding tableG">
                    <div class="panel panel-default" id="panel-tabletools" data-widget='{"draggable":"false"}'>
                        <div class="panel-heading">
                            <div class="panel-ctrls" data-actions-container="">
                            </div>
                        </div>
                        <div class="panel-editbox" data-widget-controls=""></div>
                        <div class="panel-body panel-no-padding">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables" id="listVideosRhTable">
                            </table>
                            <div class="panel-footer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- .container-fluid -->
</div> <!-- .container-fluid -->

<!-- Add Video Modal -->
<div id="addVideoRh" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span> <span class="sr-only">close</span></button>
                <h4 class="modal-title"><span class="addLabel">Ajouter</span> <span class="videoLabel">Vidéo</span></h4>
            </div>
            <div class="modal-body">
                <form id="videoRhForm" action="" class="form-horizontal">
                    <div id="idVideoRh"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="titleLabel"></span> <em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <input type="text" class="form-control" name="videoRhTitle" id="videoRhTitle" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label "><span class="descriptionLabel"></span> :</label>
                        <div class="col-sm-8 no-padding">
                            <textarea name="videoDescription" class="form-control" id="videoRhDescription" maxlength="200"></textarea>
                        </div>
                    </div>
                    <div class="form-group text-center choice">
                        <input type="radio" id="urlOptionRh" name="resourceType" checked="checked" class="choiceBox" />
                        <label for="urlOptionRh" id="textOptionRh" class="enterLinkLabel">Saisir un lien </label>
                        <input type="radio" id="uploadVideoRh" name="resourceType" class="choiceBox"/>
                        <label for="uploadVideoRh" id="uploadVideoRh" class="uploadVideoLabel choiceBox">Télécharger une vidéo</label>
                    </div>
                    <div class="form-group videoUrlDiv">
                        <label class="col-sm-3 control-label"><span class="urlLabel"></span> <em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <input type="text" class="form-control" id="videoRhUrl" name="videoRhUrl"/>
                        </div>
                    </div>
                    <div class="form-group uploadOptionDiv">
                        <div id="loadVideoRh">
                            <!--<span class="btn btn-default btn-file"><span class="fileinput-new uploadDocumentLabel">Télécharger un document</span><input id="adviceUpload" type="file" name="..."></span>-->
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="fileinput-filename"></span>
                                <span class="btn btn-default btn-file">
                                    <span class="fileinput-new uploadVideoLabel">Télécharger une vidéo</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input id="videoRhUpload" type="file" name="files[]">
                                </span>

                            </div>

                            <div id="loadVideoRhError" class="loadError"><span class="videoSizeHintLabel">La vidéo doit être au format .mp4, .flv ou .mov et ne doit pas dépasser 6 Mo.</span></div>
                        </div>
                        <div id="progressVideoRh" class="progress progress-div-costum">
                            <span class="loadingText"><span class="loadingLabel"></span> 0%</span>
                            <div class="progress-bar progress-bar-uploadfile"></div>
                        </div>

                        <div id="videoRhLoaded" style="display: none;">
                            <span class="documentUploadeLabel"></span>
                        </div>
                        <a class="fileInfo" href=""></a>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary addLabel" id="saveVideoRh">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal delete -->
<div class="modal fade" id="removeVideoRh" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="idDeleteVideoRh"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="confirmDeleteLabel"></span></h4>
            </div>
            <div class="modal-body">
                <p><span class="bodyVideoDeleteLabel"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
                <button type="button" id="btnDeleteVideoRh" class="btn btn-primary deleteLabel" data-dismiss="modal">Supprimer</button>
            </div>
        </div>

    </div>
</div>
<!-- Modal view video -->
<div class="modal fade" id="viewVideoRh" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="idviewVideoRh"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="videoRhTitlePopup" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="contentViewVideo"></div>
            </div>
        </div>

    </div>
</div>


<!-- Load page level scripts-->
<script type="text/javascript">
    //$(document).ready(function () {
       // if (videosRhController == null) {
          var videosRhController = new $.VideosRhController(new $.VideosRhModel(), new $.VideosRhView());
        //}
        videosRhController.initController();
   // });
</script>
<!--<script type="text/javascript" src="plugins/datatables/tables-advanceddatatables.js"></script>-->
