<div id="contentVideos">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="col-md-7">Videos </h2>
                <div id="addVideoDiv" class="floatRight">
                    <a id="addVideoLink" class="btn btn-info pull-right col-md-3 addVideoLink">
                        <span class="addLabel">Ajouter une video</span> (<span class="numbers"><span id="numberVideos"></span>/<span id="numberPermittedVideos"></span></span>)
                    </a>
                </div>
                <div class="panel-body no-padding tableG">
                    <div class="panel panel-default" id="panel-tabletools" data-widget='{"draggable":"false"}'>
                        <div class="panel-heading">
                            <div class="panel-ctrls" data-actions-container="">
                            </div>
                        </div>
                        <div class="panel-editbox" data-widget-controls=""></div>
                        <div class="panel-body panel-no-padding">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables" id="listVideosTable">
                            </table>
                            <div class="panel-footer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- .container-fluid -->
</div> <!-- .container-fluid -->

<!-- Add Video Modal -->
<div id="addVideo" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span> <span class="sr-only">close</span></button>
                <h4 id="modalTitle" class="modal-title"><span class="addLabel">Ajouter</span> <span class="videoLabel">Vidéo</span></h4>
            </div>
            <div id="modalBody" class="modal-body">
                <form id="videoForm" action="" class="form-horizontal">
                    <div id="idVideo"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label "><span class="titleLabel"></span><em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <input type="text" class="form-control" name="videoTitle" id="videoTitle" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label "><span class="descriptionLabel"></span>:</label>
                        <div class="col-sm-8 no-padding">
                            <textarea name="videoDescription" class="form-control" id="videoDescription" maxlength="200"></textarea>
                        </div>
                    </div>
                    <div class="form-group text-center choice">
                        <input type="radio" id="urlOption" name="resourceType" checked="checked" class="choiceBox" />
                        <label for="urlOption" id="textOptionLabel" class="enterLinkLabel">Saisir un lien </label>
                        <input type="radio" id="uploadVideo" name="resourceType" class="choiceBox"/>
                        <label for="uploadVideo" id="uploadVideo" class="uploadVideoLabel choiceBox">Télécharger une vidéo</label>
                    </div>
                    <div class="form-group videoUrlDiv">
                        <label class="col-sm-3 control-label "><span class="urlLabel"></span><em>*</em> :</label>
                        <div class="col-sm-8 no-padding">
                            <input type="text" class="form-control" id="videoUrl" name="videoUrl"/>
                        </div>
                    </div>
                    <div class="form-group uploadOptionDiv">
                        <div id="loadVideo">
                            <!--<span class="btn btn-default btn-file"><span class="fileinput-new uploadDocumentLabel">Télécharger un document</span><input id="adviceUpload" type="file" name="..."></span>-->
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="fileinput-filename"></span>
                                <span class="btn btn-default btn-file">
                                    <span class="fileinput-new uploadVideoLabel">Télécharger une vidéo</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input id="videoUpload" type="file" name="files[]">
                                </span>

                            </div>

                            <div id="loadVideoError" class="loadError"><span class="videoSizeHintLabel">La vidéo doit être au format .mp4, .flv ou .mov et ne doit pas dépasser 6 Mo.</span></div>
                        </div>
                        <div id="progressVideo" class="progress progress-div-costum">
                            <span class="loadingText"><span class="loadingLabel"></span> 0%</span>
                            <div class="progress-bar progress-bar-uploadfile"></div>
                        </div>

                        <div id="videoLoaded" style="display: none;">
                            <span class="documentUploadeLabel"></span>
                        </div>
                        <a class="fileInfo" href=""></a>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary addLabel" id="saveVideo">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal delete -->
<div class="modal fade" id="removeVideo" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="idDeleteVideo"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="confirmDeleteLabel"></span></h4>
            </div>
            <div class="modal-body">
                <p><span class="bodyVideoDeleteLabel"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancelLabel" data-dismiss="modal">Annuler</button>
                <button type="button" id="btnDeleteVideo" class="btn btn-primary deleteLabel" data-dismiss="modal">Supprimer</button>
            </div>
        </div>

    </div>
</div>
<!-- Modal view video -->
<div class="modal fade" id="viewVideo" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="idviewVideo"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="videoTitlePopup" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="contentViewVideo"></div>
            </div>
        </div>

    </div>
</div>


<!-- Load page level scripts-->
<script type="text/javascript">
   // $(document).ready(function () {
        //if (videosController == null) {
           var videosController = new $.VideosController(new $.VideosModel(), new $.VideosView());
      //  }
       videosController.initController();
    //});
</script>
<!--<script type="text/javascript" src="plugins/datatables/tables-advanceddatatables.js"></script>-->
