#closeChatStandSpan {
	cursor: pointer;
	background-color: #b3081b;
}
.alertChatStand {
	margin: auto;
	position: relative;
	text-align: center;
}

.alertChatStandDiv {
	width: 100%;
}

.closeChatStandDiv {
	margin: auto;
}

#closeChatStandSpan {
	cursor: pointer;
	background-color: #b3081b;
}

#chatReduceStandsButton_CS .fa-fw{
	color : #ffffff;
}
#chatListStands_CS .coprsChat .title-tab-td{
	width : 10%;
}
#chatListStands_CS .coprsChat .resize-chat-td{
	width : 63%;
}
/*@media only screen and (min-width: 1024px) {*/
	.titleTabBarChat {
		height: 32px;
	}
	.titleTabBarChat span {
		font-size: 14px;
	}
	.titleTabChat {
		padding-left: 10px;
		padding-top: 0px;
	}
	.menuStand tr td {
		padding-top: 5px;
	}
	.separateStandsConnectChat {
		width: 4px;
    	background-color: #fff;
	}
	#connectEnterprises_CS {
		padding-left: 10px;
		padding-top: 0px;
	}
	.avatarChat {
		width: 70px;
		height: 34px;
	}
	.avatarChatStand {
		width: 60px;
		height: 34px;
	}
	.publicChatIcon {
		width: 22px;
	    height: 22px;
	    margin-left: 5px;
	}
	.langueChatIcon{
		width: 16px;
		height: 16px;
	}
	.standName span {
		font-size: 13px;
	}
	.standName {
		height: 24px;
		margin-top: -3px;
	}
	.titleChat {
		height: 18px;
	}
	.titleChat span {
		font-size: 12px;
	}
	#fullScreenChatSpan_CS, #exitFullScreenChatSpan_CS {
		padding-left: 10px;
		padding-top: 0px;
	}
	#fullScreenChatSpan_CS span, #exitFullScreenChatSpan_CS span {
		font-size: 13px;
    	font-weight: 500;
    	text-decoration: underline;
	}
	.sendMessageBar {
		height: 45px;
	}
	#sendMessageButton_CS {
		height: 30px;
    	margin-bottom: 4px;
	}
	#sendMessageButton_CS span {
		font-size: 13px;
		min-width: 70px;
		top: 5px;
    padding: 5px;
	}
	#saveChatButton_CS, #stopSaveChatButton_CS {
		height: 26px;
	}
	#saveChatButton_CS span, #stopSaveChatButton_CS span {
		font-size: 12px;
		min-width: 100px;
		margin-left: 0px;
    	top: 2px;
	}
	#saveChatButton_CS .fui-radio-checked{
		margin-top: 6px;
	}
	#stopSaveChatButton_CS .fui-pause{
		margin-top: 6px;
	}
	.closeStand {
		width: 12px;
		height: 12px;
	}
	#inputTextChat_CS {
		font-size: 14px;
		height: 40px;
	}
	.standsConnect {
		width: 30%;
		height: 100%;
	}
	.coprsChat {
		width: 70%;
		height: 100%;
	}
	.titleTabChat {
		width: 100%;
	}
	.numberRecruiter {
		top: -4px;
		font-size: 0.76em;
		line-height: 1em;
		height: 2em;
		padding: 0.55em 0.82em;
		margin: 1.2em 0px 0px;
		color: rgb(255, 255, 255);
		text-indent: 0px;
		border-radius: 0.969em;
	}
	.avatarMessage {
		width: 25px;
		height: 25px;
	}
	.avatarMessage div {
		width: 25px;
		height: 25px;
		padding-top: 5px;
	}
	.avatarMessage img {
		width: 25px;
		height: 25px;
		text-align: center;
	}
	.extrDate {
		width: 45px;
		text-align: center;
	}
	.extrDate div {
		font-size: 12px;
		width: 45px;
		padding-top: 14px;
	}
	.senderTab {
		line-height: 17px;
		padding-top: 14px;
	}
	.messageTextSpan {
		font-size: 14px;
	}
	.senderTab .senderFullName {
		font-size: 15px;
	}
	#chatReduceStandsButton_CS span {
		font-size: 22px;
	}
	.alertChatStand,.alertChatStandOtherLang {
		width: 655px;
		height: 90px;
		top: 44%;
		position: relative;
		margin: auto;
		display:none;
	}
	.alertChatStandDiv,.alertChatStandOtherLangDiv {
		height: 60px;
	}
	#alertChatStandSpan,#alertChatStandOtherLangSpan {
		font-size: 20px;
	}
	.closeChatStandDiv {
		height: 30px;
		width: 70px;
	}
	#closeChatStandSpan {
		line-height: 13px;
	}
	.startChatChoiceLang_btn{
		cursor:pointer;
		text-align: center;
	}
	.startChatChoiceLang_btn span, .drapeauStand{
		padding: 5px;
	}
/*} End media*/

