
.liste-offres-header{
    background: #c5c5c5;
    padding: 3px 10px;
}
.liste-offres-header > .container-fluid > .row{
    margin-bottom: 0;
}
.liste-offres-header .title{
    font-family: 'robotobold', arial;
    font-size: 18px;
    color: #f2f2f2;
    display: block;
    float: left;
    margin-left: 8px;
}
.liste-offres-header .icon-title{
    display: block;
    float: left;
}
.icone-custom.icon-download2{
    overflow: visible;
    text-indent: inherit;
    margin: 12px 22px 0 0;
}
.icone-custom.icon-download2 .txt{
    background: #8a8a8a none repeat scroll 0 0;
    border: medium none;
    color: #f2f3f4;
    font-size: 8px;
    line-height: 8px;
    margin-left: inherit;
    position: absolute;
    right: 25px;
    width: auto;
}
.historique-chat .scroll-pane{
    height: 72%;
}

#myChats .select-wrapper{
    padding: 0px 0px;
}
#myChats .col-sm-4 {
    padding: 0px;
}
#myChats input {
    width: 99%;
    padding: 0px 0px 0px 0px;
    margin: 0px;
}
#myChats .form-search {
    height: 70px;
}
#content{
    max-width: 995px;
    margin: 0 auto;
    min-height:497px;
    position:relative;
}
.form-search{
    padding-top: 15px;
    background: #eeeeee;
    padding-bottom: 2px;
}
.form-search .select-wrapper {
    max-width: inherit;
    width: 100%;
}
.form-search .select-wrapper input {
    color: #808080;
    font-size: 14px;
    height: 2rem;
    line-height: 2rem;
    margin: 0 0 9px;
    padding: 0 0 0 10px;
}
.form-search .select-wrapper span.caret {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px dashed #7e7f80;
    text-indent: -9999px;
    top: 11px;
    right: 10px;
}
.form-search .dropdown-content {
    top: 25px !important;
}

#page-content {
    padding: 0px 0px 0px 60px;
}
.content-nav-top.historique-chat{
    padding: 0;
}
.historique-chat .jspVerticalBar{
    right: 5px;
}
table.data-table thead .sorting {
    background-image: url("../img/data-table/sort_both.png");
}

table.data-table thead .sorting_asc {
    background-image: url("../img/data-table/sort_asc.png");
}

table.data-table thead .sorting_desc {
    background-image: url("../img/data-table/sort_desc.png");
}

table.data-table .logo-company-wrapper{
    display: inline-flex;
    vertical-align: middle
}

table.data-table .logo-company{
    border-radius: 5px;
    /* float: left; */
    width: 38px;
    height: 38px;
    /* margin-right: 15px; */
    -webkit-box-shadow: 0px 1px 1px 1px rgba(200,200,200,1);
    -moz-box-shadow: 0px 1px 1px 1px rgba(200,200,200,1);
    box-shadow: 0px 1px 1px 1px rgba(200,200,200,1);
    /* padding: 6px; */
    text-align: center;
    display: inline-flex;
    vertical-align: middle;
    float: left;
}

table.data-table .name-company{
    display: inline-flex;
    vertical-align: middle;
    padding: 11px 0px 11px 13px;
}
table.data-table .logo-company img{
    width: 90%;
    vertical-align: middle;
    margin: 3px auto;
}
table.data-table .language-drapeau{
    width: 25px;
    vertical-align: middle;
    display: inline-flex;
}
table.data-table .language-name{
    display: inline-flex;
    vertical-align: middle;
    padding: 7px;
}
table.data-table tbody tr td{
    border-bottom: 1px solid #eeeeee;
}
table.data-table thead th, table.data-table thead td{
    border-bottom: none;
    padding: 10px 0px 10px 0px;
}
table.data-table>thead>tr>th,
table.data-table>tbody>tr>th,
table.data-table>tfoot>tr>th,
table.data-table>thead>tr>td,
table.data-table>tbody>tr>td,
table.data-table>tfoot>tr>td{
    border-top: none;
    vertical-align: middle;
    text-align: left;
    font-size: 12px;
    padding: 8px 8px;
}

table.data-table>thead>tr>th{
    padding: 10px 0px;
    padding-right: 20px;
}
table.data-table>thead>tr>th:first-child,
table.data-table>tbody>tr>th:first-child,
table.data-table>tfoot>tr>th:first-child,
table.data-table>thead>tr>td:first-child,
table.data-table>tbody>tr>td:first-child,
table.data-table>tfoot>tr>td:first-child{
    text-align: left;
    white-space: nowrap;
    padding-left: 10px;
}
.table.data-table>caption+thead>tr:first-child>td,
.table.data-table>caption+thead>tr:first-child>th,
.table.data-table>colgroup+thead>tr:first-child>td,
.table.data-table>colgroup+thead>tr:first-child>th,
.table.data-table>thead:first-child>tr:first-child>td,
.table.data-table>thead:first-child>tr:first-child>th {
    width: 10%;
}
table.dataTable thead th, table.dataTable tfoot th {
    font-weight: normal;
}
table.data-table>thead>tr>td:last-child,
table.data-table>tbody>tr>td:last-child,
table.data-table>tfoot>tr>td:last-child{
    text-align: right;
}
table.data-table>thead>tr>td.dataTables_empty:last-child,
table.data-table>tbody>tr>td.dataTables_empty:last-child,
table.data-table>tfoot>tr>td.dataTables_empty:last-child{
    text-align: left;
}
table.data-table.no-footer{
    border-bottom: 1px solid #eeeeee;
}
table.data-table .btn{
    height: 28px;
    padding: 5px 12px;
}
table.data-table .btn:hover,
table.data-table .btn:focus,
table.data-table .btn:active{
    color: #ffffff;
}
.form-control.select-wrapper >.form-control {
    display:none;
}
.form-control.select-wrapper >.caret {
    top: 0.5rem;
    right: 20px;
    border: none;
    color: #7E7F80;
}
.form-control.select-wrapper {
    display: inherit;
    /* width: 100%; */
    height: auto;
    padding: 0px 12px;
    /*font-size: 14px;*/
    /*    line-height: 1.42857143;*/
    color: #555;
    background-color: transparent;
    /*background-image: none;*/
    border:none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow:none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

table.data-table .status-connexion i{
    font-size: 20px;
}
.green{
    color: #69c38f;
    background-color: transparent !important;
}

.red {
    color: #b3081b;
    background-color: transparent !important;
}
.visiter-action{
    margin: 0 0 0 3%;
    /*float: right;*/
    display: inline-block;
}
.visiter-action img{
    display: inline-flex;
    vertical-align: middle;
}
.icone-custom-relative{
    position: relative;
}
.icone-custom-relative a{
    position: relative;
    height: 54px;
    width: 54px;
}
.icone-custom-relative .txt{
    background: #7A7979 none repeat scroll 0% 0%;
    color: #ffffff;
    border: 1px solid #7A7979;
    width: 100px;
    margin-left: -25px;
    /*    -webkit-box-shadow: -2px 4px 6px 0px rgba(41,41,41,1);
        -moz-box-shadow: -2px 4px 6px 0px rgba(41,41,41,1);
        box-shadow:-2px 4px 6px 0px rgba(41,41,41,1);*/
}
.icone-custom-relative a:hover,
.icone-custom-relative a:focus,
.icone-custom-relative a:active{
    background-color: rgba(238,238,238,0.8);
}
.bloc-navigation{
    margin: 11px 6px;
}
.bloc-navigation .liste-title {
    font-size: 18px;
    margin: 16px 4px;
    display: block;
}
#table-liste-hisoric-chat .openFile{
	height: 20px;
	float:right;
	width:60px;
}

@media only screen and (max-width: 980px) {
    .visiter-action{
        margin: 0 0 0 2%;
    }
}
#historicTchatSearchButton{
	cursor : pointer;
}

