#faq{
    overflow: hidden;
}
.faq #content{
    background: #fff;
}
.faq-header {
    background: #8a8a8a;
    margin-right: -10px;
    padding: 3px 10px;
}
.faq-header > .container-fluid > .row{
    margin-bottom: 0;
}
.faq .icon-faq{
    display: block;
    float: left;
    margin-left: 8px;
}
.faq-header .title{
    font-family: 'robotobold', arial;
    font-size: 18px;
    color: #fff;
    display: block;
    float: left;
    margin-left: 3.5%;
}
.faq-header .icon-title{
    display: block;
    float: left;
}
.faq-acroche{
    background: #ebebeb;
    margin-right: -10px;
    padding: 3px 10px;
}
.faq-acroche .row{
    margin-top: 20px;
}
.faq-acroche .descriptif{
    font-family: 'robotobold', arial;
    font-size: 13px;
    color: #4b4b4b;
}


#content .panel{
    background: #fff;
    box-shadow: none;
    border-top: none;
}
.panel-heading{
    background: #1275b8;
    border-top-left-radius: 0px;
    border-top-right-radius:0px;

}
.panel-heading .panel-title{
    font-family: 'robotobold', arial;
    color: #fff;
    font-size: 14px;
    margin-top: 2px;
}
.panel-body{
    color: #4b4b4b;
}
.panel-body a{
    font-family: 'robotobold', arial;
    color: #b3081b;
}
.panel-body strong{
    color: #4b4b4b;
}
.faq .scroll-pane{
    width: 100%;
    height: 396px;
    overflow: auto;
}
