/* Copyright 2014 Mozilla Foundation
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import url(text_layer_builder.css);

.pdfViewer .canvasWrapper {
  overflow: hidden;
}

.pdfViewer .page {
  direction: ltr;
  width: 816px;
  height: 1056px;
  position: relative;
  overflow: visible;
  margin: 1px auto 2px auto;
  /*margin: 1px auto -8px auto;
  border: 9px solid transparent;
  background-clip: content-box;*/
  border-image: url(images/shadow.png) 9 9 repeat;
  background-color: white;
}

.pdfViewer .page canvas {
  margin: 0;
  display: block;
}

.pdfViewer .page .loadingIcon {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url('images/loading-icon.gif') center no-repeat;
}

.pdfViewer .page .annotLink > a:hover {
  opacity: 0.2;
  background: #ff0;
  box-shadow: 0px 2px 10px #ff0;
}

:-webkit-full-screen .pdfViewer .page {
  margin-bottom: 100%;
  border: 0;
}

:-moz-full-screen .pdfViewer .page {
  margin-bottom: 100%;
  border: 0;
}

:-ms-fullscreen .pdfViewer .page {
  margin-bottom: 100% !important;
  border: 0;
}

:fullscreen .pdfViewer .page {
  margin-bottom: 100%;
  border: 0;
}

.pdfViewer .page .annotText > img {
  position: absolute;
  cursor: pointer;
}

.pdfViewer .page .annotTextContentWrapper {
  position: absolute;
  width: 20em;
}

.pdfViewer .page .annotTextContent {
  z-index: 200;
  float: left;
  max-width: 20em;
  background-color: #FFFF99;
  box-shadow: 0px 2px 5px #333;
  border-radius: 2px;
  padding: 0.6em;
  cursor: pointer;
}

.pdfViewer .page .annotTextContent > h1 {
  font-size: 1em;
  border-bottom: 1px solid #000000;
  padding-bottom: 0.2em;
}

.pdfViewer .page .annotTextContent > p {
  padding-top: 0.2em;
}

.pdfViewer .page .annotLink > a {
  position: absolute;
  font-size: 1em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pdfViewer .page .annotLink > a /* -ms-a */  {
  background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAA\
                   LAAAAAABAAEAAAIBRAA7") 0 0 repeat;
}
