#content_search .page-content-wrapper .scroll-pane{
    height: 320px;
    /*height: 430px;*/
}

#content{
    max-width: 995px;
    margin: 0 auto;
    min-height:497px;
    position:relative;
}

.contentPages{
    background-color: white;
    height: 497px;
}

#page-content {
    padding: 0px 0px 0px 60px;
}
#page-content .page-content-wrapper{
    background: #ebebeb;
    padding-top: 15px;
}
#page-content .page-content-wrapper > .row{
    margin-bottom: 0px;
}

table.data-table thead .sorting {
    background-image: url("../img/data-table/sort_both.png");
}

table.data-table thead .sorting_asc {
    background-image: url("../img/data-table/sort_asc.png");
}

table.data-table thead .sorting_desc {
    background-image: url("../img/data-table/sort_desc.png");
}

table.data-table .logo-company-wrapper{
    display: inline-flex;
    vertical-align: middle
}

table.data-table .logo-company{
    border-radius: 25px;
    /* float: left; */
    width: 38px;
    height: 38px;
    /* margin-right: 15px; */
    -webkit-box-shadow: 0px 1px 1px 1px rgba(200,200,200,1);
    -moz-box-shadow: 0px 1px 1px 1px rgba(200,200,200,1);
    box-shadow: 0px 1px 1px 1px rgba(200,200,200,1);
    /* padding: 6px; */
    text-align: center;
    display: inline-flex;
    vertical-align: middle;
}
table.data-table .name-company{
    display: inline-flex;
    vertical-align: middle;
    padding: 11px 0px 11px 13px;
}
table.data-table .logo-company img{
    width: 100%;
    vertical-align: middle;
    margin: 10px auto;
}
table.data-table .language-drapeau{
    width: 25px;
    vertical-align: middle;
    display: inline-flex;
}
table.data-table .language-name{
    display: inline-flex;
    vertical-align: middle;
    padding: 7px;
}
table.data-table tbody tr td{
    border-bottom: 1px solid #eeeeee;
}
table.data-table thead th, table.data-table thead td{
    border-bottom: none;
    padding: 10px 0px 10px 0px;
}
table.data-table>thead>tr>th,
table.data-table>tbody>tr>th,
table.data-table>tfoot>tr>th,
table.data-table>thead>tr>td,
table.data-table>tbody>tr>td,
table.data-table>tfoot>tr>td{
    border-top: none;
    vertical-align: middle;
    text-align: right;
    font-size: 12px;
    padding: 8px 6px;
}

table.data-table>thead>tr>th{
    padding: 10px 0px;
    padding-right: 20px;
}
table.data-table>thead>tr>th:first-child,
table.data-table>tbody>tr>th:first-child,
table.data-table>tfoot>tr>th:first-child,
table.data-table>thead>tr>td:first-child,
table.data-table>tbody>tr>td:first-child,
table.data-table>tfoot>tr>td:first-child{
    text-align: left;
}
.table.data-table>caption+thead>tr:first-child>td,
.table.data-table>caption+thead>tr:first-child>th,
.table.data-table>colgroup+thead>tr:first-child>td,
.table.data-table>colgroup+thead>tr:first-child>th,
.table.data-table>thead:first-child>tr:first-child>td,
.table.data-table>thead:first-child>tr:first-child>th {
    width: 10%;
}
table.dataTable thead th, table.dataTable tfoot th {
    font-weight: normal;
}
table.data-table.no-footer{
    border-bottom: 1px solid #eeeeee;
}
table.data-table .btn{
    height: 28px;
    padding: 5px 12px;
}
table.data-table .btn:hover,
table.data-table .btn:focus,
table.data-table .btn:active{
    color: #ffffff;
}
#data-table-filters input{
    font-size: 14px;
    padding: 0px 0px 0px 10px;
    height: 2rem;
    line-height: 2rem;
    color: #808080;
}
#data-table-filters .input-icone i{
    position: absolute;
    right: 20px;
    top: 8px;
    font-size: 13px;
    color: #808080;
}
#data-table-filters .dropdown-content{
    padding: 10px;
}

#data-table-filters input:hover,
#data-table-filters input:active,
#data-table-filters input:focus{
    font-size: 13px;
    padding: 0px 0px 0px 10px;
    height: 2rem;
    line-height: 2rem
}
.form-control.select-wrapper >.form-control {
    display:none;
}
.form-control.select-wrapper >.caret {
    top: 0.5rem;
    right: 20px;
    border: none;
    color: #7E7F80;
}
.form-control.select-wrapper {
    display: inherit;
    /* width: 100%; */
    height: auto;
    padding: 0px 12px;
    /*font-size: 14px;*/
    /*    line-height: 1.42857143;*/
    color: #555;
    background-color: transparent;
    /*background-image: none;*/
    border:none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow:none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#data-table-filters{
    background-color: #eeeeee;
}
table.data-table .status-connexion i{
    font-size: 20px;
}
.green{
    color: #69c38f;
    background-color: transparent !important;
}

.red {
    color: #b3081b;
    background-color: transparent !important;
}
.visiter-action{
    margin: 0px 3%;
}
.visiter-action img{
    display: inline-flex;
    vertical-align: middle;
    cursor: pointer;
}
.icone-custom-relative{
    position: relative;
}
.icone-custom-relative a{
    position: relative;
    height: 54px;
    width: 54px;
}
.icone-custom-relative .txt{
    background: #7A7979 none repeat scroll 0% 0%;
    color: #ffffff;
    border: 1px solid #7A7979;
    width: 100px;
    margin-left: -25px;
    /*    -webkit-box-shadow: -2px 4px 6px 0px rgba(41,41,41,1);
        -moz-box-shadow: -2px 4px 6px 0px rgba(41,41,41,1);
        box-shadow:-2px 4px 6px 0px rgba(41,41,41,1);*/
}
.icone-custom-relative a:hover,
.icone-custom-relative a:focus,
.icone-custom-relative a:active{
    background-color: rgba(238,238,238,0.8);
}
.bloc-navigation{
    margin: 11px 6px;
}
.bloc-navigation .liste-title {
    font-size: 18px;
    margin: 25px 4px;
    display: block;
}
