.liste-offres-header{
    background: #8a8a8a;
    padding: 3px 10px;
}
.liste-offres-header > .container-fluid > .row{
    margin-bottom: 0;
}
.liste-offres-header .title{
    font-family: 'robotobold', arial;
    font-size: 18px;
    color: #f2f2f2;
    display: block;
    float: left;
    margin-left: 8px;
}
.liste-offres-header .icon-title{
    display: block;
    float: left;
}
#galleryDocument {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 92%;
    z-index: 30;
}
#content_documents .page-content-wrapper-document{
    padding-right: 10px;
    background-color: white;
}
#content_documents .documents {
    margin-bottom: 0px;
}
#content_documents .documents .scroll-pane {
    height: 456px;
}
#content_documents {
    background-color: white;
    height: 497px;
}
#content_documents .documents  .visuelG h3{
    font-family: 'robotobold', arial;
    font-size: 18px;
    color: #6a6a6a;
    font-size: 18px;
    margin-left: 2.5rem;
    margin-top: 2rem;
    text-align: left;
}

#content_documents .documents .btn{
    border: none !important;
    color: #f2f3f4;
    display: block;
    float: none;
    font-size: 12px;
    height: 22px;
    line-height: 15px;
    padding: 0;
    margin:0 auto;
    text-transform:none !important;
}
#content_documents .documents .btn.sup{
    display:block;
    float:none;
    margin: 0 auto 10px;
    height:22px;
    line-height:15px;
    padding:0;
    font-size:12px;
    color:#f2f3f4;
    background-color: rgba(138, 138, 138, 1);
    border:none !important;
}

#content_documents .documents .btn i{
    color: #f2f3f4;
    font-size: 11px;
    margin-right:2px;
    line-height:20px;
}
#content_documents .documents .btn.blue{
    background-color:#2980b9 !important;
    line-height:22px;
}
#content_documents .documents .btn.green{
    background-color:#27ae60 !important;
    line-height:22px;
}
/* Structure page info stand affiche
================================================== */
#content_documents .visuelG{

}
#content_documents .visuelG .ad-image-wrapper{
    height: 380px;
}
.ad-wrapper {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background-color: #fff;
}
#content_documents .listing{
    width: 200px !important;
    height: 100%;
    border-left: 1px solid #9c9c9c;
    position: relative;
    float: right;
    margin: 8px 8px 8px 0px;
}
/*.listing:after{
    content:'';
    background:#cdcece;
    width:1px;
    height:280px;
    position:absolute;
    left:0;
    top:0;
}*/
#content_documents .listing li {
    overflow:hidden;
    padding:0 20px 10px;
    text-align:center;
}
#content_documents .listing li a{
    font-size:11px;
    color:#363636;
}
#content_documents .listing li div{
    float:right;
}
#content_documents .listing li div.favoris{
    padding: 10px 0 0 8px;
    display:block;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-transition-property: -webkit-transform, width;
    -moz-transition-property: -moz-transform, width;
    -o-transition-property: -o-transform, width;
    width:0;
}
#content_documents .listing li:hover div.favoris{
    width:25px;
    display:block;
    text-align:center;
}
#content_documents .listing li div.favoris li{
    padding:0 0 4px;
}
/* Structure page info stand document
================================================== */

#content_documents .infos{
    width:100%;
}
#content_documents .infos li{
    padding:0 9px 7px;
    margin:0;
    border-bottom:none;
    position:relative;
}
#content_documents .infos li:first-child{
    padding:0 0 17px 13px;
    text-align: left;
}
#content_documents .infos .document-name {
    height:28px;
    line-height:18px;
    font-size:12px;
    color:#707070;
    float: left;
    padding: 0;
}
#content_documents .infos .document-name i{
    position:absolute;
    left:0;
    top:0;
}

#content_documents .documents .listing .ul-docs > li{
    margin: 0 10px;
    border-bottom: 1px solid #d8d9da;
    padding: 20px 0 10px;
}
#content_documents .empty{    
	text-align: center;
    margin-top: 20px;
}
@media only screen and (min-width: 1024px) {
	#content_documents .visuelG .ad-image-wrapper{
		margin: 20px 18px;
	    width: 99%;
    }
}
@media only screen and (min-width: 857px) and (max-width: 1024px)  {
	#content_documents .visuelG .ad-image-wrapper{
		margin: 20px 15px;
	    width: 99%;
    }
}
@media only screen and (min-width: 757px) and (max-width: 856px)  {
	#content_documents .visuelG .ad-image-wrapper{
		margin: 20px 0px;
	    width: 99%;
    }
}


