#modal-document-lecteur .document-lecteur img{
    height: 100%;
    margin: 0 auto;
}
#modal-document-lecteur .modal-header h2{
    margin-bottom: 1px;
}
#modal-document-lecteur .modal-dialog{
    width:700px;
    margin: 25px auto 0;
}
#modal-document-lecteur .modal-open{
    padding-right: 0px !important;
    overflow: scroll !important;
}
#modal-document-lecteur button.close{
    margin-top: -2px;
    margin-right: 1px;
    opacity: 1;
    width:11px;
    height:11px;
    background:url("../img/close.png") no-repeat scroll center center;
    float:right;
    text-indent:-9999px;
    top:24px;
    right:24px;
    position:absolute;
    z-index:9999;
}
#modal-document-lecteur .modal-content {
    background-color: #f2f3f4;
    opacity: 0.95;
    background-clip: padding-box;
    border: none;
    border-radius: 0px;
    outline: 0px none;
    -webkit-box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 8px;
    opacity: 1;
}
#modal-document-lecteur .modal-title {
    font-family: 'robotobold', arial;
    font-size: 18px;
    color: #707070;
    float: left;
    border-bottom: 1px solid #d8d9da;
    padding: 0 0 10px;
    margin-bottom: 18px;
    width: 100%;
}
#modal-document-lecteur .modal-body {
    overflow: hidden;
    height: 280px;
    padding: 1px;
    width: 100% !important;
}
#modal-document-lecteur .modal-title i {
    float: left;
    margin-right: 1rem;
    margin-left: 2.5rem;
}
#modal-videoRh-lecteur .document-lecteur img{
    height: 100%;
    margin: 0 auto;
}
#modal-videoRh-lecteur .modal-header h2{
    margin-bottom: 1px;
}
#modal-videoRh-lecteur .modal-dialog{
    width:92%;
    margin: 10px 10px 10px 70px;
}
#modal-videoRh-lecteur .modal-open{
    padding-right: 0px !important;
    overflow: scroll !important;
}
#modal-videoRh-lecteur button.close{
    margin-top: -16px;
    margin-right: 1px;
    opacity: 1;
    width:11px;
    height:11px;
    background:url("../img/close.png") no-repeat scroll center center;
    float:right;
    text-indent:-9999px;
    top:30px;
    right:10px;
    position:absolute;
    z-index:9999;
}
#modal-videoRh-lecteur .modal-content {
    background-color: #f2f3f4;
    opacity: 0.95;
    background-clip: padding-box;
    border: none;
    border-radius: 0px;
    outline: 0px none;
    -webkit-box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 8px;
    opacity: 1;
}
#modal-videoRh-lecteur .modal-title {
    font-family: 'robotobold', arial;
    font-size: 18px;
    color: #707070;
    float: left;
    border-bottom: 1px solid #d8d9da;
    padding: 0 0 10px;
    margin-bottom: 18px;
    width: 100%;
}
#modal-videoRh-lecteur .modal-body {
    overflow: hidden;
    height: 407px;
    padding: 1px;
    width: 100% !important;
}
#modal-videoRh-lecteur .modal-title i {
    float: left;
    margin-right: 1rem;
    margin-left: 2.5rem;
}

#modal-document-lecteur-big .document-lecteur img{
    height: 100%;
    margin: 0 auto;
}
#modal-document-lecteur-big .modal-header h2{
    margin-bottom: 1px;
}
#modal-document-lecteur-big .modal-dialog{
    width: 96%;
    margin: 20px;
    height: 92%;
}
#modal-document-lecteur-big .modal-open{
    padding-right: 0px !important;
    overflow: scroll !important;
}
#modal-document-lecteur-big button.close{
    margin-top: -16px;
    margin-right: 1px;
    opacity: 1;
    width:11px;
    height:11px;
    background:url("../img/close.png") no-repeat scroll center center;
    float:right;
    text-indent:-9999px;
    top:30px;
    right:10px;
    position:absolute;
    z-index:9999;
}
#modal-document-lecteur-big .modal-content {
    background-color: #f2f3f4;
    opacity: 0.95;
    background-clip: padding-box;
    border: none;
    border-radius: 0px;
    outline: 0px none;
    -webkit-box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 8px;
    opacity: 1;    
    height: 100%;
}
#modal-document-lecteur-big .modal-title {
    font-family: 'robotobold', arial;
    font-size: 18px;
    color: #707070;
    float: left;
    border-bottom: 1px solid #d8d9da;
    padding: 0 0 10px;
    margin-bottom: 18px;
    width: 100%;
}
#modal-document-lecteur-big .modal-body {
    overflow: hidden;
    height: 100%;
    padding: 1px 1px 10px 1px;
    width: 100% !important;
}
#modal-document-lecteur-big .modal-title i {
    float: left;
    margin-right: 1rem;
    margin-left: 2.5rem;
}
#modal-document-lecteur-big {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100% !important;
    height: 100% !important;
}
#modal-document-lecteur-big .modal-body .document-lecteur .ad-image-wrapper {
    height: 95%;
}
#modal-document-lecteur-big object, #modal-document-lecteur-big iframe {
    width: 100% !important;
    height: 100% !important;
}
@media only screen and (max-width: 1026px){
    #modal-document-lecteur-big {
        left: 00px !important;
        width: 100% !important;
    }
    #modal-document-lecteur-big .modal-dialog {
        width: 95% !important;
    }
    #modal-document-lecteur-big .modal-body {
        overflow: hidden;
        height: 300px;
        padding: 1px;
        width: 100% !important;
    }
    #modal-document-lecteur-big object, #modal-document-lecteur-big iframe {
        width: 100% !important;
        height: 300px !important;
    }
}