h1 {
	padding: 0;
	color: #0796BE;
	font-size: 16px;
}

.personnalData>div {
	padding: 10px 0px 10px 0px;
}

#chatPage .tab-content>.tab-pane {
	display: block;
}

.slideDownbox,.slideUpbox,.slideTogglebox {
	float: left;
	padding: 8px;
	margin: 16px;
	border: 1px solid #F7F6F6;
	width: 100%;
	height: 100%;
	background-color: rgb(246, 168, 40);
	color: white;
}

.clear {
	clear: both;
}

#wrap {
	margin: 10px auto;
}

#loading {
	display: none;
}

#loading img {
	vertical-align: middle;
}

#chatPage #ui-datepicker-div {
	font-size: 80%; /* Without this the datepicker looks huge! */
}

.historic-chat-content .ui-datepicker-trigger {
	vertical-align: -10%;
	width: 20px;
	height: 20px;
	padding-left: 15px;
}
/*
.historic-chat-content label {
	display: block;
	width: 90px;
	float: left;
}*/
/* TIMEPICKER */
#contentTime {
	font-size: 0.2em;
	/* for the rest of the page to show at a normal size */
	font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial,
		Helvetica, sans-serif;
	width: 150px;
	margin: 7px;
}

fieldset {
	padding: 0.5em 2em
}

.historic-chat-content a {
	cursor: pointer;
}

.historic-chat-content ol, #content ul {
	list-style: none;
}

#connectToChatButton {
	float: left; 
	background-color: #2B9237;
}

#connectToChatButton:hover {
	background-color: #2B9237;
}
#connectToChatButton.disconnected {
	background-color: #B3081B;
}

#connectToChatButton.disconnected:hover {
	background-color: #B3081B;
}

.span3 {
	height : 12px !important;
	width  : 150px !important;
	margin-right : 10px ;
}

.input-large {
	width: 160px !important;
}
