.page-container {
  margin: 0px;
  padding: 0px;
  position:relative;
}

/* .page-title { */
/*   padding: 0px; */
/*   letter-spacing: -1px; */
/*   display: block; */
/*   color: #666; */
/*    margin: 0 0 10px; */
/*   font-weight: normal; */

/* } */
/* .page-title h3{ */
/* 	display:inline-block; */
/* 	top:-5px; */
/* 	position:relative; */
/* 	width: 90%; */
/* } */
/* .page-title p{ */
/* 	color:#63696d; */
/* 	letter-spacing:0.5px */
/* } */
/* .page-title i{ */
/* 	display:inline-block; */
/* 	color:#73777c; */
/* 	font-size:30px; */
/* 	margin-right:12px; */
/* 	position: relative; */
/*     top: 7px; */
/* 	float:left */
/* } */
/* .page-title small { */
/*   font-size: 14px; */
/*   letter-spacing: 0px; */
/*   font-weight: normal; */
/*   color: #888; */
/* } */

/* Typography */
h1{
	line-height:43px
}
h2{
	line-height:35px
}
h3{
	line-height:30px
}
h4{
	line-height:22px
}
h3 small, h4 small, h5 small {
  font-family: 'Helvetica';
  font-weight: 300;	
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica';
  font-weight: 300;
  color:#505458
}

h1.block, h2.block, h3.block, h4.block, h5.block, h6.block {
  padding-bottom: 10px;
}

a {
  text-shadow: none !important;
  color: #0d638f;
  transition: color 0.1s linear 0s,background-color 0.1s linear 0s  !important;
}

a,a:focus, a:hover, a:active {
  outline: 0;
  text-decoration:none;
}

label.inline{
	display:inline-block;
	position:relative;
	top:0px;
	font-size: 13px;
	
}
/* ul > li { */
/* 	padding-left:6px; */
/* } */
address{
	margin-bottom:0px;
}
blockquote{
	 padding: 0 0 0 18px;
	  border-left: 5px solid #EEEEEE;
}
blockquote p{
	font-size:16px
}
blockquote small:before{
	 content: "";
}
blockquote.pull-right small:after{
	content: "";
}
blockquote small{
	line-height: 29px;
	color:#8b91a0;
}
.logo{
	margin:18px 14px;
}

.normal{ 
	font-weight:normal;
}

.semi-bold{ 
	font-weight:600;
}

.bold{ 
	font-weight:bold;
}

.all-caps{
	text-transform:uppercase;
}
.light{
	font-weight:300 !important;
}

.small-text{
	font-size:12px !important;
}

.normal-text{
	font-size:13px !important;
}

.large-text{
	font-size:15px !important;
}

.center-text{
	text-align:center !important;
}
.muted {
	color:#b6bfc5;
}


/*** Custom Styles for Tabs **/
.nav-tabs{
	margin-bottom:0px;
	background: rgba(255,255,255,0.4);
	border-right:1px solid #f0f0f0;
	border-left:0px;
	font-weight: normal;
}

.nav-tabs > li > a {
	border-radius:0px;
	border-right:1px solid #ebebeb;
	padding:15px 20px;
	color:#252525;
	min-width:70px;
		
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus{
	border:0px;
	color:#3498db;
	border-top:2px solid #3498db;
	border-right:1px solid #ebebeb;
	border-left:0px;
	box-shadow: 5px -10px 15px #ebebeb;

}

.tabs-left > .nav-tabs > li > a {
	border:0px;

}

.tabs-right > .nav-tabs > li > a{
	border:0px;

}


.nav>li>a:hover, .nav>li>a:focus {
	background-color: #fff;
	color:#505458;
}
.nav .tools{
	float:right;
	position: relative;
    right: 10px;
    top: 10px;
}

.nav .tools a{
  	position:relative;
	background: url('../images/icon/portlet-tray.png') no-repeat;
	transition: all 0.1s linear 0s;
}
.nav .tools > a.remove, 
.nav .tools > a.remove {
	background-position: -66px -38px;
	width: 10px;
	height: 10px;

}

.nav .tools > a.config,
.nav.tools > a.config {
	background-position: -3px -32px;
	width: 22px;
	height: 22px;
}

.nav .tools > a.reload,
.nav .tools > a.reload {
	background-position: -37px -38px;
	width: 12px;
	height: 10px;

}

.nav .tools > a.expand,
.nav .tools > a.expand {
	background-position: -123px -40px;
	width: 10px;
	height: 6px;


}

.nav .tools > a.collapse,
.nav.tools > a.collapse {
	background-position:-95px -40px;
	width: 9px;
	height: 7px;
}

.nav-pills > li {
	width:50%;
	text-align:center;
	
}

.nav-pills > li > a {
	padding:25px 0px;
	line-height:1.4;
	
}


.nav-tabs > li {
	margin-bottom: -3px;	
	padding-left:0;
	cursor: pointer;	
}

.nav-pills{
	margin-bottom:10px;
	font-size:16px;
	font-weight: normal;
}

.nav-pills i {
	font-size:18px;
	margin:0 8px 0px 0px;
}

.nav-tabs > li > a, .nav-pills > li > a {
	margin-right: 0px;
}
.tab-content{
	position:relative;
	z-index:10;
	background-color:#fff;
	overflow:hidden;
}

.tab-content p {
	color:#252525;
	font-size:22px;
	font-weight: normal;
	margin-bottom:10px;
}

.tab-content span {
	color:#252525;
	font-size:14px;
	font-weight:normal;
}

.tab-content > .tab-pane, .pill-content > .pill-pane{
	padding:15px;
	
}

.tab-content > .active, .pill-content > .active{	
	padding: 19px;

}

.tabs-left>.nav-tabs {
    float: left;
    margin-right:0px;
	background-color: rgba(255,255,255,0.4);
}

.nav-tabs i {
   margin-right:7px;
}

.tabs-right>.nav-tabs {
    float: right;
    margin-left: 0px;
}
.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover, .nav > li.dropdown.open.active > a:focus{
	background-color:#C1CACE;
	
}
.dropdown-menu li{
	 padding-left: 0px;
}





/*** Table Styles **/
.table tr.row_selected td{
	 background-color:#ffffcc !important;
}

.table tr.row_selected .progress{
	background-color: #fff;
}

.table td{
	border-top: 1px solid #e8edf1;
	vertical-align: top;
	 padding: 10px 12px;
	color:#576475;
	font-size:13px;			
}

.table td.no-border{
	border:none;		
}

.table td:first-child{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.table td:last-child{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.table th input[type="radio"], input[type="checkbox"], .table td input[type="radio"], input[type="checkbox"]{
	margin-top:-2px
}
.table td .progress{
	margin-bottom:0px;
}

.table td.small-cell, .table th.small-cell{
	width: 14px;
}
.table th.medium-cell{
	width:100px
}
.table th.big-cell{
	width:200px
}
.table td .muted{
	color:#95989a;
}
.table td.clickable{
	cursor:pointer;
}
.table-fixed-layout{
	 table-layout: fixed;
}
.table-fixed-layout td{
    width: 100%;
    overflow: hidden;
   
    white-space: nowrap;
}
.table-striped tbody td {
	border:none;
}
.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
	background-color:#ecf0f2;
	border:none;
}

.table-hover tbody tr:hover>td, .table-hover tbody tr:hover>th {
    background-color: #e2e8eb;
}

.table-hover tbody  tr.row_selected:hover>td{
    background-color:#fef8ae !important;	 
}

.table-hover tbody tr:hover>td .progress{
    background-color: #fff;
}
.table-condensed th, .table-condensed td{
	padding: 10px 5px;
}
.table-tools-actions{
	margin:0px 5px;
}
.table .checkbox{
	 margin-left: 3px;
	   display: none;
}
.table .star{
	 margin-left: 3px;
}
.inner-table td{
	    background-color: transparent !important;
}

.table-bordered{
	border-color:#E8EDF1;
}
.table-bordered th{
	background-color:#ecf0f2;
}
.table-bordered th, .table-bordered td{
	 border-left: 1px solid #E8EDF1;

}
.table-bordered td:first-child{
	border-radius: 0px;
}
.table-bordered  td:last-child{
	border-radius: 0px;
}


.control-group .control-label{
	color:#55606e;
	display:inline-block;
	margin-right:8px;
}

.control-group .help{
	color: #A7ABB1;
    font-size: 12px;
}

.control-group .controls{
	margin-top:8px;
}
.slide-primary,.slide-success{
 display:inline-block
}
.slide-primary .ios-switch .on-background{
	background-image:none;
	 background-color: #0AA699;
}

.slide-success .ios-switch .on-background{
	background-image:none;
	background-color: #0090D9;
}





/*** Mail Styles **/
#emails .timestamp {
	text-transform:uppercase;
	color:#95989a;
	text-align:right;
	font-weight:normal;
	font-size:10px;
	letter-spacing:2px;
}


.email-heading {
	font-size:38px;
	letter-spacing:-1px;
	font-weight:300;
}

.email-sender {
	font-size:16px !important;
	font-weight:500 !important;
}

.mail-time {
	display:block;
	
}

.mail-time .star {
	display:inline-block;
	float:left;
	position:relative;
	margin:4px 26px 0px 10px;
	z-index:100;	
}

.mail-time span {
	color:#959595;
	text-align:right;
	font-weight:normal;
	font-size:11px;
	text-transform:uppercase;
	letter-spacing:2px;
	margin:0;
}

.mail-buttons {
	padding:15px 0px 0px 0px;
	margin:0 auto;
	display:block;
	text-align:center;
	
}

.mail-buttons i {
	margin:0px 5px 0px 0px;
}

.user-recipient {
	display:inline-block;
	margin:25px 0px 0px 0px;	
	padding:0;
	
}

.mail-job-related {
	font-weight:500;
	font-size:12px;
	
}

.mail-job-related i {
	margin:0px 5px 0px 0px;
	color:#707070;
	
}

.user-sender {
	display:inline-block;
	margin:25px 0px 0px 0px;	
	padding:0;
	
}

.arrow-box-recipient {
	position: relative;
	background: #fafafa;
	border: 1px solid #ebebeb;
}
.arrow-box-recipient:after, .arrow-box-recipient:before {
	right: 100%;
	top: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-box-recipient:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fafafa;
	border-width: 11px;
	margin-top: -15px;
}
.arrow-box-recipient:before {
	border-color: rgba(235, 235, 235, 0);
	border-right-color: #ebebeb;
	border-width: 12px;
	margin-top: -16px;
}


.arrow-box-sender {
	position: relative;
	background: #f5fafd;
	border: 1px solid #ebebeb;
}
.arrow-box-sender:after, .arrow-box-sender:before {
	right: 100%;
	top: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-box-sender:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #f5fafd;
	border-width: 11px;
	margin-top: -15px;
}
.arrow-box-sender:before {
	border-color: rgba(235, 235, 235, 0);
	border-right-color: #ebebeb;
	border-width: 12px;
	margin-top: -16px;
}

.mail-group ul li a {
	padding:10px;
}


.mail-group ul li a  i {
	margin:0px 7px;
}

.user-profile-pic{
	width:100%;
	text-align:left;
	margin:0px;
	padding:0px;
	position:relative;
	z-index:3;
}
.user-profile-pic img{
	border-radius: 100px 100px 100px 100px;
    display: block;
    height: 68px;
	float:left;
    overflow: hidden;
    width: 68px;
	margin:0px 15px 0px 0px;
	border:2px solid #bdc3c7;
	background-color:#ebebeb;	
}

.user-profile-pic a img {
	text-decoration:none;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.user-profile-pic a img:hover {
	border:6px solid #3498db;
	text-decoration:none;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
	
}