
<form id="accountForm">
	<ul style="margin-top: 10px;" class="nav nav-tabs">
		<li class="active"><a style="font-size: 16px; cursor: default;"
			class="accountLabel grayLink" href="javascript:void(0)"></a></li>
	</ul>
	<h1 class="accessDataLabel"
		style="margin-top: 20px; color: black !important;"></h1>
	<hr
		style="background: gray; border: 0; height: 1px; margin-bottom: 20px;" />
	<p class="accessDataMessageLabel" style="font-size: 13px;"></p>
	<table style="width: 90%; margin-top: 20px;">
		<tr>
			<td><label
				class="userNameLabel" for="text"></label> <input
				type="text" id="recruiterLogin" disabled="disabled" class="span6"></td>
		</tr>
		<tr>
			<td>
				<label><span
					class="emailLabel"></span> <em class="asterix">*</em> </label>
				<input name="recruiterEmail" maxlength="200"
					class="required span6" id="recruiterEmail" type="text">
			</td>
		</tr>
		<!--tr>
			<td>
				<label><span
					class="pseudoSkypeLabel"></span> <em class="asterix">*</em> </label>
				<input name="recruiterPseudoSkype" maxlength="200"
					class="required span6" id="recruiterPseudoSkype" type="text">
			</td>
		</tr-->
		<tr>
			<td>
				<label><span
					class="cellPhoneLabel"></span> <em class="asterix">*</em> </label>
				<input name="recruiterCellPhone" maxlength="50"
					class="required span6" id="recruiterCellPhone" type="text">
			</td>
		</tr>
		<tr>
			<td><label
				class="passwordLabel" for="text"></label> <input
				name="newPassword" class="passwordField span6" type="password"
				id="newPassword" disabled="disabled"></td>
		</tr>
		<tr>
			<td><input
				class="changePassword"
				style="position: relative; top: 6px; cursor: pointer;"
				type="checkbox" id="changePassword" name="changePassword" />
				<label
				class="changePassword changePasswordLabel span6"
				style="display: inline; position: relative; top: 9px; cursor: pointer;"
				for="changePassword"></label></td>
		</tr>
		<tr class="change_password_space">
			<td></td>
		</tr>
		<tr>
			<td><label
				class="confirmPasswordLabel" for="text"></label>
				<input name="passwordConfirmation" class="passwordField span6"
				type="password" id="passwordConfirmation" disabled="disabled">
			</td>
		</tr>
		<tr>
			<td><label
				class="languageChoiceLabel" for="text"></label> 
				<select name="defaultLanguage" class="defaultLanguageSelect selectpicker span6" id="defaultLanguageSelect">
				</select>
			</td>
		</tr>
		<tr style="display: none">
			<td>
				<label><span
					class="descriptionLabel"></span> <em class="asterix">*</em> </label>
				<textarea name="recruiterDescription" maxlength="200"
					class="span6" id="recruiterDescription"/></textarea>
			</td>
		</tr>
	</table>
	<div style="margin-top: 60px;" align="center">
		<a style="width: 280px; font-size: 18px;"
			class="btn-medium btn btn-success  saveAccountButton saveChangesLabel"></a>
	</div>
</form>

<script type="text/javascript">
	//<![CDATA[
	function getRecruiterInfos() {
		genericAjaxCall('GET', staticVars.urlBackEnd + 'enterprisep/getInfos',
				'application/xml', 'xml', '', parseRecruiterXml);
	}

	function sendRecruiterInfos() {
		var originPassword = $('#newPassword').val();
		var passwordCrypted;
		if (originPassword != "") {
			passwordCrypted = $.sha1($('#newPassword').val());
		} else {
			passwordCrypted = "";
		}
		var recruiterXml = "<enterprisep><password>" + passwordCrypted
				+ "</password></enterprisep>";
		var	enterpriseP = new $.EnterpriseP();
		var	userProfile = new $.UserProfile();
		var language = new $.Language();
		enterpriseP.setEmail($('#recruiterEmail').val());
		enterpriseP.setPassword(passwordCrypted);
		//userProfile.setPseudoSkype($('#recruiterPseudoSkype').val());
		enterpriseP.setDescription($('#recruiterDescription').val());
		enterpriseP.setCellPhone($('#recruiterCellPhone').val());
		language.setLanguageId($('#defaultLanguageSelect').val());
		userProfile.setDefaultLanguage(language);
		enterpriseP.setUserProfile(userProfile);
		
		genericAjaxCall('POST', staticVars.urlBackEnd + 'enterprisep/update/account', 
				'application/xml', 'xml', enterpriseP.xmlData(), showUpdateSuccess);
	}

	function parseRecruiterXml(xml) {
		var enterpriseP = new $.EnterpriseP(xml);
		var userProfile = enterpriseP.getUserProfile();
		$('#recruiterLogin').val(enterpriseP.getLogin());
		$('#recruiterEmail').val(enterpriseP.getEmail());
		//$('#recruiterPseudoSkype').val(userProfile.getPseudoSkype());
		$('#recruiterDescription').val(enterpriseP.getDescription());
		$('#recruiterCellPhone').val(enterpriseP.getCellPhone());
		if(userProfile.getDefaultLanguage() != null && userProfile.getDefaultLanguage().getLanguageId() != '') 
			$("#defaultLanguageSelect").val(userProfile.getDefaultLanguage().getLanguageId());
		else $("#defaultLanguageSelect").val(0);
	}
	function getLanguagesSuccess(xml){
		$("#defaultLanguageSelect").empty();
		$("#defaultLanguageSelect").append($('<option disabled="disabled"/>').val(0).html(CHOOSELABEL));
		$(xml).find('languaget').each(function() {
			var language = new $.Language($(this));
			$("#defaultLanguageSelect").append($('<option/>').val(language.getLanguageId()).html(language.getLanguageName()));
		});
		getRecruiterInfos();
	}
	function getLanguages() {
		genericAjaxCall('GET', staticVars.urlBackEnd + 'languaget/listLanguages?idLang='+getIdLangParam(),
				'application/xml', 'xml', '', getLanguagesSuccess);
	}
	function validateAccountForm() {
		$.validator
				.addMethod(
						"phoneNumbre",
						function(phone_number, element) {
							phone_number = phone_number.replace(/\s+/g, "");
							return this.optional(element)
									|| phone_number.length > 9
									&& (phone_number
											.match(/\(?\+([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/) || phone_number
											.match(/\(?(00[0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/));
						}, "Merci de respecter le format indiqué");
		$("#accountForm").validate({
			rules : {
				newPassword : {
					required : true,
					minlength : 6
				},
				passwordConfirmation : {
					equalTo : '#newPassword',
				},
				recruiterEmail : {
					required : true,
				},
				/* recruiterPseudoSkype : {
					required : true,
				}, */
              	defaultLanguage : {
                	required: true
                },
                // recruiterDescription : {
				// 	required : true,
				// },
				recruiterCellPhone : {
	                required: true,
	                minlength: 10
				}
			}
		});
	}

	$(document).ready(
			function() {
				traduct();
				customJqEasyCounter($('#accountForm .passwordField'), 255, 255,
						'#0796BE', LEFTCARACTERES);
            	
            	$("#recruiterEmail").jqEasyCounter({
 					'maxChars' : 200,
 					'maxCharsWarning' : 200,
 					'msgFontColor' : '#0796BE',
 					'msgCaracters' : LEFTCARACTERES,
 				});
            	
            	/* $("#recruiterPseudoSkype").jqEasyCounter({
 					'maxChars' : 200,
 					'maxCharsWarning' : 200,
 					'msgFontColor' : '#0796BE',
 					'msgCaracters' : LEFTCARACTERES,
 				}); */

            	$("#recruiterCellPhone").jqEasyCounter({
 					'maxChars' : 30,
 					'maxCharsWarning' : 30,
 					'msgFontColor' : '#0796BE',
 					'msgCaracters' : LEFTCARACTERES,
 				});
            	
            	$("#recruiterDescription").jqEasyCounter({
 					'maxChars' : 65535,
 					'maxCharsWarning' : 65535,
 					'msgFontColor' : '#0796BE',
 					'msgCaracters' : LEFTCARACTERES,
 				});
            	
				$('#accountForm div.jqEasyCounterMsg').css('width', '50%');

				getLanguages();
				validateAccountForm();
				$('.changePassword').click(function() {
					if ($('#changePassword').prop('checked')) {
						$('.passwordField').prop("disabled", false);
					} else {
						$('.passwordField').val("");
						$('.passwordField').prop("disabled", "disabled");
					}
				});
				$('.saveAccountButton').click(function() {
					if ($("#accountForm").valid()) {
						sendRecruiterInfos();
					}
				});

			});
	//]]>
</script>


