
<h1 style="color: black;" class="advicesLabel"></h1>
<hr />
<p class="floatLeft addAdvicesLabel"
	style="font-size: 14px; margin-bottom: 20px;"></p>
<div id="addAdviceDiv" class="floatRight">
	<a id="addAdviceLink" class="btn btn-info btn-middle"><span
		class="addLabel"></span> (<span class="numbers"><span
			id="numberAdvices"></span>/<span id="numberPermittedAdvices"></span></span>)</a>
</div>
<div class="clearBoth" id="listAdvicesDiv">
	<table cellpadding="0" cellspacing="0" border="0" class="display"
		id="listAdvicesTable">
	</table>
</div>
<div style="display: none;" id="adviceCreationDiv">
	<form id="adviceCreationForm">
		<div>
			<label><span class="titleLabel"></span> <em class="asterix">*</em></label>
			<input type="text" id="adviceTitle" class="required" />
		</div>
		<div>
			<input style="width: 20px;" type="radio" id="textOption"
				name="resourceType" checked="checked" /> <label
				style="display: inline; position: relative; top: 4px;"
				for="textOption" id="textOptionLabel" class="enterTextLabel"></label>
			<input style="margin-left: 40px; width: 20px;" type="radio"
				id="uploadOption" name="resourceType" /> <label
				style="display: inline; position: relative; top: 4px;"
				for="uploadOption" id="uploadOptionLabel"
				class="uploadDocumentLabel"></label>
		</div>
		<div id="textOptionDiv">
			<label for="adviceContent" class="contentLabel"> <em
				class="asterix">*</em></label>
			<div class="containerEditor">
				<textarea id="adviceContent" name="adviceContent editorAdvice"></textarea>
			</div>
			<div id="loadAdviceTextError">
				<label style="color: red;" class="contentRequiredLabel"></label>
			</div>
		</div>
		<div id="uploadOptionDiv">
			<div id="loadAdvice">
				<b style="margin-right: 10px; color: #58b; font-size: 13px;"
					id="documentToUpdateSpan"> </b> <label
					style="display: inline; margin-right: 10px;" class="filebutton">
					<span class="blueLinkUnderline"><span
						class="uploadDocumentLabel"></span> <input id="adviceUpload"
						type="file" name="files[]" multiple> </span>
				</label> <span class="documentSizeHintLabel"></span>
				<div id="loadAdviceError">
					<label style="color: red;" class="documentSizeHintLabel"></label>
				</div>
			</div>
			<div id="progressAdvice" class="progress progress-div-costum"
				style="width: 30%; padding: 0px; left: 0px;">
				<span class="loadingText"><span class="loadingLabel"></span>
					0%</span>
				<div class="progress-bar progress-bar-uploadfile"></div>
			</div>
			<div id="adviceLoaded" style="display: none;">
				<span class="documentUploadeLabel"></span>
			</div>
		</div>
		<div align="center">

			<button type="button" id="saveAdvice"
				class="btn btn-success saveLabel"></button>
			<a class="btn btn-danger cancelLabel" id="cancelAddingAdvice"
				href="javascript:void(0)"></a>
		</div>
	</form>
</div>

<div
	class="popupDeleteAdvice eds-dialog-container draggable ui-draggable"
	style="visibility: visible; top: 30%; left: 30%; display: none; padding: 0;">
	<div class="eds-dialog"
		style="width: 500px; height: auto; padding: 0; margin: 0;">
		<div style="padding: 4px 4px 4px 4px; margin-right: 4px;"
			class="eds-dialog-header js-eds-dialog-draggable">
			<h2 class="confirmDeleteLabel"
				style="color: white; margin-bottom: 2px; font-size: 18px;"
				align="center"></h2>
			<div style="margin-bottom: 0px;" class="eds-dialog-close">
				<b class="closePopup">x</b>
			</div>
		</div>
		<div style="padding: 0; margin: 0;" class="eds-dialog-inside">
			<div style="padding: 0;" class="eds-dialog-body clearfix">
				<div style="padding: 20px;" class="eds-dialog-content">
					<p class="confirmDeleteAdviceLabel" style="font-size: 14px;"
						align="center"></p>
					<div style="margin-top: 15px;" align="center">

						<button type="button" id="confirmDeleteAdvice"
							class="btn btn-success yesLabel"></button>
						<a class="btn btn-danger closePopup cancelLabel"
							id="cancelDeleteAdvice" href="javascript:void(0)"></a>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div
	class="popupDocumentView eds-dialog-container draggable ui-draggable"
	style="visibility: visible; top: 10%; left: 30%; display: none; padding: 0;">
	<div class="eds-dialog"
		style="width: auto; height: auto; padding: 0; margin: 0;">
		<div style="padding: 10px; margin-right: 4px;"
			class="eds-dialog-header js-eds-dialog-draggable">
			<p id="documentTitlePopup"
				style="color: white; margin-bottom: 2px; height: 12px;"
				align="center"></p>
			<div style="margin-bottom: 0px;" class="eds-dialog-close">
				<b class="closePopup">x</b>
			</div>
		</div>
		<div style="padding: 0; margin: 0;" class="eds-dialog-inside">
			<div style="padding: 0;" class="eds-dialog-body clearfix">
				<div style="margin-bottom: 0;" class="eds-dialog-content">
					<div style="width: 700px; height: 500px; overflow: hidden;"
						id='hereDocument'></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	//<![CDATA[
	$(document)
			.ready(
					function() {
						if (adviceController == null) {
							$("body")
									.append(
											"<script type='text/javascript' src='js/advices.js' charset='utf-8'><\/script>");
							adviceController = new $.AdviceController(new $.AdviceModel(),
									new $.AdviceView());
						}
						adviceController.initAdviceController();
					});
	//]]
</script>
