
<h1 class="agendaLabel" style="color: black;"></h1>
<hr
	style="background: gray; border: 0; height: 1px; margin-bottom: 20px;" />
<p class="planYourChatsLabel" style="font-size: 14px;"></p>
<div align="right">
	<button id="faddbtn"
		class="btn btn-info btn-large fbutton newEventLabel"></button>
</div>
<div id="calendar" style="margin-top: 2%; width: 100%;"></div>
<div class="popupEvent eds-dialog-container draggable ui-draggable"
	style="visibility: visible; top: 3%; left: 35%; display: none;">
	<div class="eds-dialog" style="width: 480px; height: auto;">
		<div class="eds-dialog-header js-eds-dialog-draggable">
			<div align="center" class="verdana newEventLabel"
				style="height: 20px; color: white; font-weight: bold;"></div>
			<div class="eds-dialog-close">
				<b class="closePopup">x</b>
			</div>
		</div>
		<div class="eds-dialog-inside">
			<div class="eds-dialog-error clearfix"></div>
			<div class="eds-dialog-body clearfix">
				<div class="eds-dialog-content">
					<form id="eventAgendaForm">
						<table>
							<tr height="10" />
							<tr>
								<td class="righttext" style="padding-top: 14px;"><span
									class="form-label titleLabel"
									style="font-weight: bolder; margin-right: 5px;"></span> <em
									class="asterix">*</em></td>
								<td class="form-label"
									style="width: 15px; text-align: center; padding-top: 16px; vertical-align: top; margin-left: 33px;">
									:</td>
								<td><input class="required" style="width: 290px;"
									type="text" id="eventTitle" name="eventTitle" /></td>
							</tr>
							<tr>
								<td class="righttext" style="vertical-align: top;"><span
									class="form-label"
									style="font-weight: bolder; margin-right: 5px;"><span
										class="descriptionLabel">Description</span></span></td>
								<td class="form-label"
									style="width: 15px; text-align: center; vertical-align: top;">
									:</td>
								<td><textarea style="width: 279px;" rows="4"
										id="eventDescription" name="eventDescription"></textarea></td>
							</tr>
							<tr>
								<td class="righttext" style="vertical-align: middle;"><span
									class="form-label typeLabel"
									style="font-weight: bolder; margin-right: 5px;"></span></td>
								<td class="form-label" style="width: 15px; text-align: center;">
									:</td>
								<td><select style="width: 304px;" id="eventType">
										<option class="chatLabel" value="1"></option>
										<option class="tradeShowLabel" value="2"></option>
								</select></td>
							</tr>
							<tr>
								<td class="righttext" style="vertical-align: middle;"><span
									class="form-label"
									style="font-weight: bolder; margin-right: 5px;"><span
										class="dateLabel"></span> <em class="asterix">*</em></span></td>
								<td class="form-label" style="width: 15px; text-align: center;">
									:</td>
								<td><input class="datepicker required"
									style="width: 118px;" type="text" id="dateEvent"
									name="dateEvent" /> <span class="form-label"
									style="font-weight: bolder; margin-right: 5px;"><span
										class="fromLabel"></span> <em class="asterix">*</em></span> <input
									name="beginTime" class="timepicker required"
									style="width: 120px;" type="text" id="beginTime" /></td>
							</tr>
							<tr>
								<td class="righttext" style="vertical-align: middle;"><span
									class="form-label"
									style="font-weight: bolder; margin-right: 5px;"><span
										class="dateLabel"></span> <em class="asterix">*</em></span></td>
								<td class="form-label" style="width: 15px; text-align: center;">
									:</td>
								<td><input class="datepicker required"
									style="width: 118px;" type="text" id="dateEndEvent"
									name="dateEndEvent" /> <span class="form-label"
									style="font-weight: bolder; margin-right: 5px;"><span
										class="toLabel"></span> <em class="asterix">*</em></span> <input
									name="endTime" class="timepicker required"
									style="width: 120px;" type="text" id="endTime" /></td>
							</tr>
							<tr style="display: none;">
								<td colspan="2" />
								<td class="lefttext">
									<div id="radioDiv">
										<div style="float: left; display: none; margin-right: 5px;"
											class="dayDiv">
											<input style="width: 6px; position: relative; top: 4px;"
												type="radio" name="typeRecurrent" id="everyDay"
												value="everyDay" checked="checked" /> Chaque jour
										</div>
										<div style="float: left; display: none; margin-right: 5px;"
											class=weekDiv>
											<input style="width: 6px; position: relative; top: 4px;"
												type="radio" name="typeRecurrent" id="everyWeek"
												value="everyWeek" /> Chaque semaine
										</div>
										<div style="clear: both; display: none; float: left;"
											class="monthDiv">
											<input style="width: 6px; position: relative; top: 4px;"
												type="radio" name="typeRecurrent" id="everyMonth"
												value="everyMonth" /> Chaque mois
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="2"></td>
								<td>
									<div align="center" style="margin-top: 30px;">

										<button type="button"
											class="saveEventButton btn btn-success saveLabel"></button>
										<a class="btn btn-danger closePopup cancelLabel"
											href="javascript:void(0)"></a>

									</div>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div
	class="popupEventOptions eds-dialog-container draggable ui-draggable"
	style="visibility: visible; top: 30%; left: 35%; display: none;">
	<div class="eds-dialog" style="width: 460px; height: auto;">
		<div class="eds-dialog-header js-eds-dialog-draggable">
			<div align="center" class="verdana changePlanificationLabel"
				style="height: 20px; color: white; font-weight: bold;"></div>
			<div class="eds-dialog-close">
				<b class="closePopup">x</b>
			</div>
		</div>
		<div class="eds-dialog-inside">
			<div class="eds-dialog-error clearfix"></div>
			<div class="eds-dialog-body clearfix">
				<div class="eds-dialog-content">
					<div align="center" style="padding: 15px;">
						<a href="javascript:void(0)"
							style="margin-right: 40px; font-size: 13px;" id="editEvent"
							class="editLabel blueLinkUnderline"></a> <a
							href="javascript:void(0)" style="font-size: 13px;"
							id="deleteEvent" class="deleteLabel redLinkUnderline"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div
	class="eventDeletePopup eds-dialog-container draggable ui-draggable"
	style="visibility: visible; top: 30%; left: 35%; display: none;">
	<div class="eds-dialog" style="width: 460px; height: auto;">
		<div class="eds-dialog-header js-eds-dialog-draggable">
			<div align="center" class="verdana confirmDeleteLabel"
				style="height: 20px; color: white; font-weight: bold;"></div>
			<div class="eds-dialog-close">
				<b class="closePopup">x</b>
			</div>
		</div>
		<div class="eds-dialog-inside">
			<div class="eds-dialog-error clearfix"></div>
			<div class="eds-dialog-body clearfix">
				<div class="eds-dialog-content">
					<div class="confirmDeleteEventLabel" align="center"
						style="padding: 10px; font-size: 14px;"></div>
					<div align="center">

						<button type="button"
							class="deleteEventButton btn btn-success yesLabel"></button>
						<a class="btn btn-danger closePopup cancelLabel"
							href="javascript:void(0)"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	//<![CDATA[

	var messageValidateHour = "L\'heure de fin doit être supérieure à l\'heure de début";
	$(document)
			.ready(
					function() {
						traduct();
						if (agendaLoaded == 0) {
							switch (getIdLangParam()) {
							case '3':
								$("body")
										.append(
												"<script type='text/javascript' src='calendar/js/fr.js' charset='utf-8'><\/script>");
								break;
							case '2':
								$("body")
										.append(
												"<script type='text/javascript' src='calendar/js/en.js' charset='utf-8'><\/script>");
								break;
							case '1':
								$("body")
										.append(
												"<script type='text/javascript' src='calendar/js/de.js' charset='utf-8'><\/script>");
								break;
							default:
							}
							$("body")
									.append(
											"<script type='text/javascript' src='calendar/js/oCalendar.js' charset='utf-8'><\/script>");
							agendaLoaded = 1;
						}
						$("#calendar").oCalendar(
								{
									width : '100%',
									allowCud : true,
									url : staticVars["urlBackEnd"] + 'agenda?idLang='
											+ getIdLangParam()
								});

						customJqEasyCounter("#eventTitle", 255, 255, '#0796BE',
								LEFTCARACTERES);
						customJqEasyCounter("#eventDescription", 65535, 65535, '#0796BE',
								LEFTCARACTERES);
						$("#eventAgendaForm td.jqEasyCounterMsg").css('width', '100%');
						if (getIdLangParam() == '2') {
							messageValidateHour = "The end time must be greater than the start time";
						}

						$.validator
								.addMethod(
										"validTime",
										function(value, element) {

											var dateEvent = $('#dateEvent').val();
											var dateEndEvent = $('#dateEndEvent').val();

											var startDate = dateEvent;
											var endDate = dateEndEvent;

											startDate = startDate.split("-");
											endDate = endDate.split("-");

											var newStartDate = startDate[1] + "," + startDate[0]
													+ "," + startDate[2];
											var newEndDate = endDate[1] + "," + endDate[0] + ","
													+ endDate[2];

											var timeStampStartDate = new Date(newStartDate).getTime();
											var timeStampEndDate = new Date(newEndDate).getTime();

											if (timeStampStartDate === timeStampEndDate) {
												var beginTime = parseInt($('#beginTime').val().replace(
														':', ''));
												var endTime = parseInt($('#endTime').val().replace(':',
														''));
												if (beginTime < endTime) {
													return true;
												} else {
													return false;
												}
											} else {
												return true;
											}
										}, '<div style="margin-top:5px;position: absolute;">'
												+ messageValidateHour + '</div>');

						$('#deleteEvent').click(function() {
							$('.popupEventOptions').hide();
							$('.eventDeletePopup').show();
						});
						$('#editEvent').click(function() {
							isUpdate = true;
						});
						$('.deleteEventButton').click(function() {
							deleteEvent(idEventToChange);
						});
						$('.draggable').draggable({
							cancel : ".eds-dialog-inside"
						});
						validateEventAgendaForm();
						$('.closePopup,.eds-dialog-close,.backgroundPopup').click(
								function(e) {
									e.preventDefault();
									$('.eds-dialog-container').hide();
									$('.backgroundPopup').hide();
								});

						$('.saveEventButton').click(function() {
							if ($("#eventAgendaForm").valid()) {
								if (isUpdate) {
									updateEvent(idEventToChange);
								} else {
									sendEventInfo();
								}
							}
						});
						if (!$("#isrecurrent").is(':checked')) {
							recurrentValue = "";
						}
						$('input[name="typeRecurrent"]').change(function() {
							recurrentValue = $('input[name="typeRecurrent"]:checked').val();
						});
						$('.timepicker').timepicker({
							showPeriodLabels : false,
						});

						$('#radioDiv').hide();

						var minDate = new Date();
						var maxDate = new Date(2017, 11, 30);
						$('#dateEvent').datepicker({
							dateFormat : 'dd-mm-yy',
							minDate : minDate,
							maxDate : maxDate,
							defaultDate : new Date(),
						});

						$('#dateEndEvent').datepicker({
							dateFormat : 'dd-mm-yy',
							minDate : minDate,
							maxDate : maxDate,
							defaultDate : new Date(),
						});

						$('#dateEvent').on(
								'change',
								function(selected) {
									$('#dateEndEvent').datepicker('option', 'minDate',
											$('#dateEvent').val());
								});

						//Add a new event
						$("#faddbtn").click(function(e) {
							isUpdate = false;
							$('.backgroundPopup').fadeIn('slow');
							$('.popupEvent').fadeIn('slow');
						});

						$(".closePopup,.eds-dialog-close,.backgroundPopup").click(
								function(e) {
									$('.backgroundPopup').hide();
									$('.popupEvent').hide();
									emptyEventFields();
								});

						//fillEventTypes();
						$("#isRecurrent").click(function() {
							recurrentValue = "everyDay";
							var date1 = Date.parse("2013/06/30", "yyyy/mm/dd");
							var date2 = Date.parse($('.datepicker').val());
							var diff = date1 - date2;
							diff = diff / (3600000 * 24);
							if ($(this).is(':checked')) {
								$('#radioDiv').show();
								if (diff > 30) {
									$(".dayDiv").show();
									$(".weekDiv").show();
									$(".monthDiv").show();
								} else if (diff > 7) {
									$(".dayDiv").show();
									$(".weekDiv").show();
								} else if (diff >= 1) {
									$(".dayDiv").show();
								}
							} else {
								recurrentValue = "";
								$('#radioDiv').hide();
							}
						});
					});
	//]]>
</script>


