<div id="candidaturesContent">
	<ul style="margin-top: 10px;" class="nav nav-tabs" id="candidaturesTab">
		<li class="active lione"><a style="font-size: 16px;"
			class="solicitedCandidatures grayLink verdana candidaturesLabel"
			href="#jobApplicationsTab"></a></li>
		<li class="litwo"><a style="font-size: 16px;"
			class="unsolicitedCandidatures grayLink verdana unsolicitedCandidaturesLabel"
			href="#unsolicitedJobApplicationsTab"></a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="jobApplicationsTab">
			<h1 class="candidaturesTitle candidaturesLabel"></h1>
			<a href="javascript:void(0)"
				class="exportSolicitedJobApplicationsLink exportCandidaturesBtn exportLabel"></a>
			<hr class="candidaturesLine"/>
			<p class="manageCandidatures manageJobApplicationsLabel"></p>
			<div id="candidatureSearchDiv">
				<div id="jobOfferDiv" class="floatRight">
					<label>
			            <span class="filterByJobLabel"></span><span> : </span>
			            <select class="jobOfferSelect" id="jobOfferSelect">
			            </select>
		            </label>
		        </div>
	        </div>
			<div id="listCvsDiv">
				<table cellpadding="0" cellspacing="0" border="0" class="display candidaturesTable"
					id="listCandidaturesTable"></table>
			</div>
		</div>
		<div class="tab-pane" id="unsolicitedJobApplicationsTab">
			<h1 class="candidaturesTitle unsolicitedCandidaturesLabel"></h1>
			<a href="javascript:void(0)"
				class="exportUnsolicitedJobApplicationsLink exportCandidaturesBtn exportLabel"></a>
			<hr class="candidaturesLine"/>
			<p class="manageCandidatures manageUnsolicitedJobApplicationsLabel"></p>
			<div></div>
			<div>
				<table cellpadding="0" cellspacing="0" border="0" class="display candidaturesTable"
					id="listUnsolicitedCandidaturesTable"></table>
			</div>
		</div>
	</div>
	<div
		class="popupMessageCandidature eds-dialog-container draggable ui-draggable"
		style="visibility: visible; top: 20%; left: 35%; display: none;">
		<div class="eds-dialog" style="width: 460px; height: auto;">
			<div class="eds-dialog-header js-eds-dialog-draggable">
				<div class="newMessageLabel" align="center" class="verdana"
					style="height: 20px; color: white; font-weight: bold;"></div>
				<div class="eds-dialog-close">
					<b class="closePopup">x</b>
				</div>
			</div>
			<div class="eds-dialog-inside">
				<div class="eds-dialog-error clearfix"></div>
				<div class="eds-dialog-body clearfix">
					<div class="eds-dialog-content">
						<form id="messageFormCandidature">
							<div>
								<label><span class="form-label receiverLabel"
									style="font-weight: bolder; margin-right: 5px;"></span> <em
									class="asterix">*</em></label> <input name="messageReceiverCandidature"
									id="messageReceiverCandidature" class="required"
									disabled="disabled" />
							</div>
							<!-- <div>
                                    <label class="form-label objectLabel">Objet</label>
                                    <input style="width:91%;" name="messageSubject" id="messageSubject" class="required" />
                                </div>-->
							<div>
								<label><span class="form-label messageLabel"
									style="font-weight: bolder; margin-right: 5px;"></span> <em
									class="asterix">*</em></label>
								<textarea class="required" rows="7"
									id="messageContentCandidature" name="messageContentCandidature"></textarea>
							</div>
							<div align="center">

								<button type="button" id="sendMessageCandidature"
									class="deleteDocumentButton btn btn-success sendLabel"></button>
								<a class="btn btn-danger closePopup cancelLabel"
									href="javascript:void(0)"></a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div
		class="popupMotivationLetter eds-dialog-container draggable ui-draggable"
		style="visibility: visible; top: 20%; left: 35%; display: none;">
		<div class="eds-dialog" style="width: 460px; height: auto;">
			<div class="eds-dialog-header js-eds-dialog-draggable">
				<div class="motivationLetterLabel" align="center" class="verdana"
					style="height: 20px; color: white; font-weight: bold;"></div>
				<div class="eds-dialog-close">
					<b class="closePopup">x</b>
				</div>
			</div>
			<div class="eds-dialog-inside">
				<div class="eds-dialog-error clearfix"></div>
				<div class="eds-dialog-body clearfix">
					<div class="eds-dialog-content">
						<div
							style="padding: 10px 10px 30px 10px; height: 200px; overflow-y: auto;"
							id="letterContentCandidature"></div>
						<div align="center">

							<button type="button" id="letterReply"
								class="btn btn-success replyLabel"></button>
							<a class="btn btn-danger closePopup cancelLabel"
								href="javascript:void(0)"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="popupExportCandidatures" class="eds-dialog-container draggable ui-draggable">
		<div class="eds-dialog">
			<div class="eds-dialog-header js-eds-dialog-draggable">
				<p id="exportCandidaturesTitlePopup" class="exportFileLabel">
				</p>
				<div class="eds-dialog-close">
					<b class="closePopup">x</b>
				</div>
			</div>
			<div class="eds-dialog-inside">
				<div class="eds-dialog-body clearfix">
					<div class="eds-dialog-content">
						<div>
							<p class="thankYouToChooseSeparatorLabel">
							</p>
							<ul id="candidatureSortableColumns">
								<li class="ui-state-default"><span class="ui-icon ui-icon-arrow-4"></span><label><input type="checkbox" value="1" checked style="display:none"><span class="firstAndLastNameLabel"></span></label></li>
								<li class="ui-state-default"><span class="ui-icon ui-icon-arrow-4"></span><label><input type="checkbox" value="2" checked style="display:none"><span class="cvLabel"></span></label></li>
								<li class="ui-state-default"><span class="ui-icon ui-icon-arrow-4"></span><label><input type="checkbox" value="3" checked><span class="profilLabel"></span></label></li>
								<li class="ui-state-default"><span class="ui-icon ui-icon-arrow-4"></span><label><input type="checkbox" value="4" checked><span class="letterLabel"></span></label></li>
								<li id="candidatureSortableJobOffer" class="ui-state-default"><span class="ui-icon ui-icon-arrow-4"></span><label><input type="checkbox" value="5" checked><span class="jobTitleLabel"></span></label></li>
							</ul>
							<p>
								<label class="fileNameLabel"></label>
							    <input type="text" id="archiveExportCandidatureFileName" class="input-large search-query" placeholder="Nom de fichier">
							</p>
							<p>
								<label class="separatorLabel"></label>
							    <select name="fileSeparator" id="fileSeparatorCandidature">
							        <option value="excel" selected>Forme Excel</option>
							        <option value=",">Virgule : ','</option>
							        <option value=";">Point Virgule : ';'</option>
							        <option value=".">Point : '.'</option>
							        <option value=":">Deux Points : ':'</option>
							    </select>
							</p>
							<div class="archiveDataTableContainerCandidature">
							</div>
							<div class="margin-top-40" style=" text-align: center;">
							    <a id='downloadCandidatureArchiveFile' href='#' class="btn btn-success downloadLabel">Télécharger</a>
							    <a class="btn btn-danger closePopup cancelLabel" href="#"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document)
				.ready(
						function() {
							if (candidatureController == null) {
								$("body")
										.append(
												"<script type='text/javascript' src='js/candidatures.js' charset='utf-8'><\/script>");
								candidatureController = new $.CandidatureController(
										new $.CandidatureModel(), new $.CandidatureView());
							} 
							candidatureController.initController();
						});
	</script>
</div>
