<div style="margin-bottom: 10px;">
    <h1 class="documentsLabel" style="color: black; margin-top: 10px;"></h1>
    <hr style="background: gray; border: 0; height: 1px; margin-bottom: 20px;" />
    <div class="floatLeft" style="font-size: 14px; margin-bottom: 10px;">
        <span class="documentDescriptionLabel1"></span><br /> <span class="documentDescriptionLabel2"></span>
    </div>
    <div id="addDocumentDiv" class="floatRight">
        <a id="addDocumentLink" class="btn btn-info btn-middle"><span
			class="addLabel"></span> (<span class="numbers"><span
				id="numberDocuments"></span>/<span id="numberPermittedDocuments"></span></span>)</a>
    </div>
    <div class="clearBoth"></div>
    <div id="listStandDocuments"></div>
</div>

<div class="popupDocument eds-dialog-container draggable ui-draggable" style="visibility: visible; top: 20%; left: 23%; display: none;">
    <div class="eds-dialog" style="width: 620px; height: auto;">
        <div class="eds-dialog-header js-eds-dialog-draggable">
            <div align="center" class="verdana" style="height: 20px; color: white; font-weight: bold;">
                <span class="addLabel"></span> <span class="documentLabel"></span>
            </div>
            <div class="eds-dialog-close">
                <b class="closePopup">x</b>
            </div>
        </div>
        <div class="eds-dialog-inside">
            <div class="eds-dialog-error clearfix"></div>
            <div class="eds-dialog-body clearfix">
                <div class="eds-dialog-content">
                    <form id="documentForm">
                        <table>
                            <tr height="10" />
                            <tr>
                                <td class="righttext" style="vertical-align: top;"><span class="titleLabel form-label"></span><em class="asterix">*</em></td>
                                <td class="form-label" style="width: 10px; text-align: center; vertical-align: top;">:</td>
                                <td width="82%"><input class="required" style="width: 360px;" type="text" id="documentTitle" name="documentTitle" /></td>
                            </tr>
                            <tr height="7" />
                            <tr>
                                <td class="righttext" style="vertical-align: top; width: 200px;"><span class="descriptionLabel form-label">Description</span></td>
                                <td class="form-label" style="width: 10px; text-align: center; vertical-align: top;">:</td>
                                <td><textarea style="width: 350px;" cols="63" rows="4" id="documentDescription" name="documentDescription"></textarea></td>
                            </tr>
                            <tr height="10">
                                <td class="righttext" style="vertical-align: top;">
                                    <!-- <label class="TypeFileLabel" for="typefile">Type Document</label> -->
                                    <span class="TypeFileLabel form-label">Categorie</span><em class="asterix">*</em></td>
                                </td>
                                <td class="form-label" style="width: 10px; text-align: center; vertical-align: top;">:</td>
                                <td width="82%">
                                    <select name="typefile" id="typefile" width="83%">
									<option value="6">Pourquoi étudier en France</option>
									<option value="7">Cherchez sa formation sur les catalogues en ligne</option>
									<option value="8">Les diplômes en France</option>
									<option value="9">Certification en français exigées</option>
									<option value="10">La procédure de candidature</option>
									<option value="11">Dépliant</option>
									<option value="12">Architecte</option>
									<option value="13">BTS</option>
									<option value="14">Classe prépa CPGE</option>
									<option value="15">DUT</option>
									<option value="16">Ecole d'ingénieur</option>
									<option value="17">Ecoles doctorales</option>
									<option value="18">Formation à distance</option>
									<option value="19">Formation artistique</option>
									<option value="20">Les bourses</option>
									<option value="21">Licence professionnelle</option>
                                    <option value="22">Médecine  Santé</option>
                                    <option value="27">Agriculture</option>
									<option value="28">Art</option>
									<option value="29">Santé</option>
									<option value="30">Droit</option>
									<option value="31">Science Ing</option>
									<option value="32">Sport</option>
                                    <option value="33">Science Pure</option>
                                    <option value="34">Tourisme</option>
									<option value="35">LMD</option>
									<option value="42">ART Nouveau</option>
                                    <option value="43">Mastere specialise</option>
								  </select>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td><input style="width: 20px;" type="radio" id="urlOption" name="resourceType" checked="checked" /> <label class="enterLinkLabel" style="display: inline; position: relative; top: 3px;" for="urlOption"></label> <input style="margin-left: 40px; width: 20px;"
                                        type="radio" id="uploadOption" name="resourceType" /> <label class="uploadDocumentLabel" style="display: inline; position: relative; top: 3px;" for="uploadOption"></label></td>
                            </tr>
                            <tr id="urlTr">
                                <td class="righttext" style="vertical-align: middle;"><span class="urlLabel form-label"></span><em class="asterix">*</em></td>
                                <td class="form-label" style="width: 10px; text-align: center;">:</td>
                                <td><input style="width: 360px;" type="text" id="documentUrl" name="documentUrl" />
                                    <div id="loadDocumentValidError">
                                        <label style="color: red;" class="documentMustPDFLabel"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr id="uploadTr" style="display: none;">
                                <td colspan="2"></td>
                                <td>
                                    <div id="loadDocument">
                                        <label class="filebutton floatLeft"> <span><span
												class="uploadDocumentLabel"></span> <input
												id="documentUpload" type="file" name="files[]" multiple>
										</span>
										</label>
                                    </div>
                                    <div id="progressDocument" class="progress progress-div-costum" style="width: 90%; padding: 0px;">
                                        <span class="loadingText"><span class="loadingLabel"></span> 0%
                                        </span>
                                        <div class="progress-bar progress-bar-uploadfile"></div>
                                    </div>
                                    <div id="documentLoaded" style="display: none;">
                                        <span class="documentUploadeLabel"></span>
                                    </div>
                                    <div class="clearBoth"></div>
                                    <div id="loadDocumentError">
                                        <label style="color: red;" class="documentSizeHintLabel"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr height="15">
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td>
                                    <div align="center">

                                        <button type="button" class="saveDocumentButton btn btn-success saveLabel"></button>
                                        <a class="btn btn-danger closePopup cancelLabel" href="javascript:void(0)"></a>
                                    </div>
                                </td>
                            </tr>
                            <tr height="10" />
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popupDeleteDocument eds-dialog-container draggable ui-draggable" style="visibility: visible; top: 30%; left: 30%; display: none; padding: 0;">
    <div class="eds-dialog" style="width: 460px; height: auto;">
        <div style="padding: 4px 4px 4px 4px; margin-right: 4px;" class="eds-dialog-header js-eds-dialog-draggable">
            <p class="confirmDeleteLabel" style="color: white; margin-bottom: 2px;" align="center"></p>
            <div style="margin-bottom: 0px;" class="eds-dialog-close">
                <b class="closePopup">x</b>
            </div>
        </div>
        <div style="padding: 0; margin: 0;" class="eds-dialog-inside">
            <div style="padding: 0;" class="eds-dialog-body clearfix">
                <div style="padding: 10px;" class="eds-dialog-content">
                    <div class="confirmDeleteDocumentLabel" align="center" style="padding: 10px; font-size: 14px;"></div>
                    <div align="center">

                        <button type="button" class="deleteDocumentButton btn btn-success yesLabel"></button>
                        <a class="btn btn-danger closePopup cancelLabel" href="javascript:void(0)"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popupDocumentView eds-dialog-container draggable ui-draggable" style="visibility: visible; top: 10%; left: 30%; display: none; padding: 0;">
    <div class="eds-dialog" style="width: auto; height: auto; padding: 0; margin: 0;">
        <div style="padding: 10px; margin-right: 4px;" class="eds-dialog-header js-eds-dialog-draggable">
            <p id="documentTitlePopup" style="color: white; margin-bottom: 2px; height: 12px;line-height: 1;" align="center"></p>
            <div style="margin-bottom: 0px;" class="eds-dialog-close">
                <b class="closePopup">x</b>
            </div>
        </div>
        <div style="padding: 0; margin: 0;" class="eds-dialog-inside">
            <div style="padding: 0;" class="eds-dialog-body clearfix">
                <div style="margin-bottom: 0;" class="eds-dialog-content">
                    <div style="width: 700px; height: 500px;" id='hereDocument'>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document)
        .ready(
            function() {
                if (documentController == null) {
                    $("body")
                        .append(
                            "<script type='text/javascript' src='js/documents.js' charset='utf-8'><\/script>");
                    documentController = new $.DocumentsController(
                        new $.DocumentsModel(), new $.DocumentsView());
                }
                documentController.initDocumentController();
            });
</script>