<div id="emailingContent">
	<form id="emailingForm">
	<ul style="margin-top: 10px;" class="nav nav-tabs">
		<li class="active"><a style="font-size: 16px; cursor: default;" class="emailingLabel grayLink" href="javascript:void(0)"></a></li>
	</ul>
	<h1 class="emailingLabel" style="margin-top: 20px; color: black !important;"></h1>
	<hr style="background: gray; border: 0; height: 1px; margin-bottom: 20px;">
	<p class="emailingDescriptionLabel" style="font-size: 13px;"></p>
	<table style="width: 90%; margin-top: 20px;">
		<tbody>
		<tr>
			<td>
				<label><span class="toLabel"></span> <em class="asterix">*</em> </label>
				<input name="emailingEmail" maxlength="50000" class="required span6" id="emailingEmail" type="text" readonly><div class="jqEasyCounterMsg" style="font-size: 12px; font-family: Arial; color: rgb(7, 150, 190); text-align: right; width: 50%; opacity: 0; font-weight: bold; position: relative; top: 5px;">&nbsp;</div>
				<div id="emailingStandsTo" class="emailing-stands-to"></div>
			</td>
		</tr>
		<tr>
			<td>
				<label><span class="subjectLabel"></span> <em class="asterix">*</em> </label>
				<input name="emailingSubject" maxlength="200" class="required span6" id="emailingSubject" type="text"><div class="jqEasyCounterMsg" style="font-size: 12px; font-family: Arial; color: rgb(7, 150, 190); text-align: right; width: 50%; opacity: 0; font-weight: bold; position: relative; top: 5px;">&nbsp;</div>
			</td>
		</tr>
		<tr class="emaillingDescriptionRow">
			<td>
				<label><span class="descriptionLabel"></span> <em class="asterix">*</em> </label>
				<textarea name="emaillingDescription" maxlength="65000" class="required span6" id="emaillingDescription"></textarea><div class="jqEasyCounterMsg" style="font-size: 12px; font-family: Arial; color: rgb(7, 150, 190); text-align: right; width: 50%; opacity: 0; font-weight: bold; position: relative; top: 5px;">&nbsp;</div>
			</td>
		</tr>
	</tbody></table>
	<div style="margin-top: 60px;" align="center">
		<a style="width: 190px; font-size: 16px; margin-right: 5px;" class="btn-medium btn btn-danger cancelEmailingButton emptyFieldsLabel"></a>
		<a style="width: 190px; font-size: 16px; margin-right: 5px;" class="btn-medium btn btn-primary sendTestEmailingButton sendTestEmailLabel"></a>
		<a id="saveEmailingBtn" style="width: 190px; font-size: 16px; margin-right: 5px;" class="btn-medium btn btn-success saveEmailingButton sendLabel"></a>
	</div>
</form>
	<script type="text/javascript">
		//<![CDATA[
		$(document)
				.ready(
						function() {
							if (emailingController == null) {
								$("body")
										.append(
												"<script type='text/javascript' src='js/emailing/view_emailing.js' charset='utf-8'><\/script>");
								$("body")
										.append(
												"<script type='text/javascript' src='js/emailing/model_emailing.js' charset='utf-8'><\/script>");
								$("body")
										.append(
												"<script type='text/javascript' src='js/emailing/controller_emailing.js' charset='utf-8'><\/script>");
								emailingController = new $.EmailingController(
										new $.EmailingModel(),
										new $.EmailingView());
							}
							emailingController.initController();
						});
		//]]
	</script>
</div>
