<div id="enterprisesContent">
	<form id="enterprisesForm">
		<ul style="margin-top: 10px;" class="nav nav-tabs">
			<li class="active"><a style="font-size: 16px; cursor: default;" class="enterprisesLabel grayLink" href="javascript:void(0)"></a></li>
		</ul>
		<h1 class="enterprisesLabel" style="margin-top: 20px; color: black !important;"></h1>
		<hr style="background: gray; border: 0; height: 1px; margin-bottom: 20px;">
		<p class="enterprisesDescriptionLabel" style="font-size: 13px;"></p>
		<div class="criteria enterprisesContactCriteria">
			<button type="button" class="btn btn-small floatLeft"
				id="exportContactsButton">
				<span class="fa exportLabel"></span>
			</button>
		</div>
		<table id="initContactsTable" style="width: 90%; margin-top: 20px;"></table>
	</form>
	<div id="popupExportContacts"
		class="eds-dialog-container draggable ui-draggable">
		<div class="eds-dialog">
			<div class="eds-dialog-header js-eds-dialog-draggable">
				<p id="exportContactsTitlePopup" class="exportFileLabel"></p>
				<div class="eds-dialog-close">
					<b class="closePopup">x</b>
				</div>
			</div>
			<div class="eds-dialog-inside">
				<div class="eds-dialog-body clearfix">
					<div class="eds-dialog-content">
						<div>
							<p class="thankYouToChooseSeparatorLabel"></p>
							<ul id="contactsSortableColumns">
								<li class="ui-state-default"><span
									class="ui-icon ui-icon-arrow-4"></span><label><input
										type="checkbox" value="1" checked style="display: none"><span
										class="firstNameLabel"></span></label></li>
								<li class="ui-state-default"><span
									class="ui-icon ui-icon-arrow-4"></span><label><input
										type="checkbox" value="2" checked style="display: none"><span
										class="lastNameLabel"></span></label></li>
								<li class="ui-state-default"><span
									class="ui-icon ui-icon-arrow-4"></span><label><input
										type="checkbox" value="3" checked style="display: none"><span
										class="emailLabel"></span></label></li>
								<li class="ui-state-default"><span
									class="ui-icon ui-icon-arrow-4"></span><label><input
										type="checkbox" value="4" checked><span
										class="enterpriseLabel"></span></label></li>
								<li class="ui-state-default"><span
									class="ui-icon ui-icon-arrow-4"></span><label><input
										type="checkbox" value="5" checked><span
										class="cellPhoneLabel"></span></label></li>
								<li class="ui-state-default"><span
									class="ui-icon ui-icon-arrow-4"></span><label><input
										type="checkbox" value="6" checked><span
										class="activitySectorLabel"></span></label></li>
							</ul>
							<p>
								<label class="fileNameLabel"></label> <input type="text"
									id="archiveExportContactFileName" class="input-large search-query"
									placeholder="Nom de fichier">
							</p>
							<p>
								<label class="separatorLabel"></label> <select
									name="fileSeparatorContact" id="fileSeparatorContact">
									<option value="excel" selected>Forme Excel</option>
									<option value=",">Virgule : ','</option>
									<option value=";">Point Virgule : ';'</option>
									<option value=".">Point : '.'</option>
									<option value=":">Deux Points : ':'</option>
								</select>
							</p>
							<div class="archiveDataTableContainerContact"></div>
							<div class="margin-top-40" style="text-align: center;">
								<a id='downloadContactArchiveFile' href='#'
									class="btn btn-success downloadLabel"
									download="Téléchargement.excel">Télécharger</a> <a
									class="btn btn-danger closePopup cancelLabel" href="#"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		//<![CDATA[
		$(document)
				.ready(
						function() {
							if (enterprisesController == null) {
								$("body")
										.append(
												"<script type='text/javascript' src='js/enterprises/view_enterprises.js' charset='utf-8'><\/script>");
								$("body")
										.append(
												"<script type='text/javascript' src='js/enterprises/model_enterprises.js' charset='utf-8'><\/script>");
								$("body")
										.append(
												"<script type='text/javascript' src='js/enterprises/controller_enterprises.js' charset='utf-8'><\/script>");
								enterprisesController = new $.EnterprisesController(
										new $.EnterprisesModel(),
										new $.EnterprisesView());
							}
							enterprisesController.initController();
						});
		//]]
	</script>
</div>
