
<h1 class="jobOffersLabel" style="color: black;"></h1>
<hr />
<p class="floatLeft publishJobOffers" style="font-size: 14px;"></p>
<div id="addJobOfferDiv" class="floatRight">
	<a id="addJobOfferLink" class="btn btn-info mrs"><span
		class="addLabel"></span> (<span class="numbers"><span
			id="numberJobOffers"></span>/<span id="numberPermittedJobOffers"></span></span>)</a>
</div>
<div class="clearBoth" id="listJobOffersDiv">
	<table cellpadding="0" cellspacing="0" border="0" class="display"
		id="listJobOffersTable"></table>
</div>
<div id="jobCreationDiv">
	<form id="jobCreationForm">
		<div style="padding-right: 20px; margin-bottom: 5px; display: none;"
			id="jobTranslationDiv">
			<label><span class="languageLabel"></span> <em
				class="asterix">*</em></label> <select id="languageTranslateSelect"
				name="languageTranslateSelect"></select>
		</div>
		<div id="jobTitleDiv">
			<label><span class="titleLabel"></span> <em class="asterix">*</em></label>
			<input type="text" name="jobTitle" id="jobTitle" class="required" />
		</div>
		<div class="paddingDiv">
			<label for="jobDescription" class="descriptionLabel"></label>
			<div class="containerEditor">
				<textarea id="jobDescription" name="jobDescription"
					class="editorJobOffer"></textarea>
			</div>
		</div>
		<div class="clearBoth paddingDiv" id="jobSkillsDiv">
			<label><span class="skillsLabel"></span></label> <input type="text"
				id="jobSkills" /> <span class="help-inline helpSkillsLabel"></span>
		</div>
		<div class="paddingDiv">
			<input style="width: 10px;" type="checkbox" id="externalUrl" /> <label
				class="jobOfferHasUrlLabel" style="display: inline;"
				for="externalUrl">l'offre a une URL externe</label>
		</div>
		<div class="paddingDiv" id="jobUrlDiv">
			<label><span class="urlLabel"></span> <em class="asterix">*</em></label>
			<input name="jobUrl" type="text" id="jobUrl" /> <span
				id="helpSkillLabel" class="help-inline validUrlLabel"></span>
		</div>

		<div>
			<div class="paddingDiv">
				<label> <span class="activitySectorsLabel"></span> <em
					class="asterix">*</em>
				</label> <select id="activitySectorSelect" name="activitySectorSelect"></select>
			</div>
			<div id="listActivitySectors" style="padding: 0;"></div>
		</div>
		<div>
			<div class="paddingDiv">
				<label><span class="countryLabel"></span> <em
					class="asterix">*</em></label> <select id="cantonSelect"
					name="cantonSelect"></select>
			</div>
			<div id="listCantons" style="padding: 0;"></div>
		</div>
		<div class="paddingDiv">
			<label> <span class="studyLevelLabel"></span> <em
				class="asterix">*</em></label> <select id="studyLevelSelect"
				name="studyLevelSelect"></select>
		</div>

		<div class="paddingDiv">
			<label> <span class="functionLabel"></span> <em
				class="asterix">*</em></label> <select id="functionSelect"
				name="functionSelect"></select>
		</div>
		<div class="paddingDiv">
			<label> <span class="experienceYearsLabel"></span> <em
				class="asterix">*</em></label> <select id="experienceYearsSelect"
				name="experienceYearsSelect"></select>
		</div>

		<div style="margin: 30px 0px 30px 0px;" align="center">

			<button type="button" id="saveJob" class="btn btn-success saveLabel"></button>
			<a class="btn btn-danger cancelLabel" id="cancelAddingJob"
				href="javascript:void(0)"></a>

		</div>
	</form>
</div>

<div
	class="popupDeleteJobOffer eds-dialog-container draggable ui-draggable"
	style="visibility: visible; top: 30%; left: 30%; display: none; padding: 0;">
	<div class="eds-dialog"
		style="width: 500px; height: auto; padding: 0; margin: 0;">
		<div style="padding: 4px 4px 4px 4px; margin-right: 4px;"
			class="eds-dialog-header js-eds-dialog-draggable">
			<h2 class="confirmDeleteLabel"
				style="color: white; margin-bottom: 2px; font-size: 18px;"
				align="center"></h2>
			<div style="margin-bottom: 0px;" class="eds-dialog-close">
				<b class="closePopup">x</b>
			</div>
		</div>
		<div style="padding: 0; margin: 0;" class="eds-dialog-inside">
			<div style="padding: 0;" class="eds-dialog-body clearfix">
				<div style="padding: 20px;" class="eds-dialog-content">
					<p style="font-size: 14px;" align="center"
						id="confirmDeleteJobOfferLabel"></p>
					<div style="margin-top: 15px;" align="center">

						<button type="button" id="confirmDeleteJob"
							class="btn btn-success yesLabel"></button>
						<a class="btn btn-danger cancelLabel" id="cancelDeleteJob"
							href="javascript:void(0)"></a>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div
	class="popupJobOfferView eds-dialog-container draggable ui-draggable"
	style="visibility: visible; top: 10%; left: 24%; display: none; padding: 0;">
	<div class="eds-dialog"
		style="width: 800px; height: auto; padding: 0; margin: 0;">
		<div style="padding: 4px 4px 4px 4px; margin-right: 4px;"
			class="eds-dialog-header js-eds-dialog-draggable">
			<h2 style="color: white; margin-bottom: 2px; font-size: 18px;"
				align="center" id="jobTitleView"></h2>
			<div style="margin-bottom: 0px;" class="eds-dialog-close">
				<b class="closePopup">x</b>
			</div>
		</div>
		<div style="padding: 0; margin: 0;" class="eds-dialog-inside">
			<div style="padding: 0;" class="eds-dialog-body clearfix">
				<div style="padding: 20px;" class="eds-dialog-content">
					<div id="jobOfferViewContent" style="overflow-y: auto;"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	//<![CDATA[
	$(document)
			.ready(
					function() {
						if (jobOfferController == null) {
							$("body")
									.append(
											"<script type='text/javascript' src='js/jobOffers.js' charset='utf-8'><\/script>");
							jobOfferController = new $.JobController(new $.JobModel(),
									new $.JobView());
						}
						jobOfferController.initJobOfferController();
					});

	//]]
</script>
