<style>
	.popover {
/* 		display: block;   */
		margin-top: 107px !important;
		left: auto;
		padding: 0px;
		width: 276px;
		margin-left: -127px;
	}
	
	.popover-title {
		color : black ;
	}
	
	.popover-content {
		color : black ;
		padding: 10px 10px 10px !important;
	}
	
	.popover-content:hover {
		background-color: #69085A;
		border-bottom-color: #69085A;
		border-left: none;
		color: #ffffff;
	}
	
	.custom-content {
		max-height: 200px;
		overflow: auto;
	}
	
	.display-all-container {
		display: none;
	}
	
	.notifPic {
		float: left;
		padding-right: 5px;
	}
	
	.notifHeader {
		height: 20px;
		font-weight: bold;
	}
	
	.notifBody {
		height: 20px;
	}
	
	.notificationID {
		display: none;
	}
	
	.arrow {
		border-bottom-color: #edeff1;
		margin-right: -9px;
		top: -9px;
		margin-top: -7px !important;
		border-right: 7px solid transparent !important;
		border-bottom: 7px solid #B3ACAC !important;
		border-left: 7px solid transparent !important;
	}
	
	.iconbar {
		background-color: transparent !important;
	}
	
	.iconbar > ul > li > a {
		color: #B3ACAC;
	}
	
	.logoStandSearch {
		width: 60px;
		height: 60px;
	}
	
	.popover.bottom .arrow {
		border-bottom-color: #B3ACAC;
		margin-top: -9px;
		top: 0px;
	}
	
	.iconbar-unread {
		background-color: #FF0014;
	}
	
</style>

<script type="text/javascript" src="js/notifications/notificationView.js"></script>
<script type="text/javascript" src="js/notifications/notificationModel.js"></script>
<script type="text/javascript" src="js/notifications/notificationController.js"></script>

<script type="text/javascript">
	//<![CDATA[
		$(document).ready(function() {
			//console.log('Inside ready function');
			if(notificationController==null) {
				notificationController = new $.NotificationController(new $.NotificationModel(), new $.NotificationView());
				notificationController.initController();
			}else notificationController.initController();
		});
	//]]
</script>
<div class="">
	<div class="iconbar iconbar-horizontal">
	  	<ul>
	    	<li>
	    		<a href="#" class="fui-mail message-container" style="padding: 7px 10px 7px 5px;">
	    		</a>
    			<div class="popover bottom custom-style fui-mail-popup">
					<div class="arrow"></div>
					<h3 id="popover-title-mail" class="popover-title inboxLabel"></h3>
					<div class="fui-mail-content custom-content">
					</div>
					<a href="#"><h3 id="fui-mail-display" class="popover-title display-all-container showAllLabel"></h3></a>
					<a href="#"><h3 id="no-mail-notifications" class="popover-title display-all-container youHaveNoNotificationsLabel"></h3></a>
				</div>
    		</li>
	    	<li>
	    		<a href="#" class="fui-calendar-solid" style="padding: 7px 10px;">
	    		</a>
    			<div class="popover bottom custom-style fui-clip-popup">
					<div class="arrow"></div>
					<h3 id="popover-title-clip" class="popover-title candidaturesLabel"></h3>
					<div class="fui-clip-content custom-content">
					</div>
					<a href="#"><h3 id="fui-clip-display" class="popover-title display-all-container showAllLabel"></h3></a>
					<a href="#"><h3 id="no-calendar-notifications" class="popover-title display-all-container youHaveNoNotificationsLabel"></h3></a>
				</div>
    		</li>
	  	</ul>
	</div>
</div>
