
<div style="margin-bottom: 10px;">
	<h1 class="photosLabel" style="color: black; margin-top: 10px;"></h1>
	<hr
		style="background: gray; border: 0; height: 1px; margin-bottom: 20px;" />
	<div class="floatLeft" style="font-size: 14px; margin-bottom: 10px;">
		<span class="photoDescriptionLabel1"></span><br /> <span
			class="photoDescriptionLabel2"></span>
	</div>
	<div id="addPhotoDiv" class="floatRight">
		<a id="addPhotoLink" class="btn btn-info btn-middle"><span
			class="addLabel"></span> (<span class="numbers"><span
				id="numberPhotos"></span>/<span id="numberPermittedPhotos"></span></span>)</a>
	</div>
	<div class="clearBoth"></div>
	<div id="listStandPhotos"></div>
</div>

<div class="popupPhoto eds-dialog-container draggable ui-draggable"
	style="visibility: visible; top: 20%; left: 35%; display: none;">
	<div class="eds-dialog" style="width: 600px; height: auto;">
		<div class="eds-dialog-header js-eds-dialog-draggable">
			<div align="center" class="verdana"
				style="height: 20px; color: white; font-weight: bold;">
				<span class="addLabel"></span> <span class="photoLabel"></span>
			</div>
			<div class="eds-dialog-close">
				<b class="closePopup">x</b>
			</div>
		</div>
		<div class="eds-dialog-inside">
			<div class="eds-dialog-error clearfix"></div>
			<div class="eds-dialog-body clearfix">
				<div class="eds-dialog-content">
					<form id="photoForm">
						<table>
							<tr height="10" />
							<tr>
								<td class="righttext" style="vertical-align: top;"><span
									class="titleLabel form-label"></span><em class="asterix">*</em></td>
								<td class="form-label"
									style="width: 10px; text-align: center; vertical-align: top;">:</td>
								<td width="75%"><input class="required"
									style="width: 360px;" type="text" id="photoTitle"
									name="photoTitle" /></td>
							</tr>
							<tr height="7" />
							<tr>
								<td class="righttext" style="vertical-align: top; width: 200px;"><span
									class="descriptionLabel form-label">Description</span></td>
								<td class="form-label"
									style="width: 10px; text-align: center; vertical-align: top;">:</td>
								<td><textarea style="width: 350px;" cols="63" rows="4"
										id="photoDescription" name="photoDescription"></textarea></td>
							</tr>
							<tr id="uploadTr">
								<td style="text-align: right;" id="photoContainer" colspan="2"></td>
								<td>
									<div class="floatLeft" id="imageEdited"></div>
									<div id="loadPhoto">
										<label style="margin-left: 20px;" class="filebutton floatLeft">
											<span><span class="uploadPhotoLabel"></span> <input
												id="photoUpload" type="file" name="files[]">
										</span>
										</label>
									</div>
									<div id="progressPhoto" class="progress progress-div-costum"
										style="width: 330px;">
										<span class="loadingText"><span class="loadingLabel"></span>
											0%</span>
										<div class="progress-bar progress-bar-uploadfile"></div>
									</div>
									<div id="photoLoaded" style="display: none;">
										<span class="photoUploadedLabel"></span>
									</div>
									<div class="clearBoth"></div>
									<div id="loadPhotoError" style="margin-left: 19px;">
										<label style="color: red;" class="photoSizeHintLabel"></label>
									</div>
								</td>
							</tr>
							<tr height="15">
							</tr>
							<tr>
								<td colspan="2"></td>
								<td>
									<div align="center">

										<button type="button" id="savePhotoButton"
											class="btn btn-success saveLabel"></button>
										<a class="btn btn-danger closePopup cancelLabel"
											href="javascript:void(0)"></a>

									</div>
								</td>
							</tr>
							<tr height="10" />
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div
	class="popupDeletePhoto eds-dialog-container draggable ui-draggable"
	style="visibility: visible; top: 30%; left: 30%; display: none; padding: 0;">
	<div class="eds-dialog" style="width: 460px; height: auto;">
		<div style="padding: 4px 4px 4px 4px; margin-right: 4px;"
			class="eds-dialog-header js-eds-dialog-draggable">
			<p class="confirmDeleteLabel"
				style="color: white; margin-bottom: 2px;" align="center"></p>
			<div style="margin-bottom: 0px;" class="eds-dialog-close">
				<b class="closePopup">x</b>
			</div>
		</div>
		<div style="padding: 0; margin: 0;" class="eds-dialog-inside">
			<div style="padding: 0;" class="eds-dialog-body clearfix">
				<div style="padding: 10px;" class="eds-dialog-content">
					<div class="confirmDeletePhotoLabel" align="center"
						style="padding: 10px; font-size: 14px;"></div>
					<div align="center">

						<button type="button"
							class="deletePhotoButton btn btn-success yesLabel"></button>
						<a class="btn btn-danger closePopup cancelLabel"
							href="javascript:void(0)"></a>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div
	class="popupPhotoViewer eds-dialog-container draggable ui-draggable"
	style="visibility: visible; top: 15%; left: 25%; display: none; padding: 0;">
	<div class="eds-dialog" style="height: auto;">
		<div style="padding: 4px 4px 4px 4px; margin-right: 4px;"
			class="eds-dialog-header js-eds-dialog-draggable">
			<p id="photoTitlePopup"
				style="color: white; margin-bottom: 2px; height: 25px;"
				align="center"></p>
			<div style="margin-bottom: 0px;" class="eds-dialog-close">
				<b class="closePopup">x</b>
			</div>
		</div>
		<div style="padding: 0; margin: 0;" class="eds-dialog-inside">
			<div style="padding: 0;" class="eds-dialog-body clearfix">
				<div class="eds-dialog-content">
					<div style="width: 700px; height: 460px; overflow: auto;">
						<table style="width: 100%; height: 100%;">
							<tbody>
								<tr>
									<td style="vertical-align: middle; text-align: center;"><img
										id="photoViewImage" src="" alt="photo"
										style="width: 100%; height: auto;" /></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	//<![CDATA[
	$(document)
			.ready(
					function() {
						if (photosController == null) {
							$("body")
									.append(
											"<script type='text/javascript' src='js/photos.js' charset='utf-8'><\/script>");
							photosController = new $.PhotosController(new $.PhotosModel(),
									new $.PhotosView());
						}
						photosController.initController();
					});

	//]]>
</script>

