
<div style="margin-bottom: 10px;">
	<h1 class="postersTabLabel" style="color: black; margin-top: 10px;"></h1>
	<hr
		style="background: gray; border: 0; height: 1px; margin-bottom: 20px;" />
	<div class="floatLeft" style="font-size: 14px; margin-bottom: 10px;">
		<span class="uploadPostersLabel"></span>. <br /> <span
			class="postersFormatLabel"></span>
	</div>
	<div id="addPosterDiv" class="floatRight">
		<a id="addPosterLink" class="btn btn-info mrs"><span
			class="addLabel"></span> (<span class="numbers"><span
				id="numberPosters"></span>/<span id="numberPermittedPosters"></span></span>)</a>
	</div>
	<div class="clearBoth"></div>
	<div id="listStandPosters"></div>
</div>

<div class="popupPoster eds-dialog-container draggable ui-draggable"
	style="visibility: visible; top: 20%; left: 25%; display: none;">
	<div class="eds-dialog" style="width: 600px; height: auto;">
		<div class="eds-dialog-header js-eds-dialog-draggable">
			<div align="center" class="verdana"
				style="height: 20px; color: white; font-weight: bold;">
				<span class="addLabel"></span> <span class="posterLabel"></span>
			</div>
			<div class="eds-dialog-close">
				<b class="closePopup">x</b>
			</div>
		</div>
		<div class="eds-dialog-inside">
			<div class="eds-dialog-error clearfix"></div>
			<div class="eds-dialog-body clearfix">
				<div class="eds-dialog-content">
					<form id="posterForm">
						<table>
							<tr height="10" />
							<tr>
								<td class="righttext" style="vertical-align: top;"><span
									class="titleLabel form-label"></span><em class="asterix">*</em></td>
								<td class="form-label"
									style="width: 10px; text-align: center; vertical-align: top;">:</td>
								<td width="75%"><input class="required"
									style="width: 360px;" type="text" id="posterTitle"
									name="posterTitle" /></td>
							</tr>
							<tr height="7" />
							<tr>
								<td class="righttext" style="vertical-align: top; width: 200px;"><span
									class="descriptionLabel form-label">Description</span></td>
								<td class="form-label"
									style="width: 10px; text-align: center; vertical-align: top;">:</td>
								<td width="75%"><textarea style="width: 350px;" rows="4"
										id="posterDescription" name="posterDescription"></textarea></td>
							</tr>
							<!--  <tr>
                                        <td class="righttext" style="vertical-align:top;width:200px;"><span class="descriptionLabel form-label">Description</span><em class="asterix">*</em></td>
                                        <td class="form-label" style="width:10px;text-align:center;vertical-align: top;">:</td>
                                        <td><textarea class="required" cols="63" rows="4" id="posterDescription" name="posterDescription"></textarea></td>
                                  </tr>-->
							<tr id="uploadTr">
								<td style="text-align: right;" id="imagePosterContainer"
									colspan="2"></td>
								<td>
									<div id="loadPoster">
										<label class="filebutton floatLeft"> <span><span
												class="uploadPosterLabel"></span> <input id="posterUpload"
												type="file" name="files[]"> </span>
										</label>
									</div>
									<div id="progressPoster" class="progress progress-div-costum"
										style="width: 330px; height: 20px;">
										<span class="loadingText"><span class="loadingLabel"></span>
											0%</span>
										<div class="progress-bar progress-bar-uploadfile"></div>
									</div>
									<div id="files" class="files"></div>
									<div class="clearBoth"></div>
									<div id="loadPosterError">
										<label style="color: red;" class="posterSizeHintLabel"></label>
									</div>
								</td>
							</tr>
							<tr height="15">
							</tr>
							<tr>
								<td colspan="2"></td>
								<td>
									<div align="center">

										<button type="button"
											class="savePosterButton btn btn-success yesLabel"></button>
										<a class="btn btn-danger closePopup cancelLabel"
											href="javascript:void(0)"></a>

									</div>
								</td>
							</tr>
							<tr height="10" />
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div
	class="popupDeletePoster eds-dialog-container draggable ui-draggable"
	style="visibility: visible; top: 30%; left: 30%; display: none; padding: 0;">
	<div class="eds-dialog" style="width: 460px; height: auto;">
		<div style="padding: 4px 4px 4px 4px; margin-right: 4px;"
			class="eds-dialog-header js-eds-dialog-draggable">
			<p class="confirmDeleteLabel"
				style="color: white; margin-bottom: 2px;" align="center"></p>
			<div style="margin-bottom: 0px;" class="eds-dialog-close">
				<b class="closePopup">x</b>
			</div>
		</div>
		<div style="padding: 0; margin: 0;" class="eds-dialog-inside">
			<div style="padding: 0;" class="eds-dialog-body clearfix">
				<div style="padding: 10px;" class="eds-dialog-content">
					<div class="confirmDeletePoster" align="center"
						style="padding: 10px; font-size: 14px;"></div>
					<div align="center">
						<button type="button"
							class="deletePosterButton btn btn-success yesLabel"></button>
						<a class="btn btn-danger closePopup cancelLabel"
							href="javascript:void(0)"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="popupPosterView eds-dialog-container draggable ui-draggable"
	style="visibility: visible; top: 10%; left: 30%; display: none; padding: 0;">
	<div class="eds-dialog"
		style="width: auto; height: auto; padding: 0; margin: 0;">
		<div style="padding: 10px; margin-right: 4px;"
			class="eds-dialog-header js-eds-dialog-draggable">
			<p id="posterTitlePopup"
				style="color: white; margin-bottom: 2px; height: 25px;"
				align="center"></p>
			<div style="margin-bottom: 7px;" class="eds-dialog-close">
				<b class="closePopup">x</b>
			</div>
		</div>
		<div style="padding: 0; margin: 0;" class="eds-dialog-inside">
			<div style="padding: 0;" class="eds-dialog-body clearfix">
				<div style="margin-bottom: 0;" class="eds-dialog-content">
					<div style="width: 700px; height: 500px;" id='herePoster'></div>
					<!-- <iframe id="herePoster" src="" style="width:700px; height:500px;" frameborder="0">
                          </iframe>-->
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	//<![CDATA[
	$(document)
			.ready(
					function() {
						if (postersController == null) {
							$("body")
									.append(
											"<script type='text/javascript' src='js/posters.js' charset='utf-8'><\/script>");
							postersController = new $.PostersController(new $.PostersModel(),
									new $.PostersView());
						} 
						postersController.initController();
					});
	//]]>
</script>
