<div id="productsContent">
	<h1 class="tab-content-title productsLabel"></h1>
	<hr />
	<p class="floatLeft tab-content-description productsDescriptionLabel"></p>
	<div id="addProductDiv" class="floatRight">
		<a id="addProductLink" class="btn btn-info btn-middle"><span
			class="addLabel"></span> (<span class="numbers"><span
				id="numberProducts"></span>/<span
				id="numberPermittedProducts"></span></span>)</a>
	</div>
	<div class="clearBoth" id="listProductsDiv">
		<table class="display"
			id="listProductsTable"></table>
	</div>
	<div id="popupViewProduct" class="eds-dialog-container draggable ui-draggable">
		<div class="eds-dialog">
			<div class="eds-dialog-header js-eds-dialog-draggable">
				<div align="center"><span id="viewProductTitlePopup" class="eds-dialog-title"></span>&nbsp;<span class="productLabel eds-dialog-title"></span></div>
				<div class="eds-dialog-close">
					<b class="closePopup">x</b>
				</div>
			</div>
			<div class="eds-dialog-inside">
				<div class="eds-dialog-body clearfix">
					<div class="eds-dialog-content">
						<div>
							<table>
								<tr height="10" />
								<tr>
									<td class="righttext" style="vertical-align: top;"><span
										class="logoLabel form-label"></span></td>
									<td class="form-label"
										style="width: 10px; text-align: center; vertical-align: top;">:</td>
									<td width="75%"><img id="productDetailImage" src=""/></td>
								</tr>
								<tr height="7" />
								<tr>
									<td class="righttext" style="vertical-align: top;"><span
										class="nameLabel form-label"></span></td>
									<td class="form-label"
										style="width: 10px; text-align: center; vertical-align: top;">:</td>
									<td width="75%"><span id="productDetailTitle" class="form-label"></span></td>
								</tr>
								<tr height="7" />
								<tr>
									<td class="righttext" style="vertical-align: top; width: 200px;"><span
										class="descriptionLabel form-label"></span></td>
									<td class="form-label"
										style="width: 10px; text-align: center; vertical-align: top;">:</td>
									<td width="75%"><span id="productDetailDescription" class="form-label"></span></td>
								</tr>
								<tr height="7" />
								<tr>
									<td class="righttext" style="vertical-align: top; width: 200px;"><span
										class="filesLabel form-label"></span></td>
									<td class="form-label"
										style="width: 10px; text-align: center; vertical-align: top;">:</td>
									<td width="75%">
										<ul id="productDetailResources" class="resources-list">
										</ul>
									</td>
								</tr>
								<tr height="15"/>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="popupAddProduct" class="eds-dialog-container draggable ui-draggable">
		<div class="eds-dialog">
			<div class="eds-dialog-header js-eds-dialog-draggable">
				<div align="center"><span id="addProductTitlePopup" class="eds-dialog-title"></span>&nbsp;<span class="productLabel eds-dialog-title"></span></div>
				<div class="eds-dialog-close">
					<b class="closePopup">x</b>
				</div>
			</div>
			<div class="eds-dialog-inside">
				<div class="eds-dialog-body clearfix">
					<div class="eds-dialog-content">
						<div>
							<form id="productForm">
								<table>
									<tr height="10" />
									<tr class="traductBlock">
										<td class="righttext" style="vertical-align: top;"><span
											class="languageLabel form-label"></span></td>
										<td class="form-label"
											style="width: 10px; text-align: center; vertical-align: top;">:</td>
										<td width="75%">
											<select id="languageTranslateSelect" name="languageTranslateSelect" class="valid">
												<option value="2">Anglais</option>
											</select>
										</td>
									</tr>
									<tr height="7" class="traductBlock"/>
									<tr>
										<td class="righttext" style="vertical-align: top;"><span
											class="titleLabel form-label"></span><em class="asterix">*</em></td>
										<td class="form-label"
											style="width: 10px; text-align: center; vertical-align: top;">:</td>
										<td width="75%"><input class="required" type="text" id="productTitle"
											name="productTitle" /></td>
									</tr>
									<tr height="7" />
									<tr>
										<td class="righttext" style="vertical-align: top; width: 200px;"><span
											class="descriptionLabel form-label"></span></td>
										<td class="form-label"
											style="width: 10px; text-align: center; vertical-align: top;">:</td>
										<td><textarea cols="63" rows="4"
												id="productDescription" name="productDescription"></textarea></td>
									</tr>
									<tr height="7" />
									<tr>
										<td class="righttext" style="vertical-align: top; width: 200px;"><span
											class="logoLabel form-label"></span></td>
										<td class="form-label"
											style="width: 10px; text-align: center; vertical-align: top;"></td>
										<td>
											<div class="floatLeft" id="productImageEdited">
												<img class="productImage" src='#' />
											</div>
											<div id="loadProductImage">
												<label class="filebutton floatLeft">
													<span><span class="uploadFileLabel"></span> <input
														id="fileUploadAddProductImage" type="file" name="files[]" multiple>
													</span>
												</label>
											</div>
											<div id="progressProductImage" class="progress progress-div-costum"
												style="width: 330px;">
												<span class="loadingText"><span class="loadingLabel"></span>
													0%</span>
												<div class="progress-bar progress-bar-uploadfile"></div>
											</div>
											<!--div id="productImageLoaded" style="display: none;">
												<span class="photoUploadedLabel"></span>
											</div-->
											<div class="clearBoth"></div>
											<div id="loadProductImageError" style="margin-left: 19px;">
												<label style="color: red;" class="photoSizeHintLabel"></label>
											</div>
										</td>
									</tr>
									<tr height="15"/>
									<tr>
										<td colspan="3">
											<div align="center">
												<button type="button" id="saveProductBtn"
													class="btn btn-success saveLabel"></button>
												<a class="btn btn-danger closePopup cancelLabel"
													href="javascript:void(0)"></a>
											</div>
										</td>
									</tr>
									<tr height="10" />
								</table>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="popupDeleteProduct" class="eds-dialog-container draggable ui-draggable">
		<div class="eds-dialog">
			<div class="eds-dialog-header js-eds-dialog-draggable">
				<div align="center"><span class="eds-dialog-title confirmDeleteLabel"></span></div>
				<div class="eds-dialog-close">
					<b class="closePopup">x</b>
				</div>
			</div>
			<div class="eds-dialog-inside">
				<div class="eds-dialog-body clearfix">
					<div class="eds-dialog-content">
						<div>
							<table>
								<tr height="10" />
								<tr>
									<td><span
										class="confirmDeleteProductLabel form-label"></span></td>
								</tr>
								<tr height="15">
								</tr>
								<tr>
									<td>
										<button type="button" id="confirmDeleteProductBtn"
											class="btn btn-success yesLabel"></button>
										<a class="btn btn-danger closePopup cancelLabel"
											href="javascript:void(0)"></a>
									</td>
								</tr>
								<tr height="10" />
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="popupAttachFilesProduct" class="eds-dialog-container draggable ui-draggable">
		<div class="eds-dialog">
			<div class="eds-dialog-header js-eds-dialog-draggable">
				<div align="center"><span id="addProductTitlePopup" class="eds-dialog-title"></span>&nbsp;<span class="attachFilesLabel eds-dialog-title"></span></div>
				<div class="eds-dialog-close">
					<b class="closePopup">x</b>
				</div>
			</div>
			<div class="eds-dialog-inside">
				<div class="eds-dialog-body clearfix">
					<div class="eds-dialog-content">
						<div id="productAttachFilesForm">
							<div id="resourceLoaded">
								<label class="filebutton floatLeft">
									<span><span class="uploadFileLabel"></span> <input
										id="fileUploadAddResource" type="file" name="files[]" multiple>
									</span>
								</label>
							</div>
							<div id="progressProductResource" class="progress progress-div-costum"
								style="width: 330px;">
								<span class="loadingText"><span class="loadingLabel"></span>
									0%</span>
								<div class="progress-bar progress-bar-uploadfile"></div>
							</div>
							<div class="clearBoth"></div>
							<div id="loadResourceError" style="margin-left: 19px;">
								<label style="color: red;" class="resourceSizeHintLabel"></label>
							</div>
							<div id="uploadResources">
								<table class="display"
									id="listResourcesTable"></table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="popupDeleteResource" class="eds-dialog-container draggable ui-draggable">
		<div class="eds-dialog">
			<div class="eds-dialog-header js-eds-dialog-draggable">
				<div align="center"><span class="eds-dialog-title confirmDeleteLabel"></span></div>
				<div class="eds-dialog-close">
					<b class="closePopup">x</b>
				</div>
			</div>
			<div class="eds-dialog-inside">
				<div class="eds-dialog-body clearfix">
					<div class="eds-dialog-content">
						<div>
							<table>
								<tr height="10" />
								<tr>
									<td><span
										class="confirmDeleteResourceLabel form-label"></span></td>
								</tr>
								<tr height="15">
								</tr>
								<tr>
									<td>
										<button type="button" id="confirmDeleteResourceBtn"
											class="btn btn-success yesLabel"></button>
										<a class="btn btn-danger closePopup cancelLabel"
											href="javascript:void(0)"></a>
									</td>
								</tr>
								<tr height="10" />
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		//<![CDATA[
		$(document)
				.ready(
						function() {
							if (productController == null) {
								$("body")
										.append(
												"<script type='text/javascript' src='js/product/view_product.js' charset='utf-8'><\/script>");
								$("body")
										.append(
												"<script type='text/javascript' src='js/product/model_product.js' charset='utf-8'><\/script>");
								$("body")
										.append(
												"<script type='text/javascript' src='js/product/controller_product.js' charset='utf-8'><\/script>");
								productController = new $.ProductController(
										new $.ProductModel(),
										new $.ProductView());
							}
							productController.initController();
						});
		//]]
	</script>
</div>
