
<h1 style="color: black;" id="publicationTitle"
	class="publicationsLabel"></h1>
<hr
	style="background: gray; border: 0; height: 1px; margin-bottom: 20px;" />
<p class="publicationsMessageLabel"
	style="font-size: 13px; width: 60%; line-height: 2; margin-bottom: 10px;">
</p>
<div id="listPublicationsDisplay">
	<div class="listPublicationsDisplay"></div>
	<div id="forumPublicationDiv">
		<h1 class="forumPublicationsLabel"></h1>
		<hr />
		<div class="addDiv" id="addForumPublicationDiv">
			<a id="addForumPublicationLink">[<span
				class="addLabel"></span> (<span class="numbers"><span
					id="numberForumPublications"></span>/<span id="numberPermittedForumPublications"></span></span>)]</a>
		</div>
		<div class="listPublications" id="forumPublication"></div>
	</div>
	<div id="standPublicationDiv" style="clear: both; margin-top: 10px;">
		<h1 class="standPublicationsLabel"></h1>
		<hr />
		<div class="addDiv" id="addStandPublicationDiv">
			<a id="addStandPublicationLink">[<span
				class="addLabel"></span> (<span class="numbers"><span
					id="numberStandPublications"></span>/<span id="numberPermittedStandPublications"></span></span>)]</a>
		</div>
		<div class="listPublications" id="standPublication"></div>
	</div>
	<div style="margin-left: 300px; display: none;"
		id="updatePublicationsDiv">
		<a
			style="width: 220px; font-size: 13px; font-weight: bold; color: white !important;"
			class="btn-middle btn btn-info updatePublicationButton saveChangesLabel"></a> <a
			class="cancelUpdatePublication blueLinkUnderline cancelLabel"
			href="javascript:void(0)"></a>
	</div>
</div>
<div id="publicationCreationDiv" style="display: none;">
	<div id="listPublications">
		<form id="publicationForm">
			<table class="onePublication" style="width: 60%; margin-top: 15px;">
				<tr>
					<td><label for="text" style="font-size: 13px;"><span
							class="subjectLabel"></span> <em class="asterix">*</em></label> <input
						name="subjectPublication" class="subjectPublication required"
						type="text" style="width: 99%;"></td>
				</tr>
				<tr>
					<td><label for="text" style="font-size: 13px;"><span
							class="textLabel"></span> <em class="asterix">*</em></label> <input
						name="contentPublication" class="contentPublication required"
						type="text" style="width: 99%;"></td>
				</tr>
			</table>
		</form>
	</div>
	<div style="margin-top: 10px; width: 60%;" align="center">
		<button type="button"
			class="savePublicationButton btn btn-success saveLabel"></button>
		<a class="btn btn-danger cancelAddPublication cancelLabel"
			href="javascript:void(0)"></a>
	</div>
</div>

<div
	class="popupDeletePublication eds-dialog-container draggable ui-draggable"
	style="visibility: visible; top: 30%; left: 30%; display: none; padding: 0;">
	<div class="eds-dialog" style="width: 460px; height: auto;">
		<div style="padding: 4px 4px 4px 4px; margin-right: 4px;"
			class="eds-dialog-header js-eds-dialog-draggable">
			<h2 class="confirmDeleteLabel"
				style="color: white; margin-bottom: 2px;" align="center"></h2>
			<div style="margin-bottom: 0px;" class="eds-dialog-close">
				<b class="closePopup">x</b>
			</div>
		</div>
		<div style="padding: 0; margin: 0;" class="eds-dialog-inside">
			<div style="padding: 0;" class="eds-dialog-body clearfix">
				<div style="padding: 10px;" class="eds-dialog-content">
					<div class="confirmDeletePublicationLabel" align="center"
						style="padding: 10px; font-size: 14px;"></div>
					<div align="center">
						<button type="button"
							class="deletePublicationButtton btn-middle btn btn-info yesLabel"
							style="padding: 3px 17px 3px 17px; font-weight: bold;">
						</button>
						<a class="closePopup blueLinkUnderline cancelLabel"
							id="cancelContactButton" href="javascript:void(0)"> </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	//<![CDATA[
	$(document)
			.ready(
					function() {
						if (publicationsController == null) {
							$("body")
									.append(
											"<script type='text/javascript' src='js/Publications.js' charset='utf-8'><\/script>");
							publicationsController = new $.PublicationsController(
									new $.PublicationsModel(), new $.PublicationsView());
						}
						publicationsController.initController();
					});
	//]]
</script>
