<div id="questionInfosContent">
	<h1 class="tab-content-title questionInfosLabel"></h1>
	<a href="javascript:void(0)"
		class="exportSolicitedJobApplicationsLink exportQuestionInfosBtn exportLabel"></a>
	<hr />
	<p class="floatLeft manageQuestionInfos questionInfosDescriptionLabel"></p>
	<div id="questionInfoSearchDiv">
		<div id="productDiv" class="floatRight">
			<label>
            	<span class="filterByProductLabel"></span><span> : </span>
            	<select class="productSelect" id="productSelect">
            	</select>
           	</label>
       	</div>
    </div>
	<div class="clearBoth" id="listQuestionInfosDiv">
		<table class="display questionInfosTable"
			id="listQuestionInfosTable"></table>
	</div>
	<div
		class="popupResponseQuestionInfo eds-dialog-container draggable ui-draggable"
		style="visibility: visible; top: 20%; left: 35%; display: none;">
		<div class="eds-dialog" style="width: 460px; height: auto;">
			<div class="eds-dialog-header js-eds-dialog-draggable">
				<div class="responseLabel" align="center" class="verdana"
					style="height: 20px; color: white; font-weight: bold;"></div>
				<div class="eds-dialog-close">
					<b class="closePopup">x</b>
				</div>
			</div>
			<div class="eds-dialog-inside">
				<div class="eds-dialog-error clearfix"></div>
				<div class="eds-dialog-body clearfix">
					<div class="eds-dialog-content">
						<form id="responseQuestionInfoForm">
							<div>
								<label><span class="form-label receiverLabel"
									style="font-weight: bolder; margin-right: 5px;"></span> <em
									class="asterix">*</em></label> <input name="receiverQuestionInfo"
									id="receiverQuestionInfo" class="required"
									disabled="disabled" />
							</div>
							<div>
                                    <label class="form-label subjectLabel"></label>
                                    <input name="subjectQuestionInfo" id="subjectQuestionInfo" 
                                    class="required" disabled="disabled"/>
                            </div>
							<div>
								<label><span class="form-label messageLabel"
									style="font-weight: bolder; margin-right: 5px;"></span> <em
									class="asterix">*</em></label>
								<textarea class="required" rows="7"
									id="responseQuestionInfo" name="responseQuestionInfo"></textarea>
							</div>
							<div align="center">

								<button type="button" id="sendResponseQuestionInfo"
									class="btn btn-success sendLabel"></button>
								<a class="btn btn-danger closePopup cancelLabel"
									href="javascript:void(0)"></a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div
		class="popupMotivationLetterQuestionInfo eds-dialog-container draggable ui-draggable"
		style="visibility: visible; top: 20%; left: 35%; display: none;">
		<div class="eds-dialog" style="width: 460px; height: auto;">
			<div class="eds-dialog-header js-eds-dialog-draggable">
				<div class="motivationLetterLabel" align="center" class="verdana"
					style="height: 20px; color: white; font-weight: bold;"></div>
				<div class="eds-dialog-close">
					<b class="closePopup">x</b>
				</div>
			</div>
			<div class="eds-dialog-inside">
				<div class="eds-dialog-error clearfix"></div>
				<div class="eds-dialog-body clearfix">
					<div class="eds-dialog-content">
						<div
							style="padding: 10px 10px 30px 10px; height: 200px; overflow-y: auto;"
							id="letterContentQuestionInfo"></div>
						<div align="center">

							<button type="button" id="letterQuestionInfoReply"
								class="btn btn-success replyLabel"></button>
							<a class="btn btn-danger closePopup cancelLabel"
								href="javascript:void(0)"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="popupExportCandidatures" class="eds-dialog-container draggable ui-draggable">
		<div class="eds-dialog">
			<div class="eds-dialog-header js-eds-dialog-draggable">
				<p id="exportCandidaturesTitlePopup" class="exportFileLabel">
				</p>
				<div class="eds-dialog-close">
					<b class="closePopup">x</b>
				</div>
			</div>
			<div class="eds-dialog-inside">
				<div class="eds-dialog-body clearfix">
					<div class="eds-dialog-content">
						<div>
							<p class="thankYouToChooseSeparatorLabel">
							</p>
							<ul id="candidatureSortableColumns">
								<li class="ui-state-default"><span class="ui-icon ui-icon-arrow-4"></span><label><input type="checkbox" value="1" checked style="display:none"><span class="firstAndLastNameLabel"></span></label></li>
								<li class="ui-state-default"><span class="ui-icon ui-icon-arrow-4"></span><label><input type="checkbox" value="2" checked style="display:none"><span class="cvLabel"></span></label></li>
								<li class="ui-state-default"><span class="ui-icon ui-icon-arrow-4"></span><label><input type="checkbox" value="3" checked><span class="profilLabel"></span></label></li>
								<li class="ui-state-default"><span class="ui-icon ui-icon-arrow-4"></span><label><input type="checkbox" value="4" checked><span class="letterLabel"></span></label></li>
								<li id="candidatureSortableJobOffer" class="ui-state-default"><span class="ui-icon ui-icon-arrow-4"></span><label><input type="checkbox" value="5" checked><span class="jobTitleLabel"></span></label></li>
							</ul>
							<p>
								<label class="fileNameLabel"></label>
							    <input type="text" id="archiveExportCandidatureFileName" class="input-large search-query" placeholder="Nom de fichier">
							</p>
							<p>
								<label class="separatorLabel"></label>
							    <select name="fileSeparator" id="fileSeparatorCandidature">
							        <option value="excel" selected>Forme Excel</option>
							        <option value=",">Virgule : ','</option>
							        <option value=";">Point Virgule : ';'</option>
							        <option value=".">Point : '.'</option>
							        <option value=":">Deux Points : ':'</option>
							    </select>
							</p>
							<div class="archiveDataTableContainerCandidature">
							</div>
							<div class="margin-top-40" style=" text-align: center;">
							    <a id='downloadCandidatureArchiveFile' href='#' class="btn btn-success downloadLabel">Télécharger</a>
							    <a class="btn btn-danger closePopup cancelLabel" href="#"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document)
				.ready(
						function() {
							if (questionInfoController == null) {
								$("body")
										.append(
												"<script type='text/javascript' src='js/questionInfo/view_question_info.js' charset='utf-8'><\/script>");
								$("body")
										.append(
												"<script type='text/javascript' src='js/questionInfo/model_question_info.js' charset='utf-8'><\/script>");
								$("body")
										.append(
												"<script type='text/javascript' src='js/questionInfo/controller_question_info.js' charset='utf-8'><\/script>");
								questionInfoController = new $.QuestionInfoController(
										new $.QuestionInfoModel(), new $.QuestionInfoView());
							} 
							questionInfoController.initController();
						});
	</script>
</div>

