<div id="seoContent">
	<h1 style="color: black;" class="seoLabel"></h1>
	<hr
		style="background: gray; border: 0; height: 1px; margin-bottom: 20px;">
	<span class="seoDescriptionLabel" style="padding: 15px 0px 10px 0px;">
	</span>
	<form id="seoForm">
		<table>
			<tr height="10" />
			<tr>
				<td class="righttext" style="vertical-align: top;"><span
					class="titleLabel form-label"></span>
					<!--em class="asterix">*</em-->
				</td>
				<td class="form-label"
					style="width: 10px; text-align: center; vertical-align: top;">:</td>
				<td width="75%"><input type="text"
					id="seoTitle" name="seoTitle" /></td>
			</tr>
			<tr height="7" />
			<tr>
				<td class="righttext" style="vertical-align: top; width: 200px;"><span
					class="metadataLabel form-label"></span>
					<!--em class="asterix">*</em-->
				</td>
				<td class="form-label"
					style="width: 10px; text-align: center; vertical-align: top;">:</td>
				<td><input type="text"
					id="seoMetadata" name="seoMetadata" /></td>
			</tr>
			<tr height="7" />
			<tr>
				<td class="righttext" style="vertical-align: top; width: 200px;"><span
					class="keywordsLabel form-label"></span>
					<!--em class="asterix">*</em-->
				</td>
				<td class="form-label"
					style="width: 10px; text-align: center; vertical-align: top;">:</td>
				<td><input type="text"
					id="seoKeywords" name="seoKeywords" /></td>
			</tr>
			<tr height="7" />
			<tr>
				<td class="righttext" style="vertical-align: top; width: 200px;"><span
					class="posterLink1Label form-label"></span></td>
				<td class="form-label"
					style="width: 10px; text-align: center; vertical-align: top;">:</td>
				<td><input type="text"
					id="posterLink1" name="posterLink1" /></td>
			</tr>
			<tr height="7" />
			<tr>
				<td class="righttext" style="vertical-align: top; width: 200px;"><span
					class="posterLink2Label form-label"></span></td>
				<td class="form-label"
					style="width: 10px; text-align: center; vertical-align: top;">:</td>
				<td><input type="text"
					id="posterLink2" name="posterLink2" /></td>
			</tr>
			<!-- <tr height="7" />
			<tr>
				<td class="righttext" style="vertical-align: top; width: 200px;"><span
					class="posterLink3Label form-label"></span></td>
				<td class="form-label"
					style="width: 10px; text-align: center; vertical-align: top;">:</td>
				<td><input type="text"
					id="posterLink3" name="posterLink3" /></td>
			</tr> -->
			<tr height="15" />
			<tr>
				<td colspan="3">
					<div align="center">
						<button type="button" id="saveSeoBtn"
							class="btn btn-success saveLabel"></button>
						<a class="btn btn-danger closePopup cancelLabel"
							href="javascript:void(0)"></a>
					</div>
				</td>
			</tr>
			<tr height="10" />
		</table>
	</form>
</div>

<script type="text/javascript">
	//<![CDATA[
	$(document)
			.ready(
					function() {
						if (seoController == null) {
							$("body")
								.append(
									"<script type='text/javascript' src='js/seo/view_seo.js' charset='utf-8'><\/script>");
							$("body")
									.append(
											"<script type='text/javascript' src='js/seo/model_seo.js' charset='utf-8'><\/script>");
							$("body")
									.append(
											"<script type='text/javascript' src='js/seo/controller_seo.js' charset='utf-8'><\/script>");
							seoController = new $.SEOController(
									new $.SEOModel(), new $.SEOView());
						}
						seoController.initController();
					});

	//]]>
</script>