<script type="text/javascript">
    //<![CDATA[

    $('document').ready(function() {
        /*if($.cookie("groupId")==standRightsIds.BRONZE){
            $('#videosLi, #photosLi, #documentsLi, #visitorsSection').remove();
        }else if($.cookie("groupId")==standRightsIds.SILVER){
            $('#photosLi, #documentsLi').remove();
        }*/

        var rightGroup = null;
        $('#standContent').load('profile.html');
        $('#myTab a.profile').click(function(e) {
            e.preventDefault();
            $(this).tab('show');
            $('#loadingEds').show();
            $('#standContent').load('profile.html', function() {});
        });

        $('#myTab a.design').click(function(e) {
            e.preventDefault();
            $(this).tab('show');
            $('#loadingEds').show();
            $('#standContent').load('design.html', function() {});
        });
        rightGroup = listStandRights[rightGroupEnum.SURVEYS];
        if (rightGroup != null && rightGroup.getRightCount() != 0) {
            $('#myTab a.sondage').click(function(e) {
                e.preventDefault();
                $(this).tab('show');
                $('#loadingEds').show();
                $('#standContent').load('survey_.html');
            });
        } else {
            $('#myTab a.sondage').closest('li').hide();
        }

        rightGroup = listStandRights[rightGroupEnum.TESTIMONIES];
        if (rightGroup != null && rightGroup.getRightCount() != 0) {
            $('#myTab a.testimonies').click(function(e) {
                e.preventDefault();
                $(this).tab('show');
                $('#loadingEds').show();
                $('#standContent').load('testimony.html');
            });
        } else {
            $('#myTab a.testimonies').closest('li').hide();
        }
        rightGroup = listStandRights[rightGroupEnum.POSTERS];
        if (rightGroup != null && rightGroup.getRightCount() != 0) {
            $('#myTab a.affiches').click(function(e) {
                e.preventDefault();
                $(this).tab('show');
                $('#loadingEds').show();
                $('#standContent').load('posters.html');
            });
        } else {
            $('#myTab a.affiches').closest('li').hide();
        }
        rightGroup = listStandRights[rightGroupEnum.DOCUMENTS];
        if (rightGroup != null && rightGroup.getRightCount() != 0) {
            $('#myTab a.documents').click(function(e) {
                e.preventDefault();
                $(this).tab('show');
                $('#loadingEds').show();
                $('#standContent').load('documents.html');
            });
        } else {
            $('#myTab a.documents').closest('li').hide();
        }
        rightGroup = listStandRights[rightGroupEnum.VIDEOS];
        if (rightGroup != null && rightGroup.getRightCount() != 0) {
            $('#myTab a.videos').click(function(e) {
                e.preventDefault();
                $(this).tab('show');
                $('#loadingEds').show();
                $('#standContent').load('videos.html');
            });
        } else {
            $('#myTab a.videos').closest('li').hide();
        }
        rightGroup = listStandRights[rightGroupEnum.PHOTOS];
        if (rightGroup != null && rightGroup.getRightCount() != 0) {
            $('#myTab a.photos').click(function(e) {
                e.preventDefault();
                $(this).tab('show');
                $('#loadingEds').show();
                $('#standContent').load('photos.html');
            });
        } else {
            $('#myTab a.photos').closest('li').hide();
        }
        rightGroup = listStandRights[rightGroupEnum.VIDEOS_RH];
        if (rightGroup != null && rightGroup.getRightCount() != 0) {
            $('#myTab a.videoRh').click(function(e) {
                e.preventDefault();
                $(this).tab('show');
                $('#loadingEds').show();
                $('#standContent').load('videoRh.html');
            });
        } else {
            $('#myTab a.videoRh').closest('li').hide();
        }

        /* $('#myTab a.profileSearched').click(function(e) {
        	e.preventDefault();
        	$(this).tab('show');
        	$('#loadingEds').show();
        	$('#standContent').load('profileSearched.html');
        }); */

        $('#myTab a.seoTab').click(function(e) {
            e.preventDefault();
            $(this).tab('show');
            $('#loadingEds').show();
            $('#standContent').load('seo.html');
        });

    });

    //]]>
</script>
</head>

<body>
    <ul style="margin-top: 10px;" class="nav nav-tabs" id="myTab">
        <li class="active lione">
            <a style="font-size: 16px;" class="profile grayLink verdana profileLabel" href="javascript:void(0)" id="profileTabLabel"></a>
        </li>

        <!-- <li class="linine"><a style="font-size: 16px;"
			class="profileSearched grayLink verdana profileSearchedLabel"
			href="javascript:void(0)" id="profileSearchedTabLabel"></a></li> -->


        <li class="linine">
            <a style="font-size: 16px;" class="seoTab grayLink verdana seoLabel" href="javascript:void(0)" id="seoTab"></a>
        </li>

        <!--<li class="litwo">
                <a style="font-size: 16px;" class="design grayLink verdana designLabel" href="javascript:void(0)" id="designTabLabel">Design</a>
            </li>-->
        <!-- <li class="lifour"><a style="font-size: 16px;"
			class="affiches grayLink verdana postersLabel"
			href="javascript:void(0)" id="postersTabLabel"></a></li>

		<li class="liteight"><a style="font-size: 16px;"
			class="testimonies grayLink verdana testimoniesLabel"
			href="javascript:void(0)" id="testimoniesTabLabel"></a></li>
 -->
        <li class="lithree">
            <a style="font-size: 16px;" class="sondage grayLink verdana surveysLabel" href="javascript:void(0)" id="surveyTabLabel"></a>
        </li>
        <li id="videosLi" class="lifive">
            <a style="font-size: 16px;" class="videos grayLink verdana videosLabel" href="javascript:void(0)" id="videosTabLabel"></a>
        </li>
        <li id="photosLi" class="lisix">
            <a style="font-size: 16px;" class="photos grayLink verdana photosLabel" href="javascript:void(0)" id="photosTabLabel"></a>
        </li>
        <li id="documentsLi" class="liseven">
            <a style="font-size: 16px;" class="documents grayLink verdana documentsLabel" href="javascript:void(0)" id="documentsTabLabel"></a>
        </li>
        <li id="videoRh" class="videoRh">
            <a style="font-size: 16px;" class="videoRh grayLink verdana videoRhLabel" href="javascript:void(0)" id="videoRh"></a>
        </li>
    </ul>
    <div id="standContent"></div>