
<h1 class="testimoniesLabel" style="color: black;"></h1>
<hr />
<p class="floatLeft addTestimoniesLabel"
	style="font-size: 14px; margin-bottom: 20px;"></p>
<div id="addTestimoniesDiv" class="floatRight">
	<a id="addTestimonyLink" class="btn btn-info"><span
		class="addLabel"></span> (<span class="numbers"><span
				id="numberTestimonies"></span>/<span id="numberPermittedTestimonies"></span></span>)</a>
</div>
<div class="clearBoth" id="listTestimoniesDiv">
	<table cellpadding="0" cellspacing="0" border="0" class="display"
		id="listTestimoniesTable">
	</table>
</div>
<div style="display: none;" id="testimonyCreationDiv">
	<form id="testimonyCreationForm">
		<div>
			<img width="100" height="80" src="images/default_avatar.jpg"
				id="testimonyPhoto" alt="no picture" /> <label class="filebutton">
				<span><span class="changePhotoLabel"></span> <input
					id="testimonyPhotoUpload" type="file" name="files[]"></span>
			</label>
			<div id="loadPhotoTestimonyError" style="padding: 0px;">
				<label style="color: red;" class="photoSizeHintLabel"></label>
			</div>
			<div id="progressPhotoTestimony" class="progress progress-div-costum"
				style="width: 150px; left: 0px; height: 20px; padding: 0px">
				<span class="loadingText"><span class="loadingLabel"></span>
					0%</span>
				<div class="progress-bar progress-bar-uploadfile"></div>
			</div>
		</div>
		<div>
			<label><span class="firstAndLastNameLabel"></span> <em
				class="asterix">*</em></label> <input type="text" id="testimonyName"
				class="required" />
		</div>
		<div>
			<label><span class="jobTitleLabel"></span> <em
				class="asterix">*</em></label> <input type="text" id="testimonyJobTitle"
				name="testimonyJobTitle" class="required" />
		</div>
		<!--<div>
                    <label class="hireDateLabel">Date d'embauche</label>
                    <input id="testimonyBeginDate" type="text" class="datepicker">
                </div>-->
		<div>
			<label for="testimonyContent"><span class="testimonyLabel"></span>
				<em class="asterix">*</em></label>
			<div class="containerEditor">
				<textarea id="testimonyContent" name="testimonyContent"></textarea>
			</div>
		</div>
		<div align="center">
			<button type="button" id="saveTestimony"
				class="saveLabel btn btn-success yesLabel"></button>
			<a class="btn btn-danger closePopup cancelLabel"
				href="javascript:void(0)" id="cancelAddingTestimony"></a>
		</div>
	</form>
</div>

<div
	class="popupDeleteTestimony eds-dialog-container draggable ui-draggable"
	style="visibility: visible; top: 30%; left: 30%; display: none; padding: 0;">
	<div class="eds-dialog"
		style="width: 500px; height: auto; padding: 0; margin: 0;">
		<div style="padding: 4px 4px 4px 4px; margin-right: 4px;"
			class="eds-dialog-header js-eds-dialog-draggable">
			<h2 class="confirmDeleteLabel"
				style="color: white; margin-bottom: 2px; font-size: 18px;"
				align="center"></h2>
			<div style="margin-bottom: 0px;" class="eds-dialog-close">
				<b class="closePopup">x</b>
			</div>
		</div>
		<div style="padding: 0; margin: 0;" class="eds-dialog-inside">
			<div style="padding: 0;" class="eds-dialog-body clearfix">
				<div style="padding: 20px;" class="eds-dialog-content">
					<p class="confirmDeleteTestimonyLabel" style="font-size: 14px;"
						align="center"></p>
					<div style="margin-top: 15px;" align="center">

						<button type="button" id="confirmDeleteTestimony"
							class="saveLabel btn btn-success yesLabel"></button>
						<a class="btn btn-danger closePopup cancelLabel"
							href="javascript:void(0)" id="cancelDeleteTestimony"></a>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div
	class="popupTestimonyView eds-dialog-container draggable ui-draggable"
	style="visibility: visible; top: 20%; left: 30%; display: none; padding: 0;">
	<div class="eds-dialog"
		style="width: 500px; height: auto; padding: 0; margin: 0;">
		<div style="padding: 4px 4px 4px 4px; margin-right: 4px;"
			class="eds-dialog-header js-eds-dialog-draggable">
			<h2 class="viewLabel"
				style="color: white; margin-bottom: 2px; font-size: 18px;"
				align="center"></h2>
			<div style="margin-bottom: 0px;" class="eds-dialog-close">
				<b class="closePopup">x</b>
			</div>
		</div>
		<div style="padding: 0; margin: 0;" class="eds-dialog-inside">
			<div style="padding: 0;" class="eds-dialog-body clearfix">
				<div style="padding: 20px;" class="eds-dialog-content">
					<div>
						<img width="90" height="80" src="" id="testimonyPhotoView"
							alt="no picture" />
					</div>
					<div>
						<span class="firstAndLastNameLabel green-text"></span> <span>
							: </span> <span id="testimonyNameView"></span>
					</div>
					<div>
						<span class="jobTitleLabel green-text"></span> <span> : </span> <span
							id="testimonyJobTitleView"></span>
					</div>
					<div>
						<span class="testimonyLabel green-text"></span> <span> : </span>
						<div id="testimonyContentView"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	//<![CDATA[
	$(document)
			.ready(
					function() {
						if (testimonyController == null) {
							$("body")
									.append(
											"<script type='text/javascript' src='js/testimony.js' charset='utf-8'><\/script>");
							testimonyController = new $.TestimonyController(
									new $.TestimonyModel(), new $.TestimonyView());
						}
						testimonyController.initController();
					});
	//]]
</script>
