
<script id="jobOfferDetailsTemplate" type="text/x-jquery-tmpl">
	<div class="contentJobOfferDetails">
		<ul>
			<div class="clear-both"></div>
              {{if studyLevelName}}<li class="nolist-style float-left"><span class="green-text">µ{studyLevelLabel}</span> : µ{studyLevelName} </li>{{/if}} 
              {{if activitySectors}}<li class="nolist-style float-left"> <span class="green-text">µ{activitySectorsLabel}</span>: µ{activitySectors}</li>{{/if}}
              {{if jobTags}}<li class="nolist-style float-left"><span class="green-text">µ{skillsLabel}</span> : µ{jobTags}</li>{{/if}}
        					<li class="nolist-style float-left"><span class="green-text">µ{cantonLabel}</span> : µ{cantons}</li>
							<li class="nolist-style float-left"><span class="green-text">µ{functionLabel}</span> : µ{functionCandidate}</li>
							<li class="nolist-style float-left"><span class="green-text">µ{experienceYearsLabel}</span>: µ{experienceYears}</li>
              {{if jobUrl}}<li class="nolist-style float-left"><span class="green-text">µ{urlLabel}</span> : µ{jobUrl}</li>{{/if}}
              <div class="clear-both"></div>
            </ul>
            {{if jobDescription}}<div class="user-content margin-top_10 margin-bottom_20 jobOffer-content">{{html jobDescription}}</div>{{/if}}
		<div class="clear-both"></div>
		<div align="center" style="margin-bottom: 20px;">
			<a id="returnToJobOffer" class="btn btn-middle btn-info float-left">µ{returnLabel}</a>
		</div> 
		<div class="clearBoth"></div>
	</div>
</script>
<script id="tempSector" type="text/x-jquery-tmpl">
	<table>
		<tr class="µ{sector_val}">
			<td class="sectorTextµ{sector_val}">
				µ{sector_text}
			</td>
			<td>
				<a style="margin-left:30px;" class="removeSectµ{sector_val} removeLabel" href="javascript:void(0)">µ{removeLabel}</a>
			</td>
		</tr>
	</table>
</script>
<script id="tempCanton" type="text/x-jquery-tmpl">
	<table>
		<tr class="µ{canton_val}">
			<td class="cantonTextµ{canton_val}">
				µ{canton_text}
			</td>
			<td>
				<a style="margin-left:30px;" class="removeCantonµ{canton_val} removeLabel" href="javascript:void(0)">µ{removeLabel}</a>
			</td>
		</tr>
	</table>
</script>
<script id="standPosterTemplate" type="text/x-jquery-tmpl">
	<div id="µ{posterId}" class="onePoster">
		<div class="floatLeft">
			<img height="60" width="60" src="µ{posterImage}" alt="no picture" />
		</div>
		<div style="padding-top: 20px;" class="floatLeft">
			<label class="form-label">µ{posterTitle}</label>
		</div>
		<div align="right" style="padding-top: 20px;" class="floatRight">
			<button class="btn btn-success btn-middle viewPosterµ{posterId}">µ{viewLabel}</button>
			<button class="btn btn-primary btn-middle editPosterµ{posterId}">µ{editLabel}</button>
			<button class="btn btn-danger btn-middle deletePosterµ{posterId}">µ{deleteLabel}</button>
		</div>
		<div class="clearBoth"></div>
	</div>
</script>
<script id="standPhotoTemplate" type="text/x-jquery-tmpl">
	<div id="µ{photoId}" class="onePhoto">
		<div class="floatLeft">
			<img  height="60" width="60" src="µ{photoUrl}" alt="no picture" />
		</div>
		<div style="padding-top: 20px;" class="floatLeft">
			<label class="form-label">µ{photoTitle}</label>
		</div>
		<div align="right" style="padding-top: 20px;" class="floatRight">
			<button class="btn btn-success btn-middle viewPhotoµ{photoId}">µ{viewLabel}</button>
			<button class="btn btn-primary btn-middle editPhotoµ{photoId}">µ{editLabel}</button>
			<button class="btn btn-danger btn-middle deletePhotoµ{photoId}">µ{deleteLabel}</button>
		</div>
		<div class="clearBoth"></div>
	</div>
</script>
<script id="standDocumentTemplate" type="text/x-jquery-tmpl">
	<div id="µ{documentId}" class="oneDocument">
		<div class="floatLeft">
			<img height="60" width="60" src="images/document.png" alt="no picture" />
		</div>
		<div style="padding-top: 20px;" class="floatLeft">
			<label class="form-label">µ{documentTitle}</label>
		</div>
		<div align="right" style="padding-top: 20px;" class="floatRight">
			<button class="btn btn-success btn-middle viewDocumentµ{documentId}">µ{viewLabel}</button>
			<button class="btn btn-primary btn-middle editDocumentµ{documentId}">µ{editLabel}</button>
			<button class="btn btn-danger btn-middle deleteDocumentµ{documentId}">µ{deleteLabel}</button>
		</div>
		<div class="clearBoth"></div>
	</div>
</script>
<script id="tempPublicationDisplay" type="text/x-jquery-tmpl">
	<div class="onePublicationDisplay" style="padding: 10px 0px 10px 0px;" id="publicationµ{idPublication}">
		<input class="idPub" type="hidden" value="µ{idPublication}" />
		<input id="typePublicationµ{idPublication}" type="hidden" value="µ{typePublication}" />
		<div style="padding: 0px 0px 10px 0px;">
			<div style="font-weight: bold;float:left;font-size:13px;">Sujet</div>
			<div style="font-weight: bold;float:left;margin: 0px 5px 0px 5px;"> : </div>
			<form id="subjectPublicationFormµ{idPublication}" class="subjectPublicationForm" style="width:60%;float:left;font-size:13px;">
        		<span id="subjectPublicationLabelµ{idPublication}">µ{subjectPublication}</span>
				<input class="inputTitle subjectPublication required" style="width:80%;display:none;position: relative;bottom:5px;" id="subjectPublicationInputµ{idPublication}" type="text"/> 
			</form>
			<div align="right" id="editSubjectDivµ{idPublication}">
				<a class="editLabel" id="editSubjectPublicationµ{idPublication}" href="javascript:void(0)">µ{editLabel}</a>
			</div>
			<div align="right" class="restore" id="restoreSubjectDivµ{idPublication}">
				<a class="modifExistµ{idPublication}" id="confirmEditSubjectµ{idPublication}" href="javascript:void(0)">µ{saveLabel}</a> <span>/</span> <a id="restoreEditSubjectµ{idPublication}" href="javascript:void(0)">µ{cancelLabel}</a>
			</div>
		</div>
		<div style="clear: both;">
			<div style="font-weight: bold;float:left;font-size:13px;">Texte</div>
			<div style="font-weight: bold;float:left;margin: 0px 5px 0px 5px;"> : </div>
			<form id="contentPublicationFormµ{idPublication}" class="contentPublicationForm" style="width:60%;float:left;font-size:13px;">
        		<span id="contentPublicationLabelµ{idPublication}" style="word-wrap:break-word;width:100%;"> µ{contentPublication} </span>
				<input style="width:80%;display:none;position: relative;bottom:5px;" id="contentPublicationInputµ{idPublication}" class="contentPublication required" type="text"/>
			</form>
			<div align="right" id="editContentDivµ{idPublication}">
				<a class="editLabel" id="editContentPublicationµ{idPublication}" href="javascript:void(0)">µ{editLabel}</a>
			</div>
			<div align="right" class="restore" id="restoreContentDivµ{idPublication}">
				<a class="modifExistµ{idPublication}" id="confirmEditContentµ{idPublication}" href="javascript:void(0)">µ{saveLabel}</a> <span>/</span> <a class="restoreLabel" id="restoreEditContentµ{idPublication}" href="javascript:void(0)">µ{cancelLabel}</a>
			</div>
		</div>
		<div style="clear:both;margin-top: 8px;">
			<a class="deleteLabel" id="removePublicationµ{idPublication}" href="javascript:void(0)">µ{deleteLabel}</a>
		</div>
	</div>
</script>
<script id="standVideoRhTemplate" type="text/x-jquery-tmpl">
	<div id="µ{videoRhId}" class="oneVideoRh">
    	<div class="floatLeft">
        	<img  height="60" width="60" src="images/video.png" alt="no picture" />
		</div>
		<div style="padding-top: 20px;" class="floatLeft">
			<label class="form-label">µ{videoRhTitle}</label>
		</div>
		<div align="right" style="padding-top: 20px;" class="floatRight">
			<button class="btn btn-success btn-middle viewVideoRhµ{videoRhId}">µ{viewLabel}</button>
			<button class="btn btn-primary btn-middle editVideoRhµ{videoRhId}">µ{editLabel}</button>
			<button class="btn btn-danger btn-middle deleteVideoRhµ{videoRhId} deleteLabel">µ{deleteLabel}</button>
		</div>
		<div class="clearBoth"></div>
	</div>
</script>
<script id="standVideoTemplate" type="text/x-jquery-tmpl">
	<div id="µ{videoId}" class="oneVideo">
            <div class="floatLeft">
            	<img  height="60" width="60" src="images/video.png" alt="no picture" />
            </div>
            <div style="padding-top: 20px;" class="floatLeft">
            	<label class="form-label">µ{videoTitle}</label>
            </div>
            <div align="right" style="padding-top: 20px;" class="floatRight">
                 <button class="btn btn-success btn-middle viewVideoµ{videoId}">µ{viewLabel}</button>
                 <button class="btn btn-primary btn-middle editVideoµ{videoId}">µ{editLabel}</button>
              <button class="btn btn-danger btn-middle deleteVideoµ{videoId} deleteLabel">µ{deleteLabel}</button>
            </div>
            <div class="clearBoth"></div>
	</div>
</script>
<script id="tempLanguagesRecruiter" type="text/x-jquery-tmpl">
	<div class="languageDiv" style="margin-top: 15px;">
    	<input class="checkClass" style="position: relative;top:2px;" type="checkbox" id="µ{idLanguage}" value="µ{languageName}" />
	    <label style="display:inline;" for="µ{idLanguage}">µ{ languageName }</label>
	</div>
</script>