
<div style="margin-bottom: 10px;">
	<h1 class="videoRhLabel" style="color: black; margin-top: 10px;"></h1>
	<hr
		style="background: gray; border: 0; height: 1px; margin-bottom: 20px;" />
	<div class="floatLeft" style="font-size: 14px; margin-bottom: 10px;">
		<span class="videoRhDescriptionLabel1"></span><br /> <span
			class="videoRhDescriptionLabel2"></span>
	</div>
	<div id="addVideoRhDiv" class="floatRight">
		<a id="addVideoRhLink" class="btn btn-info btn-middle"><span
			class="addLabel"></span> (<span class="numbers"><span
				id="numberVideoRhs"></span>/<span id="numberPermittedVideoRhs"></span></span>)</a>
	</div>
	<div class="clearBoth"></div>
	<div id="listStandVideoRh"></div>
</div>

<div class="popupVideoRh eds-dialog-container draggable ui-draggable"
	style="visibility: visible; top: 20%; left: 23%; display: none;">
	<div class="eds-dialog" style="width: 620px; height: auto;">
		<div class="eds-dialog-header js-eds-dialog-draggable">
			<div align="center" class="verdana"
				style="height: 20px; color: white; font-weight: bold;">
				<span class="addLabel"></span> <span class="videoRhLabel"></span>
			</div>
			<div class="eds-dialog-close">
				<b class="closePopup">x</b>
			</div>
		</div>
		<div class="eds-dialog-inside">
			<div class="eds-dialog-error clearfix"></div>
			<div class="eds-dialog-body clearfix">
				<div class="eds-dialog-content">
					<form id="videoRhForm">
						<table>
							<tr height="10" />
							<tr>
								<td class="righttext" style="vertical-align: top;"><span
									class="titleLabel form-label"></span><em class="asterix">*</em></td>
								<td class="form-label"
									style="width: 10px; text-align: center; vertical-align: top;">:</td>
								<td width="75%"><input class="required"
									style="width: 360px;" type="text" id="videoRhTitle"
									name="videoRhTitle" /></td>
							</tr>

							<tr>
								<td class="righttext" style="vertical-align: top; width: 200px;"><span
									class="descriptionLabel form-label">Description</span></td>
								<td class="form-label"
									style="width: 10px; text-align: center; vertical-align: top;">:</td>
								<td width="75%"><textarea style="width: 350px;" rows="4"
										id="videoRhDescription" name="videoRhDescription"></textarea>
								</td>
							</tr>

							<tr>
								<td colspan="2"></td>
								<td><input style="width: 20px;" type="radio" id="urlOption"
									name="resourceType" checked="checked" /> <label
									class="enterLinkLabel"
									style="display: inline; position: relative; top: 4px;"
									for="urlOption"></label> <input
									style="margin-left: 40px; width: 20px;" type="radio"
									id="uploadOption" name="resourceType" /> <label
									class="uploadVideoLabel"
									style="display: inline; position: relative; top: 4px;"
									for="uploadOption"></label></td>
							</tr>
							<tr id="urlTr">
								<td class="righttext" style="vertical-align: middle;"><span
									class="urlLabel form-label"></span><em class="asterix">*</em></td>
								<td class="form-label" style="width: 10px; text-align: center;">:</td>
								<td><select style="width: 102px;" id="videoRhType">
										<option value="youtube">Youtube</option>
										<!--option value="dailymotion">Dailymotion</option>
										<option value="vimeo">Vimeo</option-->
								</select> <input style="width: 250px;" type="text" id="videoRhUrl"
									name="videoRhUrl" /></td>
							</tr>
							<tr id="uploadTr" style="display: none;">
								<td colspan="2"></td>
								<td>
									<div id="loadVideoRh">
										<label class="filebutton floatLeft"> <span><span
												class="uploadVideoLabel"></span> <input id="videoRhUpload"
												type="file" name="files[]" multiple> </span>
										</label>
									</div>
									<div id="progressVideoRh" class="progress progress-div-costum"
										style="width: 330px;">
										<span class="loadingText" style="padding-top: 0px;"><span
											class="loadingLabel"></span> 0%</span>
										<div class="progress-bar progress-bar-uploadfile"></div>
									</div>
									<div id="videoRhLoaded" style="display: none;">
										<span class="videoRhUploadedLabel"></span>
									</div>
									<div class="clearBoth"></div>
									<div id="loadVideoRhError">
										<label style="color: red;" class="videoRhSizeHintLabel"></label>
									</div>
								</td>
							</tr>
							<tr height="15">

							</tr>
							<tr>
								<td colspan="2"></td>
								<td>
									<div align="center">

										<button type="button"
											class="saveVideoRhButton btn btn-success saveLabel"></button>
										<a class="btn btn-danger closePopup cancelLabel"
											href="javascript:void(0)"></a>

									</div>
								</td>
							</tr>
							<tr height="10" />
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div
	class="popupDeleteVideoRh eds-dialog-container draggable ui-draggable"
	style="visibility: visible; top: 30%; left: 30%; display: none; padding: 0;">
	<div class="eds-dialog" style="width: 460px; height: auto;">
		<div style="padding: 4px 4px 4px 4px; margin-right: 4px;"
			class="eds-dialog-header js-eds-dialog-draggable">
			<p class="confirmDeleteLabel"
				style="color: white; margin-bottom: 2px;" align="center">Confirmer
				suppression</p>
			<div style="margin-bottom: 0px;" class="eds-dialog-close">
				<b class="closePopup">x</b>
			</div>
		</div>
		<div style="padding: 0; margin: 0;" class="eds-dialog-inside">
			<div style="padding: 0;" class="eds-dialog-body clearfix">
				<div style="padding: 10px;" class="eds-dialog-content">
					<div class="confirmDeleteVideoLabel" align="center"
						style="padding: 10px; font-size: 14px;"></div>
					<div align="center">

						<button type="button"
							class="deleteVideoRhButton btn btn-success yesLabel"></button>
						<a class="btn btn-danger closePopup cancelLabel"
							href="javascript:void(0)"></a>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div
	class="popupViewVideoRh eds-dialog-container  draggable ui-draggable"
	style="visibility: visible; top: 20%; left: 30%; display: none; padding: 0;">
	<div class="eds-dialog"
		style="width: auto; height: auto; padding: 0; margin: 0;">
		<div style="padding: 10px; margin-right: 4px;"
			class="eds-dialog-header js-eds-dialog-draggable">
			<p id="videoRhTitleView"
				style="color: white; margin-bottom: 6px; height: 12px;"
				align="center"></p>
			<div style="margin-bottom: 0px;" class="eds-dialog-close">
				<b class="closePopup">x</b>
			</div>
		</div>
		<div style="padding: 0; margin: 0;" class="eds-dialog-inside">
			<div style="padding: 0;" class="eds-dialog-body clearfix">
				<div id="playerVideoRhPopup"
					style="margin-bottom: 0; width: 600px; height: 400px;"
					class="eds-dialog-content"></div>
			</div>
		</div>
	</div>
</div>

<div class="popupViewVideo eds-dialog-container  draggable ui-draggable"
	style="visibility: visible; top: 20%; left: 30%; display: none; padding: 0;">
	<div class="eds-dialog"
		style="width: auto; height: auto; padding: 0; margin: 0;">
		<div style="padding: 10px; margin-right: 4px;"
			class="eds-dialog-header js-eds-dialog-draggable">
			<p id="videoTitleView"
				style="color: white; margin-bottom: 2px; height: 12px;"
				align="center"></p>
			<div style="margin-bottom: 0px;" class="eds-dialog-close">
				<b class="closePopup">x</b>
			</div>
		</div>
		<div style="padding: 0; margin: 0;" class="eds-dialog-inside">
			<div style="padding: 0;" class="eds-dialog-body clearfix">
				<div id="playerVideoPopup"
					style="margin-bottom: 0; width: 600px; height: 400px;"
					class="eds-dialog-content"></div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	//<![CDATA[
	$(document)
			.ready(
					function() {
						if (videoRhController == null) {
							$("body")
									.append(
											"<script type='text/javascript' src='js/videoRh.js' charset='utf-8'><\/script>");
							videoRhController = new $.VideoRhController(new $.VideoRhModel(),
									new $.VideoRhView());
						}
						videoRhController.initController();
					});
	//]]>
</script>
