
<div>
	<div class="criteria candidateProfileCriteria"
		id="candidateProfileCriteria" style="display: block;">
		<div class="floatLeft">
			<label class="keyWordLabel"></label> <input type="text"
				id="candidateProfileKeyWordInput" />
		</div>
		<div class="floatLeft" style="display:none">
			<label class="formationLabel"></label> <input type="text"
				id="formationSearchInput" />
		</div>
		<div class="floatLeft" style="display:none">
			<label class="experienceLabel"></label> <input type="text"
				id="experienceSearchInput" />
		</div>
		<div class="floatLeft" style="display:none">
			<label class="profilLabel"></label> <select class="functionSelect"
				id="functionSelect">
			</select>
		</div>
		<div class="floatLeft">
			<label class="countriesLabel"></label> <select
				class="countrySelect" id="countrySelect">
			</select>
		</div>
		<div class="floatLeft">
			<label class="activitySectorsLabel"></label> <select
				class="sectorSelect" id="sectorSelect">
			</select>
		</div>
		<div class="floatLeft" style="display: none;">
			<label class="projectLabel"></label> <input type="text"
				id="projectSearchInput" />
		</div>
		<button type="button" class="btn btn-small floatLeft"
			id="cvSearchButton">
			<span class="fa searchLabel" title="Rechercher"></span>
		</button>
		<button type="button" class="btn btn-small floatLeft"
			id="exportCandidatesButton">
			<span class="fa exportLabel"></span>
		</button>
		<button data-toggle="collapse"
			data-target="#candidateProfileAdvanceCriteria" type="button"
			class="btn btn-small floatLeft" id="advanceSearchButton" style="display:none">
			<span class="fa advanceSearchLabel"></span>
		</button>
	</div>
	<div class="criteria candidateProfileCriteria collapse"
		id="candidateProfileAdvanceCriteria">
		<div class="floatLeft">
			<label class="candidateStateLabel"></label> <select
				class="candidateStateSelect" id="candidateStateSelect">
			</select>
		</div>
		<div class="floatLeft">
			<label class="activitySectorsLabel"></label> <select
				class="sectorSelect" id="sectorSelect">
			</select>
		</div>
		<div class="floatLeft">
			<label class="countryResidenceLabel"></label> <select
				class="countryResidenceSelect" id="countryResidenceSelect" name="countryResidenceSelect[]" multiple>
			</select>
		</div>
		<div class="floatLeft">
			<label class="countryOriginLabel"></label> <select
				class="countryOriginSelect" id="countryOriginSelect">
			</select>
		</div>
		<div class="floatLeft">
			<label class="areaExpertiseLabel"></label> <select
				class="areaExpertiseSelect" id="areaExpertiseSelect">
			</select>
		</div>
		<div class="floatLeft">
			<label class="jobSoughtLabel"></label> <select
				class="jobSoughtSelect" id="jobSoughtSelect">
			</select>
		</div>
		<div class="floatLeft">
			<label class="experienceYearsLabel"></label> <select
				class="experienceYearsSelect" id="experienceYearsSelect">
			</select>
		</div>
		<!--         <div class="floatLeft"> -->
		<!--             <label class="studyLevelLabel"></label> -->
		<!--             <select class="studyLevelSelect" id="studyLevelSelect"> -->
		<!--             </select> -->
		<!--         </div> -->
		<!-- 		<div class="floatLeft"> -->
		<!--             <label class="searchtheCVLabel"></label> -->
		<!--             <input type="text" id="cvSearchInput"/> -->
		<!--         </div> -->
	</div>
	<ul style="margin-top: 10px;" class="nav nav-tabs" id="myTab">
		<li class="lithree"><a style="font-size: 16px;"
			class="searchProfiles grayLink verdana forumEnrolledLabel"
			href="javascript:void(0)"></a></li>
		<li class="lithree"><a style="font-size: 16px;"
			class="forumVisitors grayLink verdana forumVisitorsLabel"
			href="javascript:void(0)"></a></li>
		<!-- <li class="active liteight"><a style="font-size: 16px;"
			class="standVisitors grayLink verdana standVisitorsLabel"
			href="javascript:void(0)"></a></li> -->
		<li class="lithree"><a style="font-size: 16px;"
			class="favoriteUsers grayLink verdana favoritesLabel"
			href="javascript:void(0)"></a></li>
		<!-- <li class="lithree"><a style="font-size: 16px;"
			class="exhibitors grayLink verdana exhibitorsLabel"
			href="javascript:void(0)"></a></li> -->
		<li class="lithree"><a style="font-size: 16px;"
			class="myVisitCards grayLink verdana myVisitCardsLabel"
			href="javascript:void(0)"></a></li>
	</ul>
	<div id="visitorsContent" class="visitorContent">
		<hr />
		<p class="floatLeft" style="font-size: 14px; margin-bottom: 20px;">
		</p>
		<div id="participantsStat" class="floatRight">
			<label><span class="nbrRegisteredParticipantsLabel"></span> :
				<span class="nbrRegisteredParticipants"></span></label> <!--label><span
				class="nbrApprovedParticipantsLabel"></span> : <span
				class="nbrApprovedParticipants"></span></label> <label><span
				class="nbrParticipantsDisapprovedLabel"></span> : <span
				class="nbrParticipantsDisapproved"></span></label><label><span
				class="nbrNewParticipantsLabel"></span> : <span
				class="nbrNewParticipants"></span></label><label><span
				class="nbrOldParticipantsLabel"></span> : <span
				class="nbrOldParticipants"></span></label><label><span
				class="nbrUpdatedParticipantsLabel"></span> : <span
				class="nbrUpdatedParticipants"></span></label-->
		</div>
		<div class="clearBoth">
			<table cellpadding="0" cellspacing="0" border="0" class="display"
				id="listCandidatesTable">
			</table>
		</div>
	</div>
	<div id="myVisitCardsContent" class="visitorContent">
		<div class="clearBoth">
			<div id="listMyVisitCards">
			</div>
		</div>
	</div>
	<div id="exhibitorsContent" class="visitorContent">
		<div class="clearBoth">
			<table cellpadding="0" cellspacing="0" border="0" class="display"
				id="listExhibitorsTable">
			</table>
		</div>
	</div>
	<div id="popupExportCandidates"
		class="eds-dialog-container draggable ui-draggable">
		<div class="eds-dialog">
			<div class="eds-dialog-header js-eds-dialog-draggable">
				<p id="exportCandidatesTitlePopup" class="exportFileLabel"></p>
				<div class="eds-dialog-close">
					<b class="closePopup">x</b>
				</div>
			</div>
			<div class="eds-dialog-inside">
				<div class="eds-dialog-body clearfix">
					<div class="eds-dialog-content">
						<div>
							<p class="thankYouToChooseSeparatorLabel"></p>
							<ul id="candidateSortableColumns">
								<li class="ui-state-default"><span
									class="ui-icon ui-icon-arrow-4"></span><label><input
										type="checkbox" value="1" checked style="display: none"><span
										class="lastNameLabel"></span></label></li>
								<li class="ui-state-default"><span
									class="ui-icon ui-icon-arrow-4"></span><label><input
										type="checkbox" value="2" checked style="display: none"><span
										class="firstNameLabel"></span></label></li>
								<li class="ui-state-default"><span
									class="ui-icon ui-icon-arrow-4"></span><label><input
										type="checkbox" value="3" checked style="display: none"><span
										class="emailLabel"></span></label></li>
								<!--li class="ui-state-default"><span
									class="ui-icon ui-icon-arrow-4"></span><label><input
										type="checkbox" value="4" checked><span
										class="genderLabel"></span></label></li-->
								<li class="ui-state-default"><span
									class="ui-icon ui-icon-arrow-4"></span><label><input
										type="checkbox" value="5" checked><span
										class="cellPhoneLabel"></span></label></li>
								<!--li class="ui-state-default"><span
									class="ui-icon ui-icon-arrow-4"></span><label><input
										type="checkbox" value="6" checked><span
										class="fixePhoneLabel"></span></label></li-->
								<li class="ui-state-default"><span
									class="ui-icon ui-icon-arrow-4"></span><label><input
										type="checkbox" value="7" checked><span
										class="companyProfileLabel"></span></label></li>
								<li class="ui-state-default"><span
									class="ui-icon ui-icon-arrow-4"></span><label><input
										type="checkbox" value="8" checked><span
										class="activitySectorsLabel"></span></label></li>
								<!--li class="ui-state-default"><span
									class="ui-icon ui-icon-arrow-4"></span><label><input
										type="checkbox" value="9" checked><span
										class="experienceYearsLabel"></span></label></li>
								<li class="ui-state-default"><span
									class="ui-icon ui-icon-arrow-4"></span><label><input
										type="checkbox" value="10" checked><span
										class="countryResidenceLabel"></span></label></li>
								<li class="ui-state-default"><span
									class="ui-icon ui-icon-arrow-4"></span><label><input
										type="checkbox" value="11" checked><span
										class="countryOriginLabel"></span></label></li-->
								<!--li class="ui-state-default"><span
									class="ui-icon ui-icon-arrow-4"></span><label><input
										type="checkbox" value="12" checked><span
										class="areaExpertiseLabel"></span></label></li>
								<li class="ui-state-default"><span
									class="ui-icon ui-icon-arrow-4"></span><label><input
										type="checkbox" value="13" checked><span
										class="jobSoughtLabel"></span></label></li>
								<li class="ui-state-default"><span
									class="ui-icon ui-icon-arrow-4"></span><label><input
										type="checkbox" value="14" checked><span
										class="cvsLabel"></span></label></li-->
								<li class="ui-state-default"><span
									class="ui-icon ui-icon-arrow-4"></span><label><input
										type="checkbox" value="15" checked><span
										class="enterpriseLabel"></span></label></li>
								<li class="ui-state-default"><span
									class="ui-icon ui-icon-arrow-4"></span><label><input
										type="checkbox" value="16" checked><span
										class="functionLabel"></span></label></li>
								<li class="ui-state-default"><span
									class="ui-icon ui-icon-arrow-4"></span><label><input
										type="checkbox" value="17" checked><span
										class="webSiteLabel"></span></label></li>
								<li class="ui-state-default"><span
									class="ui-icon ui-icon-arrow-4"></span><label><input
										type="checkbox" value="18" checked><span
										class="countryLabel"></span></label></li>
								<li class="ui-state-default"><span
									class="ui-icon ui-icon-arrow-4"></span><label><input
										type="checkbox" value="19" checked><span
										class="cityLabel"></span></label></li>
							</ul>
							<p>
								<label class="fileNameLabel"></label> <input type="text"
									id="archiveExportFileName" class="input-large search-query"
									placeholder="Nom de fichier">
							</p>
							<p>
								<label class="separatorLabel"></label> <select
									name="fileSeparator" id="fileSeparator">
									<option value="excel" selected>Forme Excel</option>
									<option value=",">Virgule : ','</option>
									<option value=";">Point Virgule : ';'</option>
									<option value=".">Point : '.'</option>
									<option value=":">Deux Points : ':'</option>
								</select>
							</p>
							<div class="archiveDataTableContainer"></div>
							<div class="margin-top-40" style="text-align: center;">
								<a id='downloadArchiveFile' href='#'
									class="btn btn-success downloadLabel"
									download="Téléchargement.excel">Télécharger</a> <a
									class="btn btn-danger closePopup cancelLabel" href="#"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		//<![CDATA[
		$('document')
				.ready(
						function() {
							$(document)
									.ready(
											function() {
												if (visitorsController == null) {
													$("body")
															.append(
																	"<script type='text/javascript' src='js/indexView.js' charset='utf-8'><\/script>");
													$("body")
															.append(
																	"<script type='text/javascript' src='js/indexModel.js' charset='utf-8'><\/script>");
													$("body")
															.append(
																	"<script type='text/javascript' src='js/indexController.js' charset='utf-8'><\/script>");
													visitorsController = new $.IndexController(
															new $.IndexModel(), new $.IndexView());
												}
												visitorsController.initController();
											});
						});
		//]]>
	</script>
</div>




