@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
/*******   Main    ******/
/**   ChatApp    **/
.chatComponent{
    horizontalCenter : 0;
    verticalCenter : 0;
}
/*******   Component   ******/
/**   AlertComponent    **/
.alertBC {
    horizontalCenter : 0;
    verticalCenter : 0;
    backgroundColor : #f1f3f4;
}
.alertVB {
    horizontalAlign: center;
    verticalAlign: middle;
    verticalCenter: 0;
    horizontalCenter: 15;
}
.alertLabel {
    fontFamily: Helvetica;
    fontSize: 14;
    textAlign: center;
    verticalScrollPolicy: off;
    contentBackgroundAlpha: 0;
    borderAlpha: 0;
    borderVisible: false;
    fontWeight: bold;
}
.alertButton {
    fontFamily: Helvetica;
    backgroundColor: #00a100;
    color: #444444;
    chromeColor: #00a100;
}
/**   BodyHistoryChat    **/
.bodyHistoryChatBC {
    borderColor : #f1f3f4;
}
.bodyHistoryChatHB {
    horizontalCenter: 0;
    verticalCenter: 0;
}
.historyUsersList {
    borderVisible: false;
    dropShadowVisible: false;
}
.outputTextHistoryChat {
    borderStyle: solid;
    borderWeight : 1;
    borderAlpha : 1;
    borderColor : #f1f3f4;
}
/**   BodyPrivateChat    **/
.bodyPrivateChatHB {
    horizontalCenter : 0;
    verticalCenter : 0;
    horizontalGap : 0;
}
.usersPrivateListComponent {
    borderVisible: false;
    dropShadowVisible: false;
}
.bodyPrivateChatVG, .inputTextBarPrivateVG {
    horizontalAlign : center;
    horizontalCenter : 0;
    verticalCenter : 0;
}
.outputTextPrivateChat, .inputTextBarPrivateBC {
    borderStyle: solid;
    borderWeight : 1;
    borderColor : #f1f3f4;
    borderVisible: true;
}
.outputTextPrivateChat{
    borderAlpha : 1;
}
.inputTextBarPrivateBC {
    backgroundColor : #f1f3f4;
}
.isWritingPrivateHG, .inputTextPrivateHG, .sendButtonPrivate{
    horizontalCenter : 0;
    verticalCenter : 0;
    verticalAlign: middle;
}
.isWritingPrivateLabel{
    fontSize : 12;
    fontFamily : Helvetica;
}
.inputTextAreaPrivate{
    borderVisible : false;
}
.sendButtonPrivate{
    fontFamily :Helvetica;
    fontSize : 12;
    color : #FFFFFF;
    backgroundColor: #00a100;
    textAlign : center;
    fontWeight : bold;
}
/**   BodyPublicChat    **/
.bodyPublicChatHB {
    horizontalCenter : 0;
    verticalCenter : 0;
}
.standsList{
    borderVisible : true;
    dropShadowVisible : false;
    borderWeight : 0;
}
.bodyPublicChatVG,.inputTextBarPublicVG {
    horizontalAlign: center;
    horizontalCenter: 0;
    verticalCenter : 0;
}
.outputTextPublicChat, .inputTextBarPublicBC {
    borderStyle: solid;
    borderWeight : 1;
    borderVisible: true;
    borderColor : #f1f3f4;
}
.outputTextPublicChat {
    borderAlpha : 1;
}
.participantsStandListComponent {
    borderWeight : 0;
    dropShadowVisible: false;
    borderVisible : false;
    borderColor : #f1f3f4;
}
.inputTextBarPublicBC {
    backgroundColor : #f1f3f4;
}
.inputTextPublicHG,.sendButtonPublic{
    horizontalCenter : 0;
    verticalCenter: 0;
    verticalAlign: middle;
}
.inputTextAreaPublic{
    borderVisible : false;
}
.sendButtonPublic{
    fontFamily :Helvetica;
    fontSize : 11;
    color : #FFFFFF;
    backgroundColor: #009442;
    textAlign : center;
    fontWeight : bold;
}
/**   ChatComponent    **/
.usersPanel {
    horizontalCenter: 0;
    verticalCenter: 0;
    fontFamily: Helvetica;
    fontSize: 11;
    dropShadowVisible: false;
    borderAlpha: 0;
}
.usersPanelVG {
    horizontalCenter: 0;
    verticalCenter: 0;
    horizontalAlign : center;
}
.usersPanelBC {
    backgroundColor: #f1f3f4;
    borderAlpha: 0;
    borderWeight: 0;
    horizontalAlign : center;
}
.reduceBC {
    top: 4;
    left: 4;
    backgroundColor: #ffffff;
    borderVisible : false;
    backgroundAlpha : 0;
    borderWeight : 0;
}
.reduceImg {
    verticalAlign : middle;
}
.usersHB {
    verticalCenter : 0;
    verticalAlign : middle;
}
.userConnectedLabel {
    fontSize : 11;
    fontFamily : Helvetica;
    fontWeight : bold;
    verticalCenter : 0;
    color : #000000;
}
.extendG {
    horizontalCenter : 0;
    verticalCenter : 0;
}
.extendBC {
    borderVisible : false;
    backgroundColor : #FFFFFF;
    backgroundAlpha : 0;
    borderWeight : 0;
}
.extendImg {
    verticalAlign : middle;
}
.usersVG {
    horizontalCenter : 0;
    verticalCenter : 0;
}
.userComponent {
    horizontalAlign : left;
    right : 0;
}
.loadingAnimatedGIF {
    horizontalCenter : 0;
    verticalCenter : 0;
    contentBackgroundAlpha : 0.7;
}
.chatPanel{
    horizontalCenter : 0;
    verticalCenter : 0;
    fontFamily : Helvetica;
    fontSize : 11;
    backgroundColor : #ffffff;
    dropShadowVisible : false;
    borderAlpha : 0;
}
.chatPanelVG{
    horizontalCenter:0;
    verticalCenter: 0;
    horizontalAlign: center;
}
.chatBarBC{
    backgroundColor : #00a100;
    borderAlpha : 0;
    borderWeight : 0;
}
.chatBarHB{
    verticalCenter : 0;
    verticalAlign : middle;
}
.chatBarLabel{
    fontSize : 11;
    fontFamily : Helvetica;
    fontWeight : bold;
    verticalCenter : 0;
    color : #000000;
}
.resizeChatScreenLabel{
    fontSize : 11;
    fontFamily : Helvetica;
    fontWeight : bold;
    textDecoration : underline;
    verticalCenter: 0;
    color: #ffffff;
}
.currentDateLabel{
    fontSize : 11;
    fontWeight : bold;
    fontFamily: Helvetica;
    verticalCenter: 0;
    color: #000000;
}
.settingIcon{
}
.bipIcon{
    verticalCenter : 0;
}
.myChatsIcon{
    verticalCenter : 0;
}
.tabChatParentVG{
    horizontalCenter : 0;
    verticalCenter : 0;
}
.tabChat{
    borderVisible : false;
}
/**   ChatListComponent    **/
.contentChat {
    backgroundColor : #FFFFFF;
}
/**   EnterpriseListComponent    **/
.searchBarComponent {
    borderStyle : solid;
    borderWeight :1;
    borderAlpha : 1;
    backgroundColor: #f1f3f4;
    borderColor: #ffffff;
}
.enterpriseTreeComponent{
    verticalScrollPolicy : off;
    contentBackgroundColor : #f1f3f4;
    borderColor: #ffffff;
}
.paginatorComponent{
    borderStyle : solid;
    borderWeight :1;
    borderAlpha : 1;
    backgroundColor: #f1f3f4;
    borderColor: #ffffff;
}
/**   HbComponent    **/
.receivedMessageBC {
    borderVisible : false;
}
.receivedMessageHB{
    backgroundAlpha : 0.5;
    left : 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.paginatorComponent{
    borderStyle : solid;
    borderWeight :1;
    borderAlpha : 1;
    backgroundColor: #f1f3f4;
    borderColor: #ffffff;
}
/**   HbEditDeleteComponent    **/
.editDelIconHB {
    verticalAlign : bottom;
}
.iconEdit{
    verticalAlign : middle;
}
.iconDel{
}
/**   HbPageNumberComponent    **/
.pageNumberBC {
    borderVisible : false;
    backgroundColor : #d3d5d3;
    chromeColor : #ffffff;/*backgroundColor.selected, backgroundColor.hovered*/
}
.pageNumberBC:selected,.pageNumberBC:hovered  {/*state ne fonctionne pas à revoir.*/
    borderVisible : true;
}
.pageNumberBC:selected{/*state ne fonctionne pas à revoir.*/
    backgroundColor : #00a100;
}
.pageNumberHB{
    verticalCenter : 0;
    backgroundAlpha : 0.5;
    left : 0;
    right : 0;
    top : 0;
    bottom: 0;
    horizontalAlign : center;
    verticalAlign: middle;
}
.pageLabel{
    fontSize : 11;
    fontFamily : Helvetica;
    top : 0;
    color : #999999;
    textAlign : center;
    chromeColor: #ffffff;/*selected*/
    errorColor: #00a100;/*hovered*/
}
.pageLabel:hovered{
    color : #00a100;
}
.pageLabel:selected{
    color : #ffffff;
}
/**   HistoricComponent    **/
/**   HistoryUsersListComponent    **/
.historyUserList {
    contentBackgroundColor : #f1f3f4;
    borderVisible : false;

}
/**   NavigateButtonComponent    **/
.navigateBC{
    backgroundColor : #808284;
    borderVisible : false;
    backgroundAlpha : 1;
}
.navigateBC:disabled{
    backgroundAlpha : 0.6;
}
.navigateLabel {
    fontSize : 11;
    fontFamily : Helvetica;
    color : #FFFFFF;
    textAlign : center;
    horizontalCenter : 0;
    verticalCenter : 0;
    fontWeight : bold;
    chromeColor: #00a100;/* hovered */
}
.navigateLabel:hovered{
    color : #00a100;
}
.navigateLabel:disabled{
    color : #ffffff;
}
/**   PaginatorComponent    **/
.controlBarHB{
    contentBackgroundColor : #E9EBED;
    verticalAlign : middle;
    horizontalAlign : center;
    horizontalCenter : 0;
}
.paginatorHB{
    horizontalCenter : 0;
    verticalCenter : 0;
    horizontalAlign: left;
}
.paginatorScrollBar {
    horizontalScrollPolicy : off;
    horizontalCenter : 0;
}
.paginatorHG{
    horizontalCenter : 0;
}
/**   ParticipantsStandListComponent    **/
.participantsStandList{
    contentBackgroundColor : #f1f3f4;
    borderColor : #f1f3f4;
    borderVisible : true;
}
.participantStandItemHB{
    verticalAlign : middle;
    verticalCenter : 0;
    backgroundAlpha: 0.5;
    horizontalScrollPolicy : off;
    verticalScrollPolicy : off;
}
.participantStandLoginLabel {
    fontSize : 11;
    fontFamily : Helvetica;
    verticalCenter : 0;
    color: #000000;
    textAlign : center;
}
/**   SearchComponent    **/
.searchComponentHB{
    contentBackgroundColor : #f1f3f4;
    verticalAlign : middle;
}
.searchLabel{
    color : #444444;
    fontFamily : Helvetica;
}
.searchInput {
    contentBackgroundColor : #ffffff;
    borderVisible : false;
}
/**   StandListComponent    **/
.connectToStandsList{
    contentBackgroundColor : #f1f3f4;
    borderVisible : false;
}
/**   TabChat    **/
.recordPublicChatHG, .recordPrivateChatHG{
    horizontalCenter : 0;
    top : 0;
}
.recordPublicChatBC, .recordPrivateChatBC{
    borderColor : #f1f3f4;
    backgroundColor : #f1f3f4;
}
.stopSavePublicChatLabel, .savePublicChatLabel, .stopSavePrivateChatLabel, .savePrivateChatLabel{
    horizontalCenter : 0;
    verticalCenter : 0;
    fontFamily : Helvetica;
    fontSize : 10;
    color: #ffffff;
    textAlign : center;
    fontWeight : bold;
    verticalAlign: middle;
}
.stopSavePublicChatLabel, .stopSavePrivateChatLabel{
    backgroundColor : #DB1A2A;
}
.savePublicChatLabel, .savePrivateChatLabel{
    backgroundColor : #259E2A;
}
.recordPublicChatAnimateBC, .recordPrivateChatAnimateBC{
    backgroundColor : #ffffff;
    backgroundAlpha : 0.4;
    borderAlpha : 0;
    borderVisible : false;
}
.tabChatVG{
    horizontalAlign : left;
    right: 0;
}
.tabBarChat{
    cornerRadius : 0;
    color: #000000;
}
.vsPublicChat, .vsPrivateChat{
    fontSize : 13;
}
.bodyPublicChat, .bodyPrivateChat{
    borderWeight : 1;
    borderColor : #f1f3f4;
}
/**   UserComponent    **/
.usersTabBar {
    left: 50;
    horizontalCenter: 0;
    color: #000000;
    cornerRadius: 0;
}
.navListUser, .listEnterprise  {
    fontSize: 13;
}
.listUsers, .listEnterprise {
    borderWeight: 1;
    dropShadowVisible: false;
    backgroundColor : #f1f3f4;
    borderColor : #ffffff;
    borderVisible : false;
}
/**   UsersListComponent    **/
.usersSearchComponent, .usersPaginatorComponent{
    borderStyle : solid;
    borderWeight : 1;
    borderVisible : true;
    borderAlpha : 1;
    borderColor: #ffffff;
    backgroundColor: #f1f3f4;
}
.usersList{
    contentBackgroundColor : #f1f3f4;
    verticalScrollPolicy : off;
    borderColor: #ffffff;
}
.usersItemList{
    verticalAlign : middle;
    verticalCenter: 0;
    backgroundAlpha: 0.5;
}
.usersItemPhoto{
    horizontalCenter : 0;
    verticalCenter: 0;
}
.usersItemLoginLabel{
    fontSize : 12;
    fontFamily: Helvetica;
    verticalCenter: 0;
    color: #000000;
}
.usersItemDrapeauVB{
    verticalAlign : middle;
    horizontalCenter : 0;
}
/**   UsersPrivateListComponent    **/
.usersPrivateList{
    contentBackgroundColor : #f1f3f4;
    borderVisible : false;
}

/*******   ItemRenderer   ******/
/**   EnterpriseMXItemRenderer    **/
.enterpriseMXItemHG{
    left : 0;
    right : 0;
    top : 0;
    bottom: 0;
    verticalAlign : middle;
}
.enterpriseMXItemVB{
    horizontalCenter : 0;
}
.enterpriseMXItemLoginLabel{
    verticalCenter : 0;
    fontSize :13;
    fontFamily : Helvetica;
    fontWeight : bold;
    color: #000000;
}
.enterpriseMXItemTitleChatLabel, .enterpriseMXItemFirstRLoginLabel{
    verticalCenter : 0;
    fontSize :11;
    horizontalCenter : 0;
    textAlign: left;
    fontFamily: Helvetica;
    color: #000000;
}
.numberRecruiters{
    horizontalCenter : 3;
    verticalCenter : 4;
    fontSize: 11;
    fontFamily : Helvetica;
    fontWeight : bold;
    color : #FFFFFF;
}
/**   HistoryUsersChatItemRenderer    **/
.historyUsersChatHB{
    verticalCenter : 0;
    horizontalScrollPolicy : off;
    verticalScrollPolicy : off;
    backgroundAlpha: 1;
    verticalAlign : middle;
    chromeColor : #000000;/* historyUsersChatHB:selected*/
    errorColor: #000000;/* historyUsersChatHB:hovered */
}
.historyUsersChatHB:hovered, .historyUsersChatHB:blink, .historyUsersChatLoginLabel:selected, .historyUsersChatDateLabel:selected{
    backgroundColor:#000000;
}
.historyUsersChatHB:selected, .historyUsersChatLoginLabel:hovered, .historyUsersChatDateLabel:hovered, .historyUsersChatLoginLabel:blink, .historyUsersChatDateLabel:blink{
    backgroundColor:#00a100;
}
.historyUsersChatVB{
    horizontalCenter : 0;
    verticalCenter : 0;
    horizontalScrollPolicy : off;
}
.historyUsersChatLoginLabel, .historyUsersChatDateLabel{
    verticalCenter : 0;
    fontFamily : Helvetica;
    color : #000000;
}
.historyUsersChatLoginLabel{
    fontSize : 12;
    fontWeight : bold;
}
.historyUsersChatDateLabel{
    fontSize : 11;
}
.historyUsersChatClose{
    verticalCenter : 0;
}
/**   StandPublicChatItemRenderer    **/
.standPublicChatItemHB{
    verticalCenter : 0;
    horizontalScrollPolicy : off;
    verticalScrollPolicy : off;
    backgroundAlpha: 1;
    verticalAlign : middle;
    chromeColor : #000000;/* standPublicChatItemHB:selected*/
    errorColor: #ffffff;/* standPublicChatItemHB:hovered */
}
.standPublicChatItemHB:hovered, .standPublicChatItemHB:blink{
    backgroundColor:#ffffff;
}
.standPublicChatItemLoginLabel:selected{
    color:#000000;
}
.standPublicChatItemHB:selected{
    backgroundColor:#00a100;
}
.standPublicChatItemLoginLabel:hovered, .standPublicChatItemTitleChatLabel:hovered, .standPublicChatItemLoginLabel:blink, .standPublicChatItemTitleChatLabel:blink{
    color:#000000;
}
.standPublicChatItemVB{
    horizontalCenter : 0;
    verticalCenter : 0;
    horizontalScrollPolicy : off;
}
.standPublicChatItemLoginLabel, .standPublicChatItemTitleChatLabel{
    verticalCenter : 0;
    fontFamily : Helvetica;
    color : #000000;
    fontWeight : bold;
}
.standPublicChatItemLoginLabel{
    fontSize : 13;
}
.standPublicChatItemTitleChatLabel{
    fontSize : 11;
}
.standPublicChatItemClose{
    verticalCenter : 0;
}
/**   UserPrivateChatItemRenderer    **/
.userPrivateChatItemHB{
    verticalCenter : 0;
    horizontalScrollPolicy : off;
    verticalScrollPolicy : off;
    backgroundAlpha: 1;
    verticalAlign : middle;
    chromeColor : #000000;/* userPrivateChatItemHB:selected*/
    errorColor: #ffffff;/* userPrivateChatItemHB:hovered */
}
.userPrivateChatItemHB:hovered, .userPrivateChatItemHB:blink{
    backgroundColor:#ffffff;
}
.userPrivateChatItemLoginLabel:selected{
    color:#000000;
}
.userPrivateChatItemHB:selected{
    backgroundColor:#00a100;
}
.userPrivateChatItemLoginLabel:hovered, .userPrivateChatItemLoginLabel:blink{
    color:#000000;
}
.userPrivateChatItemVB{
    horizontalCenter : 0;
    verticalCenter : 0;
    horizontalScrollPolicy : off;
}
.userPrivateChatItemLoginLabel{
    verticalCenter : 0;
    fontFamily : Helvetica;
    color : #000000;
    fontWeight : bold;
    fontSize : 13;
}
.standPublicChatItemClose, .standPublicChatItemHistory{
    verticalCenter : 0;
}
.userPrivateChatItemDrapeauHB{
    horizontalGap : 3;
    horizontalAlign : right;
}
/*******   skin   ******/
/**   CustomTabBarButtonSkin    **/
.customBarButtonG, .customBarButtonHG{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    verticalAlign : middle;
    color:#808284;
}
.customBarButtonLabelDisplay{
    textAlign : center;
    verticalAlign : middle;
    fontSize : 10;
    horizontalCenter : 0;
    verticalCenter : 0;
    color: #ffffff;
    chromeColor : #00a100;
    errorColor : #ffffff;
}
/**   CustomTabBarSkin    **/
.btnBarBtn{
    color : #808284;
    barColor: #ffffff;
    chromeColor: #00a100;
}
/**   SkinNoTitleBar    **/
