/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 9 sept. 2015, 10:52:23
    Author     : Lamlihe Youssef <y.lamlihe@eventds.ch>
*/

/*
* CSS Screen document
*/
/* Imports Reset
================================================== */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
        url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
        url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/Roboto-Bold-webfont.eot');
    src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
        url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
        url('../fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body, /*div,*/ span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 12px;
    vertical-align: baseline;
    color: #363636;
    text-decoration: none;
}
html {
    height: 100%;
}
body{
    background: rgb(213, 213, 210);
    height: 100%; 
}

ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
    border-radius: 0px;
}
q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}
a:focus , a:hover {
    text-decoration:none;
    outline-style:none;
}
:focus {
    outline: 0;
}
a img {
    border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}
.darkBg {
    background: #2f2726;
}
.ul-links{
    display: inline-block;
}

/* Classes
================================================== */
#cvContentDoc input {
    /* color: #58b; */
    color: #CCD6DD;
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    top: 99px;
    left: 655px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    /* cursor: hand; */
    margin: 0;
    padding: 0;
    height: 20px;
    width: 20px;
    position: absolute;
}
.loadingText {
    position: absolute;
    width: 100%;
    margin-left: 26%;
    color: white;
    padding-top: 2px !important;
}
.bold {
    font-weight: bold;
}
.clear {
    clear: both;
}
.clearfix {
    overflow: hidden;
    *zoom: 1;
}
.invisible {
    display: none;
}
.italic {
    font-style: italic;
}
.text-left {
    text-align: left;
}
.text-hidden {
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.text-justify {
    text-align: justify;
}
.text-right {
    text-align: right;
}
.right {
    float: right;
}
.left {
    float: left;
}
.error_messages {
    color: #e11e33;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}
input {
    border: 0 none;
    padding: 0;
    outline: none;
}
img {
    display: block;
    border: none;
}
.line-through {
    text-decoration: line-through;
}
/* mise en page via le BackOffice */
.italic {
    font-style: italic;
}
.blanc {
    color: #FFFFFF;
}
.rouge {
    color: #ad0040;
}
p {
    color: #363636;
}
.no-padding {
    padding: 0px !important;
}
.no-padding-left {
    padding-left: 0px;
}
.no-padding-right {
    padding-right: 0px;
}
.no-margin {
    margin: 0px !important;
}
.no-margin-bottom{
    margin-bottom: 0px;
}
.margin-10 {
    margin:10px;
}
.margin-top-10 {
    margin-top:10px;
}
.margin-top-20 {
    margin-top:20px;
}
.margin-top-30 {
    margin-top:30px;
}
.margin-bottom-20 {
    margin-bottom:20px;
}
.margin-bottom-50 {
    margin-bottom:50px;
}
.padding-top-20 {
    padding-top:20px;
}
.padding-top-30 {
    padding-top:30px;
}
.padding-top-40 {
    padding-top:40px;
}
.padding-right-20 {
    padding-right:20px;
}
.padding-10 {
    padding:10px;
}
.padding-20 {
    padding:20px;
}
.padding-30 {
    padding:30px;
}
.padding-40 {
    padding:30px;
}
.padding-sides-20 {
    padding:0px 20px;
}
.padding-bottom-50 {
    padding-bottom: 50px !important;
}
.padding-top-bottom-20 {
    padding:20px 0px
}
.modal-dialog{
    z-index: 9999;
}
/* Structure header
================================================== */
header {
    width: 100%;
    position: relative;
    padding-top: 0px;
    background:#FFFFFF;
    /*overflow: hidden;*/
    float:left;
}
.headerTop {
    max-width: 1280px;
    margin: 0 auto;
    min-height: 59px;
    text-align: center;
}
header .logo {
    float: left;
    margin: 0px;    
    width: 7%;
}
header .accroche {
    font-size: 17px;
    color: #555555;
    font-family: 'Roboto', Arial;

    display: inline-block;

    margin: 0 auto;
    width: 323px;
}
/*header.connecter .accroche {
    margin: 0 10% 0 16%;
}*/
header .accroche span {
    display: block;
    color: #1275b8;
    font-weight: 700;
    font-size: 17px;
    font-family: 'Roboto', Arial;
}
header .accroche span img{
    height: 30px;
    margin: 0px auto;
}
header .connexion {
    float:right;
    margin:15px 0px 0 0;
}
header .connexion li {
    float:left;
    position:relative;
}
header.connecter .dropdown-menu{
    z-index:9999;
    left:inherit;
    right:-10px;
    border-radius: 0;
    padding:10px 0 !important;
}
header.connecter .dropdown-menu li{
    width: 100%;
    padding:2px 10px;
}
header.connecter .dropdown-menu li:hover{
    background: rgba(242, 243, 244, 0.5);
}
header .connexion li .nbr {
    width:19px;
    height:19px;
    color:#FFFFFF;
    text-align:center;
    line-height:19px;
    background:#e02222;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    display:block;
    position:absolute;
    top:-10px;
    left:0;

}
header .connexion li > a{
    font-size:14px;
    padding:3px 6px;
    margin:0 5px;
    outline-style:none;
    text-decoration:none;
    font-family: 'Roboto', Arial;
}
header.connecter .connexion li > a{
    padding:0;
    margin:0;
    color:#4b4b4b;
}
header.connecter .caret{
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #7e7f80;
    margin-left: 2px;
}
header.connecter .connexion li a.icon-notification{
    margin:0 12px 0 3px;
}
header.connecter .connexion li a.icon-message{
    margin:4px 12px 0 9px;
}
header.connecter .connexion li a.avatar{
    margin:-10px 15px 0 0;
    width:41px;
    height:41px;
    min-height:inherit;
    float:left;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    border-radius: 21px;
}
header.connecter .connexion li > a.active,
header.connecter .connexion li > a:hover{
    color:inherit;
    background-color:inherit;
    text-decoration:none;
}
header .connexion li > a.active,
header .connexion li > a:hover{
    color:#FFFFFF;
    background-color:#1275b8;
    text-decoration:none;
}
/* Structure form
================================================== */
#modal-deposer-document .btn.file ,#modal-deposer-document-offre .btn.file{
    background-color: #ce242f;
    float: left;
    margin: 0;
    box-shadow:none;
    border-radius:0;
    margin: 0 16px 0 0;
    width: 25%;
    height: 35px;
    line-height: 24px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.btn.file:hover {
    background-color: rgba(206, 36, 47, 0.7);
}
.btn.file span {
    color:#FFFFFF;
    font-family: 'Roboto';
    font-size: 14px;

}
.btn.file input{
    padding:0;
    width:100% !important;
}
.icon-download-png-form{
    margin-left: 25px;
    top: 7px;
    position: relative;
}
.file-field input.file-path{
    width: 40%;
    height: 34px;
    padding: 0 0 0 40px;
    margin: 0;
    border-bottom: 1px solid #d8d9da;
}
.file-field ::-webkit-input-placeholder {
    color: #707070;
    font-family: 'Roboto';
    font-size: 14px;
}

.file-field :-moz-placeholder { /* Firefox 18- */
    color: #707070;
    font-family: 'Roboto';
    font-size: 14px;
}

.file-field ::-moz-placeholder {  /* Firefox 19+ */
    color: #707070;
    font-family: 'Roboto';
    font-size: 14px;
}

.file-field :-ms-input-placeholder {
    color: #707070;
    font-family: 'Roboto';
    font-size: 14px;
}
/* Structure footer
================================================== */
footer {
    width: 100%;
    position: relative;
    background: #C1C1C1;
    height: 70px;
    /*overflow: hidden;*/
    float:left;
}
footer .content {
    width: 100%;
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
}
footer .content li {
    font-family: 'Robotobold', Arial;
    font-size: 15px;
    display: inline-block;
    color: #363636;
    font-weight: 400;
    line-height: 60px;
    width: 33%;
    margin: 0 auto;
}
footer .content li span{
    top: -20px;
    position: relative;
}
footer .content li:last-child {
    float: right;
    margin: 4px 0 0;
    width: 33%;
    text-align: right;
}
footer .content li a {
    display: inline-block;
    position: relative;
    top: -5px;
}

/* Structure modal
================================================== */
.scroll-pane{
    width: 100%;
    /*height: 250px;*/
    overflow: auto;
}
.modal-open{
    padding-right: 0px !important;
    overflow: scroll !important;
}
#page-content{
    height: 497px;
    padding: 0 10px 0 60px;
    position: relative;
    width: 100%;
    z-index: 2;
}
.modal{
    box-shadow: none;
    max-height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.modal-backdrop{
    position: absolute;
}
.modal .modal-content{
    background-color: #FFF;
    opacity: 0.95;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2)  ;
    border-radius: 0px;
    outline: 0px none;
    box-shadow: none;
    padding: 18px;
}
.modal button.close{
    margin-top: -17px;
    margin-right: -8px;
    opacity: 1;
}
.modal button.close span{
    font-family: 'roboto';
    font-size: 30px;
    color: #000;
    opacity: 1;
    width:18px;
    height:18px;
    font-weight: 400;
}
/*.modal button.close span{
    font-size: 20px;
    font-weight: 100;
    color: #000;
    opacity: 1;
}*/
.modal  .modal-header,
.modal  .modal-header,
.modal  .modal-footer{
    border-bottom: none;
    border-top: none;
    background-color: transparent;
}
/* Structure generale
================================================== */
#container {
    overflow: hidden;
    position: relative;
    text-align: left;
    margin: 0 auto;
    height: 100%;
}
#contentG {
    position: relative;
    background: #e9eaed;
    width: 100%;
    /*overflow: hidden;*/
    float:left;
    background: white;    
    height: 100%;
}
#content {
    max-width: 995px;
    margin: 0 auto;
    /*background: url(../img/loading.jpg) 0 0 no-repeat;*/
    min-height:497px;
    position:relative;
    background-size:cover;
    z-index: 2 ;
}
#contentlonding {
    max-width: 995px;
    margin: 0 auto;
    min-height:497px;
    position:relative;
    background-size:cover;
}
.bannier {
    overflow: hidden;
    margin: 0 0 26px;
    width: 100%;
}
.bannier img {
    width: 100%;
}
/********************
  nav menu
/********************/
.main-menu{
    /*    background-color:rgba(242, 243, 244, 0.94);*/
    background-color:rgba(242, 243, 244, 1);
    width:60px;
    position:absolute;
    top:0;
    left:0;
    z-index:200;
    height:497px;
    padding:15px 0 0;
    /*-webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      -webkit-transition-property: -webkit-transform, width;
      -moz-transition-property: -moz-transform, width;
      -o-transition-property: -o-transform, width;
      transition-property: transform, width;*/
    box-shadow: 12px -1px 4px -3px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 12px -1px 4px -3px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 12px -1px 4px -3px rgba(0, 0, 0, 0.16);
}
/*.main-menu.open{
  width:228px;
}*/
.main-menu li:first-child{
    margin-bottom:30px;
}
.main-menu li{
    padding:10px 0 10px 16px;
    display:block;
    width:100%;
    position:relative;
    cursor: pointer;
}
.main-menu.open li{
    padding:8px 0 8px 13px;
}
.main-menu.open{
    padding:3px 0 0;
}
.main-menu.open .icone-custom{
    display:none;
}
.main-menu .profil{
    display:none;
}
.main-menu .profil .progress-profil{
    margin: 0 0 10px;
}
.main-menu .profil .progress{
    background-color:rgba(0, 0, 0, 0.16);
    box-shadow: none;
    height: 4px;
    margin:0;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.main-menu .progress .determinate {
    background-color:rgba(37, 92, 137, 0.6);
}
.main-menu .progress-profil p{
    font-family:'robotobold', Arial, sans-serif;
    color:#0f6ca2;
    text-align:center;
    font-size:10px;
    padding:0 0 5px;
}
.main-menu.open li:first-child{
    margin-bottom:0;
    padding: 0 0 10px 13px;
}
.main-menu.open li:first-child:hover{
    background-color:inherit;
}
.main-menu.open .profil{
    border-bottom:1px solid #c8c9ca;
    padding:0 0 13px 0;
    margin:0 16px 0 0;
    overflow:hidden;
    display:block;
}
.main-menu.open .icon-nav {
    position: absolute;
    right: 6px;
    top: 3px;
    background: url('../img/icons/icon-close.png') right 0 no-repeat;
    outline-style: none;
}
.main-menu .profil .avatar{
    overflow:hidden;
    margin:0;
    min-height:inherit;
    width: 100%;
}
.main-menu .profil .avatar img{
    float:left;
    margin:0 12px 0 0;
}
.main-menu .profil .avatar p{
    float:left;
    color:#4b4b4b;
    font-size:15px;
    margin-top: 10px;
    width: 135px;
}
.main-menu .profil li:last-child{
    margin: 5px 0 0;
}
.main-menu .profil li:first-child{
    padding:0;
}
.main-menu .profil li:hover{
    background-color:inherit;
}
.main-menu .profil li , .main-menu .profil li a{
    float:left;
    color:#4b4b4b;
    width:auto;
    padding: 0;
    margin:0;
    font-size:12px;
    line-height:1;
}
.main-menu .profil li span{
    width:auto;
    padding: 0;
    margin:0;
    float:none;
}
.main-menu li a{
    color:#4b4b4b;
    font-size:14px;
    font-family:'roboto', Arial, sans-serif;
    padding:0;
    line-height: 24px;
    text-indent:-9999px;
    outline-style: none;
}
.main-menu.open li a{
    text-indent:inherit;
}
.main-menu li a span{
    float:left;
    width:26px;
    margin:0 12px 0 0;
}
/********************
        menu animé
/********************/

.menu{
    position:absolute;
    top:15px;
    right:-83px;
    text-align:center;
}
.btn-plus{
    font-family: 'Robotobold', Arial;
    font-size:20px;
    line-height:36px;
    width:64px;
    height:64px;
    background: url(../img/btn-plus.png) 0 0 no-repeat;
    text-align:center;
    outline-style:none;
}
.btn-plus a{
    display: block;
    font-family: "Robot",Arial;
    font-size: 30px;
    line-height: 58px;
    color:#737373;
    width: 100%;
    background: url(../img/plus.png) center center no-repeat;
    width:64px;
    height:64px;
    text-indent:-9999px;
    outline-style:none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.3s ease-in; /* Changed here */
    -moz-transition: -moz-transform 0.3s ease-in;
    -o-transition: -o-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
}
.btn-plus a.active{
    -webkit-transform: rotate(47deg);
    -moz-transform: rotate(47deg);
    -ms-transform: rotate(47deg);
    -o-transform: rotate(47deg);
    transform: rotate(47deg);
}
.second-menu{
    /*    display:none;*/
}
.second-menu ul{
    margin:15px 0 0;
}
.second-menu ul li{
    margin:0 0 15px;
}
.second-menu ul li a{
    outline-style:none;
}

/********************
        zone-pub
/********************/
.zone-pubG{
    max-width: 996px;
    margin: 0 auto;
    background: #d5d5d2;
    position:relative;
}
.zone-pub{
    float:left;
    width: 100%;
    background: #d5d5d2;
}
.info-efq{
    float:left;
    border-right: 1px solid #c4c4c1;
    padding:0 20px 0 0;
    margin:17px 0 11px 0;
    min-height:43px;
}
.info-efq li{
    float:left;
    padding:0 0 0 11px;
}
.info-efq li:hover{
    opacity:0.7;
}
/********************
        sponssor
/********************/
.sliderG{
    min-height:43px;
    border-right: 1px solid #c4c4c1;
    padding:0 10px;
    margin:11px auto;
    width: 50%;
}
.slogo h3{
    float:left;
    font-family: 'Robotobold', Arial;
    font-size:15px;
    line-height:36px;
}
.sliderG h3{
    float:left;
    font-family: 'Robotobold', Arial;
    font-size:15px;
    line-height:36px;
}
.sliderG .sponsor{
    width : 100%;
}
.slogo p{
    font-family: 'Roboto', Arial;
    font-style: italic;
    font-size:15px;
    line-height:36px;
    text-align: center;
}
.bx-wrapper{
    float:left;
    margin:0 0 0 47px !important;
}
.bx-wrapper .bx-viewport{
    background:none;
    padding:0;
    border:none;
    float:left;
}
/********************
        reseau social
/********************/
.reseau-social{
    min-height:43px;
    float:left;
    margin:17px 16px 11px 0;
}
.reseau-social li{
    float:left;
    margin:7px 0 0 10px;
}
.reseau-social li:hover{
    opacity:0.7;
}
/********************
        block tchat
/********************/
.tchat{
    float:right;
    background:transparent;
    min-height:71px;
    width: 100%;
    margin-right: 1px;
    position: absolute;
    z-index: 1000;
    bottom: 0px;
    display: none;
}
.tchat .icon-tchat{
    text-indent:inherit;
    font-family: 'Robotobold', Arial;
    font-size:16px;
    color:#FFFFFF;
    margin:18px 0 0 32px;
    width:auto;
    padding:0 0 0 61px;
    line-height:32px;
}

/********************
        bloque logo
/********************/
.logo {/*max-width: 369px;width: 429px;*/
    margin: 19px 0 0 108px;
    float: left;
}
.logo a {
    float: left;
}
.logo a.boutique {
    margin: 14px 0 0 183px;
    font-family: 'citroenregular';
    font-size: 25px;
    text-transform: uppercase;
    color: #c4b7a6;
}
.logo a.boutique span {
    display: block;
    color: #ffffff;
    font-size: 25px;
}
/* home non connecter
================================================== */

/***********************
     block modal
************************/
#modal-sign-in h4,
#modal-forgot-password h4,
#modal-forgot-password-Success h4
{
    font-size: 30px;
    color: #1275b8;
    font-weight: 100;
}

#modal-sign-in .modal-body,
#modal-forgot-password .modal-body{
    padding: 15px 0;
}

#modal-sign-in .modal-footer,
#modal-forgot-password .modal-footer{
    padding: 4px 0;
}

#modal-sign-in #form-sign-in label,#modal-forgot-password #form-forgot-password label{
    font-size: 14px;
    color: #555555  ;
    font-weight: 100;
    line-height: 32px;
    font-family: 'Roboto', Arial;
}
#modal-sign-in #form-sign-in label.error,#modal-forgot-password #form-forgot-password label.error{
    font-size: 15px;
}
#modal-sign-in #form-sign-in .row,#modal-forgot-password #form-forgot-password .row{
    margin-bottom: 0px;
}
#modal-sign-in #form-sign-in input,#modal-forgot-password #form-forgot-password input{
    margin: 0;
    border-bottom: 1px solid transparent;
    box-shadow: 0 1px 0 0 transparent;
    letter-spacing: 1px;
    font-size: 13px;
    padding: 0 0 0 8px;
}
.inscrit{
    text-align: left !important;
}
#modal-sign-in #form-sign-in input:hover,
#modal-sign-in #form-sign-in input:focus,
#modal-sign-in #form-sign-in input:active.focus,
#modal-sign-in #form-sign-in input:active,
#modal-sign-in #form-sign-in input:active:focus,
#modal-forgot-password #form-forgot-password input:hover,
#modal-forgot-password #form-forgot-password input:focus,
#modal-forgot-password #form-forgot-password input:active.focus,
#modal-forgot-password #form-forgot-password input:active,
#modal-forgot-password #form-forgot-password input:active:focus
{
    margin: 0;
    border-bottom: 1px solid transparent;
    box-shadow: 0 1px 0 0 transparent;
}
#modal-sign-in #form-sign-in .form-group-element,
#modal-forgot-password #form-forgot-password .form-group-element
{
    border-bottom: 1px solid #c2c2c2  ;

}
#modal-sign-in  .pass-forgotten {
    padding: 14px 0 14px;

}
#modal-sign-in .modal-footer,
#modal-forgot-password .modal-footer
{
    height: auto;

}
#modal-sign-in .modal-footer .sign-up,
#modal-forgot-password .modal-footer .sign-up
{
    color: #1275b8;

}
#modal-sign-in .modal-footer .row,
#modal-forgot-password .modal-footer .row
{
    margin-bottom: 0;
}
#modal-sign-in .modal-footer .row-connexion,
#modal-forgot-password .modal-footer .row-connexion
{
    margin-bottom: 10px;
}
/***********************
     btn style
************************/
.btn {
    border-radius: 0px;
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 400;
    box-shadow: 0 1px 0 0 transparent;
    background-color: #1275b8;
    border: 1px solid transparent;
    color: #FFFFFF !important;
}
.info-stand #loginButton.btn{
    padding: 6px 12px;
    text-transform: uppercase !important;
    height: 36px;
    border: 1px solid transparent;
}
.btn:hover,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,
.btn:active
{
    background-color: #1275b8;
    border: 1px solid transparent;
    opacity: 0.7;
    box-shadow: none;
    outline: none;
}
/* Structure content page inscription et activation
===================================================== */
.inscription, .activation {
    padding: 0 0 0 45px;
    height:auto !important;
    background:none;
}
.steps{
    display:none !important;
}
.inscription h2, .activation h2 {
    font-size: 24px;
    font-family: 'Roboto', Arial;
    color: #252525;
    margin: 0;
}
.inscription h2 span, .activation h2 span {
    font-size: 24px;
    font-family: 'Roboto', Arial;
    color: #ce242f;
}
.inscription .row, .activation .row {
    margin-bottom: 0;
}
#inscription, #activation {
    /*max-width: 652px;*/
    margin: 0 auto;
}
#inscription .formG, #activation .formG {
    max-width: 652px;
    margin: 0 auto;
}
.actions {
    max-width: 652px;
    margin: 0 auto;
    padding: 2.5%;
}
#inscription .content, #activation .content{
    background:none;
}
#inscription .content .body, #activation .content .body{
    position:relative;
}
#inscription label, #activation label {
    display: inline;
    float: left;
    position: relative;
    top: inherit;
    left: inherit;
    transform: none;
    width: 180px;
    line-height: 43px;
    font-size: 12px;
    color:#707070;
    font-family:'Roboto', Arial;
}
#inscription .check, #activation .check {
    margin-top: 30px;
}
#inscription .check label, #activation .check label {
    width: 100%;
    line-height: 20px;
    font-size: 12px;
}
#inscription label sup, #activation label sup {
    font-size: 12px;
    color:#b3081b;
    font-family:'Roboto', Arial;
}
#inscription input, #activation input {
    width: 400px;
    padding: 0 10px 0 30px;
    margin: 0;
    color:#5a5858;
    font-size:14px;

    font-family:'robotobold', Arial !important;
}
.ui-multiselect-menu {
    min-width: 273px;
}
#inscription .ui-multiselect, #activation .ui-multiselect {
    width: 400px !important;
    padding: 0 10px 0 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
}
#activation .ui-multiselect.ui-state-active {
    width: 440px !important;
    border-bottom: 1px solid #ce242f;
    box-shadow: 0 1px 0 0 #ce242f;
}
#inscription .ui-multiselect span, #activation .ui-multiselect span {
    color: #5a5858;
    font-family: 'robotobold', arial;
    font-size: 15px;
    font-weight: 400;
    opacity: 0.8;
}
#inscription .select-wrapper {
    max-width: 90%;
}
#inscription .select-wrapper span.caret{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px dashed #cccccc;
    text-indent:-9999px;
    top:19px;
}
.ui-multiselect-menu{
    background: #fafafa;
    -webkit-box-shadow: 0 17px 15px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 17px 15px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 17px 15px 0 rgba(0, 0, 0, 0.2);
}
.ui-multiselect-menu li{
    margin-bottom:0px;
}
.ui-multiselect-menu li, .ui-multiselect-menu li span{
    display: block;
    font-family: 'Roboto', Arial;
    color: #cccccc;
    font-weight: normal !important;
    font-size: 12px;
}
.ui-multiselect-menu li span{
    cursor:pointer;
    padding-left: 4px;
    font-weight: normal !important;
    font-size: 1.2rem;
}
.ui-multiselect-menu li span.active{
    color: #363636;
}
label.ui-state-hover span, .ui-multiselect-disabled span{
    color: #363636 !important;
}
.ui-multiselect-checkboxes label {
    border: inherit; 
    padding: 2px 1px 1px 1px;
}
.select-dropdown li.disabled{
    cursor:none;
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
}
.select-dropdown li.disabled span{
    color: rgba(0, 0, 0, 0.5);
    cursor: none;
    font-family: "Robotobold";
}
#inscription .btn, #activation .btn {
    background-color: #ce242f;
    float: right;
    margin: 20px;
}
#inscription .btn.file, #activation .btn.file {
    background-color: #ce242f;
    float: left;
    margin: 0;
    box-shadow:none;
    border-radius:0;
    margin: 0 16px 0 0;
    width: 25%;
    line-height: 21px;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    transition: all .1s ease-out;
}
#inscription .btn.file:hover, #activation .btn.file:hover {
    background-color: rgba(206, 36, 47, 0.7)
}
#inscription .btn.file span, #activation .btn.file span {
    color:#FFFFFF;
}
#inscription .btn.file input, #activation .btn.file input {
    padding:0;
    width:100% !important;
}
/*****************************************
        date picker
 ****************************************/
.picker {
    outline-style: none;
}
.picker__date-display {
    color: #FFFFFF !important;
    background: #d85963 !important;
}
.picker__weekday-display {
    background: #b3081b !important;
    font-family: 'Roboto', Arial;
    font-weight: 400 !important;
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    background-color: #b3081b !important;
}
.picker__nav--prev::before, .picker__nav--next::before {
    border-right: 0.75em solid #b3081b !important;
}
.picker__nav--next::before {
    border-left: 0.75em solid #b3081b !important;
    border-right: 0 !important;
}
.picker__close, .picker__today, .picker__clear{
    color: #b3081b !important;
    font-size: 1.1rem;
}
.picker__day.picker__day--today {
    color: #b3081b;
}

/*****************************************
        form validation
 ****************************************/
ul.nav-pills{
    display: none;
}
form label.error {
    bottom: -11px;
    color: #ce242f !important;
    display: inline-block;
    left: 162px !important;
    line-height: 1 !important;
    position: absolute !important;
    width: auto !important;
    margin-left: 2.5em;
}
form label.error-login {
    bottom: 0px;
    color: #ce242f !important;
    display: inline-block;
    left: 0px !important;
    line-height: normal !important;
    position: relative !important;
    width: auto !important;
    margin-left: 0em;
}
form input.error {
    border-bottom: 1px solid #ce242f;
    box-shadow: 0 1px 0 0 #ce242f;
    background:none;
}
/*****************************************
      avatar
 ****************************************/
img.avatar{
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    float: left;
    width:45px;
    height:45px;
    margin-right:15px;
}

form .avatar {
    position:relative;
    overflow:hidden;
    min-height:190px;
    margin: 20px auto 20px;
    width:160px;
}
.avatar .file-preview{
    position:absolute;
    z-index:0;
    margin:0;
    padding:0;
    width:auto;
    border:none;
}
.avatar .file-preview-frame{
    margin:0;
    padding:0;
    height:160px;
}
.avatar .file-preview-frame img{
    width:100% !important;
}
#inscription .avatar .btn{
    background-color:inherit;
    font-size:0;
}
.avatar  .btn-file {
    background:url(../img/bg-avatar.png) center center no-repeat;
    background-size:cover;
    background-color:#FFFFFF;
    border: none;
    box-shadow: none;
    float: none !important;
    left: inherit;
    margin: 0 auto !important;
    overflow: hidden;
    padding: 0 !important;
    position: inherit;
    width: 160px;
    height:160px;
}
#inscription .avatar .file-avatar{
    width:160px;
    height:160px;
    z-index:22;
    top:0;
    left:0;
    background:red;
    padding:0;
    position:absolute
}
.avatar .file-thumbnail-footer, .avatar .file-preview .fileinput-remove{
    display: none !important;
}
.avatar .file-preview-frame{
    border: none;
    box-shadow: none;
}
.avatar .glyphicon {
    position: absolute;
    top: inherit;
    bottom: 0;
    color:#ce242f;
}
.avatar .glyphicon.glyphicon-folder-open {
    left:0;
}
#inscription .avatar button.fileinput-remove{
    border: none;
    bottom: 0;
    box-shadow: none;
    color: #fff;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    width: 17px;
    z-index:9999;
    background:none;
}
.avatar .glyphicon.glyphicon-trash {
    right:0;
    z-index:999;
}
#inscription .pager.wizard{
    margin: 0 auto;
    max-width: 652px;
    padding: 2.5%;
}
#inscription .pager li > a, 	#inscription .pager li a:active {
    background-color: rgba(206, 36, 47, 1);
    color: #fff;
    display: block;
    height: 36px;
    letter-spacing: 0.5px;
    line-height: 36px;
    margin: 10px;
    padding: 0 2rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius:0;
    border:none;
}
#inscription .pager li > a:hover {
    background-color: rgba(206, 36, 47, 0.7);
}
#inscription .pager li.disabled > a, #inscription .pager li.disabled > a:hover {
    background-color: rgba(238, 238, 238, 1);
    color: #aaa;
}
/* Structure page loading
=========================================== */
.loadingP {
    background:#eaebee;
    text-align:center;
    overflow:hidden;
}
#content .panel{
    overflow:hidden;
    margin:0;
    border-radius:0;
    background:#eaebee;

}
.loadingP .loadingImg{
    margin:15px auto 15px;
    display:block;
}
/* Structure home
================================================== */
.info-session{
    margin: 0 auto;
    max-width: 996px;
    padding:13px 0;
}

.home .icone-custom{
    position: absolute;
}
.icone-custom .txt{
    background: #f2f3f4;
    border: 1px solid #cfcccc;
    width: 120px;
    padding: 5px 10px;
    font-family: 'robotobold';
    color: #464646;
    display: block;
    margin-left: -30px;
    margin-top: 25px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    -webkit-transition-property: -webkit-transform, top, opacity;
    -moz-transition-property: -moz-transform, top, opacity;
    -o-transition-property: -o-transform, top, opacity;
    z-index: 999;
    position: relative;
}
.icone-custom:hover .txt{
    opacity: 1;
    filter: alpha(opacity=100);
}
.home .icone-custom.red{
    left: 48%;
    top: 43%;
}
.home .icone-custom.blue{
    left: 76.5%;
    top: 39%;
}
/* Structure icons vue
================================================== */
.icone-custom a{
    display: block;
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: rgba(238,238,238,0.8);
    border-radius: 30px;
    vertical-align: middle;
    text-align: center;
    border: 2px solid #ffffff;
    -webkit-box-shadow: 0px 3px 2px 0px rgba(41,41,41,1);
    -moz-box-shadow: 0px 3px 2px 0px rgba(41,41,41,1);
    box-shadow: 0px 3px 2px 0px rgba(41,41,41,1);
}
.icone-custom a:hover,
.icone-custom a:active,
.icone-custom a:focus{
    background-color: rgba(255,255,255,0.3);
}
.icone-custom img{
    vertical-align: middle;
    text-align: center;
    height: 25px;
    width: 25px;
    margin: 15px auto;

}

/***********************************************
                        Menu stand
***********************************************/

.menu-stand{
    background: white;
}
nav{
    background:none;
    box-shadow: none;
    height:100% !important;
    line-height:inherit !important;
}
.menu-stand nav {
    margin:0 auto;
    max-width:630px;/*759px, 567px*/
}
.menu-stand nav li{
    display: table-caption;
    padding-bottom: 13px;
    position: relative;
    text-align: center;
    width: 56px;
    margin-right:8px;
}
.menu-stand nav li{
    background-color:inherit !important;
}
.menu-stand nav li a{
    width:54px;
    text-align:center;
    display:table-cell;
    vertical-align:bottom;
    height:86px;
    font-size:10px;
    padding:0;
    position:relative;
    outline-style:none;
    color:#FFFFFFF !important;
    cursor: pointer;
}
.menu-stand nav li a:hover, .menu-stand nav li a:focus{
    color:#FFFFFF;
    text-decoration:none;
}
.menu-stand nav li.active:before, .menu-stand nav li:hover:before{
    display: block;
    color:#FFFFFF;
    content:"\e253";
    font-size:20px;
    position:absolute;
    bottom:-4px;
    left:15px;
}
.menu-stand.top nav li.active:before, .menu-stand.top nav li:hover:before{
    bottom:-5px;
}
.menu-stand nav li a span{
    display: block;
    position:absolute;
    bottom:9px;
}
.icone-custom i.fa ,
.menu-stand nav li a span i{
    margin:9px 0;
}
.menu-stand nav li a span.icon{
    background-color: rgba(238, 238, 238, 0.8);
    border: 2px solid #ffffff;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    display: block;
    position:absolute;
    top:7px;
    height: 50px;
    width: 50px;
    -webkit-box-shadow: 0 3px 2px 0 rgba(41, 41, 41, 1);
    -moz-box-shadow: 0 3px 2px 0 rgba(41, 41, 41, 1);
    box-shadow: 0 3px 2px 0 rgba(41, 41, 41, 1);
}
.menu-stand nav li.active a span.icon, .menu-stand nav li a:hover span.icon{
    background-color: rgba(238, 238, 238, 0);
}
#vue-aerienne .icone-custom a {

    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 60px;
}

.skipVideo {
    left: 100px;
    top: 30px;
}

.menu-stand nav li:hover i,
.menu-stand nav li.active i{
    color: #FFFFFF !important;
}

.profil-condidat #page-content{
    height: inherit !important;
}

i.fa-users{
    color: #f39c12;
}
i.fa-comment{
    color: #c0392b;
}
i.fa-info{
    color: #266929;
}
i.fa-inbox{
    color: #34495e;
}
i.fa-check-square-o{
    color: #e74c3c;
}
i.fa-align-justify{
    color: #8e44ad;
}
i.fa-eye{
    color: #2980b9;
}
i.fa-calendar{
    color: #282828;
}
i.fa-file-image-o{
    color: #ec008c;
}
i.fa-envelope{
    color: #3498db;
}
i.fa-book{
    color: #27ae60;
}
i.fa-cloud-upload{
    color: #27ae60;
}
i.fa-picture-o{
    color: #088a3f;
}
i.fa-video-camera{
    color: #b3081b;
}

.icone-custom a:hover i{
    color: #FFFFFF !important;
}
i.fa-newspaper-o{
    color: #095383;
}
i.fa-cube {
    color: #1275b8;
    font-size: 27px;
}
.allProductsLink, .allDocumentsLink {
    font-size: 33px;
    color: #8a8a8a;
}
.allProductsLink:hover, .allProductsLink.active, .allDocumentsLink:hover, .allDocumentsLink.active{
    color: #1275b8;
}
#modal-product-apercu .modal-body {
    height: 90%;
}

#modal-product-apercu {
    z-index: 1000 !important;
}

/* Media querys
================================================== */

@media only screen and (max-width: 1026px) {
    .langContainer {
        /*margin-left: 250px !important;*/
    }
    header .logo {
        margin: 0 0 0 8px;
        width: 100%;
    }
    header .logo img {
        /*width:100%;*/
    }
    header .accroche, header.connecter .accroche {
        margin: 0 auto;
        text-align: center;
        width: 33%;
        font-size:15px;
    }
    header .accroche, header.connecter .accroche span {
        font-size:15px;
    }
    header .connexion {
        margin:11px 0 0;
        width:100%;
    }
    header  .connexion .dropdown a#drop4{
        float:right;
        text-indent:-9999px;
        position:relative;
        width: 20px;
    }
    header  .connexion .dropdown a span.caret{
        position:absolute;
        left:0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #7e7f80;
        margin-left: -6px;
    }
    #modal-sign-in .pass-forgotten {
        padding: 14px 10px 14px;
    }
    .menu {
        top: -44px;
        width: 60%;
        right: 0;
    }
    .btn-plus {
        background: rgba(0, 0, 0, 0) url("../img/btn-plus.png") no-repeat scroll 0 0;
        float: right;
        height: 45px;
        line-height: 36px;
        width: 45px;
        background-size:100% 100%;
    }
    .btn-plus a {
        height: 45px;
        line-height: 48px;
        width: 45px;
    }
    .second-menu{
        overflow:hidden;
        display:none;
        /*        position: absolute;
                right: 44px;*/
    }
    .info-session {
        padding: 13px 10px;
    }
    .second-menu ul {
        float: right;
        margin: 6px 0 0;
    }
    .second-menu ul li {
        float: left;
        margin: 0 10px;
    }

    ./*modal-dialog {
        width: 612px;
    }*/
    .menu-stand nav {
        /*        max-width:697px;*/
    }
    .menu-stand nav li{
        /*margin-right:1%;*/
    }
}
@media only screen and (max-width: 995px) {
    #content {
        max-width: inherit;
        width:100%;
        background-size:100% 100%;
    }
    .menu {
        right: 0;
        z-index:1;
    }
    .sliderG{
        width: 50%;
    }
    .sponsor{
        width: 74%;
    }
}
@media screen and (min-width: 768px) {
    #modal-sign-in .modal-dialog {
        width: 460px;
    }
}
@media screen and (min-width: 760px) and (max-width: 800px) {
    .sliderG {
        padding: 0 14px;
    }
    .sliderG .bx-wrapper {
        margin: 0 0 0 21px !important;
    }
    .tchat .icon-tchat{
        margin:18px 0 0 13px;
        padding:0 0 0 53px;
    }

}

@media screen and (max-width: 640px) {
    footer .content li {
        float: right;
    }
    footer .content li:first-child {
        float: left;
    }
    footer .content li:last-child {
        display: block;
        width: 100%;
        text-align: center;
        margin: 10px 0 0;
    }
    footer .content li a {
        display: inline-block;
        margin: 0 0px 0px 0px;
        top: 4px;
    }
    #poweredBy a img {
        height: 40px !important;
        margin: 13px auto !important;
    }
    #organisedBy a {
        top: 0px !important;
    }
    .logo-footer {
        height: 60px !important;
        margin: 5px 0px 0px 20px !important;
    }
    .organisedByLabel ,.poweredByLabel {
        display: none;
    }
}

@media only screen and (max-width : 640px) {
    .headerTop {
        text-align: center;
    }
    header .logo {
        float: none;
        margin: 10px auto 15px;
        display: inline-block;
    }
    header .accroche {
        float: none;
        margin: 0 auto;
        padding:0 0 15px;
    }
    .inscription, .activation {
        padding: 0 20px 0 20px;
        width: 100%;
    }
    #inscription input, #activation input, #inscription .ui-multiselect, #activation .ui-multiselect  {
        width: 100% !important;
        padding:0;
    }
    .wizard > .content > .body {
        width: 100% !important;
    }
    footer .content {
        padding: 0 10px;
    }
    footer .content li {
        display: inline-block;
        font-family: 'Roboto', Arial;
        color: #ffffff;
        font-weight: 400;
        float: right;
        line-height: 60px;
        font-size: 13px;
    }
    footer .content li:first-child {
        float: left;
    }
    footer .content li:last-child {
        display: block;
        width: 100%;
        text-align: center;
        margin: 10px 0 0;
    }
    footer .content li a {
        display: inline-block;
        margin: 0 0px 10px 5px;
        top: 0px;
    }
    /*****************************************
            form validation
     ****************************************/
    form label.error {
        bottom: -20px;
        left: 0 !important;
        margin-left:13px !important;
    }
    form input.error {
        border-bottom: 1px solid #ce242f;
        box-shadow: 0 1px 0 0 #ce242f;
        background:none;
    }
}
@media screen and (min-width: 200px) and (max-width: 360px) {
    .headerTop {
        text-align: center;
    }
    header .logo {
        float: none;
        margin: 10px auto 15px;
        display: inline-block;
    }
    header .accroche {
        float: none;
        margin: 0 auto;
        padding:0 0 15px;
        font-size: 15px;
    }
    header .accroche span {
        font-size: 15px;
    }
    .inscription, .activation {
        width: 100%;
        padding: 0 10px;
    }
    #inscription input, #activation input, #inscription .ui-multiselect, #activation .ui-multiselect  {
        width: 100% !important;
        padding: 0;
    }
    .wizard > .content > .body {
        width: 100% !important;
    }
    footer .content {
        padding: 0 20px !important;
    }
    .logo-footer {
        height: 60px !important;
        margin: 5px 0px 0px 0px !important;
    }
    /*footer .content li {
        display: inline-block;
        font-family: 'Roboto', Arial;
        color: #ffffff;
        font-weight: 400;
        float: left;
        line-height: 60px;
        font-size: 13px;
    }*/
    footer .content li:first-child {
        float: left;
    }
    footer .content li:last-child {
        display: block;
        width: 100%;
        text-align: center;
        margin: 10px 0 0;
    }
    footer .content li a {
        display: inline-block;
        margin: 0 0px 10px 5px;
        top: 14px;
    }
    /*****************************************
            form validation
     ****************************************/
    form label.error {
        bottom: -20px;
        left: 0 !important;
        margin-left:13px !important;
    }
    form input.error {
        border-bottom: 1px solid #ce242f;
        box-shadow: 0 1px 0 0 #ce242f;
        background:none;
    }
    #inscription .file-field {
        text-align:center;
    }
    #inscription .btn.file, #activation .btn.file {
        float: none;
        margin-top:10px;
    }
}
.main-menu.open .no-conneted{
    margin-top: 32px;
}
.candidat-avatar{width: 41px;height: 41px}
.modal-loading {
    display:    none;
    position:   fixed;
    z-index:    10000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background-color: rgba( 255, 255, 255, .8 );
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal-loading {
    display: block;
}
.modal-loading .preloader-wrapper {
    display: block;
    float: none;
    height: 48px;
    margin: 10% auto !important;
    position: relative;
    width: 48px;
}
.modal-loading-video {
    display:    none;
    position:   fixed;
    z-index:    10000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background-color: rgba( 255, 255, 255, 0 );
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Structure home
================================================== */
.info-session{
    margin: 0 auto;
    max-width: 996px;
    padding:13px 0;
}
.home .icone-custom{
    position: absolute;
}
.home .icone-custom .txt{
    background: #f2f3f4;
    border: 1px solid #cfcccc;
    width: 140px;
    padding: 5px 2px;
    font-family: 'robotobold';
    color: #464646;
    display: block;
    margin-left: -39px;
    margin-top: 15px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    -webkit-transition-property: -webkit-transform, top, opacity;
    -moz-transition-property: -moz-transform, top, opacity;
    -o-transition-property: -o-transform, top, opacity;
}
.home .main-menu li .txt{
    margin-top: 0px;
    text-align: center;
    margin-left: -60px;
}
.home .second-menu li .txt{
    margin-top: -5px;
}
.home .icone-custom:hover .txt, .home .main-menu li:hover .txt, .home .second-menu li:hover .txt{
    opacity: 1;
    filter: alpha(opacity=100);
}
.home .icone-custom.red{
    left: 48%;
    top: 59%;
}
.home .icone-custom.blue{
    left: 76.5%;
    top: 39%;
}
.home .icone-custom.violet{
    left: 54%;
    top: 51.5%;
}

@media screen and (max-width: 922px){
	.home .icone-custom.violet{
	    left: 60%;
	    top: 51.5%;
	}	
}

.menu-stand.top {
    position: absolute;
    z-index: 19;
    top: 0;
    left: 0px;
    border-top: none;
    background-color: rgba(85, 85, 85, 0.74);
    height: 100px;
    width: 100%;
}

.content-nav-top {
    background: #FFFFFF;
    width: 100%;
    margin-top: 100px;
    float: left;
    height: 397px;
    padding: 0px;
}

.bloc-navigation .liste-title {
    font-size: 18px;
    margin: 16px 4px;
    display: block;
}

.bloc-navigation {
    margin: 11px 6px;
}

.menu-stand.top nav li {
    margin: 0px 5px;
}

/* Structure icons vue
================================================== */
.icone-custom a{
    display: block;
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: rgba(238,238,238,0.8);
    border-radius: 30px;
    vertical-align: middle;
    text-align: center;
    border: 2px solid #ffffff;
    -webkit-box-shadow: 0px 3px 2px 0px rgba(41,41,41,1);
    -moz-box-shadow: 0px 3px 2px 0px rgba(41,41,41,1);
    box-shadow: 0px 3px 2px 0px rgba(41,41,41,1);
}
.icone-custom a:hover,
.icone-custom a:active,
.icone-custom a:focus{
    background-color: rgba(255,255,255,0.3);
}
.icone-custom img{
    vertical-align: middle;
    text-align: center;
    height: 25px;
    width: 25px;
    margin: 15px auto;

}
header .accroche span.simple {
    color: #555555;
}
#content_video_transition{
    /*height: 100%;
    width: 100%;*/
    width: 100%;
    height: 498px;
}

#modal-sondages-details .row {
    margin: 0 0 6px !important;
}

#modal-sondages-details label, #modal-sondages-details p {
    font-family: 'roboto';
    font-size: 12px;
    color: #707070;
    opacity: 1;
    filter: alpha(opacity=100);
}

#modal-sondages-details .row .row {
    margin: 0 !important;
}

#modal-sondages-details p {
    margin-bottom: 10px !important;
}

#modal-sondages-details [type="radio"]:not(:checked) + label, #modal-sondages-details [type="radio"]:checked + label {
    height: 21px;
    font-weight: normal;
}

#modal-sondages-details .errorValidateField {
    color: red;
    font-size: 12px;
    font-weight: normal;
}

#modal-message .stand-content-messages {
    padding: 15px 20px;
}

#modal-message  form input {
    width: 90%;
}

#modal-message label {
    width: 10%;
    display: inline;
    float: left;
    position: relative;
    top: inherit;
    left: inherit;
    transform: none;
    line-height: 43px;
    font-size: 12px;
    color: #707070;
    font-family: 'Roboto', Arial;
    font-weight: normal;
}

#modal-message form input.btn {
    width: 130px;
    height: 36px;
}

#modal-message form textarea {
    width: 100%;
    max-height: 70px !important;
}

#modal-message .disconnected-status form textarea {
    width: 100%;
    max-height: 50px !important;
}

#modal-message .disconnected-status .stand-content-messages{
    padding: 0px 20px;
}

.icon-message2 {
    background: url(../img/icons/icon-message2.png) 0 0 no-repeat;
    height: 23px;
    width: 28px;
}

.changePassword label{
    line-height: 20px !important;
}
#content_search .scroll-pane{
    height: 317px;
}
#content_search .scroll-pane .jspContainer{
    width: 99% !important;
}
footer .condition{
    font-family: 'Robotobold', Arial;
    font-size: 15px;
    display: inline-block !important;
    margin: 0 !important;
    top: 0 !important;
    color: #363636;
}
footer .condition:hover{
    text-decoration: underline;
}
.modal-loading-video .skip-v{
    top: 130px;
}

#apercu .viewProductScrollStyle {
    width: 61% !important;
    float: left;
}

#apercu .viewProductDocumentContainer {
    width: 96% !important;
    float: left;
    overflow: hidden !important;
}

#apercu .viewMediaProductScrollStyle {
    width: 39% !important;
}
#playerVideoStand_logo {
    display: none;
}
.product-container{
    padding: 0px 0px 0px 5px !important;
}
.product-container .logo{
    margin: 5px 0 10px;
}
.product-container .logo img{
    float: left;
}
.modal-body .product-container h3{
    color: #707070;
    font-family: 'robotobold';
    margin: 0;
}
.product-container ul{
    margin: 0px 0px 0px -14px;
    width: 174px;
}
.product-container li{
    color: #707070;
    font-size: 14px;
}
.product-container li span.label{
    color: #707070;
    font-size: 14px;

}

.product-container .info-p {
    display: table-row;
    vertical-align: middle;

}
.product-container .info-p .cel-info, .product-container .info-p .cel-btn{
    display: table-cell;
    float: none !important;
    vertical-align: middle;
}
.product-container .info-p .cel-info{
    border-right: 1px solid #cdcece;
    padding: 0 20px 20px;
}
.product-container .cel-btn{
    padding: 0 15px;
}
.product-container .cel-btn .btn{
    margin-top: 14px;
    width: 185px !important;
}
.product-container.scroll-pane, .product-container .jspPane, .product-container .jspContainer{
    width: auto !important;
    min-width: 596px;

    /* Structure page info stand offres de l'emploi
  ================================================== */
   .product-container li span.label{
        width: 240px;
    }
   .product-container ul {
        margin: 17px 0 0;
        width: 368px;
    }
   .product-container .cel-btn .btn {
        width: 153px !important;
    }

    padding-right: 10px;
}

#content_products .page-content-wrapper-document{
     padding-right: 10px;
     background-color: white;
 }
#content_products .documents {
     margin-bottom: 0px;
 }
#content_products .documents .scroll-pane {
     height: 456px;
 }
#content_products {
     background-color: transparent;
     height: 497px;
 }
#content_products .documents  .visuelG h3{
     font-family: 'robotobold', arial;
     font-size: 18px;

 }
 
#content_products .documents .btn{
     border: none !important;
     color: #f2f3f4;

     text-transform:none !important;
 }
#content_products .documents .btn.sup{
     display:block;
     float:none;
}
 
#content_products .documents .btn i{
     color: #f2f3f4;
     font-size: 11px;

     line-height:20px;
 }
#content_products .documents .btn.blue{
     background-color:#2980b9 !important;
     line-height:22px;
 }
#content_products .documents .btn.green{
     background-color:#27ae60 !important;
     line-height:22px;
}

#content_products .ad-image-wrapper{
     height: 380px;
 }

#ressourceContainer {
    height: 260px;
    /*width: 450px;*/
}
#content_products .listing{
    width: 100% !important;
    height: 96%;
    top:0;
}
#content_products .listing li {
    overflow:hidden;
    padding:0px;
    text-align:center;
}
#content_products .listing li a{
    font-size:11px;
    color:#363636;    
    line-height: 18px;
}
#content_products .listing li div{
    float:left;
}
#content_products .listing li div.favoris{
    padding: 10px 0 0 8px;
    display:block;

    width:0;
}
#content_products .listing li:hover div.favoris{
    width:25px;
    display:block;
    text-align:center;
}
#content_products .listing li div.favoris li{
    padding:0 0 4px;
}

#content_products .infos{
    width:100%;
}
#content_products .infos li{
    padding:0 9px 7px;
    margin:0;

    position:relative;
}
#content_products .infos .document-name {
    height:28px;
    line-height:18px;

    padding: 0;
}
#content_products .infos .document-name i{
    position:absolute;
    left:0;

}

#content_products .documents .listing .ul-docs > li{
    margin: 0 10px;
    border-bottom: 1px solid #d8d9da;
    padding: 20px 0 10px;
}
#content_products .empty{    
 text-align: center;
    margin-top: 20px;
}

.close-view {
    position: absolute;
    top: -1px;
    right: 0px;
    font-size: 30px;
    cursor: pointer;
}

@media screen and (min-width: 1427px){
	.modal-loading-video .skip-v{
	    left: 27%;
	}	
}
@media screen and (min-width: 1078px) and (max-width: 1427px) {
	.modal-loading-video .skip-v{
	    left: 21%;
	}	
}
@media screen and (min-width: 1024px) and (max-width: 1077px){
	.modal-loading-video .skip-v{
	    left: 13%;
	}	
    #content_search_stand .scroll-pane, #content_search_product .scroll-pane, #content_search_visitor .scroll-pane {
        height: 315px !important;
    }
}

@media only screen and (max-width: 1024px) {
    header .connexion li > a {
        font-size: 13px;
    }
    .listing.scroll-pane, .listing .jspPane, .listing .jspContainer{
        min-width: inherit !important;
    }
    .listing.scroll-pane,
    #content_products .documents .listing.scroll-pane,
    #content_products .documents .listing .jspContainer,
    #content_products .documents .listing .jspPane{
        width:200px !important;
        min-width: inherit !important;
    }
	.modal-loading-video .skip-v{
	    left: 124px;
	}
}
@media screen and (min-width: 640px) and (max-width: 980px) {
    .menu-stand nav {
        max-width:567px;/*636px*/
        position: relative;
    }
    .menu-stand nav li {
        margin-right: 8px !important;
    }
}


/* video Home
================================================== */
#videoHome{
    position: absolute; 
    z-index: 1;
    width:100%;
    height:100%;
}

@media only screen and (max-width: 1023px) {

    #videoHome{
        position: absolute;
        z-index: 1;
        width:1100px !important;
    }
}

.info-session span{
    font-size: 22px;
}

.info-session{
    padding:13px 10px 0px;
}
/* Cookie
================================================== */
/*.cookieContainer{
  position: fixed;
  z-index: 99999;
  bottom: 0;
  width: 100%;
}*/
.video_tran, .video_tran_stand, 
#content_video_transition_from_hall_to_A, 
#content_video_transition_from_hall_to_B{
    width: 995px;
    height: 498px;
}
.video_tran, .video_tran_stand, 
#content_video_transition_from_hall_to_A, 
#content_video_transition_from_hall_to_B{
    width: 995px;
    height: 498px;
}
.video_transition_from_hall_to{
    position: relative;
    left: 29px;
}
.video_tran_stand{
    left: 30px;
    position: absolute;
	
}
#page-content.video-player{overflow: hidden;}

#galleryVideo .playerVideoStand_wrapper{
    height: 200px !important;
}

/* Partager
================================================== */
.partage{
    padding: 7px 10px;
    background-color: rgba(213, 213, 210, 0.9);
    position: absolute;
    right: 0px;
    display: none;
}
.partage li{
    float: left;
}
.partage li a{
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
}
.partage li a i{
    color: #1275b8;
}
.partage li a i.icon-twitter{
    background: none;
    width: inherit;
    height: inherit;
    text-indent: inherit;
}

.partage li a:hover i, .partage li a i:hover{
    color: #FFFFFF;
}

#data-table-filters .dropdown-content{
    max-height: 200px;
}

.visitCardsFilter {
    margin-right: -5px !important;
}
#page-content .page-content-wrapper {
    padding-top: 0px !important
}

@media only screen and (min-width: 992px) {
	#content_search_stand .scroll-pane, #content_search_product .scroll-pane, #content_search_visitor .scroll-pane{
		height : 275px;
	}
     #visitCardsList .scroll-pane {
        height: 270px;
     }
}
@media only screen and (max-width: 991px)  {
	#content_search_stand .scroll-pane, #content_search_visitor .scroll-pane, #visitCardsList .scroll-pane {
		height : 290px;
	}
    #content_search_product .scroll-pane {
        height: 287px;
    }
    #visitCardsList .scroll-pane {
        height : 200px;
    }
}
#favories .scroll-pane, .inboxCantainer .scroll-pane{
	height: 83%;
}
.logo img {
    height: 54px;
}
.logo-footer {
    height: 60px;    
    margin: 0px;
}
.sponsor img{
    height: 36px
}
.digiNameLogo {
    color : #70c08d !important;
    font-weight: 400;
    font-size: 17px;
    font-family: 'Roboto', Arial;
    font-style: normal;
}
.enter-build {
    margin: 8px 0px 0px 3px !important;
    font-size: 22px;
    color: #1275b8;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.receptionButton a:hover{
    background-color: #1275b8;    
}
.infoStandButton {
    left: 20%;
    top: 79%;
}
.infoStandButton a:hover{
    background-color: #1275b8;    
}
.enter-build-container {
    width: 40px !important;
    height: 40px !important;
}
.enter-info-stand,.enter-build-conf,.enter-build-digifact,.enter-build-digievent{
    margin: 8px 0px 0px !important;
    font-size: 22px;
    color: #1275b8;
}
.enter-build-container .txt {
    margin-left: -50px !important;
}
.confButton {
    left: 46.5% !important;
    top: 33% !important;
}
.digifactButton {
    top: 33% !important;
    left: 60% !important;
}
.digieventButton {
    top: 33% !important;
    left: 74% !important;
}
.enter-build-conf {
    margin: 8px 0px 0px !important;
    color: #755843;    
}
.enter-build-digifact {
    margin: 8px 0px 0px !important;
    color: #F7645D;    
}
.enter-build-digievent {
    margin: 8px 0px 0px !important;
    color: #055A61;    
}
.confButton a:hover{
    background-color: #755843;    
}
.digifactButton a:hover{
    background-color: #F7645D;    
}
.digieventButton a:hover{
    background-color: #055A61;    
}
.modal-loading-video .enter-info-stand {
    margin: 10px 0px 0px !important;
    font-size: 18px !important;
}
.modal-loading-video a:hover {
    background-color: #1275b8 !important;
}
#content_video_transition_to_conference,#content_video_transition_from_hall {
    width: 100%;
    height: 498px;   
}
.multimedia-button a:hover {
    background-color: #F7645D;
}
.press-button a:hover {
    background-color: #095383;
}
.fa-university {
    font-size: 28px !important;
}
.agrandir-press,.agrandir-video,.agrandir-photo,.agrandir-affiche,.agrandir-document-stand {
    opacity: 1;
    width: 18px;
    height: 18px;
    float: right;
    margin: inherit;
    top: 10px;
    right: 42px;
    position: absolute;
    z-index: 9999;
    font-size: 14px;
}
.loading-video{
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.loading-video img{
    position: absolute;
    top: 46%;
    left: 47%;
}
.icon-search {
    font-size: 26px;
    color: #8a8a8a;
}
.search-container {
    margin: 0px 20px 0 3px;
    position: relative;
    top: -23px;
    right: 43px;
    width: 30px;
}
.search-container.connected {
    margin: 0px 20px 0 3px;
    position: relative;
    top: 1px;
    right: 3px;
    width: 20px;
}
.search-modal-style{
    position: absolute;
    top: 3px;
    font-size: 16px;
    left: 50px;
}

/*************** Product ********************/
#modal-product-apercu .modal-body{
	height: 87%;
}
#modal-product-apercu .scroll-pane{
	height: 100%;
}
#modal-product-apercu .modal-body #info-produit-apercu{
	height: 100%;
}
#modal-product-apercu #apercu{
	height: 100%;
}
#modal-product-apercu  #productDescription {
    color: #707070;
    font-family: "roboto";
    font-size: 12px;
    padding-bottom: 6px;
    padding-right: 10px;
}
/*************** End product ********************/

.flagContainer img{
    height: 16px;
    float: left;
    margin-right: 10px;
}

.sessionContainer {
    float: left;
    margin-right: 10px;
}

.langContainer {
    margin-left: 10px;
    width: 200px;   
}

.listVisitorsCustom {
    font-size: 22px;
    color: #AFB42B;
}

.hideUsersLabel {
    visibility: hidden;
    height: 30px;
}

.listVisitorsLink a {
    text-indent: inherit !important;
}

#modal-visitor-apercu .modal-content{
    min-height: 244px !important;
    height: inherit !important;
}

#info-visitor-apercu #apercu {
    padding: 24px 16px 8px 16px!important;
}

#info-visitor-apercu .logo {
    float: right;
    height: 80px;
    width: 80px;
    margin: 0px 16px 0px 0px;
}

#info-visitor-apercu .addVisitorToFavorite {
    width: 100%;
    margin-top: 15px;
}

#info-visitor-apercu img {
    height: 80px;
    width: 80px;
}

.visitorFullName {
    font-size: 24px;    
}

#info-visitor-apercu .intro-offre {
    font-size: 16px;    
}

.visitorHeader {
   min-height: 90px; 
}

#info-visitor-apercu .intro-offre-detail i{
    font-size: 16px;   
    color: #1275b8 ; 
    margin-right: 10px;
}

.intro-offre-detail {
    margin-bottom: 5px;
}

#info-visitor-apercu {
    background: #f6f6f6;
    border: 1px solid;
    border-color: #d3d3d3;
}

#cvContentDoc {
    padding: 20px 5px 0px 5px !important;
}

.myCVContainers .participant-visit-card{
    background: rgba(12, 8, 14, 0.04);
}
.myCVContainers .exibitor-visit-card{
    background: rgba(12, 8, 14, 0.35);
}

.cardVisitContainer {
    margin: 10px 0px;
    padding: 0px;
}

.cardVisitContainer .viewVisitorGeneralInfo{
    border: 1px solid;
    padding: 8px 16px 8px 16px;
    margin: 0px 10px;
    height: 100%;
}

.cardVisitContainer .visitorHeader{
    min-height: 90px;
    width: 100%;
}

.cardVisitContainer .logo {
    float: right;
    height: 80px;
    width: 80px;
    margin: 0px;
}

.cardVisitContainer .visitorFullName {
    font-size: 24px;
}

.cardVisitContainer .intro-offre {
    font-size: 16px;
}

.cardVisitContainer .intro-offre-detail {
    margin-bottom: 5px;
}

.cardVisitContainer .intro-offre-detail i {
    font-size: 16px;
    color: #1275b8;
    margin-right: 10px;
}

.cardVisitContainer img {
    width: auto;
    height:auto;
    max-width: 80px;
    max-height: 80px;
    float: right;
}

.cardVisitContainer .visitorDetails{
    width: 100%;
}

.myCVContainers .visitCardList .empty{
    text-align: center;
    margin-top: 20px;
}

.odd {
    background: #f7f7f7 !important;
}

.notYetSignUpLabel {
    margin: 0px 5px;
}
#poweredBy a img{
	height: 40px;
    margin: 0 auto;
}

#organisedBy a{
	top: 3px;
    margin: 0 auto;
    width: 100%;
}
#poweredBy a{
    margin: 0 auto;
    width: 100%;
}
#back-to-stand{
    padding-top: 8px;
}
#info-stand-product-list.info-stand-product ul{
    width: 100%;
}

#formSendReponse #sendResponseMessages{
    margin: 0px;
    width: 100%;
}
#userInbox #sendResponseButton{
    padding: 10px 30px;
}
/**
* Traduction Arabe 
*
*/
.customArabicStyle input, .customArabicStyle textarea{
	direction : rtl;
}

.customArabicStyle .input-field label{
    float: right !important;
    direction: rtl;
}
.customArabicStyle h2{
    text-align: right;
    width: 92%;
}

/**
* Cookie Container 
*
*/
.customArabicStyle .cookieContainer{
    direction: rtl;
}

/**
* Modal : login
*
*/
.customArabicStyle .modal-content .modal-title{
    float: right;
    margin-bottom: 15px;
}
.customArabicStyle .modal{
    direction: rtl;
}
.customArabicStyle .modal .modal-content .modal-body .form-group-element .row > div{
	float: right;
    padding-right: 10px !important;
}
.customArabicStyle .modal .modal-content .modal-body .form-group-element .row > div > label{
    float: right;
}
.customArabicStyle .modal .modal-content .modal-body .form-group-element .row > div > input{    
	padding-right: 7px !important;
}
.customArabicStyle .modal .modal-content .inscrit{
    text-align: right !important;
}
.customArabicStyle .modal .modal-content .close{
    float: left;
}
.customArabicStyle .modal .modal-content .row-connexion > div{
	float: right;
}
.customArabicStyle .modal .modal-content .row-connexion .pass-forgotten{
    width: 100%;
    padding-right: 10px !important;
}
/**
* main-menu
*
*/
.customArabicStyle .main-menu.open li a span{
    float: right;
    margin: 0 12px;
}
.customArabicStyle .main-menu.open li a div{
    float: right;
}
.customArabicStyle .main-menu.open .icon-nav{
    left: 6px !important;
    top: 5px;
    right: inherit;
}
.customArabicStyle .main-menu .profil .avatar img{
    float: right;
    margin: 0px 0px 0px 12px;
}
.customArabicStyle .main-menu .profil .avatar p{
    float: right;
    margin-top: 15px;
    text-align: right;
}
/**
* zone-publication - tchat
*
*/
.customArabicStyle .zone-pubG .zone-pub > div{
    float: right;
}
.customArabicStyle .sliderG h3{
    float: right !important;
}
/**
* footer
*
*/
.customArabicStyle footer{
    direction: rtl;
    height: 66px;
}
.customArabicStyle footer .content li:last-child{
    margin: 0px;
    padding: 3px 0px;
}
.customArabicStyle footer .content li{
    float: right;
}
.customArabicStyle footer .content li:last-child{
    float: left;
}
.customArabicStyle footer .content li a{
    margin: 0px 12px 0 60px; 
}
.customArabicStyle #poweredBy span, .customArabicStyle footer .content li a{
    top: 0px;
}
.customArabicStyle #poweredBy a{
	top: 16px;
}
/**
* logout popup
*
*/
.customArabicStyle #loged-candidat #menu1 li a{
    text-align: right;
}

/**
* full calendar
*
*/
.customArabicStyle .fc-toolbar .fc-button-group button{
	float: right;
    margin: 0px 2px;
}

/**
* datatable
*
*/
.customArabicStyle .genericContent .content-page-header .title{
	float:right;
}
.customArabicStyle .genericContent .page-content-wrapper .data-table-filters .form-group > div{
	float:right;
}
.customArabicStyle .genericContent .page-content-wrapper .data-table-filters .input-icone i{
    right: inherit;
    left: 12px;
}
.customArabicStyle .genericContent .bloc-navigation .liste-title{
    float: right;
    margin: 12px 4px;
}
.customArabicStyle .genericContent .table.data-table tr td, .customArabicStyle .genericContent .table.data-table tr th{
    text-align: right;
    background-position : center;
}
.customArabicStyle .genericContent .table.data-table tr td:last-child{
    text-align: left;
}
.customArabicStyle .genericContent .table.data-table tr td.dataTables_empty:last-child{
    text-align: right;
}
.customArabicStyle .genericContent .table.data-table tr td:first-child .logo-company-wrapper span{
    margin-right: 10px;
}
.customArabicStyle .genericContent .dataTables_wrapper .dataTables_info{
	float: right;
}
.customArabicStyle .genericContent .dataTables_wrapper .dataTables_paginate{
	float: left;
}
.customArabicStyle #content_search_product, .customArabicStyle #content_video_rh, 
.customArabicStyle #content_search_stand, .customArabicStyle #content_search_visitor{
    direction: rtl;
}
.customArabicStyle .form-control.select-wrapper >.caret{
    left: 20px;
    right: inherit;
}
/**
* Mon compte
*
*/
 /*.customArabicStyle .mon-profil{
	direction: rtl;
}*/
.customArabicStyle .mon-profil h2{
    margin: 0px 50px;
}
.customArabicStyle .mon-profil label{
    float: right;
    direction: rtl;
}
.customArabicStyle .mon-profil p{
    float: right;
    margin: 20px;
}
.customArabicStyle .mon-profil .select-wrapper, .customArabicStyle .mon-profil input {
    width: 60%;
    float: left !important;
    padding: 0 30px 0 10px;
}
.customArabicStyle .mon-profil .send-btn{
    float: left !important;
}
/**
* Mon Profil
*
*/
.customArabicStyle #monProfil select.browser-default{
    direction: rtl;
}
.customArabicStyle #monProfil .ui-multiselect span{
    float: right;
}
.customArabicStyle #monProfil .ui-multiselect span.ui-icon{
    right: inherit;
    left: 20px;
}
.customArabicStyle #monProfil .send-btn{
    float: left !important;
}
.customArabicStyle .mon-profil select.browser-default, .customArabicStyle #monProfil .ui-multiselect{
    float: left;
}
/**
* Ma carte
*
*/
.customArabicStyle .my_profil_digievent h2{
    direction: rtl;
    text-align: center;
}
.customArabicStyle .my_profil_digievent label{
    float: right;
    direction: rtl;
}
.customArabicStyle .my_profil_digievent .save-btn{
    float: left !important;
}
.customArabicStyle .my_profil_digievent input, .customArabicStyle .my_profil_digievent textarea{
	float: left !important;
}

.customArabicStyle #myCV .editCVCandidateLogo{
    right: inherit;
    left: -36px;
}
/**
* Mes historiques du tchat
*
*/
.customArabicStyle #myChats{
    direction: rtl;
}

.customArabicStyle #myChats .select-dropdown li span{
    float: right;
    margin: 0 12px;
}
.customArabicStyle .genericContent .historique-chat .data-table-filters .form-group > div{
	float:right;
}
.customArabicStyle #myChats .form-control.select-wrapper >.caret{
    text-indent: 100000px;
}
/**
* Ma boite de reception 
*
*/
.customArabicStyle #userInbox{
    direction: rtl;
}

/**
* Mes documents
*
*/
.customArabicStyle #content_documents .documents  .visuelG h3{
    text-align: right;
}
.customArabicStyle #content_documents .infos .document-name {
	float : right;
}
.customArabicStyle #content_documents .listing li div {
	float : left;
}
.customArabicStyle #content_documents .listing li div a{
    direction: rtl;
}

/**
* Mes documents
*
*/

.customArabicStyle .favoritesContainers{
    direction: rtl;
}

/**
* Info Stand 
* 
*/

/**
* Info Stand : Modal : Documents
*
*/
.customArabicStyle #info-stand .modal button.close, 
.customArabicStyle #modal-profile-entreprise-agendaFull.modal button.close,
.customArabicStyle #modal-document-lecteur-big button.close{
    right: inherit;
    left: 15px;
}
.customArabicStyle #modal-document .info-stand-document .listing li div{
	float: left;
    padding-right: 0px;
    padding-left: 5px;
}
.customArabicStyle #modal-document .info-stand-document .listing li a{
    float: right;
}
.customArabicStyle #info-stand .modal-title i{
    float: right;
}
.customArabicStyle .agrandir-press, .customArabicStyle .agrandir-video, 
.customArabicStyle .agrandir-photo, .customArabicStyle .agrandir-affiche, 
.customArabicStyle .agrandir-document-stand{
    right: inherit;
    left: 42px;
}

/**
* Info Stand : Modal : Contacts
*
*/
.customArabicStyle #modal-contact .info-stand-contact .info-p div{
    float: right !important;
}
.customArabicStyle #modal-contact .info-stand-contact .info-p img.avatar{
    float: right;
    margin-right: 8px;
    margin-left: 15px;
}
.customArabicStyle #modal-contact .info-stand-contact .info-p div h3{
    float: right !important;
}
.customArabicStyle #modal-contact .info-stand-contact .left{
    border-right: inherit;
    border-left: 1px solid #d8d9da;
}
.customArabicStyle #modal-contact .info-stand-contact li{
    float: right;
    text-align: right;
}
.customArabicStyle #modal-contact .info-stand-contact .left li i{
    float: right;
    margin:0 15px 0 10px;
}
.customArabicStyle #modal-contact .info-stand-contact .info-p div.right a{
    margin-right: 20px;
}
.customArabicStyle #modal-affiches .info-stand-affiche .listing li div.favoris{
    float: left;
    padding: 16px 0px 0px 6px;
    margin-left: 16px;
}
.customArabicStyle .modal-body .info-stand-product h3, 
.customArabicStyle .modal-body .info-stand-product ul li, 
.customArabicStyle .modal-body .info-stand-product p{
    text-align: right;
 }
 .customArabicStyle .info-stand-product .logo img{
    float: right;
 }
.customArabicStyle #content_products .listing .infos li div {
	float: left;
    padding-right: 0px !important;
    padding-left: 5px !important;
}
.customArabicStyle #content_products .listing .infos li div a{
    float: right;
}
.customArabicStyle .modal-body .close-view{
	right: inherit;
    left: 20px;
    top: -10px;
}
.customArabicStyle #modal-send-request-product .btn.file{
	float : right;
}
.customArabicStyle #modal-send-request-product #deposer-document .messageArea .input-field label{
    left: inherit;
    right: 0.75rem;
}
.customArabicStyle #modal-message label{
    float: right;
    text-align: right;
}
.customArabicStyle #modal-message .send-btn{
    float: left !important;
}
.customArabicStyle #modal-profile-entreprise .entreprise-title > div,
.customArabicStyle #modal-profile-entreprise .entreprise-infos > div{
    float: right;
    text-align: right;
}
.customArabicStyle #modal-profile-entreprise .more-content-profile-entreprise{
    text-align: right;
}
.customArabicStyle #modal-temoignage .modal-body .avatarP{
    float: right;
}
.customArabicStyle #modal-temoignage .temoignage .avatarP img{
    float: right;
    margin-left: 15px;
    margin-right: inherit;
}
.customArabicStyle #modal-temoignage .temoignage .avatarP img{
    float: right;
    text-align: right;
}
.customArabicStyle #modal-temoignage .temoignage .more{
    text-align: left;
}
.customArabicStyle #modal-temoignage .temoignage .more-content-testimony{
    text-align: right;
}
.customArabicStyle #modal-sondage .modal-body{
    text-align: right;
}
.customArabicStyle #modal-sondages-details .modal-body{
    text-align: right;
}
.customArabicStyle #modal-sondages-details .row{
    margin: 0 25px 6px !important;
}
.customArabicStyle .info-stand-sondages li span.button{
    color: rgba(0, 0, 0, 0);
    border-right: 50px solid;
    border-left: 0px;
}
.customArabicStyle #modal-sondages-details [type="checkbox"] + label:before{
	left : 20px;
}
.customArabicStyle #modal-sondages-details .form [type="checkbox"] + label{
	padding-left : 0px;
}
.customArabicStyle #modal-sondages-details [type="radio"] + label:before, 
.customArabicStyle #modal-sondages-details [type="radio"] + label:after{
	left : 20px;
}
.customArabicStyle #modal-sondages-details [type="radio"]:not(:checked) + label, 
.customArabicStyle #modal-sondages-details [type="radio"]:checked + label{
	padding-left : 0px;
}
.customArabicStyle #modal-sondages-details .form button.btn{
	float : left;
}
.customArabicStyle #userInbox .send-btn{
    float: left !important;
    margin-left: 20px;
    padding: 10px 30px;
}
.customArabicStyle #formSendReponse #sendResponseMessages{
    margin: 0px 30px 0px 0px;
    width: 95%;
    padding: 2rem 2.5rem 1.4rem 7.3rem;
}
.customArabicStyle #content_notification{
    direction: rtl;
}
.customArabicStyle #content_notification .liste-offres-header .title{
    float: right;
}
.customArabicStyle .youHaveNoNotificationsLabel{
    text-align: right;
}
.customArabicStyle #content_notification table.data-table td .detail-notif{
    text-align:right;
}
.customArabicStyle #chatListStands{
	direction: rtl;
}
.customArabicStyle .full-screen-chat-span{
    text-align: right;
}
.customArabicStyle .titleTabBarChat .enterprises-connected{
	direction: rtl;
    right: 10px;
    text-align: right;
    width: 95%;
}
.customArabicStyle .input-text-chat{
    padding-right: 5px !important;
}
.customArabicStyle .titleTabChat {
    padding-right: 10px;
}
.customArabicStyle .coprsChat .titleTabBarChat .actions-td{
    text-align: left;
}
.customArabicStyle .senderTab .senderFullName{
    float: right;
}
.customArabicStyle .info-agenda .entreprise-infos-labels, 
.customArabicStyle .info-agenda .entreprise-infos .entreprise-infos-items,
.customArabicStyle .info-stand-agenda .entreprise-infos-labels, 
.customArabicStyle .info-stand-agenda .entreprise-infos .entreprise-infos-items{
    float: right;
}
.customArabicStyle .entreprise-infos-label{
    text-align: right;
}
.customArabicStyle .info-agenda .entreprise-infos .entreprise-infos-logo,
.customArabicStyle .info-stand-agenda  .entreprise-infos .entreprise-infos-logo{
    float: left;
}
.customArabicStyle #modal-profile-entreprise-agendaFull .modal-title i{
    float: right;
}
/*---------------------Mobile CSS---------------------*/
.la-ball-clip-rotate-multiple,
.la-ball-clip-rotate-multiple > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.la-ball-clip-rotate-multiple {
    display: block;
    font-size: 0;
    color: #047d25;
}
.la-ball-clip-rotate-multiple.la-dark {
    color: #333;
}
.la-ball-clip-rotate-multiple > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-ball-clip-rotate-multiple {
    width: 32px;
    height: 32px;
}
.la-ball-clip-rotate-multiple > div {
    position: absolute;
    top: 50%;
    left: 50%;
    background: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 100%;
    -webkit-animation: ball-clip-rotate-multiple-rotate 1s ease-in-out infinite;
       -moz-animation: ball-clip-rotate-multiple-rotate 1s ease-in-out infinite;
         -o-animation: ball-clip-rotate-multiple-rotate 1s ease-in-out infinite;
            animation: ball-clip-rotate-multiple-rotate 1s ease-in-out infinite;
}
.la-ball-clip-rotate-multiple > div:first-child {
    position: absolute;
    width: 32px;
    height: 32px;
    border-right-color: transparent;
    border-left-color: transparent;
}
.la-ball-clip-rotate-multiple > div:last-child {
    width: 16px;
    height: 16px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    -webkit-animation-duration: .5s;
       -moz-animation-duration: .5s;
         -o-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-animation-direction: reverse;
       -moz-animation-direction: reverse;
         -o-animation-direction: reverse;
            animation-direction: reverse;
}
.la-ball-clip-rotate-multiple.la-sm {
    width: 16px;
    height: 16px;
}
.la-ball-clip-rotate-multiple.la-sm > div {
    border-width: 1px;
}
.la-ball-clip-rotate-multiple.la-sm > div:first-child {
    width: 16px;
    height: 16px;
}
.la-ball-clip-rotate-multiple.la-sm > div:last-child {
    width: 8px;
    height: 8px;
}
.la-ball-clip-rotate-multiple.la-2x {
    width: 64px;
    height: 64px;
}
.la-ball-clip-rotate-multiple.la-2x > div {
    border-width: 4px;
}
.la-ball-clip-rotate-multiple.la-2x > div:first-child {
    width: 64px;
    height: 64px;
}
.la-ball-clip-rotate-multiple.la-2x > div:last-child {
    width: 32px;
    height: 32px;
}
.la-ball-clip-rotate-multiple.la-3x {
    width: 96px;
    height: 96px;
}
.la-ball-clip-rotate-multiple.la-3x > div {
    border-width: 6px;
}
.la-ball-clip-rotate-multiple.la-3x > div:first-child {
    width: 96px;
    height: 96px;
}
.la-ball-clip-rotate-multiple.la-3x > div:last-child {
    width: 48px;
    height: 48px;
}
/*
 * Animation
 */
@-webkit-keyframes ball-clip-rotate-multiple-rotate {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
                transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        -webkit-transform: translate(-50%, -50%) rotate(180deg);
                transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
                transform: translate(-50%, -50%) rotate(360deg);
    }
}
@-moz-keyframes ball-clip-rotate-multiple-rotate {
    0% {
        -moz-transform: translate(-50%, -50%) rotate(0deg);
             transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        -moz-transform: translate(-50%, -50%) rotate(180deg);
             transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
        -moz-transform: translate(-50%, -50%) rotate(360deg);
             transform: translate(-50%, -50%) rotate(360deg);
    }
}
@-o-keyframes ball-clip-rotate-multiple-rotate {
    0% {
        -o-transform: translate(-50%, -50%) rotate(0deg);
           transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        -o-transform: translate(-50%, -50%) rotate(180deg);
           transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
        -o-transform: translate(-50%, -50%) rotate(360deg);
           transform: translate(-50%, -50%) rotate(360deg);
    }
}
@keyframes ball-clip-rotate-multiple-rotate {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
           -moz-transform: translate(-50%, -50%) rotate(0deg);
             -o-transform: translate(-50%, -50%) rotate(0deg);
                transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        -webkit-transform: translate(-50%, -50%) rotate(180deg);
           -moz-transform: translate(-50%, -50%) rotate(180deg);
             -o-transform: translate(-50%, -50%) rotate(180deg);
                transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
           -moz-transform: translate(-50%, -50%) rotate(360deg);
             -o-transform: translate(-50%, -50%) rotate(360deg);
                transform: translate(-50%, -50%) rotate(360deg);
    }
}

.loaderContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /* -webkit-transform: translate(-50%,-50%); */
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.home-buttons {
    position: absolute;
    z-index: 1000;
    bottom: 20px;
    width: 100%;    
}

.menu-container .home-buttons {
    position: initial;
    margin-bottom: 40px;
    padding: 20px 0px;   
}

.register-container {
    width: 48%;
}

.register-btn {
    border: none;
    border-radius: 0;
    background-color: #42aa49;
    color: #fff;
    margin: 0;
    width: 90%;
    font-size: 1.1em;
    padding: 10px 0;
    font-family: ralewaylight;
    float: right;
    text-transform: uppercase;
}

.login-btn {
    margin: 0;
    width: 90%;
    font-size: 1.1em;
    padding: 10px 0;
    font-family: ralewaylight;
    float: left;
    border: none;
    border-radius: 0;
    background-color: #b11600;
    color: #fff;    
    text-transform: uppercase;
}

.icon-reorder {
    font-size: 35px;    
    color: #42aa49;
    position: absolute;
    left: 15px;
    top: 4px;
}

/*.menu-btn-container .icon-tchat {
    background-position: -4px -66px;
    width: 42px;
    height: 41px;
    float: right;
    position: absolute;
    right: 15px;
    top: 17px;
}*/

.connecter .menu-btn-container .icon-search {
    font-size: 18px;
    color: #fff;
    position: fixed;
    right: 118px;
    top: 13px;
}
.non-connecter .menu-btn-container .icon-search {
    font-size: 18px;
    color: #fff;
    position: fixed;
    right: 50px;
    top: 13px;
}
.icon-reorder:focus { 
    color: red;
}

.menu-btn-container {
    height: 50px;
    position: absolute;
    width: 100%;
    z-index: 990;
;
}

.main-menu-container {
    padding: 10px 15px 0;
}

.main-menu-container-user {
    padding: 20px 15px 0;
}
.menu-container {
    height: 100%;
    width: 85%;
    position: absolute;
    z-index: 20000;
    background-color: rgba(242, 243, 244, 0.87);
    max-width: 400px;
    overflow: auto;
    left : -400px;
}
.menu-container .fa-times{
    float: right;
    font-size: 30px;
    color: #b11600;
    cursor: pointer;
}
.main-menu-title {  
    text-align: left;
    font-size: 19px;
    margin-top: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

.main-menu-items {
    padding: 10px 15px 0;
}

.main-menu-disconenct {
    padding: 20px 15px 0;
}

.main-menu-disconenct #logout{
    width: 100%;
    text-align: center;
    background: #b11600;
    color: white;
    border: 0px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: sans-serif;
} 

.main-menu-items i{
    font-size: 25px;
    color: #555555;
    position: absolute;
}

.main-menu-items a{
    font-size: 20px;
    margin-left: 40px;
    color: #555555;
    font-family: sans-serif;
}

.main-menu-items li{
    padding: 10px;
    /*border-bottom: 1px solid;*/
}

#modal-search-home .btn-big {
    float: left !important;
    margin: 6px 8px !important;
    width: 20% !important;
}

@media only screen and (min-width: 990px) {
    #modal-search-home .modal-body {
        height: 100px !important;
    }
}

.main-menu-powered-by {
    bottom: 10px;
    width: 100%;
    margin: 15px 0px;
}

.main-menu-user {
    padding: 40px 15px 0px;
}

