.sponsor {
    position: relative;
    overflow: hidden;
    width: 81%;
    margin: 0 auto;
    float: right;
}

.sponsor ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sponsor li {
    float: left;
    width: 147px;
}
.jcarousel {
    width: 100%;
}
.jcarousel-control-navigate {
    display: none;
}
.jcarousel-control-navigate {
    position: absolute;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 75px/27px Arial, sans-serif;
}
.jcarousel-control-navigate:focus,
.jcarousel-control-navigate:hover{
    color: #b3081b !important;
}
@media only screen and (min-width: 980px) {
    /** Carousel **/

    .jcarousel {
        position: relative;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
    }

    .jcarousel ul {
        width: 20000em;
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    
	.menu-stand .jcarousel ul {
	    margin: auto;
	}


    /** Carousel Controls **/

    .jcarousel-control-navigate{
        top: 50%;
        margin-top: -15px;
        width: 30px;
    	display: block;
    }

    .jcarousel-control-prev {
        left: 21px;
    }

    .jcarousel-control-next {
        right: 20px;
    }

}
@media only screen and (max-width: 980px) {
    /** Carousel **/

    .jcarousel {
        position: relative;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
    }

    .jcarousel ul {
        width: 20000em;
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
    }

	.menu-stand .jcarousel ul {
	    margin: auto;
	}

    /** Carousel Controls **/

    .jcarousel-control-navigate {
        top: 50%;
        margin-top: -15px;
        width: 30px;
        /*
        height: 30px;
         background: #4E443C;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        -webkit-box-shadow: 0 0 4px #F0EFE7;
        -moz-box-shadow: 0 0 4px #F0EFE7;
        box-shadow: 0 0 4px #F0EFE7;*/
    	display: block;
    }

    .jcarousel-control-prev {
        left: -41px;
    }

    .jcarousel-control-next {
        right: -33px;
    }

}
