.loadingPageMobile {
    background-image: url(../img/loading.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: fixed;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

.loaderSpinnerMobile {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.38);
    top: 0;
    left: 0;
    z-index: 99999999999999999999999;
    width: 100%;
    text-align: center;
    color: #000;
    position: absolute;
}

.cookieContainer {
    text-align: center !important;
    color: white;
    background: #363636;
    display: none;
}

.headerTop {
    max-width: 1280px;
    margin: 0 auto;
    min-height: 59px;
    text-align: center;
    position: absolute;
    z-index: 111;
    left: 50%;
    transform: translate(-50%, -50%);
    /* -webkit-transform: translate(-50%,-50%); */
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    top: 120px;
}

.logo img {
    height: auto;
    width: 200px;
}

.receptionButton {
    position: absolute;
    top: 200px;
    background-color: #0060ac;
    padding: 0px 10px 7px;
    width: 100%;
}

.receptionButton i {
    font-size: 30px;
    float: right;
    color: white;
}

.receptionButton span {
    font-size: 31px;
    color: white;
}

.form-control.select-wrapper {
    display: inherit;
    /* width: 100%; */
    height: auto;
    padding: 0px 13px;
}

.icon-reorder {
    font-size: 20px;
    color: #fff;
    position: fixed;
    left: 10px;
    top: 4px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
}

.menu-container-cover {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .4);
}

.menu-btn-container .icon-comments {
    font-size: 22px;
    color: #fff;
    position: fixed;
    right: 10px;
    top: 9px;
}

.menu-btn-container .icon-comments:hover,
.menu-btn-container .icon-search:hover,
.icon-reorder:hover,
.backToListStand:hover {
    color: #015801 !important;
}

.greenColor {
    color: #0060ac !important;
}

.homeNoScroll {
    overflow: hidden;
}

.principal-halls #content {
    max-width: 100%;
}

#page-content {
    padding: 0px 0px 0px 0px;
}

#content {
    max-width: 100%;
}

.staticPosition {
    position: static !important;
}

#headerMainContainer {
    position: fixed;
    z-index: 100;
    background: white;
    width: 100%;
    height: 42px;
    top: 0px;
}

#headerMainContainer .logo {
    position: absolute;
    left: 50%;
    top: 22px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin: 0px;
}

#mainPageContent .logo img {
    height: 34px;
    width: 110px;
    margin-right: 10px;
}

.connecter #message-container .dropdown-toggle {
    font-size: 18px;
    color: #fff;
    position: fixed;
    right: 82px;
    top: 13px;
}

.connecter #forum-connected-container .dropdown-toggle {
    font-size: 20px;
    color: #fff;
    position: fixed;
    right: 45px;
    top: 11px;
}

.non-connecter #message-container,
.non-connecter #forum-connected-container {
    display: none;
}

.modal {
    z-index: 10500;
}

.bodyStyleCustom {
    overflow: scroll !important;
    height: auto !important;
}

#menu1 {
    padding: 0px 15px;
    width: 260px;
}

#hall1MainContainer {
    width: 100%;
    margin: 42px auto 0;
    position: relative;
    height: 290px;
}

.categList {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    margin-top: 30px;
}

.item-logo img {
    width: 100%;
    height: 180px;
}

.item-logo {
    border: thin solid #ccc;
}

.item-description {
    position: absolute;
    background-color: rgba(86, 85, 85, 0.61);
    width: 230px;
}

.item-name {
    font-size: 20px;
    color: white;
    padding: 0px 5px;
}

.contentPages {
    background-color: white;
    height: 500px;
    width: 100%;
    position: absolute;
    /*top: 30px;*/
}

.tchat.open {
    display: block;
}

#modal-sondage .col-md-10 {
    width: 83.33333333%;
}


/*.liste-offres-header .title {
    font-size: 28px;
    margin-top: 4px;
}*/

@media screen and (min-width: 1024px) {
    .list-item {
        width: 25%;
        float: left;
    }
    #hall1MainContainer {
        height: 490px;
        background-position: 0px 0px !important;
    }
    .mon-profil .ui-multiselect {
        width: 56% !important;
    }
}

@media screen and (max-width: 768px) {
    .list-item {
        width: 33%;
        float: left;
    }
    #hall1MainContainer {
        background-position: 0px -90px !important;
    }
    #myChats .form-search {
        height: auto;
    }
    .mon-profil .ui-multiselect {
        width: 56% !important;
    }
}

@media screen and (max-width: 767px) {
    .list-item {
        width: 33%;
        float: left;
    }
    #hall1MainContainer {
        background-position: 0px -90px !important;
    }
    #myChats .form-search {
        height: auto;
    }
    .mon-profil .ui-multiselect {
        width: 55% !important;
    }
}

@media screen and (max-width: 670px) {
    .list-item {
        width: 48%;
        float: left;
        margin: 0px 5px 10px;
    }
    #hall1MainContainer {
        background-position: 0px -45px !important;
        height: 274px;
    }
    .item-description {
        width: 48%;
    }
}

@media screen and (max-width: 450px) {
    .list-item {
        width: 96%;
        margin: 0px 5px 10px;
        min-height: 50px;
    }
    .list-items .widget-item {
        width: 50% !important;
    }
    #hall1MainContainer {
        background-position: 0px 0px !important;
        height: 178px;
    }
    .item-description {
        width: 97%;
        height: 55px;
    }
    .item-name {
        font-size: 17px;
        color: white;
        padding: 15px 5px 0px;
        vertical-align: middle;
    }
    .item-logo img {
        display: none;
    }
    #poweredBy a img {
        height: 30px !important;
        margin: 0 auto !important;
    }
    .tchat.open {
        height: 100%;
        top: 0px;
        display: block;
    }
    #tchatG {
        width: 100%;
        height: 100%;
    }
    #apercu .viewProductDocumentContainer {
        width: 96% !important;
        float: left;
        overflow: hidden !important;
    }
    #modal-product-apercu ul {
        margin: 10px 0 0 !important;
        width: 130px !important;
    }
    .productActionLabel {
        display: none;
        color: white;
    }
    .info-stand .btn i {
        font-size: 21px;
    }
    .info-stand .btn {
        font-size: 12px;
    }
    #info-produit-apercu .cel-btn .btn {
        width: 43% !important;
    }
    .info-stand-contact .right ul {
        /*margin-top: 25px;*/
        float: left;
    }
    #modal-agenda .fc-toolbar .fc-right,
    #full-agenda .fc-toolbar .fc-right {
        float: none !important;
    }
    #modal-agenda .fc-toolbar .fc-right,
    #full-agenda .fc-toolbar .fc-left {
        width: 60%;
    }
    #modal-agenda .fc-toolbar .fc-right .fc-button-group,
    #full-agenda .fc-toolbar .fc-right .fc-button-group {
        margin-top: 5px !important;
    }
    #modal-agenda .fc-toolbar .fc-right .fc-button-group .fc-month-button,
    #full-agenda .fc-toolbar .fc-right .fc-button-group .fc-month-button {
        margin-left: 0px !important;
    }
    .mon-profil .ui-multiselect {
        width: 53% !important;
    }
}

.productActionLabel {
    color: white;
}

@media screen and (min-width: 767px) {
    .item {
        font-size: 16px;
        width: 100%;
        max-width: 230px;
        margin: 0 0 0 10px;
        display: inline-block;
        padding-bottom: 15px;
    }
    .faq .scroll-pane {
        height: 420px;
    }
}

@media screen and (max-width: 767px) {
    .tchat.open {
        height: 100%;
        top: 0px;
        display: block;
    }
    #tchatG {
        width: 100%;
        height: 100%;
    }
    .info-stand-contact .right ul {
        /*margin-top: 25px;*/
        float: left;
    }
}

@media only screen and (max-width: 480px) {
    .logoTitle {
        display: none;
    }
}

.sectorStyle1 {
    background-color: #fc35cb;
}

.sectorStyle2 {
    background-color: #740000;
}

.sectorStyle3 {
    background-color: #51504D;
}

.sectorStyle4 {
    background-color: #E1B901;
}

.sectorStyle5 {
    background-color: #009688;
}

.sectorStyle6 {
    background-color: #0182B2;
}

.sectorStyle7 {
    background-color: #ce0203;
}

.sectorStyle8 {
    background-color: #4501E1;
}

.sectorStyle9 {
    background-color: #0b7a00;
}

.sectorStyle10 {
    background-color: #0182B2;
}

.sectorStyle11 {
    background-color: #d68206;
}

.sectorStyle12 {
    background-color: #ba4821;
}

#content_search_stand .col-md-4,
#content_search_stand .col-md-4 .select-wrapper,
#content_search_product .input-icone {
    padding-left: 0px;
}

#content_search_product .page-content-wrapper {
    background: #eeeeee;
    padding-top: 15px !important;
}

#content_search_stand .container-fluid,
#content_search_product .container-fluid,
#content_video_rh .container-fluid,
#mediaFav .container-fluid,
#contactsFav .container-fluid,
#productsFav .container-fluid,
#advicesFav .container-fluid,
#testimoniesFav .container-fluid,
#userInboxCantainer .container-fluid,
#detailsMessageCantainer .container-fluid,
#content_search_visitor .container-fluid,
#content_notification .container-fluid,
#faq .container-fluid {
    padding: 0px;
    margin: 0px;
}

.liste-offres-header {
    background: #c5c5c5;
    padding: 3px 0px;
}

.list-items .widget-item span {
    background-color: rgba(238, 238, 238, 0.8);
    border: 2px solid #ffffff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    display: block;
    /* position: absolute; */
    top: 7px;
    height: 80px;
    width: 80px;
    -webkit-box-shadow: 0 3px 2px 0 rgba(41, 41, 41, 1);
    -moz-box-shadow: 0 3px 2px 0 rgba(41, 41, 41, 1);
    box-shadow: 0 3px 2px 0 rgba(41, 41, 41, 1);
    margin: 0 auto;
}

.list-items .widget-item i {
    font-size: 40px;
    margin: 21px 0;
}

.list-items .widget-item {
    text-align: center;
    width: 25%;
    float: left;
    height: 140px;
}

.list-items .widget-item .getModal div {
    font-size: 18px;
    margin-top: 10px;
}

.menu-stand .list-widgets {
    padding-top: 10px;
}

.menu-stand .list-widgets h2 {
    width: 100%;
    text-align: center;
    margin: 10px 0px 20px 0px;
    font-size: 20px;
    border-bottom: 1px solid;
    padding-bottom: 16px;
}

.white-back {
    background: white;
}

.partage {
    position: absolute;
    z-index: 12;
}

.close {
    opacity: 1 !important;
}

.backToListStand {
    position: absolute;
    top: 17px;
    left: 20px;
}

.backToListStand i {
    font-size: 32px;
}

#tchatG {
    bottom: 0px;
    /*  position: fixed; */
}

#chatListStands .coprsChat .resize-chat-td {
    width: 74%;
}

.pull-right {
    float: left !important;
    width: 100%;
}

#modal-temoignage .avatarP {
    margin-bottom: 15px;
}

.info-stand-contact .info-p {
    border-bottom: 1px solid #d8d9da;
    padding: 0 5px 0;
}

#visitCardsList .container-fluid {
    padding: 0px !important;
}

.visitCardsFilter input {
    width: 97% !important;
}

.visitCardsFilter .row div {
    padding: 2px 4px 0px;
}

#content_search_visitor .page-content-wrapper div {
    padding: 0px !important;
}

#content_search_visitor .form-group {
    padding-top: 15px;
    background: #eeeeee;
}

#content_search_visitor input {
    width: 96%;
}

#content_search_visitor .page-content-wrapper {
    padding: 15px 15px 0px !important;
}

#modal-photo-reception .info-stand-photo .col-md-8 {
    width: 68%;
    float: left;
}

#modal-stand-tchat .let-message {
    width: 160px;
    height: 32px;
    margin-top: 20px;
    font-size: 12px;
}

footer.footerSponsor {
    background: #d5d5d2;
    padding-bottom: 10px;
    height: auto;
}

footer.footerSocial {
    background: #eaeaea;
    padding: 10px;
    height: auto;
}

.sponsors-footer-container,
.social-footer-container {
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

.sponsorTitle {
    font-size: 20px;
    padding: 10px 0 10px;
    text-transform: uppercase;
    font-family: sans-serif;
}

.sponsors-footer-container li,
.social-footer-container li {
    display: inline-block;
    margin: 5px 10px 5px 0px;
}

.slogo {
    width: 100%;
    margin: 0 auto 10px;
    padding: 10px;
    border-bottom: 1px solid #c1c1c1;
}

.slogoTitleStyle {
    font-weight: bold;
    font-size: 15px;
}

.social-footer-container span {
    font-size: 30px;
}

#content_search_product .selectField {
    padding: 0px 13px 0px 0px;
}

#content_search_product .page-content-wrapper {
    padding-bottom: 8px;
    padding-top: 8px !important;
}