.tchat {
    height: 71px;
}
#tchatDetail{
    position: relative;
}
#tchatG {
    width: 754px;
    bottom: 0;
    right: 0;
    border: none;
    border-radius: 0;
    top: inherit;
    left: inherit;
    display: block;
    height: 490px;
    padding: 0;
    opacity: 0;
    position: absolute;
    background: #FFFFFF;
    visibility: hidden;
}
.tchat.open #tchatG {
    visibility: visible;
    opacity: 1;
    z-index: 9;
}
#tchatG li{
    list-style: none;
}
#tchatG header{
    width: 100%;
    height: 30px;
    background: #b3081b;
    padding: 0;
}
#tchatG header li, #tchatG header li a{
    color: #FFFFFF;
    text-align: center;
    line-height: 30px;
}
#tchatG header li:first-child{
    text-align: left;
}
#tchatG header li:last-child{
    text-align: right;
}
#tchatG header li a.home-nav{
    background: url(../img/icons/icon-home-nav.png) 0 0 no-repeat;
    padding: 4px 0 0 34px;
}
#tchatG header li a.tchat-nav{
    background: url(../img/icons/icon-tchat-nav.png) 0 0 no-repeat;
    padding: 0 0 4px 32px;
}
#standsConnectes{
    width: 181px;
    float: left;
    height: 325px;
    border-style: solid;
    border-color: #cececf;
    border-width: 0 2px 0 0;
}
#standsConnectes h2{
    background: url(../img/icons/icon-stand-connecter.png) 6px 10px no-repeat;
    padding: 6px 0 6px 42px;
    border-bottom: 1px solid #cececf;
    color: #464646;
    font-size: 14px;
    font-family: 'robotobold';
}
#standsConnectes h2 span{
    color: #a1a1a1;
    font-size: 10px;
    font-family: 'robotobold';
    display: block;
    margin: 7px 0 0;
}
#standsConnectes li:first-child{
    padding: 0 0 20px 7px;
}
#standsConnectes li a{
    color: #a1a1a1;
    font-size: 10px;
    font-family: 'robotobold';
    float: left;
    position: relative;
    padding: 0 0 15px;
    margin: 11px 0 0 5px;
}
#standsConnectes li a:before{
    content:"\e252";
    position: absolute;
    bottom: 0;
    font-family: "Glyphicons Halflings";
    font-size: 11px;
    left: 38%;
}
#standsConnectes li{
    padding: 10px 0 20px 7px;
    border-bottom: 1px solid #e4e4e4;
    float: left;
    width: 100%;
    position: relative;
}
#standsConnectes li img{
    float: left;
}
#standsConnectes li.open .tchat-liste{
    display: block ;
    position: absolute;
    bottom: -84px;
    top: inherit;
    left: 6px;
    width: 90%;
    background: #f2f3f4;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 4px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 4px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 4px -1px rgba(0, 0, 0, 0.2);
    padding: 8px;
}
#standsConnectes .listing li:nth-last-child(2) .tchat-liste,
#standsConnectes .listing li:last-child .tchat-liste{
    top: -95px !important;
    bottom: inherit !important;
}

#standsConnectes .tchat-liste li{
    padding: 0 0 5px 10px;
    border: none;
    position: relative;
}
#standsConnectes .tchat-liste li:before{
    content: "";
    width: 4px;
    height: 4px;
    background: #555555;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 6px;
}
#standsConnectes .tchat-liste li:after{
    content: "";
    width: 12px;
    height: 10px;
    background: url(../img/icons/icon-tchat-list.png) 0 0 no-repeat;
    position: absolute;
    right: 0;
    top: 3px;
}
#standsConnectes .tchat-liste li.active:after{
    background: url(../img/icons/icon-tchat-list.png) 0 bottom no-repeat;
}
#standsConnectes .tchat-liste li.active a{
    color: #555555;
    background: none;
}
#standsConnectes .tchat-liste li a{
    padding: 0;
    margin: 0;
}
#standsConnectes .tchat-liste li a:before{
    display: none;
}
.listing {
    height: 260px;
    position: relative;
    width: 176px;
    margin: 10px 0 0 0;
}
.listing .jspVerticalBar {
    width: 3px;
}
#mySliderTabs {
    float: left;
    position: relative;
}
#mySliderTabs .ui-slider-tabs-list-wrapper{
    width: 662px;
    overflow: hidden;
    margin: 0 auto;
}
#mySliderTabs .tab-pane{
    padding: 34px 0 0 0;
    height: 276px;
}
#mySliderTabs .tab-pane .tchatmsg{
    padding: 0 30px 19px 8px;
}
#mySliderTabs .ui-slider-tab-content{
    height: 325px;
}

tchatD{
    position: relative;
}
.tab-contentG{
    position: relative;
    width: 100%;
    border-top: 1px solid #e4e4e4;
}
#mySliderTabs #tabs1 {
    width: 88%;
    margin: 0 auto;
    overflow: hidden;
}
#mySliderTabs .tab-content{
    float: left;
    width: 75.9%;
}
#mySliderTabs .scroll_tab_inner{
    margin: 10px 30px 0 !important;
    height: 20px;
}
#mySliderTabs .scroll_tab_left_button,
#mySliderTabs .scroll_tab_right_button{
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    border: none;
}
#mySliderTabs .scroll_tab_left_button{
    background: url(../img/scroll_tab_left_button.png) 0 10px no-repeat;
}
#mySliderTabs .scroll_tab_right_button{
    background: url(../img/scroll_tab_right_button.png) 12px 10px no-repeat;
}
#mySliderTabs .scroll_tabs_container div.scroll_tab_inner li{
    line-height: inherit;
    height: 20px;
    border: none;
    background: #8a8a8a;
    min-width: 100px;
    margin: 0 14px 0 0;
    position: relative;
}
#mySliderTabs .scroll_tabs_container div.scroll_tab_inner li.active{
    background: #b3081b;
}
#mySliderTabs .scroll_tabs_container div.scroll_tab_inner li a{
    color: #FFFFFF;
}
#mySliderTabs .tchatmsg li{
    position: relative;
    margin-bottom: 15px;
}
#mySliderTabs .tchatmsg li:last-child{
    margin-bottom: 0;
}
#mySliderTabs .tchatmsg li:last-child p:after{
    background: none;
}
#mySliderTabs .tchatmsg li p:after{
    content: "";
    width: 100%;
    height: 1px;
    background: #b7b7b7;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
#mySliderTabs .tchatmsg li img{
    float: left;
    border-radius: 30px;
    margin: 0 15px 0 0;
}
#mySliderTabs .tchatmsg li p{
    width: 90%;
    display: inline-block;
    position: relative;
    padding: 0 0 30px;
}
#mySliderTabs .tchatmsg li p .heure{
    background: #FFFFFF;
    position: absolute;
    left: 50%;
    bottom: -4px;
    margin: 0 0 0 -43px;
    padding: 0 20px;
    z-index: 2;
    color: #b7b7b7;
    font-size: 10px;
}
#mySliderTabs form{
    width: 100%;
    border-top: 1px solid #b7b7b7;
    padding: 6px 30px;
}
#mySliderTabs textarea.materialize-textarea {
    height: 22px !important;
    overflow-y: hidden;
    padding: 0;
    resize: none;
    margin: 0;
    border: none !important;
}
#mySliderTabs form .btn {
    color: #ffffff;
    float: right;
    margin: 0;
    min-height: 20px;
}
#tchatG .form-search {
    background: none;
}
#ChatApp{
    height: 100%;
}
@media only screen and (max-width: 1024px) {
    #tchatG {
        width: 70%;
    }
    #mySliderTabs .tab-content {
        width: 65.9%;
    }
    #mySliderTabs .tab-pane .tchatmsg {
        padding: 0 0 19px 8px;
        height: 242px;
    }
    #mySliderTabs .tchatmsg li p {
        display: inline-block;
        padding: 0 0 15px;
        width: 84%;
    }
    #mySliderTabs form {
        float: left;
        padding: 6px 7px;
    }
    #mySliderTabs textarea.materialize-textarea {
        width: 97%;
    }
    #mySliderTabs form .btn {
        font-size: 10px;
        min-height: 20px;
        padding: 0 4px;
    }
}
