<!-- <button type="button" class="privateroom">connexion</button>
 -->
<!-- <!doctype html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Socket.IO Chat Example</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    </head>

    <body>
 -->
<div class="chatexihitor chatNew">
    <div class="container clearfix">
        <div class="people-list" id="people-list">
            <!--  <div class="search">
                <input type="text" placeholder="search" />
                <i class="fa fa-search"></i>
            </div> -->
            <ul class="list">

            </ul>
        </div>

        <div class="chat">

            <div class="chat-history room">
                <ul>

                    <p>Aucun conversation Pour le moment</p>

                </ul>

            </div>
        </div>
        <!-- end chat -->

    </div>
    <!-- end container -->
</div>

<!-- <script id="message-template" type="text/x-handlebars-template">
    <li class="clearfix">
        <div class="message-data align-right">
            <span class="message-data-time">{{time}}, Today</span> &nbsp; &nbsp;
            <span class="message-data-name">Olia</span> <i class="fa fa-circle me"></i>
        </div>
        <div class="message other-message float-right">
            {{messageOutput}}
        </div>
    </li>
</script>

<script id="message-response-template" type="text/x-handlebars-template">
    <li>
        <div class="message-data">
            <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
            <span class="message-data-time">{{time}}, Today</span>
        </div>
        <div class="message my-message">
            {{response}}
        </div>
    </li>
</script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/socket.js"></script>
<script src="/mainEx.js"></script>
</body>

</html> -->