@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*,
*:before,
*:after {
    box-sizing: border-box;
}

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

.chatexihitor .hide {
    display: none;
}

.chatexihitor .container {
    margin: 0 auto;
    width: 750px;
    background: white;
    border-radius: 5px;
}

.chatexihitor .people-list {
    width: 260px;
    float: left;
}

.chatexihitor .people-list .search {
    padding: 20px;
}

.chatexihitor .people-list input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
}

.chatexihitor .people-list .fa-search {
    position: relative;
    left: -25px;
}

.blink {
    background: #94C2ED;
}

.chatexihitor .people-list ul {
    padding: 20px;
    height: 770px;
        overflow: scroll;
}

.chatexihitor .people-list ul li {
    /* padding-bottom: 20px;*/
}

.chatexihitor .people-list img {
    float: left;
    width: 52px;
}

.chatexihitor .people-list .about {
    float: left;
    margin-top: 8px;
}

.chatexihitor .people-list .about {
    padding-left: 8px;
}

.chatexihitor .people-list .status {
    color: #92959E;
}

.chatexihitor .chat {
    width: 490px;
    float: left;
    background: #F2F5F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
}

.chatexihitor .chat .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;
}

.chatexihitor .chat .chat-header img {
    float: left;
    width: 52px;
}

.chatexihitor .chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}

.chatexihitor .chat .chat-header .chat-with {
    font-weight: bold;
    font-size: 16px;
}

.chatexihitor .chat .chat-header .chat-num-messages {
    color: #92959E;
}

.chatexihitor .chat .chat-header .fa-star {
    float: right;
    color: #D8DADF;
    font-size: 20px;
    margin-top: 12px;
}

.chatexihitor .chat .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;
}

.chatexihitor .chat .chat-history .message-data {
    margin-bottom: 15px;
}

.chatexihitor .chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
}

.chatexihitor .chat .chat-history .message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
}

.chatexihitor .chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #86BB71;
    border-width: 10px;
    margin-left: -10px;
}

.chatexihitor .chat .chat-history .my-message {
    background: #86BB71;
}

.chatexihitor .chat .chat-history .other-message {
    background: #94C2ED;
}

.chatexihitor .chat .chat-history .other-message:after {
    border-bottom-color: #94C2ED;
    left: 93%;
}

.chatexihitor .chat .chat-message {
    padding: 30px;
}

.chatexihitor .chat .chat-message textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
}

.chatexihitor .chat .chat-message .fa-file-o,
.chatexihitor .chat .chat-message .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

.chatexihitor .chat .chat-message button {
    float: right;
    color: #94C2ED;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #F2F5F8;
}

.chatexihitor .chat .chat-message button:hover {
    color: #75b1e8;
}

.chatexihitor .online,
.chatexihitor .offline,
.chatexihitor .me {
    margin-right: 3px;
    font-size: 10px;
}

.chatexihitor .online {
    color: #86BB71;
}

.chatexihitor .offline {
    color: #E38968;
}

.chatexihitor .me {
    color: #94C2ED;
}

.chatexihitor .align-left {
    text-align: left;
}

.chatexihitor .align-right {
    text-align: right;
}

.chatexihitor .float-right {
    float: right;
}

.chatexihitor .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}