<script type="text/javascript"
	src="modules/chat/chatHtml5/js/util_chat_html5.js" charset="utf-8"></script>
<script type="text/javascript"
	src="modules/chat/chatHtml5/js/application_chat.js" charset="utf-8"></script>
<div id="mySliderTabs">
	<!-- Unordered list representing the tabs -->
	<div id="tabs1" class="scroll_tabs_theme_light">
		<ul class="scroll_tabs_theme_light" id="">
			<li class="active"><a data-toggle="tab" href="#home">Home</a></li>
			<li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
			<li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
			<li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
		</ul>
	</div>
	<div class="tab-contentG">
		<div id="standsConnectes">
			<h2>
				Stands Connectés <span id="connectEnterprises">( 0 stands connectés )</span>
			</h2>
			<div class="listing scroll-pane">
				<ul id="list_stand_connect">
				</ul>
			</div>
		</div>
		<div id="list_stand_container" class="tab-content">
			<div id="home" class="tab-pane fade in active">
				<div class="tchatmsg">
					<li><img src="img/avatar-tchat.jpg" alt="">
						<p>
							home obtenez alors un texte aléatoire que vous pourrez ensuite
							utiliser librement dans vos maquettes. <span class="heure">12h:06</span>
						</p></li>
					<li><img src="img/avatar-tchat.jpg" alt="">
						<p>
							obtenez alors un texte aléatoire que vous pourrez ensuite
							utiliser librement dans vos maquettes. <span class="heure">12h:06</span>
						</p></li>
					<li><img src="img/avatar-tchat.jpg" alt="">
						<p>obtenez alors un texte aléatoire que vous pourrez ensuite
							utiliser librement dans vos maquettes.</p></li>
				</div>
				<form id="message" action="">
					<div class="col-md-10 col-sm-10 input-field no-padding no-margin">
						<textarea id="icon_prefix2" class="materialize-textarea validate"
							maxlength=""></textarea>
					</div>
					<div
						class="col-md-2 col-sm-2 input-field no-padding input-field submitform no-margin">
						<button type="submit" class="btn">Envoyer</button>
					</div>
				</form>
			</div>
			<div id="menu1" class="tab-pane fade">
				<div class="tchatmsg">
					<li><img src="img/avatar-tchat.jpg" alt="">
						<p>
							1111 obtenez alors un texte aléatoire que vous pourrez ensuite
							utiliser librement dans vos maquettes. <span class="heure">12h:06</span>
						</p></li>
					<li><img src="img/avatar-tchat.jpg" alt="">
						<p>
							obtenez alors un texte aléatoire que vous pourrez ensuite
							utiliser librement dans vos maquettes. <span class="heure">12h:06</span>
						</p></li>
					<li><img src="img/avatar-tchat.jpg" alt="">
						<p>obtenez alors un texte aléatoire que vous pourrez ensuite
							utiliser librement dans vos maquettes.</p></li>
				</div>
				<form id="message" action="">
					<div class="col-md-10 col-sm-10 input-field no-padding no-margin">
						<textarea id="icon_prefix2" class="materialize-textarea validate"
							maxlength=""></textarea>
					</div>
					<div
						class="col-md-2 col-sm-2 input-field no-padding input-field submitform no-margin">
						<button type="submit" class="btn sendMessageButton">Envoyer</button>
					</div>
				</form>
			</div>
			<div id="menu2" class="tab-pane fade">
				<div class="tchatmsg">
					<li><img src="img/avatar-tchat.jpg" alt="">
						<p>
							222 obtenez alors un texte aléatoire que vous pourrez ensuite
							utiliser librement dans vos maquettes. <span class="heure">12h:06</span>
						</p></li>
					<li><img src="img/avatar-tchat.jpg" alt="">
						<p>
							obtenez alors un texte aléatoire que vous pourrez ensuite
							utiliser librement dans vos maquettes. <span class="heure">12h:06</span>
						</p></li>
					<li><img src="img/avatar-tchat.jpg" alt="">
						<p>obtenez alors un texte aléatoire que vous pourrez ensuite
							utiliser librement dans vos maquettes.</p></li>
				</div>
				<form id="message" action="">
					<div class="col-md-10 col-sm-10 input-field no-padding no-margin">
						<textarea id="icon_prefix2" class="materialize-textarea validate"
							maxlength=""></textarea>
					</div>
					<div
						class="col-md-2 col-sm-2 input-field no-padding input-field submitform no-margin">
						<button type="submit" class="btn sendMessageButton">Envoyer</button>
					</div>
				</form>
			</div>
			<div id="menu3" class="tab-pane fade">
				<div class="tchatmsg">
					<li><img src="img/avatar-tchat.jpg" alt="">
						<p>
							3333 obtenez alors un texte aléatoire que vous pourrez ensuite
							utiliser librement dans vos maquettes. <span class="heure">12h:06</span>
						</p></li>
					<li><img src="img/avatar-tchat.jpg" alt="">
						<p>
							obtenez alors un texte aléatoire que vous pourrez ensuite
							utiliser librement dans vos maquettes. <span class="heure">12h:06</span>
						</p></li>
					<li><img src="img/avatar-tchat.jpg" alt="">
						<p>obtenez alors un texte aléatoire que vous pourrez ensuite
							utiliser librement dans vos maquettes.</p></li>
				</div>
				<form id="message" action="">
					<div class="col-md-10 col-sm-10 input-field no-padding no-margin">
						<textarea id="icon_prefix2" class="inputTextChat materialize-textarea validate"
							maxlength=""></textarea>
					</div>
					<div
						class="col-md-2 col-sm-2 input-field no-padding input-field submitform no-margin">
						<button type="submit" class="btn sendMessageButton">Envoyer</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>