
<table id="chatListStands_CS" class='chatStands'>
	<!-- CS:Chat stand -->
	<tbody>
		<tr valign="middle">
			<td class="standsConnect">
				<table class="fullSpace">
					<tbody>
						<tr class="titleTabBarChat">
							<td valign="middle" width="90%">
								<div id="connectEnterprises_CS">
									<span class="enterprisesConnectedLabel"></span>
								</div>
							</td>
							<td valign="middle" width="10%">
								<!-- <img alt="" src="images/fullscreen-exit.png"/>-->
								<div id="chatReduceStandsButton_CS">
									<span>≡</span>
								</div>
							</td>
						</tr>
						<tr height="100%">
							<td width="100%" colspan="2">
								<div id='list_stand_connect_container_CS' class='containerStand'>
									<table id='list_stand_connect_CS' class='menuStand'>
										<tbody>
										</tbody>
									</table>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td class="separateStandsConnectChat">&nbsp;</td>
			<td class="coprsChat">
				<table class="fullSpace">
					<tbody>
						<tr class="titleTabBarChat">
							<td valign="middle" width="5%">
								<div class='titleTabChat'>
									<span class="chatLabel"></span>
								</div>
							</td>
							<td valign="middle" width="70%">
								<div id='fullScreenChatSpan_CS'>
									<span class="extendChatScreenLabel"></span>
								</div>
								<div id='exitFullScreenChatSpan_CS'>
									<span class="reduceChatScreenLabel"></span>
								</div>
							</td>
							<td valign="middle" align="right" width="100" nowrap="nowrap">
								<div class='titleTabChat'>
									<span id="replay_date_CS"></span>&nbsp;&nbsp;
								</div>
							</td>
							<td style="width: 20px; vertical-align: middle;">
								<!-- <INPUT id="checkboxChat_CS" type="checkbox" >Save current chat -->
								<span id="viewHistory_CS"
								style="font-size: 14px; cursor: pointer; color: #ffffff; margin-right: 10px;"><i
									class="fui-chat"></i></span>
							</td>
						</tr>
						<tr class="fullSpace">
							<td class="fullSpace" colspan="4">
								<table class="fullSpace">
									<tbody>
										<tr class="fullSpace">
											<td style='width: 31%'>
												<div id='list_stand_container_CS' class='containerStand'>
													<table id='list_stand_CS' class='menuStand'>
														<tbody>
														</tbody>
													</table>
												</div>
											</td>
											<td style='width: 69%'>
												<table class="fullSpace">
													<tbody>
														<tr class="fullSpace">
															<td colspan="4">
																<div id="content_tabs_CS">
																	<table>
																		<tbody id="messages_ui_CS">
																		</tbody>
																	</table>
																</div>
															</td>
														</tr>
														<tr class="saveChatBar">
															<td style="padding-top: 10px;" colspan="3">
																<div id="saveChatButton_CS">
																	<i class="fui-radio-checked"></i><span
																		class="saveThisChatLabel"></span>
																</div>
																<div id="stopSaveChatButton_CS">
																	<i class="fui-pause"></i><span
																		class="stopSaveChatLabel"></span>
																</div>
															</td>
															<td style="width: 2%;">&nbsp;</td>
														</tr>
														<tr class="sendMessageBar">
															<td style="width: 78%; vertical-align: middle;"><textarea
																	id="inputTextChat_CS"
																	onfocus="javascript: this.value=''" maxlength="2000"></textarea>
															</td>
															<td style="width: 2%;">&nbsp;</td>
															<td style="width: 18%; vertical-align: middle;">
																<div id="sendMessageButton_CS">
																	<span class="sendLabel"></span>
																</div>
															</td>
															<td style="width: 2%;">&nbsp;</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<div id="standNotConnectAlert" class="alertChatStand">
	<div class="alertChatStandDiv">
		<span id="alertChatStandSpan"></span>
	</div>
	<div class="closeChatStandDiv">
		<button id="closeChatStandSpan"
			class="closeInfosReception btn btn-info"></button>
	</div>
</div>
<div id="otherChooseStandLangAlert" class="alertChatStandOtherLang">
	<div class="alertChatStandOtherLangDiv">
		<span id="alertChatStandOtherLangSpan"></span>
	</div>
	<div id="listStandsChatStandDiv"></div>
</div>
<div
	class="popupAllRecruitersStandDisconnected_CS eds-dialog-container draggable ui-draggable"
	style="visibility: visible; width: 40%; bottom: 60%; left: 28%; display: none; padding: 0; position: relative;">
	<div class="eds-dialog"
		style="width: auto; height: auto; padding: 0; margin: 0;">
		<div style="padding: 0; margin: 0;" class="eds-dialog-inside">
			<div style="padding: 0;" class="eds-dialog-body clearfix">
				<div style="padding: 20px; font-size: 14px; text-align: center;"
					class="eds-dialog-content">
					<span class="allRecruitersStandDisconnectedLabel"></span>
					<div style="margin-top: 10px;" align="center">
						<a id="confirmAllRecruitersStandDisconnected_CS"
							style="font-size: 12px; width: 30px;"
							class="btn-small btn btn-info"><b class="okLabel"></b></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="backgroundPopupChatHtml5_CS pointer"
	style="position: relative; width: 100%; height: 120%; bottom: 130%; left: 0px; background: #000000; display: none; z-index: 1000; opacity: 0.6;">
</div>

<script type="text/javascript"
	src="modules/chat/chatHtml5/js/util_chat_stand_html5.js"
	charset="utf-8"></script>