<section class="tchatD">
	<!-- Start page  -->

	<div id="mySliderTabs">
		<!-- Unordered list representing the tabs -->
		<div id="tabs1" class="scroll_tabs_theme_light">
			<ul class="scroll_tabs_theme_light" id="">
				<li class="active"><a data-toggle="tab" href="#home">Home</a></li>
				<li><a data-toggle="tab" href="#menu12">Menu 1</a></li>
				<li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
				<li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
				<li class="active"><a data-toggle="tab" href="#home">Home</a></li>
				<li><a data-toggle="tab" href="#menu12">Menu 1</a></li>
				<li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
				<li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
				<li class="active"><a data-toggle="tab" href="#home">Home</a></li>
				<li><a data-toggle="tab" href="#menu12">Menu 1</a></li>
				<li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
				<li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
			</ul>
		</div>
		<div class="tab-contentG">
			<div id="standsConnectes">
				<h2>
					Stands Connectés <span>( 3 stands connectés )</span>
				</h2>
				<div class="listing scroll-pane">
					<ul>
						<li><img src="img/rekrute.jpg" alt=""> <a
							data-toggle="dropdown" class="dropdown-toggle glyphicon" href="#">Tchatter</a>
							<ul class="dropdown-menu tchat-liste">
								<li><a href="#">Comment Postuler</a></li>
								<li class="active"><a href="#">Test titre</a></li>
								<li><a href="#">Poser des questions </a></li>
								<li><a href="#">Room 08</a></li>
							</ul></li>
						<li><img src="img/renault.jpg" alt=""> <a
							data-toggle="dropdown" class="dropdown-toggle glyphicon" href="#">Tchatter</a>
							<ul class="dropdown-menu tchat-liste">
								<li><a href="#">Comment Postuler</a></li>
								<li class="active"><a href="#">Test titre</a></li>
								<li><a href="#">Poser des questions </a></li>
								<li><a href="#">Room 08</a></li>
							</ul></li>
						<li><img src="img/iam.jpg" alt=""> <a
							data-toggle="dropdown" class="dropdown-toggle glyphicon" href="#">Tchatter</a>
							<ul class="dropdown-menu tchat-liste">
								<li><a href="#">Comment Postuler</a></li>
								<li class="active"><a href="#">Test titre</a></li>
								<li><a href="#">Poser des questions </a></li>
								<li><a href="#">Room 08</a></li>
							</ul></li>
						<li><img src="img/rekrute.jpg" alt=""> <a
							data-toggle="dropdown" class="dropdown-toggle glyphicon" href="#">Tchatter</a>
							<ul class="dropdown-menu tchat-liste">
								<li><a href="#">Comment Postuler</a></li>
								<li class="active"><a href="#">Test titre</a></li>
								<li><a href="#">Poser des questions </a></li>
								<li><a href="#">Room 08</a></li>
							</ul></li>
						<li><img src="img/renault.jpg" alt=""> <a
							data-toggle="dropdown" class="dropdown-toggle glyphicon" href="#">Tchatter</a>
							<ul class="dropdown-menu tchat-liste">
								<li><a href="#">Comment Postuler</a></li>
								<li class="active"><a href="#">Test titre</a></li>
								<li><a href="#">Poser des questions </a></li>
								<li><a href="#">Room 08</a></li>
							</ul></li>
						<li><img src="img/iam.jpg" alt=""> <a
							data-toggle="dropdown" class="dropdown-toggle glyphicon" href="#">Tchatter</a>
							<ul class="dropdown-menu tchat-liste">
								<li><a href="#">Comment Postuler</a></li>
								<li class="active"><a href="#">Test titre</a></li>
								<li><a href="#">Poser des questions </a></li>
								<li><a href="#">Room 08</a></li>
							</ul></li>
					</ul>
				</div>
			</div>
			<div class="tab-content">
				<div id="home" class="tab-pane fade in active">
					<div class="tchatmsg">
						<li><img src="img/avatar-tchat.jpg" alt="">
							<p>
								home obtenez alors un texte aléatoire que vous pourrez ensuite
								utiliser librement dans vos maquettes. <span class="heure">12h:06</span>
							</p></li>
						<li><img src="img/avatar-tchat.jpg" alt="">
							<p>
								obtenez alors un texte aléatoire que vous pourrez ensuite
								utiliser librement dans vos maquettes. <span class="heure">12h:06</span>
							</p></li>
						<li><img src="img/avatar-tchat.jpg" alt="">
							<p>obtenez alors un texte aléatoire que vous pourrez ensuite
								utiliser librement dans vos maquettes.</p></li>
					</div>
					<form id="message" action="">
						<div class="col-md-10 col-sm-10 input-field no-padding no-margin">
							<textarea id="icon_prefix2" class="materialize-textarea validate"
								maxlength=""></textarea>
						</div>
						<div
							class="col-md-2 col-sm-2 input-field no-padding input-field submitform no-margin">
							<button type="submit" class="btn">Envoyer</button>
						</div>
					</form>
				</div>
				<div id="menu12" class="tab-pane fade">
					<div class="tchatmsg">
						<li><img src="img/avatar-tchat.jpg" alt="">
							<p>
								1111 obtenez alors un texte aléatoire que vous pourrez ensuite
								utiliser librement dans vos maquettes. <span class="heure">12h:06</span>
							</p></li>
						<li><img src="img/avatar-tchat.jpg" alt="">
							<p>
								obtenez alors un texte aléatoire que vous pourrez ensuite
								utiliser librement dans vos maquettes. <span class="heure">12h:06</span>
							</p></li>
						<li><img src="img/avatar-tchat.jpg" alt="">
							<p>obtenez alors un texte aléatoire que vous pourrez ensuite
								utiliser librement dans vos maquettes.</p></li>
					</div>
					<form id="message" action="">
						<div class="col-md-10 col-sm-10 input-field no-padding no-margin">
							<textarea id="icon_prefix2" class="materialize-textarea validate"
								maxlength=""></textarea>
						</div>
						<div
							class="col-md-2 col-sm-2 input-field no-padding input-field submitform no-margin">
							<button type="submit" class="btn">Envoyer</button>
						</div>
					</form>
				</div>
				<div id="menu2" class="tab-pane fade">
					<div class="tchatmsg">
						<li><img src="img/avatar-tchat.jpg" alt="">
							<p>
								222 obtenez alors un texte aléatoire que vous pourrez ensuite
								utiliser librement dans vos maquettes. <span class="heure">12h:06</span>
							</p></li>
						<li><img src="img/avatar-tchat.jpg" alt="">
							<p>
								obtenez alors un texte aléatoire que vous pourrez ensuite
								utiliser librement dans vos maquettes. <span class="heure">12h:06</span>
							</p></li>
						<li><img src="img/avatar-tchat.jpg" alt="">
							<p>obtenez alors un texte aléatoire que vous pourrez ensuite
								utiliser librement dans vos maquettes.</p></li>
					</div>
					<form id="message" action="">
						<div class="col-md-10 col-sm-10 input-field no-padding no-margin">
							<textarea id="icon_prefix2" class="materialize-textarea validate"
								maxlength=""></textarea>
						</div>
						<div
							class="col-md-2 col-sm-2 input-field no-padding input-field submitform no-margin">
							<button type="submit" class="btn">Envoyer</button>
						</div>
					</form>
				</div>
				<div id="menu3" class="tab-pane fade">
					<div class="tchatmsg">
						<li><img src="img/avatar-tchat.jpg" alt="">
							<p>
								3333 obtenez alors un texte aléatoire que vous pourrez ensuite
								utiliser librement dans vos maquettes. <span class="heure">12h:06</span>
							</p></li>
						<li><img src="img/avatar-tchat.jpg" alt="">
							<p>
								obtenez alors un texte aléatoire que vous pourrez ensuite
								utiliser librement dans vos maquettes. <span class="heure">12h:06</span>
							</p></li>
						<li><img src="img/avatar-tchat.jpg" alt="">
							<p>obtenez alors un texte aléatoire que vous pourrez ensuite
								utiliser librement dans vos maquettes.</p></li>
					</div>
					<form id="message" action="">
						<div class="col-md-10 col-sm-10 input-field no-padding no-margin">
							<textarea id="icon_prefix2" class="materialize-textarea validate"
								maxlength=""></textarea>
						</div>
						<div
							class="col-md-2 col-sm-2 input-field no-padding input-field submitform no-margin">
							<button type="submit" class="btn">Envoyer</button>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>

	<!-- End page  -->
</section>