#playerVideoStand,#playerVideo,#playerVideoStand_wrapper {
    height: 350px;
}

#modal-document-lecteur #playerVideoStand {
    height: 101%;
}

#content_video_rh a {
    cursor: pointer;
}

#content_video_rh .scroll-pane{
    height: 430px;
}

#content_video_rh .video-rh {
    padding: 0px 0px 0px 60px;
}

#content_video_rh {
    max-width: 100%;
    margin: 0 auto;
    background: #fff;
    height:497px;
    overflow: hidden;
    position:relative;
}



#content_video_rh .page-header{
    background: #8a8a8a;
    padding: 0;
    margin: 0;
    border: none;
    height: 36px;
}
#content_video_rh .page-header > .container-fluid > .row{
    margin-bottom: 0;
}
#content_video_rh .page-header .title{
    font-family: 'robotobold', arial;
    font-size: 18px;
    color: #f2f2f2;
    display: block;
    float: left;
    margin-left: 14px;
    line-height: 36px;
}
#content_video_rh .page-header .icon-title{
    display: block;
    float: left;
    margin-top: 6px;
}
#content_video_rh .form-search .select-wrapper span.caret {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px dashed #7e7f80;
    text-indent: -9999px;
    top: 11px;
    right: 10px;
}
#content_video_rh  .form-search{
    background: #ebebeb;
}
#content_video_rh  .form-search .form-group {
    margin-bottom: 2px;
}
#content_video_rh  .form-search > .row{
    margin-bottom: 0px;
}

#data-table-filters input{
    font-size: 14px;
    font-weight: bold;
    padding: 0px 0px 0px 10px;
    height: 2rem;
    line-height: 2rem;
    color: #808080;
    margin: 0 0 9px;
}
#data-table-filters .input-icone i{
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 13px;
    color: #808080;
}
#data-table-filters .dropdown-content{
    padding: 10px;
}

#data-table-filters input:hover,
#data-table-filters input:active,
#data-table-filters input:focus{
    font-size: 13px;
    padding: 0px 0px 0px 10px;
    height: 2rem;
    line-height: 2rem
}
#content_video_rh .form-control.select-wrapper >.form-control {
    display:none;
}
#content_video_rh .form-control.select-wrapper >.caret {
    top: 0.5rem;
    right: 20px;
    border: none;
    color: #7E7F80;
}
#content_video_rh .form-control.select-wrapper {
    display: inherit;
    /* width: 100%; */
    height: auto;
    padding: 0px 12px;
    /*font-size: 14px;*/
    /*    line-height: 1.42857143;*/
    color: #555;
    background-color: transparent;
    /*background-image: none;*/
    border:none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow:none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#data-table-filters{
    background-color: #eeeeee;
}
#content_video_rh .visuelG h3 {
    color: #363636;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: left;
}
#content_video_rh .visuelG{
    margin: 0 0 0 45px;
    text-align:center;
}
#content_video_rh .visuelG .btn {
    border: medium none !important;
    color: #f2f3f4;
    display: block;
    float: none;
    font-size: 12px;
    height: 22px;
    line-height: 15px;
    margin: 6px auto 9px;
    padding: 0;
    text-transform: none !important;
}
#content_video_rh .visuelG .btn i {
    color: #f2f3f4;
    font-size: 11px;
    line-height: 20px;
    margin-right: 2px;
}
#content_video_rh .glyphicon-star::before {
    content: "";
}
*::after, *::before {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
*::after, *::before {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

#content_video_rh .visuelG img{
    max-width: 100%;
}
#content_video_rh .listing{
    width:237px;
    height:419px;
    border-left:1px solid #9c9c9c;
    position:relative;
    float:right;
    padding-top:10px !important;
    padding-right:10px !important;
}
#content_video_rh .listing:after{
    content:'';
    background:#cdcece;
    width:1px;
    height:425px;
    position:absolute;
    left:0;
    top:0;
}
#content_video_rh .visuel .logo-company{
    margin: 0 auto;
    height: 16px;
    width: 73px;
}
#content_video_rh .listing li {
    overflow:hidden;
    padding:0 20px 10px;
    text-align:center;
}
#content_video_rh .listing li a{
    font-size:11px;
    color:#363636;
}
#content_video_rh .listing li div{
    float:right;
}
#content_video_rh .listing li div.favoris{
    padding: 10px 0 0 8px;
    display:block;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-transition-property: -webkit-transform, width;
    -moz-transition-property: -moz-transform, width;
    -o-transition-property: -o-transform, width;
    width:0;
}
#content_video_rh .listing li:hover div.favoris{
    width:25px;
    display:block;
    text-align:center;
}
#content_video_rh .listing li div.favoris li{
    padding:0 0 4px;
}
#content_video_rh .btn.green {
    background-color: #27ae60 !important;
    line-height: 22px;
}
@media only screen and (max-width: 1024px) {
    .visuelG{
        margin: 0 0 0 36px;
        width: 65%;
    }
    .listing.scroll-pane, .listing .jspPane, .listing .jspContainer{
        min-width: inherit !important;
    }
    .listing, .listing.scroll-pane{
        width:38% !important;
        min-width: inherit !important;
    }
    .visuelG img {

    }
    .visuel {
        max-width: 80%;
    }
    .visuel img {
        max-width: 100%;
    }

}

.icone-webcast {
    top: 48%;
    left: 65%;
}

.enter-webcast {
    margin: 9px 0px 0px 2px !important;
    font-size: 23px;
    color: #1275b8;
}

.icone-webcast a:hover{
    background-color: #03698F;
}
