/* jQuery Resize And Crop (jrac) */

.jrac_container {}

.jrac_viewport {
  position: relative;
  overflow: hidden;
  border:1px solid #ccc;
  width:400px;
  height:300px;
  background-image: url('images/viewport_background.gif');
}

.jrac_loading {
  background-image: url('images/loading.gif');
  background-repeat:no-repeat;
  background-position:center;
  position: absolute;
  top:0;left:0;right:0;bottom:0;
}

.jrac_crop {
  position: absolute;
  border: 2px solid yellow;
}

.jrac_crop_drag_handler {
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  background-color: #fff;
  opacity: .1; /* FX/Opera/Safari/Chrome */
  -ms-filter: "alpha(opacity=10)"; /* IE8 */
  filter: alpha(opacity = 10); /* IE6/IE7 */
}

.jrac_viewport img, .jrac_crop_drag_handler {
  cursor: pointer;
}
