/*
* CSS Screen document
*/


/* Imports Reset
================================================== */

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto-Regular-webfont.eot');
    src: url('../../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto-Regular-webfont.woff') format('woff'), url('../../fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('../../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../../fonts/Roboto-Bold-webfont.eot');
    src: url('../../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/Roboto-Bold-webfont.woff') format('woff'), url('../../fonts/Roboto-Bold-webfont.ttf') format('truetype'), url('../../fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body,

/*div,*/

span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: normal 12px 'Roboto', Arial, sans-serif;
    vertical-align: baseline;
    color: #000000;
    text-decoration: none;
}

body {
    background: #363636;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q,
blockquote {
    quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
    display: block;
}

.darkBg {
    background: #2f2726;
}


/* Sprites
================================================== */


/* Classes
================================================== */

.bold {
    font-weight: bold;
}

.clear {
    clear: both;
}

.clearfix {
    overflow: hidden;
    *zoom: 1;
}

.invisible {
    display: none;
}

.italic {
    font-style: italic;
}

.text-left {
    text-align: left;
}

.text-hidden {
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.text-justify {
    text-align: justify;
}

.text-right {
    text-align: right;
}

.right {
    float: right;
}

.left {
    float: left;
}

.error_messages {
    color: #e11e33;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

input {
    border: 0 none;
    padding: 0;
    outline: none;
}

img {
    display: block;
    border: none;
}

.line-through {
    text-decoration: line-through;
}


/* mise en page via le BackOffice */

.italic {
    font-style: italic;
}

.blanc {
    color: #FFFFFF;
}

.rouge {
    color: #ad0040;
}

p {
    color: #000000;
}


/* Structure generale
================================================== */

#container {
    /*overflow: hidden;*/
    position: relative;
    text-align: left;
    margin: 0 auto;
}

#contentG {
    position: relative;
    background: #e9eaed;
    width: 100%;
    float: left;
    background: url(../../img/bg-content.png) 0 0 repeat #eaebee;
    -webkit-box-shadow: inset 0 7px 12px 0 rgba(218, 218, 222, 1);
    -moz-box-shadow: inset 0 7px 12px 0 rgba(218, 218, 222, 1);
    box-shadow: inset 0 7px 12px 0 rgba(218, 218, 222, 1);
}

#content {
    max-width: 996px;
    margin: 0 auto;
    background: #FFFFFF;
    min-height: 620px
}

.bannier {
    overflow: hidden;
    margin: 0 0 26px;
    width: 100%;
}

.bannier img {
    width: 100%;
}


/********************
  file d'ariane
/********************/


/* Structure header
================================================== */


/* Structure header
================================================== */

header {
    width: 100%;
    position: relative;
    padding-top: 8px;
    background: #FFFFFF;
    /*overflow: hidden;*/
    float: left;
}

.headerTop {
    max-width: 996px;
    margin: 0 auto;
    min-height: 59px;
    text-align: center;
}

header .logo {
    float: left;
    margin: 0px;
}

header .accroche {
    font-size: 17px;
    color: #555555;
    font-family: 'Roboto', Arial;
    display: inline-block;
    margin: 15px auto;
    width: 323px;
}


/*header.connecter .accroche {
    margin: 0 10% 0 16%;
}*/

header .accroche span {
    color: #1275b8;
    font-weight: 700;
    font-size: 17px;
    font-family: 'Roboto', Arial;
    display: block;
}

header .accroche span.simple {
    color: #555555;
}

header .connexion {
    float: right;
    margin: 15px 0 0 0;
}

header .connexion li {
    float: left;
    position: relative;
}

header .connexion li>a {
    font-size: 14px;
    padding: 3px 6px;
    margin: 0 5px;
    outline-style: none;
    text-decoration: none;
    font-family: 'Roboto', Arial;
    color: #FFFFFF;
    background-color: #1275b8;
}

header .connexion li>a.active,
header .connexion li>a:hover {
    background-color: #1275b8;
    text-decoration: none;
}


/* Structure footer
================================================== */

footer {
    width: 100%;
    position: relative;
    background: #C1C1C1;
    min-height: 70px;
    border-top: 1px solid #e8e9ec;
    overflow: hidden;
}

footer .content {
    width: 1029px;
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
}

footer .content li {
    font-family: 'Robotobold', Arial;
    font-size: 15px;
    display: inline-block;
    color: #363636;
    font-weight: 400;
    line-height: 60px;
    position: relative;
    top: 11px;
    /*float: left;*/
}

footer .content li:last-child {
    float: right;
    /* margin: 7px 0 0; */
    position: relative;
    top: 1px;
}

footer .content li a {
    display: inline-block;
    /*  margin: 0 87px 0 45px; */
    position: relative;
    top: -11px;
}

footer .content li.no-style a {
    display: inline-block;
    margin: 0;
    position: relative;
    top: 0;
    color: #363636;
}

footer .content li span {
    top: -17px;
    position: relative;
}

.styleCustomArabic {
    margin: 0 13px 0 30px !important;
}

.logo-footer {
    height: 40px;
}

#poweredBy .logo-footer {
    height: 25px;
}


/********************
        bloque logo
/********************/

.logo {
    /*max-width: 369px;width: 429px;*/
    margin: 19px 0 0 108px;
    float: left;
}

.logo a {
    float: left;
}

.logo a.boutique {
    margin: 14px 0 0 183px;
    font-family: 'citroenregular';
    font-size: 25px;
    text-transform: uppercase;
    color: #c4b7a6;
}

.logo a.boutique span {
    display: block;
    color: #ffffff;
    font-size: 25px;
}


/* Structure content page inscription et activation
===================================================== */

.inscription,
.activation {
    padding: 0 0 0 45px;
    height: auto !important;
    background: none;
}

.steps {
    display: none !important;
}

.inscription h2,
.activation h2 {
    font-size: 24px;
    font-family: 'Roboto', Arial;
    color: #252525;
    margin: 0;
}

#inscription .formG h2 {
    margin-top: 15px;
}

.inscription h2 span,
.activation h2 span {
    font-size: 24px;
    font-family: 'Roboto', Arial;
    color: #ce242f;
}

.inscription .row,
.activation .row {
    margin-bottom: 0;
}

#inscription,
#activation {
    /*max-width: 652px;*/
    margin: 0 auto;
}

#inscription .formG,
#activation .formG {
    max-width: 652px;
    margin: 0 auto;
}

.actions {
    max-width: 652px;
    margin: 0 auto;
    padding: 2.5%;
}

#inscription .content,
#activation .content {
    background: none;
}

#inscription .content .body,
#activation .content .body {
    position: relative;
}

#inscription label,
#activation label {
    display: inline;
    float: left;
    position: relative;
    top: inherit;
    left: inherit;
    transform: none;
    width: 180px;
    line-height: 43px;
    font-size: 12px;
    color: #707070;
    font-family: 'Roboto', Arial;
}

#inscription label.info {
    width: 100%;
    line-height: 16px;
    margin-top: 10px;
    text-align: right;
    padding-right: 42px;
}

#inscription .check,
#activation .check {
    margin-top: 30px;
}

#inscription .check label,
#activation .check label {
    width: 100%;
    line-height: 20px;
    font-size: 12px;
}

#inscription label sup,
#activation label sup {
    font-size: 12px;
    color: #b3081b;
    font-family: 'Roboto', Arial;
}

#inscription input,
#activation input {
    width: 400px;
    padding: 0 10px 0 30px;
    margin: 0;
    color: #5a5858;
    font-size: 14px;
    font-family: 'robotobold', Arial !important;
}

.ui-multiselect-menu {
    min-width: 273px;
}

#inscription .ui-multiselect,
#activation .ui-multiselect {
    width: 400px !important;
    padding: 0 10px 0 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
    padding: 0 10px 0 30px;
    position: relative;
}

#inscription .ui-multiselect span.ui-icon {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px dashed #cccccc;
    right: 20px;
    top: 19px;
    position: absolute;
}

#activation .ui-multiselect.ui-state-active {
    width: 440px !important;
    border-bottom: 1px solid #ce242f;
    box-shadow: 0 1px 0 0 #ce242f;
}

#inscription .ui-multiselect span,
#activation .ui-multiselect span {
    color: #5a5858;
    font-family: 'robotobold', arial;
    font-size: 14px;
    font-weight: 400;
}

.ui-multiselect-menu {
    background: #fafafa;
    -webkit-box-shadow: 0 17px 15px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 17px 15px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 17px 15px 0 rgba(0, 0, 0, 0.2);
}

.ui-multiselect-menu li {
    clear: both;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    line-height: 1.5rem;
    text-align: left;
    text-transform: none;
    width: 100%;
}

.ui-multiselect-menu li,
.ui-multiselect-menu li span {
    color: #cccccc;
    display: block;
    font-family: "Roboto", Arial;
    font-size: 1.2rem;
    padding: 0.2rem 0.7rem;
    cursor: pointer;
}

.ui-multiselect-menu li span:hover {
    color: #363636;
}

.ui-multiselect-menu li span.active {
    color: #363636;
}

#inscription .btn,
#activation .btn {
    background-color: #ce242f;
    float: right;
    margin: 20px;
}

#inscription .btn.file,
#activation .btn.file {
    background-color: #ce242f;
    float: left;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    margin: 0 16px 0 0;
    width: 25%;
    line-height: 21px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

#inscription .btn.file:hover,
#activation .btn.file:hover {
    background-color: rgba(206, 36, 47, 0.7)
}

#inscription .btn.file span,
#activation .btn.file span {
    color: #FFFFFF;
}

#inscription .btn.file input,
#activation .btn.file input {
    padding: 0;
    width: 100% !important;
}

#inscription select.browser-default {
    width: 442px;
}


/*****************************************
        date picker
 ****************************************/

.picker {
    outline-style: none;
}

.picker__date-display {
    color: #FFFFFF !important;
    background: #d85963 !important;
}

.picker__weekday-display {
    background: #b3081b !important;
    font-family: 'Roboto', Arial;
    font-weight: 400 !important;
}

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
    background-color: #b3081b !important;
}

.picker__nav--prev::before,
.picker__nav--next::before {
    border-right: 0.75em solid #b3081b !important;
}

.picker__nav--next::before {
    border-left: 0.75em solid #b3081b !important;
    border-right: 0 !important;
}

.picker__close,
.picker__today {
    color: #b3081b !important;
}

.picker__day.picker__day--today {
    color: #b3081b;
}


/*****************************************
         Form Select
 *****************************************/

#inscription .select-wrapper {
    float: left;
}

#inscription .select-wrapper span.caret {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px dashed #cccccc;
    text-indent: -9999px;
    top: 19px;
    right: 20px;
}

.dropdown-content {
    max-height: 166px !important;
}

#inscription .select-dropdown li.disabled {
    cursor: none;
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
}

#inscription .select-dropdown li.disabled span {
    color: rgba(0, 0, 0, 0.5);
    cursor: none;
    font-family: "Robotobold";
}

.ui-multiselect-checkboxes label {
    border: none;
    padding: 0;
}


/*****************************************
        form validation
 ****************************************/

ul.nav-pills {
    display: none;
}

form label.error {
    bottom: -11px;
    color: #ce242f !important;
    display: inline-block;
    left: 162px !important;
    line-height: 1 !important;
    position: absolute !important;
    width: auto !important;
    margin-left: 2.5em;
    text-transform: none;
}

form input.error {
    border-bottom: 1px solid #ce242f;
    box-shadow: 0 1px 0 0 #ce242f;
    background: none;
}

#inscription .radio-custom {
    position: relative;
    margin-top: 1rem;
}

#inscription .radio-custom label {
    line-height: 48px;
}


/*****************************************
      avatar
 ****************************************/

.avatar {
    position: relative;
    overflow: hidden;
    min-height: 190px;
    margin: 20px auto 20px;
    width: 160px;
    cursor: pointer;
}

.avatar .file-preview {
    position: absolute;
    z-index: 0;
    margin: 0;
    padding: 0;
    width: auto;
    border: none;
}

.avatar .file-preview-frame {
    margin: 0;
    padding: 0;
    height: 160px;
}

.avatar .file-preview-frame img {
    width: 100% !important;
}

#inscription .avatar .btn {
    background-color: inherit;
    font-size: 0;
}

.avatar .btn-file {
    background: url(../../img/bg-avatar.png) center center no-repeat;
    background-size: cover;
    background-color: #FFFFFF;
    border: none;
    box-shadow: none;
    float: none !important;
    left: inherit;
    margin: 0 auto !important;
    overflow: hidden;
    padding: 0 !important;
    position: inherit;
    width: 160px;
    height: 160px;
}

#inscription .avatar .file-avatar {
    width: 160px;
    height: 160px;
    z-index: 22;
    top: 0;
    left: 0;
    background: transparent;
    padding: 0;
    position: absolute
}

.avatar .file-thumbnail-footer,
.avatar .file-preview .fileinput-remove {
    display: none !important;
}

.avatar .file-preview-frame {
    border: none;
    box-shadow: none;
}

.avatar .glyphicon {
    position: absolute;
    top: inherit;
    bottom: 0;
    color: #ce242f;
}

.avatar .glyphicon.glyphicon-folder-open {
    left: 0;
}

#inscription .avatar button.fileinput-remove {
    border: none;
    bottom: 0;
    box-shadow: none;
    color: #fff;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    width: 17px;
    z-index: 9999;
    background: none;
}

.avatar .glyphicon.glyphicon-trash {
    right: 0;
    z-index: 999;
}

#inscription .pager.wizard {
    margin: 0 auto;
    max-width: 652px;
    padding: 2% 0px;
}

#inscription .pager li>a,
#inscription .pager li a:active {
    background-color: #1275b8;
    color: #fff;
    display: block;
    height: 36px;
    letter-spacing: 0.5px;
    line-height: 36px;
    margin: 10px;
    padding: 0 2rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0;
    border: none;
}

#inscription .pager li>a:hover {
    background-color: #1275b8;
}

#inscription .pager li.disabled>a,
#inscription .pager li.disabled>a:hover {
    background-color: #1275b8;
    color: #aaa;
}

@media screen and (min-width: 640px) and (max-width: 980px) {
    /*footer .content li {
        float: right;
    }
    footer .content li:first-child {
        float: left;
    }*/
    footer .content li:last-child {
        /*display: block;
        width: 100%;
        text-align: center;
        margin: 10px 0 0;*/
    }
    footer .content li a {
        display: inline-block;
        margin: 0 20px 0 45px;
        top: -9px;
    }
}

@media only screen and (max-width: 379px) {
    header .connexion {
        float: right;
        margin: 15px 0 0 0;
        width: 100%;
        padding: 0 15px 20px;
    }
}

@media only screen and (max-width: 640px) {
    header .connexion {
        float: right;
        margin: 15px 0 0 0;
        width: 100%;
        padding: 0 15px 20px;
    }
    #content {
        padding: 0 15px;
    }
    .headerTop {
        text-align: center;
    }
    header .logo {
        float: none;
        margin: 10px auto 15px;
        display: inline-block;
    }
    header .accroche {
        float: none;
        margin: 0 auto;
        padding: 0 0 15px;
        width: 100%;
    }
    .inscription,
    .activation {
        padding: 0 20px 0 20px;
        width: 100%;
    }
    #inscription input,
    #activation input,
    #inscription .ui-multiselect,
    #activation .ui-multiselect,
    #inscription select.browser-default {
        width: 100% !important;
        padding: 0;
    }
    .wizard>.content>.body {
        width: 100% !important;
    }
    footer .content {
        padding: 0 10px;
    }
    footer .content li:last-child {
        display: block;
        width: 33%;
        text-align: center;
        margin: 15px 0 0;
    }
    footer .content li a {
        display: inline-block;
        margin: 0 0px 10px 5px;
        top: -1px;
    }
    /*****************************************
            form validation
     ****************************************/
    form label.error {
        bottom: -20px;
        left: 0 !important;
        margin-left: 13px !important;
    }
    form input.error {
        border-bottom: 1px solid #ce242f;
        box-shadow: 0 1px 0 0 #ce242f;
        background: none;
    }
    #inscription .radio-custom {
        position: relative;
        margin-top: 1rem;
    }
    #inscription .radio-custom label {
        width: auto;
        margin: 0 17px 0 0;
        line-height: 49px;
    }
    #inscription .radio-custom p label {
        width: auto !important;
    }
    #inscription .radio-custom p label.error#genre-error {
        bottom: -12px !important;
    }
    #inscription .select-wrapper label.error {
        left: -13px !important;
    }
    /*****************************************
         Form Select
    *****************************************/
    #inscription .select-wrapper {
        width: 100%;
    }
    #inscription .pager li>a,
    #inscription .pager li a:active {
        margin: 30px 10px;
    }
    #inscription .file-field .file-path {
        width: 72% !important;
    }
    #inscription label.info {
        padding-right: 0;
    }
    .ui-multiselect-menu {
        width: 91% !important;
    }
}

@media screen and (min-width: 200px) and (max-width: 480px) {
    .headerTop {
        text-align: center;
    }
    header .logo {
        float: none;
        margin: 10px auto 15px;
        display: inline-block;
    }
    header .accroche {
        float: none;
        margin: 0 auto;
        padding: 0 0 15px;
        font-size: 15px;
    }
    header .accroche span {
        font-size: 15px;
    }
    .inscription,
    .activation {
        width: 100%;
        padding: 0 10px;
    }
    #inscription input,
    #activation input,
    #inscription .ui-multiselect,
    #activation .ui-multiselect {
        width: 100% !important;
        padding: 0;
    }
    .wizard>.content>.body {
        width: 100% !important;
    }
    footer .content {
        padding: 0 40px;
    }
    footer .content li:last-child {
        display: block;
        width: 100%;
        text-align: center;
        margin: -20px 0 0;
    }
    footer .content li a {
        display: inline-block;
        margin: 0 0px 10px 5px;
        top: -2px;
    }
    /*****************************************
            form validation
     ****************************************/
    form label.error {
        bottom: -20px;
        left: 0 !important;
        margin-left: 13px !important;
    }
    form input.error {
        border-bottom: 1px solid #ce242f;
        box-shadow: 0 1px 0 0 #ce242f;
        background: none;
    }
    #inscription .radio-custom {
        position: relative;
        margin-top: 1rem;
    }
    #inscription .radio-custom label {
        width: auto;
        margin: 0 17px 0 0;
        line-height: 49px;
    }
    #inscription .radio-custom p label {
        width: auto !important;
    }
    #inscription .radio-custom p label.error#genre-error {
        bottom: -12px !important;
    }
    #inscription .select-wrapper label.error {
        left: -13px !important;
    }
    #inscription .file-field .file-path {
        width: 100% !important;
    }
    /*****************************************
           Form Select
   *****************************************/
    #inscription .select-wrapper {
        width: 100%;
    }
    /*****************************************
            btn file
    *****************************************/
    #inscription .btn.file,
    #activation .btn.file {
        margin: 10px auto 0;
        float: none;
        display: block;
        width: 50%;
    }
}

#file-up {
    display: none
}

#inscription .preloader-wrapper.big {
    display: block;
    height: 40px;
    margin: 28px auto;
    position: inherit !important;
    width: 40px;
    z-index: 25
}

#inscription .spinner-blue {
    color: #cfbfb3;
}

#inscription .spinner-red {
    color: #7b5447;
}

#inscription .spinner-yellow {
    color: #fcc91f;
}

#inscription .spinner-green {
    color: #7b5447;
}

.modal-loading {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba( 255, 255, 255, .8);
}


/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */

body.loading {
    overflow: hidden;
}


/* Anytime the body has the loading class, our
   modal element will be visible */

body.loading .modal-loading {
    display: block;
}

.modal-loading .preloader-wrapper {
    display: block;
    float: none;
    height: 48px;
    margin: 10% auto !important;
    position: relative;
    width: 48px;
}

.sweet-alert {
    border-radius: 0px;
}

.sweet-alert button {
    border-radius: 0px;
    background-color: #1275b8 !important;
}

.sweet-alert button:hover {
    background-color: #1275b8 !important;
}

.select-wrapper label.error {
    left: -26px !important;
    bottom: -18px;
}

.avatarG {
    text-align: center
}

#inscription .avatarG label {
    float: none;
    line-height: 12px;
    text-align: center;
    top: -27px;
}

.file-field {
    margin-top: 24px;
}

.radio-custom p {
    float: left;
    margin-bottom: 0;
    margin-top: 14px;
}

.radio-custom p label {
    line-height: 23px !important
}

.sweet-alert.show-input input {
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0px;
    height: 36px;
    margin: 10px 0px 0px 0px;
    box-shadow: none;
    font-size: 14px;
}

#cvNameRow {
    display: none;
}

#cvName {
    position: relative;
    top: 4px;
    line-height: 43px;
    margin-left: 30px;
}

.tab-content .input-field>span.caret {
    display: none;
}

.logo img {
    height: 60px;
}

.digiNameLogo {
    color: #70c08d !important;
    font-weight: 700;
    font-size: 17px;
    font-family: 'Roboto', Arial;
    font-style: normal;
}

footer .condition {
    font-family: 'Robotobold', Arial;
    font-size: 15px;
    display: inline-block !important;
    margin: 0 !important;
    top: 0 !important;
    color: #363636;
}

footer .condition:hover {
    text-decoration: underline;
}

.flagContainer img {
    height: 18px;
    float: left;
    margin-right: 10px;
    border: 0.5px solid beige;
}

.flagContainer .language-flag,
#langDrop img {
    display: none;
}

.langContainer {
    float: left;
}

.loginContainer {
    float: right;
}

.dropdown-menu {
    min-width: 122px;
}

.langContainer .flagContainer {
    background: rgba(112, 9, 9, 0);
    color: black;
}

header .connexion li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.loginContainer a {
    margin: 0px 0px 0px 20px !important;
}

header .connexion .dropdown-menu>li>a {
    padding: 3px 20px;
}

.headerTop span img {
    height: 30px;
    margin: 0px auto;
}

.customArabicStyle input,
.customArabicStyle textarea {
    direction: rtl;
}

.customArabicStyle .input-field label,
.customArabicStyle .input-field .g-recaptcha {
    float: right !important;
    direction: rtl;
}

.customArabicStyle h2 {
    text-align: right;
    width: 92%;
}

.customArabicStyle #inscription select.browser-default {
    direction: rtl;
}

.customArabicStyle #inscription .ui-multiselect span {
    float: right;
}

.customArabicStyle #inscription .ui-multiselect span.ui-icon {
    right: inherit;
    left: 20px;
}

.customArabicStyle footer .content li {
    float: right;
}

.customArabicStyle #poweredBy span,
.customArabicStyle footer .content li a {
    top: 0px;
}

.customArabicStyle footer .content li a {
    margin: 0px 12px 0 60px;
}

.customArabicStyle footer .content li:last-child {
    float: left;
}

.customArabicStyle footer .content li:last-child {
    margin: 0px;
    padding: 3px 0px;
}

.customArabicStyle footer {
    direction: rtl;
    height: 66px;
}

.customArabicStyle #poweredBy a {
    top: 9px;
}