/* general styles */

/* css reset*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp
	{
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	/*background: transparent;*/
	margin: 0;
	padding: 0;
}

.organizer,.powered {
	color: #808284;
	font-size: 10px;
	padding-left: 150px;
	margin-top: 0px;
}
.header-container{
	width : 765px;
    height: 90px;
    float: left;
}
#fairTitle, #fair-logo{
	display: none;
}
.bande-roll{
	width : 724px;
	height : 90px;
}
.powered-bande-roll{
    color: #808284;
    font-size: 10px;
    padding-left: 25px;
    margin-top: 0px;
    width: 871px;
}
.organizer img {
	height: 28px;
}

#standContent .row-fluid:first-child {
	/*display: none;*/
	
}

#listForumVisitorsTable th:nth-child(1),#listForumVisitorsTable th:nth-child(2),#listForumVisitorsTable th:nth-child(4),#listForumVisitorsTable th:nth-child(5)
	{
	width: 10%;
}

#listForumVisitorsTable th:nth-child(3),#listForumVisitorsTable th:nth-child(6)
	{
	width: 20%;
}

#listPublicationsDisplay a,#listSectors a {
	/* 	color: #E9752A !important; */
	
}

#sloganLabel,#sectorLabel {
	color: #E9752A;
}

#fair-logo {
	float: left;
	margin-left: 20px;
	margin-top: 5px;
}

#fair-logo img {
	width: 170px;
}

#listSocial {
	font-size: 12px;
}

#listSocial a,.listLinks a {
	color: #E9752A;
}

#fairTitle {
	float: left;
}

#fairTitle h3,#visitorsInfo h3 {
	color: #808284;
	font-size: 17px;
	margin-left: 20px;
	margin-top: 16px;
}

#visitorsInfo {
	float: left;
	margin: 6px 0px 0px 20px;
}

#visitorsInfo span {
	color: #808284;
	font-size: 14px;
	margin-left: 5px;
	margin-top: 30px;
}

#visitorsInfo #forumVisitorNbre,#visitorsInfo #standsVisitorNbre,#visitorsInfo #standVisitorNbre
	{
	margin-left: 2px;
}

/*

.powered img {
	height: 25px;
}

 :focus {

 outline: none

 }



 ::-moz-focus-inner {

 border: 0

 }

 */

/*html, body {

 height: 100%

 }*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block
}

b,strong {
	font-weight: bold
}

section h1,#stavisitorsContent {
	color: #E9752A;
}

hr {
	margin-top: 5px;
}

img { /*color: transparent;*/
	font-size: 0;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic
}

ol,ul {
	list-style: none
}

li {
	display: list-item;
}

table { /*width : 100%;*/
	/*border-collapse: separate;

	 border-spacing: 0;

	 table-layout: fixed;*/
	
}

th,td,caption {
	font-weight: normal;
	vertical-align: top;
	text-align: left
}

q {
	quotes: none
}

q:before,q:after {
	content: '';
	content: none
}

sub,sup,small {
	font-size: 75%
}

sub,sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

/*sub {

 bottom: -0.25em;

 }



 sup {

 top: -0.5em;

 }

 */
svg {
	overflow: hidden
}

html,body {
	background: #F3F4F8;
	/*background: #ffffff;*/
	font: 11px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* end css reset*/
h1 {
	font-weight: normal;
	font-size: 1.5em;
}

#listSectors td {
	font-size: 10pt;
	width: 210px;
}

#listSectors a.td {
	color: #E9752A;
}

.messageConfirmation {
	display: none;
	position: absolute;
	left: 40%;
	top: 29%;
	padding: 15px 30px 15px 30px;
	background-color: #b4e2f3; /*#C4FFC4;*/
	border: 1px solid #D0D0D0;
	font-size: 13px;
	font-weight: bold;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
	z-index: 999999;
}

a.grayLink {
	color: gray;
	outline: none;
	text-decoration: none;
	font-size: 12px;
}

a.grayLink:hover {
	text-decoration: underline;
}

.form-label {
	color: #666666;
	font-size: 13px;
	font-weight: bolder;
	vertical-align: middle;
	max-width: 370px;
}

.form-input {
	border: 1px solid #CCCCCC;
	float: left;
	font-size: 12px;
	height: 23px;
	line-height: 23px;
	padding-left: 4px;
	width: 300px;
}

/*

 :-moz-placeholder {

 color: blue;

 }



 ::-webkit-input-placeholder {

 color: blue;

 }

 */
.required_notification {
	color: #d45252;
	margin: 5px 0 0 0;
	display: inline;
	float: right;
}

/*input:required,textarea:required {

 background: #fff url(images/red_asterisk.png) no-repeat 98% center;

 }

 */

/*input:focus:invalid,textarea:focus:invalid {

 background: #fff url(images/invalid.png) no-repeat 98% center;

 box-shadow: 0 0 5px #d45252;

 border-color: #b03535

 }*/

/*input:required:valid,textarea:required:valid {

 background: #fff url(images/valid.png) no-repeat 98% center;

 box-shadow: 0 0 5px #5cd053;

 border-color: #28921f;

 }

 */

/*

 .form_hint {

 background: #d45252;

 border-radius: 3px 3px 3px 3px;

 color: white;

 margin-left: 8px;

 padding: 1px 6px;

 z-index: 999;

 position: absolute;

 display: none;

 }



 .form_hint::before {

 content: "\25C0";

 color: #d45252;

 position: absolute;

 top: 1px;

 left: -6px;

 }



 input:focus+.form_hint {

 display: inline;

 }



 input:required:valid+.form_hint {

 background: #28921f;

 }

 input:required:valid+.form_hint::before {

 color: #28921f;

 }

 */
.eds-dialog-container {
	position: fixed;
	z-index: 9999;
	font: 13px/1.5 Helvetica Neue, Arial, Helvetica, 'Liberation Sans',
		FreeSans, sans-serif;
}

.eds-dialog { /*background-color: rgb(110, 110, 110);

	 box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);

	 padding: 6px;

	 z-index: 9999;*/
	background-color: #6E6E6E;
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
	padding: 6px;
	z-index: 11;
}

.draggable .eds-dialog-header {
	cursor: move;
}

.eds-dialog-header {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin: 0;
	padding-bottom: 5px;
	position: relative;
}

.eds-dialog-header,.eds-dialog-error,.eds-dialog-body,.eds-dialog-footer
	{
	display: block;
}

.eds-dialog-inside {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	padding-top: 6px;
	padding-bottom: 6px;
	font: 13px/1.5 Helvetica Neue, Arial, Helvetica, 'Liberation Sans',
		FreeSans, sans-serif;
}

.eds-dialog-close {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
	border-radius: 3px 3px 3px 3px;
	cursor: pointer;
	font: bold 16px/18px Tahoma, sans-serif;
	height: 20px;
	position: absolute;
	right: 0;
	color: white;
	bottom: 6px;
	text-align: center;
	width: 20px;
}

.eds-dialog-close:hover {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
	border-radius: 3px 3px 3px 3px;
	cursor: pointer;
	font: bold 16px/18px Tahoma, sans-serif;
	height: 20px;
	position: absolute;
	right: 0;
	color: #b6b6b6;
	bottom: 6px;
	text-align: center;
	width: 20px;
}

.clearfix:after {
	clear: both;
	content: ". ";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.eds-dialog-header,.eds-dialog-error,.eds-dialog-body,.eds-dialog-footer
	{
	display: block;
	padding-left: 15px;
	padding-right: 15px;
}

.eds-dialog-content { /*margin-bottom: 11px;*/
	word-wrap: break-word;
}

.clearfix:after {
	clear: both;
	content: ". ";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.eds-dialog-header,.eds-dialog-error,.eds-dialog-body,.eds-dialog-footer
	{
	display: block;
	padding-left: 15px;
	padding-right: 15px;
}

.labelDesign {
	position: relative;
	top: 14px;
	font-size: 14px;
}

/* oracle input design*/
.x25,.portlet-form-input-field,.xd3 {
	background-color: #FFFFFF;
	border: 1px solid #AAAAAA;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 1px 2px 3px #CCCCCC;
	color: #000000;
	font-family: Arial, Helvetica, Geneva, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	height: 25px;
	line-height: 25px;
	/*     margin-bottom: 3px;

	 margin-top: 4px; */
	padding: 2px;
	width: 300px;
}

#content {
	display: block;
	position: relative;
	overflow: visible;
	margin: 10px auto auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/*min-width: 800px;*/
	min-width: 960px;
	margin: 0px 0px 40px 0px;;
}

#content .page-title {
	background: #F3F4F8;
	height: 110px;
	font-size: 1.1em;
	line-height: 40px;
	/*background: #393a42 repeat-x;*/
	/*border-radius: 2px;

	 -o-border-radius: 2px;

	 -moz-border-radius: 2px;

	 -webkit-border-radius: 2px;*/
	color: #fff;
	margin-top: 15px;

	/*border: 1px solid #0d0d0d;*/
}

#content div.box {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: block;
	position: relative;
	overflow: visible;
	min-height: 75px;
	background: #fff;
	border: 1px solid #c5c5c5;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

#content div.box.with-sidebar {
	margin-left: 143px;
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0
}

legend {
	display: block;
	width: 100%;
	padding: 0;
	line-height: 36px;
	color: #121212;
	border: 0;
	border-bottom: 1px solid #EEE;
	margin-bottom: 22px;
	position: relative;
	overflow: hidden;
	font-weight: normal;
	text-decoration: none;
	font-variant: normal;
	text-shadow: #fff 0 -1px 0;
	font-style: normal;
	letter-spacing: 0;
	font-size: 2.5em;
	text-transform: capitalize
}

label,input,button,select,textarea {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px
}

label {
	display: block;
	margin-bottom: 6px;
	color: #333;
	font-size: 13px;
}

input




































:not


















 


















(
[
type
=
"checkbox"
]


















 


















)
{
display




































:


















 


















inline-block




































;
width




































:


















 


















200
px




































;
height




































:


















 


















19
px




































;
padding




































:


















 


















5
px




































;
font-size




































:


















 


















12
px




































;
line-height




































:


















 


















18
px




































;
color




































:


















 


















#555




































;
border




































:


















 


















1
px


















 


















solid


















 


















#CCC






































}
select {
	display: inline-block;
	width: 212px;
	height: 41px;
	padding: 6px;
	font-size: 12px;
	line-height: 18px;
	color: #555;
	border: 1px solid #CCC
}

input:not                    ([type="radio"]                    ),textarea
	{
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s
}

input[type="file"] {
	margin-left: 0;
	padding-left: 0;
	border: none;
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

input:focus,textarea:focus {
	border: 1px solid #a5a5a5 !important;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}

input.error,textarea.error {
	border: 1px solid #ec362b;
}

input.error:focus,textarea.error:focus {
	border: 1px solid #ec362b !important;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}

/*

 input.valid,textarea.valid {

 border: 1px solid #37ac39;

 }



 input.valid:focus,textarea.valid:focus {

 border: 1px solid #37ac39 !important;

 -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

 -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

 box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)

 }

 */
div.box-sidebar-holder { /*width: 960px;*/
	margin: auto;
	display: block;
	position: absolute
}

div.box-sidebar-holder.fixed {
	width: 960px;
	margin: auto;
	display: block;
	position: fixed;
	top: 40px
}

div.box-sidebar {
	display: block;
	position: relative;
	width: 200px;
	overflow: visible;
	float: left
}

div.box-sidebar ul li {
	width: 131px;
	cursor: pointer;
	opacity: 0.6;
	display: block;
	position: relative;
	height: 45px;
	line-height: 45px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
	font-size: 1.3em;
	border: 1px solid #c5c5c5;
	padding-left: 10px;
	border-right-style: none;
	border-bottom-style: none;
	z-index: 999;
	overflow: visible;
	color: #919191;
	text-align: left;
	background-color: #f1f1f1
}

div.box-sidebar ul li div {
	float: left;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0
}

div.box-sidebar ul li:first-child {
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px
}

div.box-sidebar ul li:last-child {
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px
}

div.box-sidebar ul li.active {
	-webkit-box-shadow: -1px 2px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: -1px 2px 1px rgba(0, 0, 0, 0.1);
	box-shadow: -1px 2px 1px rgba(0, 0, 0, 0.1);
	opacity: 1;
	z-index: 1000;
	width: 133px;
	background-color: #fff;
	color: #000
}

div.box-sidebar ul li.general-settings div,div.box-sidebar ul li.policy-general div
	{
	background: #f1f1f1 -522px -158px no-repeat;
	width: 24px;
	height: 24px;
	left: 10px;
	top: 10px
}

div.box-sidebar ul li.advanced-settings div,div.box-sidebar ul li.policy-preferences div
	{
	background: #f1f1f1 -823px -130px no-repeat;
	width: 24px;
	height: 24px;
	left: 10px;
	top: 10px
}

#content .page-title .title-text {
	border-left: 1px solid rgba(207, 207, 207, 0.2);
	line-height: 40px;
	height: 40px;
	width: 300px;
	display: block;
	position: relative;
	overflow: hidden;
	float: left;
	font-size: 1.5em;
	text-shadow: rgba(10, 10, 10, 0.49) 0 -1px 0;
	padding-left: 10px
}

.resp_container .span12 {
	width: 90%;
	margin-left: 0px;
}

{
width














:







 







90%;
margin-left














:







 







0
px














;
}
div.content-sidebar div.content-sidebar-content {
	display: block;
	position: relative;
	overflow: visible;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px
}

div.box-sidebar ul li.active.general-settings div {
	background: #fff -522px -158px no-repeat
}

div.box-sidebar ul li.active.advanced-settings div {
	background: #fff -823px -130px no-repeat
}

div.box-sidebar ul li.active.feed-settings div {
	background: #fff -849px -130px no-repeat
}

div.box-sidebar ul li.active.mobile-settings div {
	background: #fff -548px -158px no-repeat
}

div.box-sidebar ul li:first-child {
	width: 132px;
}

div.box-sidebar ul li:first-child.active {
	width: 133px
}

div.box-sidebar ul li:last-child {
	border-bottom: 1px solid #c5c5c5;
}

/* added by krimi si on veut déplacer les sections techniques en bas */
div.content-sidebar {
	display: block;
	position: relative;
	overflow: visible;
	min-height: 600px;
	padding-bottom: 30px;
	font-variant: normal
}

a.blueLink {
	color: #58b;
	font-weight: bold;
	outline: none;
	text-decoration: none;
	font-size: 12px;
}

a.blueLink:hover {
	text-decoration: underline;
}

a.blueLinkUnderline {
	color: #E9752A;
	outline: none;
	text-decoration: underline;
	font-size: 12px;
	margin-left: 5px;
}

a.blueLinkUnderline:hover {
	text-decoration: none;
}

a.greenLinkUnderline {
	color: #5DBA5D;
	font-weight: bold;
	outline: none;
	text-decoration: underline;
	font-size: 12px;
}

a.greenLinkUnderline:hover {
	text-decoration: none;
}

.cke_editable {
	line-heifht: 0.6em !important;
}

a.redLinkUnderline {
	color: #CD0A0A;
	font-weight: bold;
	outline: none;
	text-decoration: underline;
	font-size: 12px;
}

#prerequis-content span {
	font-size: 15px !important;
}

a.redLinkUnderline:hover {
	text-decoration: none;
}

textarea {
	resize: none;
	padding: 10px;
}

.righttext {
	text-align: right;
}

.lefttext {
	text-align: left;
}

.asterix {
	color: red;
}

p {
	font-size: 12px;
}

/* here we change jquery validation label color */
label.error {
	color: red;
}

.pointer {
	cursor: pointer;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.filebutton span {
	color: #E9752A;
	outline: none;
	text-decoration: none;
	font-size: 13px;
}

.filebutton span:hover {
	color: #E9752A;
	outline: none;
	text-decoration: underline;
	font-size: 13px;
	cursor: pointer;
}

#listSurveys a,#accountForm h1,a.blueLink {
	color: white !important;
}

/* #listSurveys a,#surveyForm table a,#accountForm h1,a.blueLink {
	color: white !important;
} */
.btn-view,.btn-view:hover {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-view {
	background-color: #E9752A;
	*background-color: #f27743;
	background-image: -ms-linear-gradient(top, #f27743, #E9752A);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f27743),
		to(#E9752A));
	background-image: -webkit-linear-gradient(top, #f27743, #E9752A);
	background-image: -o-linear-gradient(top, #f27743, #E9752A);
	background-image: -moz-linear-gradient(top, #f27743, #E9752A);
	background-image: linear-gradient(top, #f27743, #E9752A);
	background-repeat: repeat-x;
	border-color: #E9752A #E9752A #E9752A;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#E9752A',
		endColorstr='#E9752A', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-view:hover,.btn-view:active,.btn-view.active,.btn-view.disabled,.btn-view[disabled]
	{
	background-color: #f27743;
}

.btn-view:active,.btn-view.active {
	background-color: #f27743 \9;
}

.sidebar-button label {
	cursor: pointer;
}

label.filebutton {
	height: 20px;
	overflow: hidden;
	position: relative;

	/*background-color: #ffffff;*/
}

label span input[type="file"] {
	color: #58b;
	z-index: 999;
	line-height: 0;
	font-size: 50px;
	position: absolute;
	top: -2px;
	left: -600px;
	opacity: 0;
	filter: alpha(opacity =                                         0);
	-ms-filter: "alpha(opacity=0)";
	cursor: pointer;
	/*cursor: hand;*/
	margin: 0;
	padding: 0;
}

/*.blueLink:hover {

 text-decoration: underline;

 }*/
input[type="checkbox"],input[type="checkbox"]+label {
	cursor: pointer;
}

input[type="radio"],input[type="radio"]+label,input[type="checkbox"],input[type="checkbox"]+label
	{
	cursor: pointer;
}

.inline {
	display: inline;
}

.block {
	display: block;
}

textarea {
	border: 1px solid #c0c0c0;
}

.clearBoth {
	clear: both;
}

.numbers {
	position: relative;
	top: 1px;
}

.listSurveys a.btn-info {
	color: white !important;
}

#imageEdited {
	margin-right: 5px;
}

.contentOpacity2 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0px;
	background: #000000;
	display: none;
	z-index: 9999;
	opacity: 0.4;
}

.progress-bar-uploadfile {
	height: 100%;
	background-color: #E9752A;
	float: none !important;
}

.loadingText {
	position: absolute;
	text-align: center;
	margin: auto;
	width: 100%;
	padding: 0px;
	color: #2B3D3C;
}

#progressAdvice .loadingText,#progressLogoRecruiterUpload .loadingText,#progressPhotoTestimony .loadingText,#progressLogoUpload .loadingText
	{
	padding-top: 2px;
}

.progress-div-costum {
	position: relative;
	top: 10px;
	left: 20px;
	height: 25px;
}

.uploadPhotoContact {
	padding-left: 10px;
}

.keyWordDiv {
	padding-left: 10px;
}

.popupMessage,.messageContentCandidature {
	width: 500px;
}

#messageContent,#messageContentCandidature,#ShareProfileContent,#skypeMessageTo,#skypeMessageSubject,#skypeMessageContent {
	width: 92%;
}

#messageSubject,#shareProfileTo,#shareProfileSubject {
	width: 95%;
	height: 20px;
	padding: 5px;
	border: 1px solid #CCC;
}

#messageForm,#messageFormCandidature {
	padding: 5px;
}

#messageForm div,#messageFormCandidature div,#shareProfileForm div {
	background: white;
	padding-left: 8px;
}

#messageReceiverCandidature {
	width: 96.5%;
}

#messageFields,#shareProfileFields {
	padding-bottom: 10px;
	padding-top: 10px;
}

#messageFields div:first-child {
	padding-top: 10px;
}

.dropdown-menu {
	min-height: 84px !important;
}

.alignRight {
	text-align: right;
}

#listAdvicesTable_filter input,#listJobOffersTable_filter input,#listCandidaturesTable_filter input,
#listUnsolicitedCandidaturesTable_filter input, #listQuestionInfosTable_filter input{
	height: 14px;
	width: 174px;
	border: 1px solid #CCC;
}

td label {
	font-size: 14px;
	font-weight: bold;
}

td label span {
	font-size: 14px;
	font-weight: bold;
}

.green-text {
	color: #006A8C;
}

.select {
	margin-bottom: 6px !important;
}

.btn .caret {
	margin-top: 4px !important;
}

.open>.dropdown-menu {
	margin-top: 0px !important;
}

.substituteEnglish {
	margin-top: -4px !important;
}

.jqEasyCounterMsg {
	padding: 0px !important;
}

#listTestimoniesTable td,#listAdvicesTable td,#listJobOffersTable td,#listCandidaturesTable td,#listUnsolicitedCandidaturesTable td,#listSearchProfilesTable td,#listForumVisitorsTable td,#listForumVisitorsTable td
	{
	max-width: 140px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#cvSearchButton,#exportCandidatesButton,#advanceSearchButton,#exportContactsButton {
	height: 42px;
	margin-top: 24px
}

#cvSearchInput {
	width: 166px;
	margin-bottom: 12px;
}

.bigCalHeader {
	background-color: #006A8C
}

.monthViewDayClickClass,.weekDaysLink,.dayViewDayClickClass {
	color: #333333;
	padding-left: 5px;
	border-top: 1px solid #006A8C;
	border-right: 1px solid #006A8C;
}

.monthViewDayClickClass,.weekDaysLink,.dayViewDayClickClass {
	background-color: #F1F3F4;
	font-size: 16.002px;
	text-align: center;
}

.dayDaysLink {
	background-color: #FCF1E9;
}

.bigCalTable td,.weekViewTable .weekViewDayClickClass,.dayViewTable .dayViewDayClickClass2,.weekViewTable .weekViewClock,.dayViewTable .dayViewClock
	{
	border-right: 1px solid #006A8C;
	border-top: 1px solid #006A8C;
}

.event {
	background-color: #006A8C;
	color: white
}

.dayViewTable,.weekViewTable,.bigCalTable {
	border-bottom: 1px solid #006A8C;
	border-left: 1px solid #006A8C;
}

#popupMessageSent {
	display: none;
	position: absolute;
	left: 40%;
	padding: 15px;
	background-color: #C4FFC4;
	border: 1px solid #D0D0D0;
	font-size: 13px;
	font-weight: bold;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
}

#messageForm div {
	margin-bottom: 15px;
}

#candidaturesContent .not-read-candidate {
	margin-right: 30px !important;
	background: #fe6363 !important;
	width: 70px;
	padding: 4px 10px !important;
	border-radius: 2px;
	font-size: 13px;
	text-align: center;
}

#candidaturesContent .exportCandidaturesBtn {
	display: inline;
	float: right;
	top: -15px;
	position: relative;
	text-decoration: underline;
}

#candidaturesContent .candidaturesTitle {
	color: black;
	display: block;
}

#candidaturesContent .candidaturesLine {
	background: gray;
	border: 0;
	height: 1px;
	margin-bottom: 20px;
	width: 100%;
}

#candidaturesContent .manageCandidatures {
	font-size: 14px;
	margin-bottom: 30px;
}

#candidaturesContent .candidaturesTable {
	cellpadding: 0;
	cellspacing: 0;
	border: 0;
}

#candidaturesContent .viewUserProfile {
	font-weight: bold;
	margin-right: 10px;
}

#candidaturesContent .readCandidate {
	font-weight: bold;
	margin-right: 10px;
	text-decoration: none;
}

#candidaturesContent td .btn {
	margin: 10px 5px;
	width: 90px;
	font-size: 13px;
	padding: 5px;
}

#candidatureSortableColumns {
	list-style-type: none;
	margin: auto;
	padding: 0;
	width: 80%;
	display: block;
	height: 120px;
}

#candidatureSortableColumns li {
	margin: 0 3px 3px 3px;
	padding: 5px 0px 10px 1.5em;
	font-size: 1.4em;
	height: 10px;
	float: left;
	width: 40%;
}

#candidatureSortableColumns li span {
	position: absolute;
	margin-left: -1em;
}

#popupExportCandidatures {
	visibility: visible;
	width: 50%;
	top: 15%;
	left: 25%;
	display: none;
	padding: 0;
}

#popupExportCandidatures .eds-dialog {
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
}

#popupExportCandidatures .eds-dialog-header {
	padding: 10px;
	margin-right: 4px;
}

#popupExportCandidatures #exportCandidaturesTitlePopup {
	color: white;
	margin-bottom: 2px;
	height: 25px;
	text-align: center;
}

#popupExportCandidatures .eds-dialog-close {
	margin-bottom: 7px;
}

#popupExportCandidatures .eds-dialog-content>div {
	width: 100%;
	height: auto;
	padding: 15px 0px 15px 0px;
}

#popupExportCandidatures .eds-dialog-content>div p {
	text-align: center;
	margin-bottom: 20px;
}

#popupExportCandidatures .eds-dialog-content>div>p>label {
	width: 220px !important;
	margin-top: 10px;
	float: left;
	font-size: 17px;
}

#archiveExportCandidatureFileName {
	width: 200px !important;
	border-radius: 4px;
	border: 1px solid #bdc3c7;
}

#archiveDataTableExportCandidature a {
	color: #326ca6;
}

#fileSeparatorCandidature {
	width: 215px;
}

#candidatureSortableColumns li>label>span {
	margin-left: 15px;
}

#candidatureSortableColumns li>label>input {
	margin: -2px 0px 0px 5px;
}

#candidatureSearchDiv #jobOfferSelect {
	width: 252px;
	position: relative;
	height: 35px;
}

#candidatureSearchDiv #jobOfferDiv {
	position: relative;
	top: -58px;
}

#candidatureSearchDiv #jobOfferDiv span {
	vertical-align: super;
}

#candidatureSearchDiv>div {
	height: 0px;
}

#addPosterLink {
	font-weight: bold;
}

.onePoster {
	border-bottom: 1px solid #C5C5C5;
	padding: 10px;
}

.onePoster img {
	margin-right: 20px;
}

.onePoster button {
	margin-right: 10px;
}

#addPhotoLink {
	font-weight: bold;
}

.onePhoto {
	border-bottom: 1px solid #C5C5C5;
	padding: 10px;
}

.onePhoto img {
	margin-right: 20px;
}

.onePhoto button {
	margin-right: 10px;
}

hr {
	background: gray;
	border: 0;
	height: 1px;
	margin-bottom: 20px;
}

#adviceCreationDiv {
	padding: 20px;
	border: 1px solid #c0c0c0;
	width: 70%;
	margin: 0 auto;
	margin-top: 20px;
	clear: both;
	margin-bottom: 20px;
	display: none;
}

#adviceCreationDiv #saveAdvice {
	margin-right: 10px;
	font-size: 16px;
}

#adviceCreationDiv div {
	padding: 10px;
}

#adviceCreationDiv input {
	width: 30%;
}

#adviceCreationDiv textarea {
	width: 100%;
	height: 240px;
    	resize: vertical;
}

.help-inline {
	margin-top: 5px;
	padding-left: 3px;
}

.listAdvices {
	margin-top: 30px;
}

#addAdviceLink {
	font-weight: bold;
	margin-bottom: 20px;
}

.headers {
	clear: both;
	background-color: #D0D0D0;
	width: 100%;
	padding: 10px;
}

.headers th {
	font-size: 13px;
	font-weight: bold;
}

.content {
	width: 100%;
	border-bottom: 1px solid #D0D0D0;
	padding: 10px;
	cursor: pointer;
}

.listAdvices {
	border: 1px solid #D0D0D0;
}

#listAdvices {
	max-height: 610px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#uploadOptionDiv {
	display: none;
}

h1 {
	padding: 0;
	color: #0796BE;
	font-size: 16px;
}

.personnalData>div {
	padding: 10px 0px 10px 0px;
}

#addDocumentLink {
	font-weight: bold;
}

.oneDocument {
	border-bottom: 1px solid #C5C5C5;
	padding: 10px;
}

.oneDocument img {
	margin-right: 20px;
}

.oneDocument button {
	margin-right: 10px;
}

hr {
	background: gray;
	border: 0;
	height: 1px;
	margin-bottom: 20px;
}

#jobCreationDiv {
	padding: 20px;
	border: 1px solid #c0c0c0;
	width: 600px;
	margin: 0 auto;
	margin-top: 20px;
	clear: both;
	margin-bottom: 20px;
	display: none;
}

h1.forumPublicationsLabel,h1.standPublicationsLabel {
	padding: 0;
	color: #E9752A;
	font-size: 16px;
}

.addDiv {
	position: relative;
	bottom: 40px;
    text-align: right;
}

.addDiv {
	cursor: pointer;
}

.addDiv span {
	color: #E9752A;
}

hr {
	background: #E9752A;
	border: 0;
	height: 1px;
}

#listPublicationsDisplay {
	width: 70%;
}

#jobCreationDiv #saveJob {
	margin-right: 10px;
	font-size: 16px;
	/* 			padding: 3px 15px 3px 15px; */
}
/*#jobCreationDiv div {
					 padding: 10px;
					 }*/
.paddingDiv {
	padding-bottom: 10px;
	padding-top: 10px;
}

#jobCreationDiv input {
	width: 90%;
}

#jobCreationDiv textarea {
	width: 90%;
	height: 80px;
}

#jobCreationDiv #jobDescription {
	width: 95%;
	height: 160px;
}

#jobCreationDiv .datepicker {
	width: 140px;
}

input#jobTitle {
	width: 97%;
}

.listJobOffers {
	margin-top: 30px;
}

a {
	color: #E9752A;
}

#addJobOfferLink {
	font-weight: bold;
	margin-bottom: 20px;
}

.headers { /*display: none;*/
	clear: both;
	background-color: #D0D0D0;
	width: 100%;
	padding: 10px;
}

.headers th {
	font-size: 13px;
	font-weight: bold;
}

.contentJobOfferDetails {
	width: 99%;
	cursor: default;
}

.listJobOffers {
	border: 1px solid #D0D0D0;
}

#listJobOffers {
	max-height: 610px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#jobOfferViewContent li {
	padding: 5px 2px 5px 2px;
}

.contentJobOfferDetails li span {
	color: #E9752A;
}

.contentJobOfferDetails .clear-both {
	height: 5px;
}

.jobOffer-content {
	overflow-y: auto;
	height: 250px;
}

#jobCreationDiv #jobSkills {
	width: 97%;
}

hr {
	background: gray;
	border: 0;
	height: 1px;
	margin-bottom: 20px;
}

#testimonyCreationDiv {
	padding: 20px;
	border: 1px solid #c0c0c0;
	width: 70%;
	margin: 0 auto;
	margin-top: 20px;
	clear: both;
	margin-bottom: 20px;
	display: none;
}

#testimonyCreationDiv #saveTestimony {
	margin-right: 10px;
	font-size: 16px;
	/*                 padding: 3px 15px 3px 15px; */
}

#testimonyCreationDiv div {
	padding: 10px;
}

#testimonyCreationDiv input {
	width: 30%;
}

#testimonyCreationDiv textarea {
	width: 100%;
	height: 160px;
}

#testimonyCreationDiv .datepicker {
	width: 90px;
}

.help-inline {
	margin-top: 5px;
	padding-left: 3px;
}

.listTestimonies {
	margin-top: 30px;
}

#addTestimonyLink {
	font-weight: bold;
	margin-bottom: 20px;
}

.headers {
	/*display: none;*/
	clear: both;
	background-color: #D0D0D0;
	width: 100%;
	padding: 10px;
}

.headers th {
	font-size: 13px;
	font-weight: bold;
}

.content {
	width: 100%;
	border-bottom: 1px solid #D0D0D0;
	padding: 10px;
	cursor: pointer;
}

.listTestimonies {
	border: 1px solid #D0D0D0;
}

#listTestimonies {
	max-height: 610px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.popupTestimonyView span {
	margin-left: 10px;
}

.popupTestimonyView label {
	margin-top: 20px;
}

#testimonyContentView {
	overflow-y: auto;
	height: 300px;
	margin-top: 10px;
}

#addVideoRhLink {
	font-weight: bold;
}

.oneVideoRh {
	border-bottom: 1px solid #C5C5C5;
	padding: 10px;
}

.oneVideoRh img {
	margin-right: 20px;
}

.oneVideoRh button {
	margin-right: 10px;
}

#addVideoLink {
	font-weight: bold;
}

.oneVideo {
	border-bottom: 1px solid #C5C5C5;
	padding: 10px;
}

.oneVideo img {
	margin-right: 20px;
}

.oneVideo button {
	margin-right: 10px;
}

.contact {
	padding: 5px 10px 5px 10px;
	border: 1px solid #C5C5C5;
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	background-color: #F0F0F0;
	margin: 5px 10px 5px 0px;
	/*-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
                -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
                box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);*/
}

ul#contactUl li {
	padding: 4px 0px 4px 0px;
	font-size: 13px;
}

#videoUrl+label.error {
	padding: 2px 0px 2px 120px;
	background: url("wdCalendar/css/images/validation/exclamation.png")
		no-repeat scroll 100px center transparent;
}

.horizontalUl li {
	float: left;
}

.containerEditor {
	width: 630px;
}

td {
	padding: 10px;
}

section {
	margin-bottom: 15px;
}

h1 {
	margin-bottom: -4px;
	padding: 0;
	color: #0796BE;
}

label#contactDefaultImage {
	height: 60px;
}

#visitorsContent td {
	padding: 10px;
}

#visitorsContent h1 {
	margin-bottom: -4px;
	padding: 0;
	color: #0796BE;
}

#visitorsContent hr {
	background: gray;
	border: 0;
	height: 1px;
	margin-bottom: 20px;
}

#visitorsContent .new-badge, #visitorsContent .updated-badge, #visitorsContent .not-updated-badge {
    position: relative;
    left: 0px;
    width: 60px;
    top: 0px;
    padding: 2px 3px;
    border-radius: 2px;
    background: #fe6363;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
}
input,button,select,textarea {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}
#visitorsContent .new-badge {
    background: #fe6363;
}
#visitorsContent .updated-badge {
    background: #faa732;
}
#visitorsContent .not-updated-badge {
    background: #B3ACAC;
}
#visitorsContent .caption-updated{
    font-size: 12px;
}
.candidateProfileCriteria > div > input{
    width: 160px;
}
.candidateProfileCriteria select{
	width: 148px;
}
.candidateProfileCriteria select{
	width: 167px;
}
.candidateProfileCriteria > .floatLeft{
	margin-right : 10px;
}
.candidateProfileCriteria > div{
    height: 84px;
}
#candidateSortableColumns, #contactsSortableColumns { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%; 
    display: block;
    height: 190px;
}
#candidateSortableColumns li, #contactsSortableColumns li { 
	margin: 0 3px 3px 3px; 
	padding: 5px 0px 10px 1.5em; 
	font-size: 1.4em; 
	height: 10px; 
    float: left;
    width: 28%;
}
#candidateSortableColumns li span, #contactsSortableColumns li span { 
	position: absolute; 
	margin-left: -1em; 
}
#candidateSortableColumns li > label > span, #contactsSortableColumns li > label > span { 
    margin-left: 15px;
}
#candidateSortableColumns li > label > input, #contactsSortableColumns li > label > input {
	margin : -2px 0px 0px 5px;
}
#popupExportCandidates, #popupExportContacts{
	visibility: visible; 
	top: 10%; 
	left: 25%; 
	display: none; 
	padding: 0;
}
#popupExportCandidates .eds-dialog, #popupExportContacts .eds-dialog{
	width: auto; 
	height: auto; 
	padding: 0; 
	margin: 0;
}
#popupExportCandidates .eds-dialog-header, #popupExportContacts .eds-dialog-header{
	padding: 10px; 
	margin-right: 4px;
}
#popupExportCandidates #exportCandidatesTitlePopup, #popupExportContacts #exportContactsTitlePopup{
	color: white; 
	margin-bottom: 2px;
	height: 25px;
	text-align : center;
}
#popupExportCandidates .eds-dialog-close, #popupExportContacts .eds-dialog-close{
	margin-bottom: 7px;
}
#popupExportCandidates .eds-dialog-content > div, #popupExportContacts .eds-dialog-content > div { 
	width: 700px; 
	height: auto; 
	padding:15px;
}
#popupExportCandidates .eds-dialog-content > div p, #popupExportContacts .eds-dialog-content > div p { 
	text-align: center; 
	margin-bottom: 20px;
}
#popupExportCandidates .eds-dialog-content > div > p > label, #popupExportContacts .eds-dialog-content > div > p > label { 
    width: 220px !important;
    margin-top: 10px;
    float: left;
    font-size: 17px;
}
#popupExportCandidates.eds-dialog-container, #popupExportContacts.eds-dialog-container{
    z-index: 9998;
}
#archiveExportFileName, #archiveExportContactFileName {
    width: 200px !important;
    border-radius: 4px;
    border: 1px solid #bdc3c7;
}
#archiveDataTableExport a{
    color: #326ca6;
}
#fileSeparator{
	width: 215px;
}
#candidateProfileAdvanceCriteria{
	width :100%;
	height: 0px;
}
#standContent .disapproveButton{
	background-color: #ff0000;
}
#listCandidatesTable td .btn, #productsContent td .btn, #listExhibitorsTable td .btn{
	font-weight:bold; 
    margin: 3px 3px;
    width: 140px;
    font-size: 13px;
    padding: 5px;
}
#visitorsContent .disapproveButton {
    background-color: #ff0000;
}
#countryResidenceSelect{
    height: 143px;
}
#profileDesc{
    resize: vertical;
}
.tab-content-title{
	color : black;
}
.tab-content-description{
	font-size: 14px; 
	margin-bottom: 20px;
}
#listProductsDiv td .btn {
    margin: 10px 5px;
    width: 90px;
    font-size: 13px;
    padding: 5px;
}
#productsContent .eds-dialog{
	width: auto; 
	height: auto; 
	padding: 0; 
	margin: 0;
}
#productsContent .eds-dialog-header{
	padding: 10px; 
	margin-right: 4px;
}
#productsContent td .btn{
	width: 140px;
}
#productsContent .eds-dialog-container{
	visibility: visible; 
	display: none; 
	padding: 0;
}
#productsContent .eds-dialog-title{ 
    height: 20px;
    color: white;
    font-weight: bold;
}
#productsContent .eds-dialog-content table{
	width : 100%;
}
#productsContent .eds-dialog-content table td{
    text-align: center;
}
#productForm td input, #productForm td textarea {
	width:85%;
}
#productForm td input{
    padding: 5px 11px;
}
#popupAddProduct{
	top: 10%; 
	left: 21%; 
}
#popupDeleteProduct, #popupDeleteResource{
	top: 25%; 
	left: 30%; 
}
#popupViewProduct{
	top: 10%; 
	left: 21%; 
}
#popupAttachFilesProduct{
	top: 10%; 
	left: 21%; 
}
#popupViewProduct .eds-dialog-content > div { 
	width: 700px; 
	height: auto; 
	padding:15px;
}
#popupAddProduct .eds-dialog-content > div { 
	width: 700px; 
	height: auto; 
	padding:15px;
}
#popupDeleteProduct .eds-dialog-content > div, #popupDeleteResource .eds-dialog-content > div { 
	width: 460px; 
	height: auto; 
	padding:15px;
}
#popupAttachFilesProduct .eds-dialog-content > div { 
	width: 700px; 
	height: auto; 
	padding:15px;
}
.resources-list li{
    text-align: left;
    margin-bottom: 10px;
 }
 #uploadResourcesList li .resource-action{
    cursor: pointer;
    width: 15px;
    height:15px;
 }
 #productsContent .eds-dialog-content #uploadResourcesList table td{
 	text-align: left;
 }
 .resources-list{
    overflow: auto;
    max-height: 300px;
 }
 #progressProductResource .loadingText{
    left: 0px;
 }
 #listResourcesTable_wrapper .row-fluid:first-child{
    display: none;
 }
 #resourceLoaded, #progressProductResource{
    float: right;
 }
 #progressProductResource{
    margin-bottom: 0px;
    top: 0px;
 }
 #resourceLoaded .filebutton{
    margin-bottom: 0px;
 }
 #loadingEds{
    z-index: 99999;
 }
 #popupViewProduct .eds-dialog-content table td, #popupAddProduct .eds-dialog-content table td{
    text-align: left;
 }
 #listResourcesTable .resourceIcon{
 	width : 32px;
 	height : 32px;
 }
 #productImageEdited {
    margin-right: 20px;
 }
 #productImageEdited .productImage {
    width: 90px;
    max-height: 60px;
 }
 #listProductsTable .productImage{
    width: 50px;
    max-height: 50px;
 }
 #productDetailImage{
    width: 40px;
    max-height: 40px;
 }
 /******************** Question Information*************************/
 #questionsInfo{
    min-height: 64px;
 }
 #questionInfosContent .not-read-candidate {
	margin-right: 30px !important;
	background: #fe6363 !important;
	width: 70px;
	padding: 4px 10px !important;
	border-radius: 2px;
	font-size: 13px;
	text-align: center;
}

#questionInfosContent .exportCandidaturesBtn {
	display: inline;
	float: right;
	top: -15px;
	position: relative;
	text-decoration: underline;
}

#questionInfosContent .questionInfosTitle {
	color: black;
	display: block;
}

#questionInfosContent .questionInfosLine {
	background: gray;
	border: 0;
	height: 1px;
	margin-bottom: 20px;
	width: 100%;
}

/* #questionInfosContent .manageCandidatures {
	font-size: 14px;
	margin-bottom: 30px;
} */

#questionInfosContent .questionInfosTable {
	cellpadding: 0;
	cellspacing: 0;
	border: 0;
}

#questionInfosContent .viewUserProfile {
	font-weight: bold;
	margin-right: 10px;
}

#questionInfosContent .readCandidate {
	font-weight: bold;
	margin-right: 10px;
	text-decoration: none;
}

#questionInfosContent td .btn {
	margin: 10px 5px;
	width: 90px;
	font-size: 13px;
	padding: 5px;
}
#receiverQuestionInfo, #subjectQuestionInfo {
	width: 96.5%;
}
#responseQuestionInfo {
    width: 91%;
}
#questionInfosContent .exportQuestionInfosBtn {
    display: inline;
    float: right;
    top: -15px;
    position: relative;
    text-decoration: underline;
}
#questionInfosContent .manageQuestionInfos {
    font-size: 14px;
    margin-bottom: 30px;
    width: 100%;
}
#questionInfosContent hr{
    width: 100%;
}
#questionInfoSearchDiv #productDiv {
    position: relative;
    top: -58px;
}
#questionInfoSearchDiv>div {
    height: 0px;
}
#questionInfoSearchDiv #productDiv span {
    vertical-align: super;
}
#questionInfoSearchDiv #productSelect {
    width: 252px;
    position: relative;
    height: 35px;
}
.exportQuestionInfosBtn {
	visibility : hidden;
}
#accountForm table label, #accountForm table span{
	font-size: 13px;
}
#accountForm table .change_password_space{
    height: 30px;
}
#accountForm table #recruiterDescription{
	height: 200px;
}
@media (min-width: 1200px){
	#accountForm table select.span6, #accountForm table textarea.span6{
		    width: 570px !important;
	}
}
#seoForm table td input{
	width : 100%;
}
#myVisitCardsContent .visitorHeader .logo{
	width: auto;
	height:auto;
	max-width: 80px;
	max-height: 80px;
    float: right;
    margin-right: 20px;
} 
#myVisitCardsContent .visitorDetails i{
    padding: 0px 10px 0px 0px;
}
#myVisitCardsContent .visit-card{
    border: 1px solid;
    padding: 10px 0px 10px 20px;
    margin: 10px;
    height: 200px;
}
#myVisitCardsContent .participant-visit-card{
    background: rgba(12, 8, 14, 0.04);
}
#myVisitCardsContent .exibitor-visit-card{
    background: rgba(12, 8, 14, 0.35);
}
#myVisitCardsContent .visit-card .visitor-full-name{
    font-size: 24px;
}
#myVisitCardsContent .visit-card .job-title{
    font-size: 16px;
}
#myVisitCardsContent .visit-card .visitorHeader{
    min-height: 80px;
}
.visitorContent .btn-tchat{
	background-color: #58d68d;
}
#myVisitCardsContent #listMyVisitCards{
    height: 100%;
    overflow: auto;
}
#myVisitCardsContent .pending-visit-card{
	cursor: default;
    background-color: #9c27b0;
}
#myVisitCardsContent .pending-visit-card, #myVisitCardsContent .accept-visit-card{
    position: relative;
    right: 20px;
    float: right;
    top: 30px;
}
#myVisitCardsContent .refuse-visit-card{
    position: relative;
    float: right;
    right: 40px;
    top: 30px;
}
/*#calendar div > div{
    float: left;
}*/
#calendar .searchDiv{
	display:none;
}
#calendar table td{
    padding: 0px 5px 0px 0px;
}
#calendar table td.header{
    padding: 0px 5px 0px 0px;
}
.smallCalContainer {
    width: 170px;
}
#calendar td.weekDays {
    padding-left: 5px !important;
}
#calendar .container {
    width: 100%;
}
#emailingContent .emailing-stands-to{
    position: absolute;
    height: 260px;
    width: 350px;
    border: 1px solid;
    overflow: auto;
    background-color: #fff;
    z-index: 9;
    left: 40px;
    top: 237px;
}
#emailingContent #emailingEmail{
    cursor: pointer;
    background: #eeeeef;
}
.emaillingDescriptionRow .error{
    position: relative;
    top: 340px;
}
#enterprisesContent .enterprisesContactCriteria{
	display: block; 
	position: absolute; 
	right: 300px; 
	margin-top: 4px; 
	z-index: 9;
}
