.nav-counter
{
	float:left;
    margin-left: 10%;
}


#reducePublicChat
{
    color: #FFFFFF;
    font-size: 1.5em;
    cursor:pointer;
}

.fb-like-box
{
display:none;
}

.onePublication header
{
float: left;
    width: 100%;
}

.onePublication header h4
{

    width: 100%;
}

#careerCandidatures .oneCandidature label
{
	cursor:default;
}


/*#toMultimediaStandInfoLink, #fromMultiMediaToReception, #fromMultiMediaToPress, #fromPressToReception, #fromPressToMultiMedia
{
	border-radius:0;
	top:6% !important;
}*/

#postScript .floatLeft1
{
	margin-left:12%;
}


.stand_social img
{
   background-color: #fff;
   width:42px;
 
}

/*.visiteurs, .icones
{
	display:none !important;
}*/

/*.visiteurs
{
	display:none !important;
}*/

	
	#conditions {
	padding-top:0 !important;
    font-size: 11px;
    margin-left: 6%;
    margin-top: 4px !important;
}


.onePublication
{
	float:left;
	 margin-left: 5% !important;
}

article.onePublication p {
	float:left !important;
	}
	
/*#signOutSection img
{
	width:15% !important;
}*/
.captionCon
{
	cursor:pointer;
}
#listStandsTable .addFavoriteButton 
{
	display:none !important;
}

article.onePublication
{
   margin-bottom: 0 !important;
    margin-top: 5% !important;
}

article.onePublication header h4 {
    color: #69085A;
    line-height: 0.9 !important;
}


.addthis_toolbox
{
	    left: 88%;
    position: absolute;
}

#content_testimonies .tabbable 
{
   background-color: #f1f3f4;
}

#generalSearchPage a.btn
{
	float:clear !important;
}

#listTestimoniesContents
{
   background-color: #fff;
    margin-bottom: 0;
    height:100%;
}

.fui-cross{
	 color: #FFFFFF;
    font-size: 1.5em;
}


#listTestimoniesTitles a
{
	color:#808284;
}

.stand_social a
{
 
   opacity:0.8;
}



.stand_social a:hover
{
 
   opacity:1;
}


#exposants_title
{
	color: #808284;
    float: left;
    font-size: 1.3em;
    margin-left: 1%;
    padding-top: 4%;
}

#conditions a
{
color : #fff !important;
font-size:11px!important;
    
}

.btn.btn-success:hover{
	background-color: #FAD69F; /* #59bbe3; */
}

.btn.btn-info:hover{
	background-color: #CF7FAA; /* #326c9c; */
}

.btn.btn-danger:hover{
	background-color:#9f4f46;
}

.btn.btn-inverse:hover{
	background-color:#8c8e90;
}


#searchContent .btn
{
 min-width:90px;
 margin-bottom:5px;
}

#content_userMessages table a
{
 color:#808080;
}

#content_userMessages table a:hover
{
 color:#69085A;
}

.btn
{
	border-radius:4px;
}

.goToReceptionLink, .goToMultimediaLink
{
	border-radius:0px;	
}

h1 {
    font-size: 1.4em;
    font-weight: normal;
    line-height: 36px;
}

a.blueLink {
    color: #5588BB;
    font-size: 12px;
    outline: medium none;
    text-decoration: none;
}


.zoomflow .item.type-image .the-bg{
	border-radius: 0px !important;
}

.caption.bg-goldColor, .caption.bg-silverColor, .caption.bg-bronzeColor
{
	 background: none repeat scroll 0 0 #000000 !important;
	 opacity:0.8 !important;
}

.caption.style_noir
{
    font-family: Arial !important;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.7) !important;
}

blockquote p
{
font-size:13pt;
}

a.blueLinkUnderline
{
	color: #69085A !important;
}

#content_jobOffers .table td, #content_infos_multimedia .content_infos .table td,#content_infos_press .content_infos .table td
{
	border-bottom: 1px solid #DDDDDD;
	 border-top: 0 solid #EEF0F0;
}



.ad-nav
{
	    float: left;

    overflow-y: auto;
    height: 100%;
}

.oneContact .addRemoveFavorite img 
{
    width: 32px !important;
}

.oneContact .addRemoveFavorite .addRemoveFavoriteSocial
{
 margin-top: 5%;
}

#oneSurvey a
{
	font-size:12px;
}


/*Commun a toutes les mediaqueries**/

#content_testimonies .tabbable{
	float:left;
	width:100%;
	height:100%;
}
#listTestimoniesTitles{
	float: left; 
	width: 34%; 
	height: 100%; 
	margin-bottom: 0px;
	overflow: auto;
}
#listTestimoniesTitles table{
	float:left;
	width:100%;
}
#listTestimoniesTitles div li{
	margin:auto;
	width:100%;
}
#listTestimoniesTitles div li a div{
	margin:auto;
	width:60%;
}
.crossDiv{
	position: absolute;
    right: 1%;
    top: 1%;
    border: 2px solid #D1D3D4;
    padding: 1px 0px 1px 1px;
}
.oneSurvey div:first-child{
	padding-top:1%;
}
/**/
.btn .caret {
	margin-top: 4px !important;
}

